﻿@model SmartSchool.Models.student_fees

@{
    ViewBag.Title = "addfee";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> <i class="fa fa-money"></i> Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-primary btn-sm" value="Back To List" onclick="location.href='@Url.Action("studentfee", "FeesCollection")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                @foreach (var item in ViewBag.studentdetails)
                {<input type="text" class="form-control" maxlength="11" id="studentid" style="visibility:hidden"
                        value="@item.UserName" />
                    <table class="table mb-0" id="Studentlist">
                        <tr>
                            <td rowspan="5">
                                @if ( @item.StudentPhoto != null)
                                {
                                    <img src="~/Content/Profile/@item.StudentPhoto" alt="Sample Image" width="200px" height="200px" />
                                }
                                @if (@item.StudentPhoto == null )
                                {
                                    <img src="~/Content/Profile/1usericonB.png" alt="Sample Image" width="200px" height="200px" />
                                }
                               
                            </td>
                        </tr>
                        <tr>

                            <td>Name: </td>
                            <td> @item.FirstName</td>
                            <td></td>

                            <td>Class Section:</td>
                            <td> @item.Class (@item.Section)</td>
                        </tr>
                        <tr>

                            <td>Father Name	:</td>
                            <td> @item.FatherName</td>
                            <td></td>
                            <td>AdmissionNumber:</td>
                            <td> @item.AdmissionNumber</td>
                        </tr>
                        <tr>

                            <td>Mobile Number:</td>
                            <td> @item.MobileNumber</td>
                            <td></td>
                            <td>Roll Number:</td>
                            <td> @item.RollNumber</td>
                        </tr>
                        <tr>

                            <td>Category:</td>
                            <td> @item.Category</td>
                            <td></td>
                            <td>RTE:</td>
                            <td> @item.RTE</td>
                        </tr>
                    </table>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@{
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    string feetype = null;
    string stuid = null;
    double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
}
<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student List<a href='#' style="font-size:small" class='btn btn-success pull-right btn-sm' alt="Print" onclick="Print(this);"><i class="fa fa-print"></i> Print</a></h6>

                            <hr class="light-grey-hr" />
                            <div class="panel panel-default card-view mt-10">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="table-wrap">
                                            <div class="table-responsive">

                                                @*<div id="example_wrapper" class="dataTables_wrapper ">
                                                    </div>*@
                                                <table id="example" class="table table-hover display  pb-30">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Fees Group
                                                            </th>
                                                            <th>
                                                                Fees Type
                                                            </th>
                                                            <th>
                                                                Due Date
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Amount(Rs.)
                                                            </th>
                                                            <th>
                                                                Payment Modes
                                                            </th>
                                                            <th>
                                                                Payment Dates
                                                            </th>
                                                            <th>
                                                                Discount(Rs.)
                                                            </th>
                                                            <th>
                                                                Fine(Rs.)
                                                            </th>
                                                            <th>
                                                                Balance(Rs.)
                                                            </th>
                                                            <th>
                                                                Paid(Rs.)
                                                            </th>

                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                                        if (ViewBag.StuFeePaidDetails != null)
                                                        {
                                                            decimal Mval = 0;
                                                            foreach (var item in ViewBag.StuFeePaidDetails)
                                                            {
                                                                int? ids = item.sfdID, colgid = item.college_id, brnchid = item.branch_id;
                                                                Mval = item.AmtAssigned - Convert.ToDecimal(item.amount_detail);                                
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            @item.name
                                                                        </td>
                                                                        <td>
                                                                            @item.type
                                                                        </td>
                                                                        <td>
                                                                            @Convert.ToDateTime(item.due_date).ToShortDateString()
                                                                        </td>
                                                                        @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                        {
                                                                            <td>
                                                                                <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                            </td>

                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <input type="button" class="btn btn-danger btn-sm" value="UnPaid" />
                                                                            </td>
                                                                        }

                                                                        <td>
                                                                            @item.AmtAssigned
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Modes listed below"></i>Mode
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Dates listed below"></i>Date
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Discounts listed below"></i>Discont
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Fines listed below"></i>Fine
                                                                        </td>

                                                                        <td>
                                                                            @Mval
                                                                        </td>
                                                                        <td>
                                                                            @item.amount_detail
                                                                        </td>
                                                                        @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                        {
                                                                            <td>
                                                                                <input type="button" class="btn btn-success btn-sm" value="Print" alt="Print" onclick="print(this.);"/>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='#' class='btn btn-info btn-sm' onclick='GetDetails(@item.fee_groups_id,"@item.student_session_id",@item.feetype_id)'><span class='glyphicon glyphicon-plus'></span> Pay</a>
                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                </tbody>
                                                                if (item.sfdID != null)
                                                                {
                                                                     var getDetails = (from fda in dbcontext.fee_deposit_amountdetails
                                                                                      join sfd in dbcontext.student_fees_deposite on fda.dpid equals sfd.id
                                                                                      where sfd.id == ids && sfd.college_id == colgid && sfd.branch_id == brnchid
                                                                                      select new { fda.id, fda.dpid, fda.amount, fda.amount_discount, fda.payment_mode, fda.date}).ToList();
                                                                    foreach (var lp in getDetails)
                                                                    {
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>
                                                                                    <img src="~/Content/Symbol/table-arrow.png" />
                                                                                </td>
                                                                                <td>
                                                                                    @lp.id
                                                                                </td>
                                                                                <td>
                                                                                    @lp.amount
                                                                                </td>
                                                                                <td>
                                                                                    @lp.payment_mode
                                                                                </td>
                                                                                <td>
                                                                                    @lp.date.Value.ToShortDateString()
                                                                                </td>

                                                                                <td>
                                                                                    @lp.amount_discount
                                                                                </td>
                                                                                <td>

                                                                                </td>
                                                                                @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                                {
                                                                                    <td>
                                                                                        <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                                    </td>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>
                                                                                        <input type="button" class="btn btn-primary btn-sm" value="Partial" />
                                                                                    </td>
                                                                                }
                                                                            </tr>
                                                                        </tbody>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Edit Fee Group</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">
                            <input type="text" class="form-control" id="feetypeid" name="feetypeid" placeholder="feetypeid" hidden="hidden" style="visibility:hidden">

                            <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Date</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="date" class="form-control" onload="getDate()" id="txtname" name="Name" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Amount</label>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txdescrip" name="Amount" placeholder="Amounts" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Discount Group</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <select class="form-control select2" id="sselect2id" onchange="GetSelectedTextValue(this)">
                                                <option value="0">-Select-</option>
                                                @{ if (ViewBag.viewbagdiscntlist != null)
                                                    {
                                                        foreach (var items in ViewBag.viewbagdiscntlist)
                                                        {
                                                            <option value="@items.Value">@items.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Discount</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txdist" name="Amount" placeholder="Amount" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fine</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txfine" name="Amount" placeholder="Amount" Text="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Payment Mode</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <input type="radio" name="payment" value="Cash" required="required" checked> Cash
                                            <input type="radio" name="payment" value="Cheque"> Cheque
                                            <input type="radio" name="payment" value="DD"> DD
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Note</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txnte" name="Note" placeholder="Note">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" onclick="Update()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="data" style="display:none">

    <div id="Student" class="modal fade in" tabindex="-1" role="dialog" data-toggle="modal" style="display:block" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<img src="~/Content/image/Final Logo-1.png" alt="Site Logo" align="left" style="height:70px; width:70px" />*@
                    <h2 style="text-align:center">
                        <strong>Laminghton Boys High School</strong><br />
                    </h2>
                    <h4 style="text-align:center">
                        <strong>Hubli,</strong><br />
                    </h4>

                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div>
                                    <table id="billPrint" width="100%">
                                        <tr style="text-align:center">
                                            @*<th class="text-left fontbold20">Book No :  <span id="BookPrint"></span></th>
                                                <td class="text-right fontbold20"></td>*@
                                            <th class="text-left fontbold20">Receipt No :  <span id="ReceiptPrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                            <th class="text-center fontbold20"><h4>Payment of Fees</h4></th>
                                            <td class="text-right fontbold20"></td>
                                            <th class="text-right fontbold20" align="right">Admission No :  <span id="TokennoPrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                        </tr>
                                        <tr style="text-align:center">
                                            <th class="text-left fontbold20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name :  <span id="NamePrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                            <th class="text-right fontbold20">&nbsp;&nbsp;&nbsp;&nbsp;Fee Group : <span id="groupPrint"></span></th>
                                            <td class="text-right fontbold20"></td>

                                            @*<th class="text-right fontbold20"> FeesCode :<span id="codePrint"></span></th>
                                                <td class="text-right fontbold20"></td>*@
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <th></th>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th class="text-left fontbold20">Category : <span id="categoryPrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                            <th class="text-center fontbold30">Section :  <span id="secPrint"></span></th>
                                            <td class="text-right fontbold30"></td>
                                            <th class="text-right fontbold20"> Date :<span id="datePrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                    </table>


                                    <table id="billprint1" class="table border-panel table-condensed table-hover table-striped" border="1" width="100%">
                                        <tr>
                                            <th style="text-align:left">Details</th>
                                            <th style="text-align:left">Rs. paise</th>

                                        </tr>
                                        <tr>
                                            <td id="fee" style="text-align:left ">
                                                1.
                                            </td>

                                            <td id="rupee"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left">
                                                &nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
                                            </td>
                                            <td id="rupees"></td>
                                        </tr>


                                    </table>
                                    <table id="billPrint1" class="nobordertable table-responsive table" width="100%">
                                        <tr>
                                            <th class="text-left fontbold20">Rupees in words :  <span id="TokennoPrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                            <th class="text-right fontbold20"></th>
                                            <td class="text-right fontbold20"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <th class="text-left fontbold20"></th>
                                            <td class="text-right fontbold20"></td>

                                            <th class="text-right fontbold20">Class Teachers/Office Assistant :<span id="officePrint"></span></th>
                                            <td class="text-right fontbold20"></td>
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");

    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>



<script type="text/javascript">

    function print(element) {
        var studentid = $('#studentid').val();
        $.ajax({
            url: '/FeesCollection/FeeSlip',
            data: { id: studentid },
            type: 'POST',
            dataType: "json",
            success: function (result) {
                $('#NamePrint').html(result.StudyMaterial.FirstName);
                $("#categoryPrint").html(result.StudyMaterial.Category);
                $('#secPrint').html(result.StudyMaterial.Section);
                $('#duePrint').html(result.Material.Duedate);
                $('#groupPrint').html(result.Material.GRNumber);
                //$('#codePrint').html(result.Material.Class);
                $('#fee').append(`<h7 class="page-header">${result.Material.Type}</h7>`, ("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee"));
                $('#rupee').append(`<h7 class="page-header">${result.Material.Balance}.00</h7>`);
                $('#rupees').append(`<h7 class="page-header">${result.Material.Balance}.00</h7>`);

                $('#TokennoPrint').html(result.StudyMaterial.AdmissionNumber);

                var data = $('#Student').html();
                //var base_url = 'http://smarthealthschool.shlrtechnosoft.com/';
                var base_url = 'http://localhost:64634/';
                var frame1 = $('<iframe />');
                frame1[0].name = "frame1";
                frame1.css({ "position": "absolute", "top": "-1000000px" });
                $("body").append(frame1);
                var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                frameDoc.document.open();
                frameDoc.document.write('<html>');
                frameDoc.document.write('<head>');
                frameDoc.document.write('<title></title>');
                frameDoc.document.write('<link rel="stylesheet" href="' + base_url + 'dist/css/style.css">');
                frameDoc.document.write('</head>');
                frameDoc.document.write('<body>');
                frameDoc.document.write(data);
                frameDoc.document.write('</body>');
                frameDoc.document.write('</html>');
                frameDoc.document.close();
                setTimeout(function () {
                    window.frames["frame1"].focus();
                    window.frames["frame1"].print();
                    frame1.remove();
                }, 1500);
                return true;
            },

            error: function (errormessage) {
                //  alert(errormessage.responseText);
            }
        });
    }
</script>
<script>
    function Print(element) {
        var studentid = $('#studentid').val();
        var printWindow = window.open('', '', 'height=400,width=400');
        printWindow.document.write('<html><head><title>Smart School</title>');
        var divToPrint1 = document.getElementById("Studentlist");
        var divToPrint = document.getElementById("example");

        printWindow.document.write(divToPrint1.outerHTML);
        printWindow.document.write("<br>");

        printWindow.document.write(divToPrint.outerHTML);


        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>


<script type="text/javascript">
    function getpaidamnt(feetypeid) {

        var studentid = $('#studentid').val();
        var feetypeid = $('#txtfeetypeid').val();

        $.ajax({
            type: "POST",
            url: "/FeesCollection/Getpaidamntdetals",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': feetypeid, 'Stuid': studentid }), //passing the data to back end
            dataType: "json",
            success: function (response) {
                $('#txtfeety').val(response.sum);
                $('#lblstuid').val(response.sum);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>

<script type="text/javascript">
    var Discountdiffamount = 0;
    function GetDetails(fee_groups_id, studid, feetype_id) {
        var PID = fee_groups_id;
        var studentid = studid;
        var feetypeiddetails = feetype_id;
        $("#sselect2id").empty();
        $('#txdist').val("");
        $("#sselect2id").append("<option value='0'>Select</option>");
        $.ajax({
            type: "POST",
            url: "/FeesCollection/Collectfees",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'groupId': PID, 'Stuid': studentid, 'feeTypeId': feetypeiddetails }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $("#txtname").val(moment(response.today).format("YYYY-MM-DD"));
                $.each(response.ddd, function () {
                    for (i = 0; i < response.ddd.length; i++) {

                        var checkval = response.ddd[i].Value;
                        var checktext = response.ddd[i].Text;
                        $("#sselect2id").append("<option value=" + checkval + ">" + checktext + "</option>");
                    }
                });
                $('#txdescrip').val(response.amount);
                Discountdiffamount = response.amount;
                $('#feetypeid').val(feetypeiddetails);
                $('#responsive-modal').modal('show');
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function GetSelectedTextValue(sselect2id) {
        var selectedText = sselect2id.options[sselect2id.selectedIndex].innerHTML;
        var selectedValue = $("select#sselect2id option").filter(":selected").val();
        $('#txdist').val("");
        $.ajax({
            url: "/FeesCollection/Collectfeesdisccountvalue",

            data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (response) {
                $('#txdist').val(response.amount);
                var dsam = response.amount;
                var amtttt = Discountdiffamount - dsam;
                $('#txdescrip').val(amtttt);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Update() {
        $('#responsive-modal').modal('hide');
        var empObj = {
            Fid: $('#feeid').val(),
            date: $('#txtname').val(),
            Description: $('#txdescrip').val(),
        };
        var ppid = $('#feeid').val();
        var datte = $('#txtname').val();
        var amout = parseInt($('#txdescrip').val());
        var dis = $('#txdist').val();

        var dis = $('#txdist').val() != "" ? $('#txdist').val() : "0";
        var fine = $('#txfine').val() != "" ? $('#txfine').val() : "0";
        var note = $('#txnte').val() != "" ? $('#txnte').val() : "note";

        var rGrp = $("input[name=payment]");
        var checkedRadio = rGrp.filter(":checked");
        var Mde = (checkedRadio.val());
        var discountid = $("select#sselect2id option").filter(":selected").val();

        var studentid = $('#studentid').val();
        var feetypeid = $('#feetypeid').val();

        $("#responsive-modal").css("display", "none");
        $.ajax({
            url: "/FeesCollection/Collectfeesupdate",
            data: JSON.stringify({ 'groupId': ppid, 'feeAmount': amout, 'Mode': Mde, 'stuid': studentid, 'feetypeid': feetypeid, 'feesDiscnt': dis, 'feesdiscontId': discountid, 'Fine':fine }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                swal("Records Updated");
                //alert("Records Updated");
                window.location.reload();

                $('#feeid').val("");
                $('#date').val("");
                $('#Description').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Delete(ID, inv) {
        var ans = confirm("Are you sure you want to delete this Record?");
        var studentid = $('#studentid').val();
        if (ans) {
            $.ajax({
                url: "/FeesCollection/DeleteFeeAmount/",
                data: JSON.stringify({ 'stuids': studentid, 'dpid': ID, 'inv': inv }), //passing the data to back end

                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    swal("Records Deleted");
                    //alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>



