﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "fee_assign_discnt";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> <i class="fa fa-money"></i>@SmartSchool.Resources.Resource1.Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <input type="hidden" name="feemaster_grp_type_id" value="@ViewBag.feestudetailsview" />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <lablel class="control-label col-md-4">@SmartSchool.Resources.Resource1.Class</lablel>     <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Class, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", id = "class_id1" })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <lablel class="control-label col-md-4">@SmartSchool.Resources.Resource1.Section</lablel>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Section, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <lablel class="control-label col-md-4">Category</lablel>                                            <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.viewbagcatlist, new { @class = "form-control", required = "required" })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <lablel class="control-label col-md-4">Gender</lablel>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>                  { new SelectListItem{Text="Male", Value="Male"},
                new SelectListItem{Text="Female", Value="Female"}}, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <lablel class="control-label col-md-4">@SmartSchool.Resources.Resource1.RTE</lablel>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.RTE, new List<SelectListItem>                  { new SelectListItem{Text="Yes", Value="Yes"},
                      new SelectListItem{Text="No", Value="No"}}, "Select", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.RTE, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" name="Submit" value="Search" class="btn btn-info" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-users"></i> @SmartSchool.Resources.Resource1.Assign_Fees_Discount</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">



                                                            @*<div class="table-responsive">*@

                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>
                                                            <button type="button" class="btn btn-primary" id="save_btn">@SmartSchool.Resources.Resource1.Save</button>
                                                            <br /><br />


                                                            <div class="row">

                                                                <div class="col-md-3">
                                                                    <div class="table-responsive">

                                                                        <table class="table" id="table1">


                                                                            @if (ViewBag.feestudetails != null)
                                                                            {
                                                                                string groupname = null;
                                                                                foreach (var item1 in ViewBag.feestudetails)
                                                                                {
                                                                                    <thead>
                                                                                        <tr>

                                                                                            @if (groupname != @item1.Feegroup)
                                                                                            {

                                                                                                <td>
                                                                                                    <h4>
                                                                                                        <label id="feemasterdescription" value="@item1.Feegroup">@item1.Feegroup</label>
                                                                                                    </h4>
                                                                                                </td>
                                                                                                groupname = @item1.Feegroup;
                                                                                            }

                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>


                                                                                            <td>
                                                                                                <input type="hidden" name="feemasterid" value="  @item1.id" />
                                                                                                <input type="hidden" name="feedescid" value="  @item1.description" />
                                                                                                @*@Html.Hidden("feemasterid", new { htmlAttributes = new { @class = "form-control", value = "@item1.id" } })*@
                                                                                                <label id="feemasterdescription" value="@item1.feecde">@item1.feecde</label>
                                                                                                <label></label>
                                                                                                <label id="feemasteramount" value="@item1.amount">@item1.amount</label>


                                                                                                @*<input type="text" name="feemasteramount" value="  @item1.amount" />*@

                                                                                            </td>
                                                                                        </tr>


                                                                                    </tbody>
                                                                                }
                                                                            }
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class=" table-responsive">

                                                                        <table id="example" class="table table-hover display  pb-30">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                                                                    <th>@SmartSchool.Resources.Resource1.Sl_No</th>

                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.Admission_Number
                                                                                    </th>
                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.FirstName
                                                                                    </th>
                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.Class_Section_

                                                                                    </th>

                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.Father Name
                                                                                    </th>
                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.Category

                                                                                    </th>
                                                                                    <th>
                                                                                        @SmartSchool.Resources.Resource1.Gender
                                                                                    </th>



                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>

                                                                                @{
                                                                                    int sno = 0;
                                                                                }
                                                                                @if (ViewBag.studentlist != null)
                                                                                {





                                                                                    foreach (var item in ViewBag.studentlist)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="checkbox" name="ID" value=" @item.AdmissionNumber" class="custom-checkbox chkCheckBoxId" />

                                                                                            </td>

                                                                                            <td>
                                                                                                @{ sno++; }
                                                                                                @sno
                                                                                                <input type="hidden" value="@item.UserName" name="Studentid" />

                                                                                            </td>

                                                                                            <td>
                                                                                                @item.AdmissionNumber
                                                                                            </td>

                                                                                            <td>
                                                                                                @item.FirstName
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.Class (@item.Section)

                                                                                            </td>

                                                                                            <td>
                                                                                                @item.FatherName
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.Category
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.Gender

                                                                                            </td>
                                                                                        </tr>
                                                                                    }



                                                                                }

                                                                            </tbody>


                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        }
    }
}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id1').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");



            $.ajax({
                method: 'POST',
                url: '/Student/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                }

            });
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("class_id1").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>







<script type="text/javascript">

    $(function () {
        var d = new Date().getDate();
        var m = new Date().getMonth() + 1; // JavaScript months are 0-11
        var y = new Date().getFullYear();
        $("[id$=txtname]").val(d + "/" + m + "/" + y);
        $("[id$=txtname]").datepicker({ weekStart: 1, dateFormat: 'dd/mm/yy' });
    });
    function GetDetails(id, bal) {
        var PID = id;
        var studentid = $('#studentid').val();

        $.ajax({
            type: "POST",
            url: "/FeesCollection/Collectfees",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID, 'Stuid': studentid, 'balance': bal }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                //  $('#txtname').val(response.amount);



                //var opts = new Date();
                //$("#txtname").datepicker("setDate", opts);




                $('#txtname').val(response.today);
                // $('#sselect2id').val(response.ViewBag.viewbagdiscntlist);
                //for (var i = 0; i < response.ViewBag.viewbagdiscntlist.length; i++) {
                //    $("#sselect2id option").val(response.ViewBag.viewbagdiscntlist.length[i].val);
                //}
                $.each(response.ddd, function () {
                    for (i = 0; i < response.ddd.length; i++) {

                        var checkval = response.ddd[i].Value;
                        var checktext = response.ddd[i].Text;
                        //alert(response.ddd[i].Value);
                        //    $("#sselect2id option").val(checkval);

                        $("#sselect2id").append("<option value=" + checkval + ">" + checktext + "</option>");

                    }
                });

                $('#txdescrip').val(response.amount);

                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }
    function GetSelectedTextValue(sselect2id) {
        var selectedText = sselect2id.options[sselect2id.selectedIndex].innerHTML;
        var selectedValue = $("select#sselect2id option").filter(":selected").val();

        $.ajax({
            url: "/FeesCollection/Collectfeesdisccountvalue",
            //contentType: "application/json; charset=utf-8",
            //data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            //dataType: "json",

            //success: function (result) {


            data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (response) {


                $('#txdist').val(response.amount);



            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }




    //function Update() {


    //    var checkedRadio = checkBoxAll.filter(":checked");
    //    var Mde = (checkedRadio.val());

    //    var discountid = $("select#sselect2id option").filter(":selected").val();

    //    var feegroupid = $('#fegrp').val();
    //    var studentid = $('#studentid').val();

    //    checkBoxAll



    //    $.ajax({

    //        url: "/FeesCollection/feeassignsave",
    //        //data: JSON.stringify(empObj),
    //        //   data: JSON.stringify(ppid),

    //        data: JSON.stringify({ 'values': 8, 'Chk': Mde }), //passing the data to back end

    //        type: "POST",

    //        contentType: "application/json;charset=utf-8",
    //        //  data: '{eid: ' + ppid + '}',
    //        dataType: "json",
    //        success: function (result) {
    //            alert("Records Updated");
    //            window.location.reload();
    //            $('#responsive-modal').modal('hide');
    //            $('#feeid').val("");
    //            $('#date').val("");

    //            $('#Description').val("");

    //        },
    //        error: function (errormessage) {
    //            alert(errormessage.responseText);
    //        }
    //    });
    //}


    function Delete(ID, inv) {
        var ans = confirm("Are you sure you want to delete this Record?");
        var studentid = $('#studentid').val();
        if (ans) {
            $.ajax({
                url: "/FeesCollection/DeleteFeeAmount/",
                data: JSON.stringify({ 'stuids': studentid, 'dpid': ID, 'inv': inv }), //passing the data to back end

                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    $('#save_btn').on('click', function () {
        var allStaff = new Array();
        var holiday = '';
        if ($("input[name='ID']:checked")) {
            holiday = $("input[name='ID']:checked").val();

        }


        var feemgpid, feedescid1= null;
        $("#table1 tbody tr").each(function (i) {

            var row1 = $(this).closest("tr")[0];

            feemgpid = $(this).find("td:eq(0) input[name='feemasterid']").val();
            feedescid1 = $(this).find("td:eq(0) input[name='feedescid']").val();
        });




        $("#example tbody input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            var feemgpid = $('#feemaster_grp_type_id').val();
            //var fee = {};
            //var val1 = $(row).find('td:eq(0) input[name="feemasterid"]').val();
            // var val2 = $(row).find('td:eq(0) label[name="feemasteramount"]').val();
            //   var val2 = $(row).find('td:eq(0)').find("label").attr("value");
            // var labelText = $(row).find('td:eq(0) label[for=' + feemasteramount + ']').val();
            var val3 = $(row).find('td:eq(1) input[name="Studentid"]').val();

            // allStaff.push(val1, val2, val3);
            allStaff.push(
                {

                    amount: "0",
                    student_session_id: val3
                }
            );
        });

        $.ajax({
            url: "/FeesCollection/feediscountassignsave",
            type: "post",
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            async: false,
            //    data: JSON.stringify({ 'allStaff': allStaff, 'holiday': holiday }),
            data: JSON.stringify({ 'allStaff': allStaff, 'feemgpid': feemgpid, 'feedescid1': feedescid1}),
            success: function (response) {
                if (response != 0) {
                    swal("Discount Fee Assigned");
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Discount Fee Assigned',
                        position: 'center',
                        loaderBg: '#fec107',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });


                }
                //window.location.href = "/FeesCollection/feeassign";

            },
            error: function (e) {
                alert("Fail");
            }
        });
    });



</script>


