﻿@model SmartSchool.Models.fee_groups
@{
    ViewBag.Title = "feegroup";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 style="color:#f742aa; ">    <i class="fa fa-money"></i> @SmartSchool.Resources.Resource1.Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 3, 23, listData.CollegeID, listData.BranchID);
   
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Add Fees Group</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Name *</label>
                                                        <div class="col-md-10">

                                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", id = "txtfeegroupname" } })
                                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">

                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Description *</label>
                                                        <div class="col-md-10">

                                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", id = "txtfeedescription" } })
                                                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Add" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Fees Collection Result</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Name
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>


                                                                        </tr>

                                                                    </thead>

                                                                    <tbody>
                                                                        @foreach (var item in ViewBag.studentlist)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @item.name
                                                                                </td>
                                                                                <td>
                                                                                    <a href='#' onclick='GetDetails(@item.id)'><span class='fa fa-edit font-22 txt-warning mr-10' data_toggle="tooltip" title="Edit"></span> </a>|


                                                                                    <a href='#' onclick='Delete(@item.id)'><span class='fa fa-trash font-22 txt-danger' data_toggle="tooltip" title="Delete"></span> </a>
                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit Fee Group</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <div class="form-horizontal">

                                        <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txtname" name="Name" placeholder="Name" required="">
                                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Description</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txdescrip" name="Description" placeholder="Description">

                                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="modal-footer">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" onclick="Update()">Update</button>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/FeesCollection/Editfeegroup",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.name);

                $('#txdescrip').val(response.description);


                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function Update() {

        var empObj = {

            id: $('#feeid').val(),
            Name: $('#txtname').val(),

            Description: $('#txdescrip').val(),

        };
        $.ajax({
            url: "/FeesCollection/Editfeegroupupdate" + id,
            data: JSON.stringify(empObj),
            type: "POST",

            contentType: "application/json;charset=utf-8",
            data: '{eid: ' + id + '}',
            dataType: "json",
            success: function (result) {
                alert("Records Updated");
                window.location.reload();
                $('#responsive-modal').modal('hide');
                $('#id').val("");
                $('#Name').val("");

                $('#Description').val("");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/FeesCollection/DeleteFeegroup/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>



@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("txtfeegroupname").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Fee Group field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("txtfeedescription").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Description  field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
