﻿@model SmartSchool.Models.feemaster
@{
    ViewBag.Title = "feesmaster";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-money"></i>@SmartSchool.Resources.Resource1.Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 3, 22, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Add Fees Master</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Fees Group *</label>
                                                        <div class="col-md-10">
                                                            @*@Html.TextBoxFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "----Select Fees Group ----", new { @class = "form-control", required = "required" })*@
                                                            @Html.DropDownListFor(model => model.fegroup_id, (IEnumerable<SelectListItem>)ViewBag.viewbagfeegrouplist, new { @class = "form-control", id = "ddl_fegroup_id" })
                                                            @Html.ValidationMessageFor(model => model.fegroup_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Fees Type *</label>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.feetype_id, (IEnumerable<SelectListItem>)ViewBag.viewbagfeetypelist, new { @class = "form-control", id = "ddl_fetype_id" })
                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.feetype_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Due Date</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.due_date, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "form-control", Type = "date", id = "txt_due_date" } })

                                                            @*@Html.EditorFor(model => model.admission_no, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.due_date, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Amount *</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", id = "txt_amount" } })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Add" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Fees Collection Result</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                               
                                                                    <thead>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Sl_No</th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Fees Group
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Fees Code
                                                                            </th>


                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>


                                                                        </tr>

                                                                    </thead>

                                                                    <tbody>
                                                                        @{
                                                                            int sno = 0;
                                                                        }
                                                                        @if (ViewBag.studentlist != null)
                                                                        {
                                                                            string groupname = null;
                                                                            foreach (var item in ViewBag.studentlist)
                                                                            {
                                                                                <tr>
                                                                                    @if (groupname != @item.Feegroup)
                                                                                    {
                                                                                        <td>
                                                                                            @{ sno++; }
                                                                                            @sno
                                                                                        </td>
                                                                                        <td>

                                                                                            @item.Feegroup
                                                                                        </td>


                                                                                        <td>
                                                                                            <i class="fa fa-money"></i>
                                                                                            @item.feecde
                                                                                            Rs. @item.amount
                                                                                            <a href='#' onclick='GetDetails(@item.id)'><span class='fa fa-pencil' data-toggle="tooltip" data-original-title="Edit"></span> </a>
                                                                                            <a href='#' onclick='Delete(@item.id)'><span class='fa fa-remove' data-toggle="tooltip" data-original-title="Delete"></span> </a>
                                                                                        </td>

                                                                                        <td>
                                                                                            @Html.ActionLink(" ", "feeassign", new { id = item.id }, new { @class = "fa fa-tag action add" ,@title="Assign"  })
                                                                                        </td>
                                                                                        groupname = @item.Feegroup;
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td></td>

                                                                                        <td></td>
                                                                                        <td>
                                                                                            <i class="fa fa-money"></i>
                                                                                            @item.feecde
                                                                                            Rs. @item.amount
                                                                                            <a href='#' onclick='GetDetails(@item.id)'><span class='fa fa-pencil' data-toggle="tooltip" data-original-title="Edit"></span> </a>


                                                                                            <a href='#' onclick='Delete(@item.id)'><span class='fa fa-remove' data-toggle="tooltip" data-original-title="Delete"></span> </a>

                                                                                        </td>
                                                                                        <td></td>
                                                                                    }





                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            @*<div class="form-group">
                                                <div class="pull-right">
                                                <input type="submit" class="btn btn-info" value="Create" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                                </div>
                                                <div class="pull-left">
                                                <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }



            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit Fee Master</h5>
                        </div>
                        <div class="modal-body">
                            @*@using (Html.BeginForm(new { action = "EditCustomer1", controller = "FeesCollection", id = Model.code }))*@

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <div class="form-horizontal">

                                        <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Fees Group *</label>
                                                    <div class="col-md-10">
                                                        @*@Html.TextBoxFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "----Select Fees Group ----", new { @class = "form-control", required = "required" })*@
                                                        @Html.DropDownListFor(model => model.fegroup_id, (IEnumerable<SelectListItem>)ViewBag.viewbagfeegrouplist, new { @class = "form-control", id = "ddl_fegroup_idmd" })
                                                        @Html.ValidationMessageFor(model => model.fegroup_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Fees Type *</label>
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.feetype_id, (IEnumerable<SelectListItem>)ViewBag.viewbagfeetypelist, new { @class = "form-control", id = "ddl_fetype_idmd" })
                                                        @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.ValidationMessageFor(model => model.feetype_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Due Date</label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.due_date, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "form-control", Type = "date", id = "txt_due_datemd" } })

                                                        @*@Html.EditorFor(model => model.admission_no, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.ValidationMessageFor(model => model.due_date, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Amount *</label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", id = "txt_amountmd" } })

                                                        @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" onclick="Update()">@SmartSchool.Resources.Resource1.Update</button>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">@SmartSchool.Resources.Resource1.Close</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}



<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/FeesCollection/Editfeemaster",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $("#ddl_fegroup_idmd option[value='" + response.fee_groups_id + "']").attr("selected", "selected");
                $("#ddl_fetype_idmd option[value='" + response.feetype_id + "']").attr("selected", "selected");
                $("#txt_due_datemd").val(moment(response.due_date).format("YYYY-MM-DD"));
                $('#txt_amountmd').val(response.amount);
                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function Update() {



        var feid = $('#feeid').val();
        var feegrpid = $('#ddl_fegroup_idmd').val();
        var feetypeid = $('#ddl_fetype_idmd').val();

        var duedate = $('#txt_due_datemd').val();
        var feeamount = $('#txt_amountmd').val();

        $.ajax({



            url: "/FeesCollection/Editfeemasterpupdate",

            data: JSON.stringify({
                'eid': feid, 'feegrpid': feegrpid, 'feetypeid': feetypeid, 'duedate': duedate, 'feeamount': feeamount
            }),

            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                window.location.reload();
                swal("Records Updated.")

                // alert("Records Updated");

                $('#responsive-modal').modal('hide');
                $('#id').val("");
                $('#Name').val("");

                $('#Description').val("");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/FeesCollection/DeleteFeemaster/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    window.location.reload();
                    swal("Records Deleted.")
                    //alert("Records Deleted")
                    // window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>




@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("ddl_fegroup_id").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Fee Group field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("ddl_fetype_id").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Fee Type field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("txt_due_date").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Due Date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("txt_amount").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Amount',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>