﻿@model SmartSchool.SchoolMasterClasses.Stdentfeeclass
@{
    /**/

    ViewBag.Title = "feesforward";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-money"></i>@SmartSchool.Resources.Resource1.Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 3, 23, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <hr class="light-grey-hr" />
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Class, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new
                                                       {
                                                           @class = "form-control",
                                                           id
= "class_id1"
                                                       })

                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(model => model.Section, (IEnumerable<SelectListItem>)ViewBag.viewbagsectionlist, new { @class = "form-control", id = "section_id" })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-info" value="Search" id="btnsave" />
                                                </div>
                                                <div class="pull-left">
                                                    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <br />
                    @using SmartSchool.Models;
                    @{
                        //SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
                        string feetype = null;
                        string stuid = null;
                        double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
                    }

                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Previous Session Balance Fees</h6>
                                                <hr class="light-grey-hr" />
                                                <div class="panel panel-default card-view mt-50">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="table-wrap">
                                                                <div class="table-responsive">

                                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                                    </div>
                                                                    <table id="example" class="table table-hover display  pb-30">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>@SmartSchool.Resources.Resource1.Sl_No</th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Student name
                                                                                </th>

                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Admission Number
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Admission Date
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.RollNumber
                                                                                </th>

                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Father Name
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Balance (Rs.)
                                                                                </th>

                                                                            </tr>

                                                                        </thead>

                                                                        <tbody>
                                                                            @{
                                                                                int sno = 0;
                                                                            }
                                                                            @{ if (ViewBag.studentlist != null)
                                                                                {
                                                                                    foreach (var item in ViewBag.studentlist)
                                                                                    {
                                                                                        stuid = item.UserId;
                                                                                        var Totalamunt = (from l in dbcontext.student_fees_master
                                                                                                          join e in dbcontext.fee_groups_feetype on l.fee_groups_id equals e.fee_groups_id
                                                                                                          where l.student_session_id == stuid
                                                                                                          select e).ToList();

                                                                                        var totamt = Totalamunt.Sum(j => j.amount);

                                                                                        var feepaiddetails = (from l in dbcontext.fee_deposit_amountdetails
                                                                                                              where l.student_id == stuid
                                                                                                              select l).ToList();
                                                                                        var sumpaid = feepaiddetails.Sum(j => j.amount);

                                                                                        var sumdiscount = feepaiddetails.Sum(j => @Convert.ToDouble(j.amount_discount));
                                                                                        var sumfine = feepaiddetails.Sum(j => @Convert.ToDouble(j.amount_fine));

                                                                                        double ss = Convert.ToDouble(totamt);

                                                                                        balance = ss - Convert.ToDouble(sumpaid) - Convert.ToDouble(sumdiscount);
                                                                                        totalpaid += @Convert.ToDouble(sumpaid);
                                                                                        totalbal += @Convert.ToDouble(balance);
                                                                                        //  discount = totalbal - Convert.ToDouble(item.Discount);


                                                                                        totaldiscount += @Convert.ToDouble(sumdiscount);
                                                                                        totalfine += @Convert.ToDouble(sumfine);
                                                                                        <tr>
                                                                                            <td>
                                                                                                @{ sno++; }
                                                                                                @sno
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.Name
                                                                                            </td>

                                                                                            <td>
                                                                                                @item.Admissionno
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.Admissiondate
                                                                                            </td>

                                                                                            <td>
                                                                                                @item.Rollno
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.FatherName
                                                                                            </td>

                                                                                            <td>
                                                                                                <input type="text" class="form-control" id="txtnote " value="@balance" name="Note" placeholder="Balance">

                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#class_id1').on('change', function () {

                var ddlclass = $(this).val();
                $('#section_id').empty();
                $("#section_id").html("<option value=''>Select</option>");



                $.ajax({
                    method: 'POST',
                    url: '/Student/callgetsec',
                    contentType: "application/json; charset=utf-8",
                    datatype: "Json",
                    data: JSON.stringify({ 'ddlclass': ddlclass }),
                    success: function (data) {


                        $.each(data, function (i) {
                            if (i == "Disabled") {
                                $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                            }
                            else {
                                $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                            }
                        });
                    }

                });
            });
        });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
        $(document).ready(function () {
            $("#btnsave").click(function () {
                if (document.getElementById("class_id1").value == "0") {

                    $.toast({
                        //heading: '2 new messages',
                        text: 'Class field is required',
                        position: 'top-left',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("section_id").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Section field is required',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }

            });
        });
</script>
