﻿@model SmartSchool.SchoolMasterClasses.Stdentfeeclass
@{
    ViewBag.Title = "feesstatement";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-money"></i>   Fees Collection</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Search Fees Statement</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Class, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", id = "class_id1" })

                                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Section, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-6">Student</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Name, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "student_id" })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Search" id="btnsave" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        @if (ViewBag.studentdetails != null)
                        {
                            foreach (var item in ViewBag.studentdetails)
                            {<input type="text" class="form-control" maxlength="11" id="studentid" style="visibility:hidden"
                                    value="@item.UserName" />
                                <table class="table mb-0" id="Studentlist">
                                    <tr>
                                        <td rowspan="5">
                                            @*@if (@item.StudentPhoto != "")
                                            {
                                                <img src="@item.StudentPhoto" alt="Sample Image" width="200px" height="200px" />
                                            }*@
                                            @if (@item.StudentPhoto != null)
                                            {
                                                <img src="~/Content/Profile/@item.StudentPhoto" alt="Sample Image" width="200px" height="200px" />
                                            }
                                            @if (@item.StudentPhoto == null)
                                            {
                                                <img src="~/Content/Profile/1usericonB.png" alt="Sample Image" width="200px" height="200px" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Name: </td>
                                        <td> @item.FirstName</td>
                                        <td></td>

                                        <td>Class Section:</td>
                                        <td> @item.Class (@item.Section)</td>
                                    </tr>
                                    <tr>

                                        <td>Father Name	:</td>
                                        <td> @item.FatherName</td>
                                        <td></td>
                                        <td>AdmissionNumber:</td>
                                        <td> @item.AdmissionNumber</td>
                                    </tr>
                                    <tr>

                                        <td>Mobile Number:</td>
                                        <td> @item.MobileNumber</td>
                                        <td></td>
                                        <td>Roll Number:</td>
                                        <td> @item.RollNumber</td>
                                    </tr>
                                    <tr>

                                        <td>Category:</td>
                                        <td> @item.Category</td>
                                        <td></td>
                                        <td>RTE:</td>
                                        <td> @item.RTE</td>
                                    </tr>
                                </table>


                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        @using SmartSchool.Models;
        @{
            SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
            string feetype = null;
            string stuid = null;
            double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
        }
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-wrap">
                                <div class="form-body">
                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student List</h6>
                                    <hr class="light-grey-hr" />
                                    <div class="panel panel-default card-view mt-10">
                                        <div class="panel-wrapper collapse in">
                                            <div class="panel-body">
                                                <div class="table-wrap">
                                                    <div class="table-responsive">
                                                        <table id="example" class="table table-hover display  pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Fees Group
                                                                    </th>
                                                                    <th>
                                                                        Fees Code
                                                                    </th>

                                                                    <th>
                                                                        Due Date
                                                                    </th>
                                                                    <th>
                                                                        Status
                                                                    </th>
                                                                    <th>
                                                                        Amount (Rs.)
                                                                    </th>

                                                                    <th>
                                                                        Payment Id
                                                                    </th>
                                                                    <th>
                                                                        Mode
                                                                    </th>
                                                                    <th>
                                                                        Date
                                                                    </th>
                                                                    <th>
                                                                        Discount (Rs.)
                                                                    </th>
                                                                    <th>
                                                                        Fine (Rs.)
                                                                    </th>
                                                                    <th>
                                                                        Paid (Rs.)
                                                                    </th>
                                                                    <th>
                                                                        Balance (Rs.)
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            @{

                                                                if (ViewBag.studentlist != null)
                                                                {
                                                                    foreach (var item in ViewBag.studentlist)
                                                                    {
                                                                        feetype = item.Feetype;
                                                                        stuid = item.UserId;
                                                                        balance = 0;
                                                                        var feepaiddetails = (from l in dbcontext.fee_deposit_amountdetails
                                                                                              where l.student_id == stuid && l.feetype_id == feetype
                                                                                              select l).ToList();
                                                                        var sumpaid = feepaiddetails.Sum(j => j.amount);

                                                                        var sumdiscount = feepaiddetails.Sum(j => @Convert.ToDouble(j.amount_discount));
                                                                        var sumfine = feepaiddetails.Sum(j => @Convert.ToDouble(j.amount_fine));

                                                                        double ss = Convert.ToDouble(item.amount);
                                                                        double dd = Convert.ToDouble(item.paid);
                                                                        balance = ss - Convert.ToDouble(sumpaid) - Convert.ToDouble(sumdiscount);
                                                                        totalpaid += @Convert.ToDouble(sumpaid);
                                                                        totalbal += @Convert.ToDouble(balance);
                                                                        //  discount = totalbal - Convert.ToDouble(item.Discount);


                                                                        totaldiscount += @Convert.ToDouble(sumdiscount);
                                                                        totalfine += @Convert.ToDouble(sumfine);
                                                                        <tbody>
                                                                            <input type="text" class="form-control" maxlength="11" id="fegrp" style="visibility:hidden"
                                                                                   value="@item.id" />

                                                                            <input type="text" class="form-control" id="txtfeemastrd" style="visibility:hidden"
                                                                                   value="@item.Feemasterid" />

                                                                            <input type="text" class="form-control" id="txtfeetypeid" style="visibility:hidden"
                                                                                   value="@item.Feetype" />
                                                                            <tr>
                                                                                <td>
                                                                                    @item.fegroupid
                                                                                </td>
                                                                                <td>
                                                                                    @item.feecde
                                                                                </td>
                                                                                <td>
                                                                                    @item.duedate
                                                                                </td>
                                                                                @if (balance == 0)
                                                                                {
                                                                                    <td>
                                                                                        <input type="button" class="btn btn-success" value="Paid" />
                                                                                    </td>
                                                                                }
                                                                                else if (Convert.ToDouble(@item.amount) == Convert.ToDouble(balance))
                                                                                {
                                                                                    <td>
                                                                                        <input type="button" class="btn btn-danger" value="UnPaid" />
                                                                                    </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>
                                                                                        <input type="button" class="btn btn-warning buttoncolor" value="Partial" />
                                                                                    </td>
                                                                                }

                                                                                <td>
                                                                                    @item.amount
                                                                                </td>
                                                                                <td>
                                                                                    @item.paymentid
                                                                                </td>
                                                                                <td>
                                                                                    @item.mode
                                                                                </td>
                                                                                <td>
                                                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                                                </td>
                                                                                <td>
                                                                                    @sumdiscount
                                                                                    @*// @item.Discount*@
                                                                                </td>
                                                                                <td>
                                                                                    @sumfine
                                                                                    @*@item.fine*@
                                                                                </td>
                                                                                <td>

                                                                                    @sumpaid

                                                                                </td>
                                                                                <td>
                                                                                    @balance
                                                                                </td>


                                                                            </tr>

                                                                        </tbody>
                                                                        foreach (var pl in feepaiddetails)
                                                                        {
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        <img src="~/Content/Symbol/table-arrow.png" />
                                                                                    </td>
                                                                                    <td>
                                                                                        @pl.dpid/
                                                                                        @pl.inv_no
                                                                                    </td>
                                                                                    <td>
                                                                                        @pl.payment_mode
                                                                                    </td>
                                                                                    <td>
                                                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", pl.date))
                                                                                    </td>
                                                                                    <td>
                                                                                        @pl.amount_discount
                                                                                    </td>
                                                                                    <td>
                                                                                        @pl.amount_fine
                                                                                    </td>
                                                                                    <td>
                                                                                        @pl.amount
                                                                                    </td>


                                                                                </tr>

                                                                            </tbody>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            <tfoot>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>

                                                                    <th>Total</th>
                                                                    @{
                                                                        double total = 0;
                                                                        double bal = 0;
                                                                        if (ViewBag.studentlist != null)
                                                                        {
                                                                            foreach (var item1 in ViewBag.studentlist)
                                                                            {
                                                                                total += @Convert.ToDouble(item1.amount);
                                                                                bal += @Convert.ToDouble(item1.balance);
                                                                            }
                                                                        }
                                                                    }
                                                                    <th>Rs. @total</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>

                                                                    @{
                                                                        double disc = 0;
                                                                        double fine = 0;
                                                                        double paid = 0;
                                                                        if (ViewBag.amountdetails != null)
                                                                        {
                                                                            foreach (var item1 in ViewBag.amountdetails)
                                                                            {
                                                                                disc += @Convert.ToDouble(@item1.Discount);
                                                                                fine += @Convert.ToDouble(item1.fine);
                                                                                paid += @Convert.ToDouble(@item1.paid);
                                                                            }
                                                                        }
                                                                    }
                                                                    <th>Rs. @totaldiscount</th>
                                                                    <th>Rs. @totalfine</th>
                                                                    <th>Rs. @totalpaid</th>
                                                                    <th>Rs. @totalbal</th>
                                                                </tr>

                                                            </tfoot>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Edit Fee Group</h5>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm(new { action = "EditCustomer1", controller = "FeesCollection", id = Model.code }))*@

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">

                            <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Date</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    @*  *@
                                    <div class="form-group">


                                        <div class="col-md-10">


                                            <input type="date" class="form-control" id="txtname" name="Name" placeholder="Name" required="">




                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Amount</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    @*  *@
                                    <div class="form-group">



                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txdescrip" name="Amount" placeholder="Amounts">


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Discount Group</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-10">


                                            <select class="form-control select2" id="sselect2id" onchange="GetSelectedTextValue(this)">
                                                <option value="0">-Select-</option>
                                                @{ if (ViewBag.viewbagdiscntlist != null)
                                                    {
                                                        foreach (var items in ViewBag.viewbagdiscntlist)
                                                        {
                                                            <option value="@items.Value">@items.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>




                                            @*<input type="text" class="form-control" id="txdescrip" name="Amount" placeholder="Amount" required="">*@

                                            @*@Html.DropDownList("viewbagdiscntlist", (IEnumerable<SelectListItem>)ViewBag.viewbagdiscntlist, new { onchange = "UpdateProduct(this);" })*@
                                            @*@Html.DropDownList("viewbagdiscntlist",  "Select country")*@
                                            @*@Html.DropDownList("viewbagdiscntlist", ViewBag.viewbagdiscntlist as SelectList)*@
                                            @*<select AutoPostBack="True" id="ddldiscount" name="Discount" onchange="FilterdIndex(this.value)" class="form-control "></select>*@

                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Discount</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txdist" name="Amount" placeholder="Amount" required="">



                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Fine</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txfine" name="Amount" placeholder="Amount" required="">



                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Payment Mode</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <input type="radio" name="payment" value="Cash" required="required" checked> Cash
                                            <input type="radio" name="payment" value="Cheque"> Cheque
                                            <input type="radio" name="payment" value="DD"> DD


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Note</label>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txnte" name="Note" placeholder="Note">


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" onclick="Update()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>


                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;

        $.ajax({
            type: "POST",
            url: "/FeesCollection/Collectfees",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.amount);
               // $('#sselect2id').val(response.ViewBag.viewbagdiscntlist);
                //for (var i = 0; i < response.ViewBag.viewbagdiscntlist.length; i++) {
                //    $("#sselect2id option").val(response.ViewBag.viewbagdiscntlist.length[i].val);
                //}
                $.each(response.ddd, function () {
                    for (i = 0; i < response.ddd.length; i++) {

                        var checkval = response.ddd[i].Value;
                        var checktext = response.ddd[i].Text;
                        //alert(response.ddd[i].Value);
                    //    $("#sselect2id option").val(checkval);

                        $("#sselect2id").append("<option value=" + checkval + ">" + checktext +"</option>");

                    }
                });

                $('#txdescrip').val(response.amount);

                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }
    function GetSelectedTextValue(sselect2id) {
        var selectedText = sselect2id.options[sselect2id.selectedIndex].innerHTML;
        var selectedValue = $("select#sselect2id option").filter(":selected").val();

        $.ajax({
            url: "/FeesCollection/Collectfeesdisccountvalue",
            //contentType: "application/json; charset=utf-8",
            //data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            //dataType: "json",

            //success: function (result) {


            data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (response) {


                $('#txdist').val(response.amount);



            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }




    function Update() {

        var empObj = {

            Fid: $('#feeid').val(),
            date: $('#txtname').val(),

            Description: $('#txdescrip').val(),

        };
        var ppid = $('#feeid').val();

        var datte = $('#txtname').val();
        var amout = $('#txdescrip').val();
        var dis = $('#txdist').val();
        var fine = $('#txfine').val();
        var note = $('#txnte').val();


        var rGrp = $("input[name=payment]");

        var checkedRadio = rGrp.filter(":checked");
        var Mde = (checkedRadio.val());

        var discountid = $("select#sselect2id option").filter(":selected").val();

        var feegroupid = $('#fegrp').val();
        var studentid = $('#studentid').val();


         @{
             if (@ViewBag.studentlist != null)
             {
            foreach (var items in ViewBag.studentlist)
            {

                var feegroupid = @items.fegroupid;

            }
             }
             if (@ViewBag.studentdetails != null)
             {
            foreach (var items in ViewBag.studentdetails)
            {


                var studentid = @items.UserName;
            }
                 }


             }


        $.ajax({

             url: "/FeesCollection/Collectfeesupdate",
            //data: JSON.stringify(empObj),
            //   data: JSON.stringify(ppid),

            data: JSON.stringify({ 'values': ppid, 'dat': datte, 'amt': amout, 'discount': dis, 'fineamt': fine, 'Nte': note, 'Mode': Mde, 'disid': discountid, 'feegrpid': feegroupid, 'stuid': studentid}), //passing the data to back end

            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                     alert("Records Updated");
                     window.location.reload();
                $('#responsive-modal').modal('hide');
                $('#feeid').val("");
                $('#date').val("");

                $('#Description').val("");

                 },
            error: function (errormessage) {
                     alert(errormessage.responseText);
                 }
             });
             }


             function Delete(ID) {
                 var ans = confirm("Are you sure you want to delete this Record?");
                 if (ans) {
            $.ajax({
                     url: "/FeesCollection/DeleteFeegroup/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                             alert("Records Deleted")
                    window.location.reload();
                         },
                error: function (errormessage) {
                             alert(errormessage.responseText);
                         }
                     });
                 }
             }


</script>

<script>


    //$(document).ready(function () {

    $('#class_id1').on('change', function () {

        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    var ddlclass = $('#class_id1').val();
    if (ddlclass != null) {
        var ddlsection = $('input[name="sectionVal"]').val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");

        var div_data = "";
        $.ajax({
            type: "POST",
            url: "/Student/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, obj) {
                    if (obj.section_id == ddlsection) {
                        ne = 'selected';
                    } else {
                        ne = "";
                    }
                    div_data += "<option value='" + obj.Value + "' " + ne + " >" + obj.Text + "</option>";
                });

                $('#section_id').append(div_data);

            }
        });
    }
    $('#section_id').on('change', function () {

        var ddlclass1 = $(class_id1).val();
        var ddlsec = $(section_id).val();
        $('#student_id').empty();
        $("#student_id").html("<option value=''>Select</option>");



        $.ajax({
            method: 'POST',
            url: '/FeesCollection/callgetstudent',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({
                'ddlclass': ddlclass1, 'ddlsec': ddlsec
            }),
            success: function (data) {

                $.each(data, function (index, row) {

                    $("#student_id").append("<option value='" + row.user_id + "'>" + row.firstname + "</option > ");
                });

            }

        });
    });

</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("class_id1").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("student_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Student',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
