﻿@model SmartSchool.Classes.EditQueClasses

@{
    ViewBag.Title = "EditQuestions";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<style type="text/css">

    .textarea {
        background: rgba(255, 255, 255, 0.3);
        border-color: #C8C7CC;
        width: 100%;
        padding: 0.375rem 0.75rem;
        overflow: auto;
        resize: vertical;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Edit Question</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.data.Count!=0)
{

using (Html.BeginForm("EditQuestions", "Quiz", FormMethod.Post, new { question = "question", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Questions Criteria</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Enter Question <span class="text-danger">*</span></label>
                                            @Html.TextArea("question", new { @class = "form-control textarea", @placeholder = "Enter Question", @id = "question", required = "required", @row = 2, style = "width:1256px" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" style="padding-bottom:10px;">Enter Options <span class="text-danger">*</span></label>
                                </div>
                                <div class="row">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.IsAnswer[i], new { @class = "check" })
                                                @Html.TextBoxFor(model => model.options[i], new { @class = "form-control textarea", @placeholder = "Enter Option " + i, required = "required" }) &nbsp;&nbsp;
                                            </div>

                                        </div>
                                        @Html.HiddenFor(model => model.answerID[i])
                                    }
                                </div>
                                <div class="panel-body">

                                    @Html.ActionLink("Back to List", "QuestionInsert", new { _QuizID = Model.quizId })
                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Update" id="btnsave" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
            <script type="text/javascript">
                $('.check').on('change', function () {
                    $('.check').not(this).prop('checked', false);
                });
            </script>
        </div>
    </div>
}
}


@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["msg"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'Warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
