﻿@model SmartSchool.Classes.EditQueClasses

@{
    ViewBag.Title = "QuestionInsert";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Add Questions</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("QuestionInsert", "Quiz", FormMethod.Post, new { QuestionText = "QuestionText", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Questions Criteria</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Enter Question <span class="text-danger">*</span></label>
                                            @Html.TextArea("QuestionText", new { @class = "form-control textarea", @placeholder = "Enter Question", @id = "QuestionText", required = "required", @row = 2, style = "width:1205px" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="padding-bottom:10px;">Enter Options <span class="text-danger">*</span></label>
                                </div>

                                <div class="row">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @if (i == 0)
                                                {
                                                    @Html.CheckBoxFor(model => model.IsAnswer[i], new { @class = "check", @checked = "true", @Title = "Please check the Correct Answer..!" })
                                                }
                                                else
                                                {
                                                    @Html.CheckBoxFor(model => model.IsAnswer[i], new { @class = "check", @Title = "Please check the Correct Answer..!" })
                                                }

                                                @Html.TextBoxFor(model => model.AnswerText[i], new { @class = "form-control textarea", @placeholder = "Enter Option " + i, required = "required" }) &nbsp;&nbsp;
                                            </div>

                                        </div>
                                    }
                                </div>

                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" id="btnsave" />
                                    </div>
                                </div>
                            </div>


                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
                            <script type="text/javascript">
                                $('.check').on('change', function () {
                                    $('.check').not(this).prop('checked', false);
                                });
                            </script>
                        </div>

                        <div class="panel-body">

                            @Html.ActionLink("View All Questions", "QuizDetails", new { _QuizID = @ViewBag._QuizID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.QuizNames != null)
{
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h4 style="font-weight:700;color: black;">@ViewBag.QuizName</h4>
                                <hr class="light-grey-hr" />
                                <div class="panel panel-default card-view mt-50">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>


                                                    <table id="example" class="table table-hover display  pb-30">
                                                        @{int sl = 0;}
                                                        @foreach (var item in ViewBag.QuizNames)
                                                        {
                                                            sl++;
                                                            <tr>
                                                                <td>
                                                                    <b>@sl</b>
                                                                </td>
                                                                <td>
                                                                    <b>@item.QuestionText</b>

                                                                    <table>
                                                                        @{int i = 0;}
                                                                        @foreach (var item2 in ViewBag.Answers)
                                                                        {
                                                                            if (item.QuestionID == item2.QuestionID)
                                                                            {
                                                                                i++;
                                                                                <tr>
                                                                                    <td>
                                                                                        @i .
                                                                                        @item2.AnswerText
                                                                                        &nbsp; &nbsp;
                                                                                        @if (item2.IsAnswer == true)
                                                                                        {
                                                                                            <input type="checkbox" checked disabled class="checkClass" />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="checkbox" disabled />
                                                                                        }


                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                </td>

                                                                <td>
                                                                    @if (item.CreatedDate != null)
                                                                    {
                                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                                                                    }
                                                                    else
                                                                    {
                                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ModifiedDate))
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink("Edit", "EditQuestions", new { queID = item.QuestionID, _QuizID = item.QuizID }, new { Title = "Click here to Edit Question and Options" }) |


                                                                    @Html.ActionLink("Delete", "DeleteQuestions", new { queID = item.QuestionID, _QuizID = item.QuizID }, new { Title = "Click here to Edit Question and Options" }) | Active|Inactive

                                                                    @if (item.Status == true)
                                                                    {

                                                                        <input type="checkbox" id="check" name="checkboxs" onchange="myFunction(this)" value="@item.QuestionID" checked class="js-switch js-switch-1"  data-size="small" data-color="#76c880" style="margin-top:2px;"  title="InActive" />

                                                                    }
                                                                    else
                                                                    {

                                                                        <input type="checkbox" id="check" name="checkboxs" onchange="myFunction(this)" value="@item.QuestionID" class="js-switch js-switch-1"  data-size="small" data-color="#76c880"  style="margin-top:2px;"    title="Active" />

                                                                    }

                                                                </td>
                                                            </tr>
                                                        }

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["msg"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'Warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["result"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnsave").click(function () {

            if (document.getElementById("QuestionText").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select the Class',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
<script>
 function myFunction(user) {

        alert('Are you Sure! you want to Inactive/active Question');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("stdstatus")',
            dataType: 'json',
            data: { id: $(user).val() },
            success: function (city) {

              window.location.reload();
            },
            error: function (ex) {
            alert('Failed.' + ex);
            }
            });
            return false;
            };
</script>



