﻿@model SmartSchool.Models.Quiz

@{
    ViewBag.Title = "QuizCreate";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Create Quiz</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("QuizCreate", "Quiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">@SmartSchool.Resources.Resource1.Class *</label>
                                            <div class="col-md-10" >
                                                @Html.DropDownListFor(model => model.ClassID, (IEnumerable<SelectListItem>)ViewBag.classlist,"Select",  new { @class = "form-control", id = "ClassID" })
                                                @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">@SmartSchool.Resources.Resource1.Subject* </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.SubjectID, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "SubjectID" })
                                                @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="course" style="display:none">
                                            <label class="control-label col-md-4">@SmartSchool.Resources.Resource1.Class </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.QuizName, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "QuizName" } })
                                                @Html.ValidationMessageFor(model => model.QuizName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />

                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Create" id="btnsave" />
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Quiz List</h6>
                            <hr class="light-grey-hr" />
                            <div class="panel panel-default card-view mt-50">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">

                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                </div>
                                              

                                                <table id="example" class="table table-hover display  pb-30">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                SL NO
                                                            </th>
                                                            <th>
                                                                Quiz Name
                                                            </th>
                                                            <th>
                                                                Class
                                                            </th>
                                                            <th>
                                                                Subject
                                                            </th>

                                                            <th>
                                                                Add Questions
                                                            </th>
                                                            <th>
                                                                Action (Active/InActive Quiz)
                                                            </th>
                                                        </tr>

                                                    </thead>

                                                    <tbody>
                                                        @{int i = 0; }
                                                        @foreach (var item in ViewBag.QuizList)
                                                        {
                                                            i++;
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>
                                                                @item.Desription
                                                            </td>
                                                            <td>
                                                                @item.Class
                                                            </td>
                                                            <td>
                                                                @item.SubjectName
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Click Here", "QuestionInsert", new { _quizID = item.id })
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Delete", "QuizDelete", new { _QuizID = item.id }) |
                                                                @Html.ActionLink("Details", "QuizDetails", new { _QuizID = item.id }) |

                                                                @if (item.Status1 == true)
                                                                {
                                                                    <input type="checkbox" id="check" name="checkboxs" onchange="myFunction(this)" value="@item.id" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" title="InActive" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="check" name="checkboxs" onchange="myFunction(this)" value="@item.id" class="js-switch js-switch-1" data-color="#76c880" data-size="small" title="Active"/>
                                                                }
                                                            </td>


                                                        </tr>
                                                        }

                                                    </tbody>


                                                </table>
                                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                                           
                                                           

<script type="text/javascript">
    $(document).ready(function () {
        $('#ClassID').on('change', function () {
            var ddlclass = $(this).val();
            $('#SubjectID').empty();
            $("#SubjectID").html("<option value=''>Select Subject</option>");
            $.ajax({
                method: 'POST',
                url: '/Quiz/getSubjects',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#SubjectID").append("<option value='" + data.Subjectid + "'>" + data.SubjectName + "</option > ");
                        }
                        else {
                            $("#SubjectID").append("<option value='" + data[i].Subjectid + "'>" + data[i].SubjectName + "</option > ");
                        }
                    });
                }
            });
        });
    });
    $(document).ready(function () {

        $("#SubjectID").change(function () {

            var ClassID = $("#ClassID option:selected").text();

            var Subject = $("#SubjectID option:selected").text();
            var Quiz = ClassID + " / " + Subject;
            $('#course').show();
            $("#QuizName").val(Quiz);
            document.getElementById('QuizName').value = Quiz;
        });
        $("#ClassID").change(function () {

            var ClassID = $("#ClassID option:selected").text();
            var Subject = $("#SubjectID option:selected").text();
            var Quiz = ClassID + " / " + Subject;
            $('#course').show();
            $("#QuizName").val(Quiz);
            document.getElementById('QuizName').value = Quiz;
        });
    });
</script>

@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["result"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["msg"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'Warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnsave").click(function () {

                if (document.getElementById("ClassID").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Please Select the Class',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("SubjectID").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Please Select the Subject',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
     
            });
        });
    </script>
    <script type="text/javascript">
function myFunction(user) {

        alert('Are you Sure Want to Active/InActive......!');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("quizstatus")',
            dataType: 'json',
            data: { id: $(user).val() },
            success: function (city) {
            },
            error: function (ex) {
            alert('Failed.' + ex);
            }
            });
            return false;
    };

    </script>

