﻿@model IEnumerable<SmartSchool.Models.Question>

@{
    ViewBag.Title = "QuizDetails";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<style type="text/css">
    .checkClass {
        outline-color: green;
        outline-style: solid;
        outline-width: 2px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <h3 style="color:#f742aa; ">
            @ViewBag.QuizName</h3>
        <p>
            @Html.ActionLink("New Question", "QuestionInsert", new { _QuizId = ViewBag.QuizID})
        </p>

        <div id="example_wrapper" class="dataTables_wrapper">
        </div>


        <table id="example" class="table table-hover display  pb-30">
            @{int sl = 0;}
            @foreach (var item in Model)
            {
                sl++;
                <tr>
                    <td>
                        <b>@sl</b>
                    </td>
                    <td>
                        <b>@item.QuestionText</b>

                        <table>
                            @{int i = 0;}
                            @foreach (var item2 in ViewBag.Answers)
                            {
                                if (item.QuestionID == item2.QuestionID)
                                {
                                    i++;
                                    <tr>
                                        <td>
                                            @i .
                                            @item2.AnswerText
                                            &nbsp; &nbsp;
                                            @if (item2.IsAnswer == true)
                                            {
                                                <input type="checkbox" checked disabled class="checkClass" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled />
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                    <td>
                        @if (item.CreatedDate != null)
                        {
                            @item.CreatedDate.Value.ToShortDateString();
                        }
                        else
                        {
                            @item.ModifiedDate.Value.ToShortDateString();
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
