﻿
@{
    ViewBag.Title = "email_sms_log";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Communicate</h4>
                </div>
                <div class="pull-right">

                    <button class="btn btn-primary btn-rounded btn-icon left-icon" style="color:#f742aa; " onclick="location.href='@Url.Action("send_email_sms", "Communicate")'"><i class="fa fa-envelope"></i><span>@SmartSchool.Resources.Resource1.Send_Email_SMS</span></button>
                    @*<i class="fa fa-bell"></i><input type="button" class="btn btn-info btn-icon left-icon" value="Let's Go!" onclick="location.href='@Url.Action("send_email_sms", "Communicate")'" />*@

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 10, 60, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap">
                                        <form class="form-horizontal">
                                            <div class="form-group mb-0">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date_From</label>
                                                            <input type="date" id="fromdate" name="fromdate" class="form-control" required="required" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date_To</label>
                                                            <input type="date" id="todate" name="todate" class="form-control" required="required" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <br />
                                                            @if (rol.can_add == 1)
                                                            {
                                                                <div class="pull-right">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Search" id="btnsave" class="btn btn-info" />
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-email mr-10"></i>@SmartSchool.Resources.Resource1.Email_SMS_Log<text style="color:red">@ViewBag.datedisplay</text></h6>
                                        <hr class="light-grey-hr" />
                                        <div class="panel panel-default card-view mt-50">
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">

                                                            <div id="example_wrapper" class="dataTables_wrapper">


                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>

                                                                        <tr>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Title
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Date
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Email
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.SMS
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Group
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Individual
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Class
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var rol1 in ViewBag.ES)
                                                                        {


                                                                            <tr>
                                                                                <td>
                                                                                    @rol1.Title
                                                                                </td>
                                                                                <td>
                                                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", rol1.Date))

                                                                                </td>
                                                                                <td>
                                                                                    @if (rol1.email == "True")
                                                                                    {
                                                                                        <small class="label label-success">
                                                                                            @rol1.email
                                                                                        </small>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <small class="label label-danger">
                                                                                            @rol1.email
                                                                                        </small>
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @if (rol1.SMS == "True")
                                                                                    {
                                                                                        <small class="label label-success">
                                                                                            @rol1.SMS
                                                                                        </small>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <small class="label label-danger">
                                                                                            @rol1.SMS
                                                                                        </small>
                                                                                    }

                                                                                </td>
                                                                                <td>
                                                                                    @if (rol1.Group == "True")
                                                                                    {
                                                                                        <small class="label label-success">
                                                                                            @rol1.Group
                                                                                        </small>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <small class="label label-danger">
                                                                                            @rol1.Group
                                                                                        </small>
                                                                                    }

                                                                                </td>
                                                                                <td>
                                                                                    @if (rol1.Individual == "True")
                                                                                    {
                                                                                        <small class="label label-success">
                                                                                            @rol1.Individual
                                                                                        </small>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <small class="label label-danger">
                                                                                            @rol1.Individual
                                                                                        </small>
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @if (rol1.Class == "True")
                                                                                    {
                                                                                        <small class="label label-success">
                                                                                            @rol1.Class
                                                                                        </small>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <small class="label label-danger">
                                                                                            @rol1.Class
                                                                                        </small>
                                                                                    }

                                                                                </td>

                                                                            </tr>
                                                                        }

                                                                    </tbody>

                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

}
