﻿@model SmartSchool.Models.send_notification
@{
    ViewBag.Title = "notice_board";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


@*<button type="button" class="btn btn-default btn-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Tooltip on top</button>*@

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;">@SmartSchool.Resources.Resource1.Communicate</h4>
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-info zmdi-text-format" id="pnmessage" value="@SmartSchool.Resources.Resource1.Send_Message" formtarget="_blank" onclick="window.open('@Url.Action("send_message", "Communicate")')" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("notice_board", "Communicate", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-notifications mr-10"></i>@SmartSchool.Resources.Resource1.Notice_Board</h6>
                            <hr class="light-grey-hr" />
                            @foreach (var items in ViewBag.isn)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="panel panel-default card-view panel-refresh">
                                        <div class="refresh-container">
                                            <div class="la-anim-1"></div>
                                        </div>
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <small class="font-13">
                                                    <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:black"> @items.title</text>
                                                </small>
                                                @*<small class="panel-title txt-dark">@items.title</small>*@
                                            </div>
                                            <div class="pull-right">
                                                <a class="pull-left inline-block mr-15" data-toggle="collapse"  href="#collapse_@items.id" aria-expanded="false">
                                                    <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                    <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                </a>
                                                <a href="#" class="pull-left inline-block full-screen mr-15">
                                                    <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                </a>
                                                @*<a class="pull-left inline-block close-panel" href="@Url.actio("notice_boardss", "Communicate", new { id = items.id })" data-effect="fadeOut">
                                                        <i class="zmdi zmdi-close"></i>
                                                    </a>*@

                                                @Html.ActionLink(" ", "notice_board_delete", new { edit = "edit", id = items.id }, new { @class = "pull-left inline-block close-panel zmdi zmdi-edit", title="Edit Message", style="Color:#f742aa"  })

                                                @Html.ActionLink(" ", "notice_board_delete", new { id = items.id }, new { @class = "pull-left inline-block close-panel zmdi zmdi-close", title="Delete Message", style="Color:#f742aa" })
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="collapse_@items.id" class="panel-wrapper collapse">
                                            <div class="panel-body font-16 weight-600 txt-dark">
                                                <p>@items.message</p> <br />
                                                @*<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-notifications mr-10"></i>Notice Board</h6>*@
                                                                      <small class="font-13"><i class="fa fa-calendar" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Publish_Date : @Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.publish_date))</small><br />
                                                                      <small class="font-13"><i class="fa fa-calendar" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Notice_Date  : @Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.date))</small><br />
                                                <small class="font-13">
                                                    <i class="fa fa-user-md" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Created_By        : @items.created_by
                                                </small><br />

                                                        <small class="font-15">
                                                            <i class="fa fa-info" style="color:cyan"></i> @SmartSchool.Resources.Resource1.Message_Displaying_To  :
                                                        </small><br />

                                                @if (items.visible_student == true)
                                                {
                                                      <small class="font-13">
                                                         <i class="fa fa-user" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Student
                                                      </small><br />
                                                }
                                                @if (items.visible_staff == true)
                                                {
                                                      <small class="font-13">
                                                          <i class="fa fa-user" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Staff
                                                      </small><br />
                                                }
                                                @if (items.visible_parent == true)
                                                {
                                                      <small class="font-13">
                                                          <i class="fa fa-user" style="color:deeppink"></i> @SmartSchool.Resources.Resource1.Parent
                                                      </small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


