﻿@model SmartSchool.Models.send_notification

@{
    ViewBag.Title = "post_new_message";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Communicate</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>




@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-notifications mr-10"></i>@SmartSchool.Resources.Resource1.Notifications___Compose_New_Message
                                            </h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Notice_Date, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            <input type="date" id="date" name="date" class="form-control col-md-4" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Publish_Date, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            <input type="date" id="date" name="date" class="form-control col-md-4" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            <textarea class="tinymce"></textarea>

                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.Label(@SmartSchool.Resources.Resource1.Message_To, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-3">

                                                    <div class="panel panel-default card-view">
                                                        <div class="form-group">
                                                            <div class="panel-body">
                                                                <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient </p>
                                                                <div class="row mt-40">
                                                                    <div class="col-sm-12">
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox7" type="checkbox">
                                                                            <label for="checkbox7"> @SmartSchool.Resources.Resource1.Student </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox8" type="checkbox">
                                                                            <label for="checkbox8"> @SmartSchool.Resources.Resource1.Parent </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox-9" type="checkbox">
                                                                            <label for="checkbox-9"> @SmartSchool.Resources.Resource1.Teacher </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox-10" type="checkbox">
                                                                            <label for="checkbox-10"> @SmartSchool.Resources.Resource1.Accountant </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox-11" type="checkbox">
                                                                            <label for="checkbox-11"> @SmartSchool.Resources.Resource1.Librarian </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox-12" type="checkbox">
                                                                            <label for="checkbox-12"> @SmartSchool.Resources.Resource1.Receptionist </label>
                                                                        </div>
                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                            <input id="checkbox-15" type="checkbox">
                                                                            <label for="checkbox-15"> @SmartSchool.Resources.Resource1.Super_Admin </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @if (rol.can_add == 1)
                                    {
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <input type="submit" class="btn btn-info" value="Send" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                            </div>
                                            <div class="pull-left">
                                                <input type="button" class="btn btn-info" value="Back to board" onclick="location.href='@Url.Action("notice_board", "Communicate")'" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
}




