﻿@model SmartSchool.Models.send_notification
@{
    ViewBag.Title = "send_message";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Communicate</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("send_message", "Communicate", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            @*<div class="form-body">*@
                            <h6 class="txt-dark capitalize-font">
                                <i class="zmdi zmdi-notifications mr-10"></i>@SmartSchool.Resources.Resource1.Notifications___Compose_New_Message
                            </h6>
                            <hr class="light-grey-hr" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label(@SmartSchool.Resources.Resource1.Title, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                        <div class="col-10">
                                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @id = "title_id", @type = "text", placeholder = "email subject" } })
                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label(@SmartSchool.Resources.Resource1.Notice_Date, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                        <div class="col-10">
                                            <input type="date" id="date" name="date" class="form-control col-md-4" />
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label(@SmartSchool.Resources.Resource1.Publish_Date, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                        <input type="date" id="date1" name="date" class="form-control col-md-4" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-8">

                                <div class="form-group">
                                    @Html.Label(@SmartSchool.Resources.Resource1.Message, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                    <div class="col-10">
                                        @*<textarea class="tinymce" id ="messge_text" ></textarea>*@
                                        @Html.TextAreaFor(model => model.message, new { @class = "tinymce", @id = "messge_text" })
                                        @*@Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label(@SmartSchool.Resources.Resource1.Message_To, htmlAttributes: new { @class = "control-label col-pl-10" })<small class="req" style="color:red">*</small>
                                    <div class="panel panel-default card-view">
                                        <div class="panel-body">
                                            <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient</p>
                                            <div class="row mt-40">
                                                <div class="col-sm-12">
                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox7" type="checkbox" alt="Student" name="checkbox_loop">
                                                        <label for="checkbox7"> @SmartSchool.Resources.Resource1.Student </label>
                                                    </div>
                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox8" type="checkbox" alt="Parent" name="checkbox_loop">
                                                        <label for="checkbox8"> @SmartSchool.Resources.Resource1.Parent </label>
                                                    </div>
                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox9" type="checkbox" alt="Staff" name="checkbox_loop">
                                                        <label for="checkbox9"> @SmartSchool.Resources.Resource1.Staff</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <input type="button" class="btn btn-info" id="btnsave" value="Send" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*</div>*@

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnsave').on('click', function () {
            var get_checkedval = [];
            var email_subject = $('#title_id').val();
            var notice_date = $('#date').val();
            var publish_date = $('#date1').val();
            var checkval = 0;
            var content = $.trim(tinymce.get("messge_text").getContent({ format: 'text' }));
            var notification_id = window.location.href.split('/').pop().split('?').shift();

            if (email_subject == "") {
                nullCheck("Please Enter Title..?");
                return false;
            }
            else if (notice_date == "") {
                nullCheck("Please Select Notice Date..?");
                return false;
            }
            else if (publish_date == "") {
                nullCheck("Please Select Publish Date..?");
                return false;
            }
            else if (content == "") {
                nullCheck("Please Enter Content..?");
                return false;
            }

            function nullCheck(varnull) {
                var w = varnull;
                $.toast({
                    heading: 'Warning',
                    text: w,
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'success',
                    hideAfter: 4000,
                    stack: 6
                });
            };
            $.each($("input[name='checkbox_loop']"), function () {
                if (this.checked) {
                    checkval = 1;
                    get_checkedval.push($(this).attr("alt"));
                }
            });
            if (checkval == 0) {
                nullCheck("Please Select Recipient..?");
                return false;
            }
            $.ajax({
                url: '/Communicate/save_send_message',
                type: 'POST',
                data: JSON.stringify({ 'get_checkedval': get_checkedval, 'email_subject': email_subject, 'notice_date': notice_date, 'publish_date': publish_date, 'content': content, 'notification_id': notification_id }),
                // dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result == 'Success') {
                        $.toast({
                            heading: 'Success',
                            text: "Data Saved Successfully..!",
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'success',
                            hideAfter: 4000,
                            stack: 6
                        });
                        window.location.href = '/Communicate/notice_board';
                    }
                    else {
                        $.toast({
                            heading: 'Warning',
                            text: "Something Went Wrong..Try Again.",
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'success',
                            hideAfter: 4000,
                            stack: 6
                        });
                         window.location.href = '/Communicate/notice_board';
                    }
                },
                error: function (e) {
                    $.toast({
                        heading: 'Warning',
                        text: "Something Went Wrong..Try Again.",
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'success',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            });
        });
    });
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}