﻿@model SmartSchool.Models.send_notification
@{
    ViewBag.Title = "send_email_sms";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-share-alt-square"> @SmartSchool.Resources.Resource1.Communicate</i></h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 10, 59, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-notifications mr-10"></i>@SmartSchool.Resources.Resource1.Notifications___Compose_New_Message
                                            </h6>
                                            <hr class="light-grey-hr" />
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Send_Through, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <small class="req" style="color:red">*</small>

                                                        <div class="col-md-10">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="radio-list">
                                                                        <div class="radio-inline pl-0">
                                                                            <span class="radio radio-info">
                                                                                <input type="radio" name="radio5" id="radio_5" value="option1">
                                                                                <label for="radio_5">@SmartSchool.Resources.Resource1.Email</label>
                                                                            </span>
                                                                        </div>
                                                                        <div class="radio-inline">
                                                                            <span class="radio radio-info">
                                                                                <input type="radio" name="radio5" id="radio_6" value="option2">
                                                                                <label for="radio_6">@SmartSchool.Resources.Resource1.SMS</label>

                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <img src="~/Content/Logo/GirlsBanner.png" />
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-12" id="divmessageto" style="display:none;">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-ml-4" })
                                                                <small class="req" style="color:red">*</small>
                                                                <div class="col-10">
                                                                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @id = "title_id", @type = "text", placeholder = "email subject" } })
                                                                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <hr class="light-grey-hr" />
                                                    <div class="col-md-5">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Message_To, htmlAttributes: new { @class = "control-label col-md-0" })
                                                        <div class="panel panel-default card-view">
                                                            <div class="panel-wrapper collapse in">
                                                                <div class="panel-body">
                                                                    <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient</p>
                                                                    <div class="pills-struct mt-40">
                                                                        <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                                                                            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="home_tab_11" href="#home_11">@SmartSchool.Resources.Resource1.Group</a></li>
                                                                            <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_11" role="tab" href="#profile_11" aria-expanded="false">@SmartSchool.Resources.Resource1.Individual</a></li>
                                                                            @*<li role="presentation" class=""><a data-toggle="tab" id="profile_tab_21" role="tab" href="#profile_21" aria-expanded="false">@SmartSchool.Resources.Resource1.Class</a></li>*@

                                                                        </ul>
                                                                        <div class="tab-content" id="myTabContent_11">
                                                                            <div id="home_11" class="tab-pane fade active in" role="tabpanel">
                                                                                <div class="col-md-6">
                                                                                    <div class="panel panel-default card-view">
                                                                                        <div class="form-group">
                                                                                            <div class="panel-body">
                                                                                                <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient: </p>

                                                                                                <div class="col-sm-12">
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox1" type="checkbox" alt="Student" name="checkbox_loop">
                                                                                                        <label for="checkbox1"> @SmartSchool.Resources.Resource1.Student </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox2" type="checkbox" alt="Parent" name="checkbox_loop">
                                                                                                        <label for="checkbox2"> @SmartSchool.Resources.Resource1.Parent </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox3" type="checkbox" alt="Teacher" name="checkbox_loop">
                                                                                                        <label for="checkbox3"> @SmartSchool.Resources.Resource1.Teacher </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox4" type="checkbox" alt="Admin" name="checkbox_loop">
                                                                                                        <label for="checkbox4"> @SmartSchool.Resources.Resource1.Admin </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox5" type="checkbox" alt="Accountant" name="checkbox_loop">
                                                                                                        <label for="checkbox5"> @SmartSchool.Resources.Resource1.Accountant </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox6" type="checkbox" alt="Librarian" name="checkbox_loop">
                                                                                                        <label for="checkbox6"> @SmartSchool.Resources.Resource1.Librarian </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox7" type="checkbox" alt="Receptionist" name="checkbox_loop">
                                                                                                        <label for="checkbox7"> @SmartSchool.Resources.Resource1.Receptionist </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                                                                        <input id="checkbox8" type="checkbox" alt="SuperAdmin" name="checkbox_loop">
                                                                                                        <label for="checkbox8"> @SmartSchool.Resources.Resource1.Super_Admin </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="profile_11" class="tab-pane fade" role="tabpanel">
                                                                                <label>@SmartSchool.Resources.Resource1.Select_Criteria</label>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="dropdown">
                                                                                            <!-- Single button -->
                                                                                            <button class="btn btn-info dropdown-toggle" id="select_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                <span id="selected">@SmartSchool.Resources.Resource1.Choose_option</span>
                                                                                                <span class="caret"></span>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu" id="dropdown_email">
                                                                                                <li><a id="Student">@SmartSchool.Resources.Resource1.Student</a></li>
                                                                                                <li><a id="Parent">@SmartSchool.Resources.Resource1.Parent</a></li>
                                                                                                <li><a id="Teacher">@SmartSchool.Resources.Resource1.Teacher</a></li>
                                                                                                <li><a id="Admin">@SmartSchool.Resources.Resource1.Admin</a></li>
                                                                                                <li><a id="Accountant">@SmartSchool.Resources.Resource1.Accountant</a></li>
                                                                                                <li><a id="Librarian"> @SmartSchool.Resources.Resource1.Librarian</a></li>
                                                                                                <li><a id="Receptionist">@SmartSchool.Resources.Resource1.Receptionist</a></li>
                                                                                                <li><a id="SuperAdmin"> @SmartSchool.Resources.Resource1.Super_Admin</a></li>

                                                                                            </ul>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <select class="select2 select2-multiple" multiple="multiple" id="sselect2id" data-placeholder="Choose"></select>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            @*<div id="profile_21" class="tab-pane fade " role="tabpanel">
                                                                                <div class="form-group mb-0">
                                                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Select_Class</label>
                                                                                    <select class="select2 select2-multiple" multiple="multiple" id="sel_mul_class" data-placeholder="Choose Class">
                                                                                        <option value="1">@SmartSchool.Resources.Resource1.Class_I</option>
                                                                                        <option value="2">@SmartSchool.Resources.Resource1.Class_II</option>
                                                                                        <option value="3">@SmartSchool.Resources.Resource1.Class_III</option>
                                                                                        <option value="4">@SmartSchool.Resources.Resource1.Class_IV</option>
                                                                                        <option value="5">@SmartSchool.Resources.Resource1.Class_V</option>
                                                                                        <option value="6">@SmartSchool.Resources.Resource1.Class_VI</option>
                                                                                        <option value="7">@SmartSchool.Resources.Resource1.Class_VII</option>
                                                                                        <option value="8">@SmartSchool.Resources.Resource1.Class_VIII</option>
                                                                                        <option value="9">@SmartSchool.Resources.Resource1.Class_IX</option>
                                                                                        <option value="10">@SmartSchool.Resources.Resource1.Class_X</option>


                                                                                    </select>
                                                                                </div>
                                                                            </div>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-7">
                                                        @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-4" })

                                                        <div class="col-md-10">

                                                            @Html.TextAreaFor(model => model.message, new { @class = "tinymce", type = "textarea", @id = "messge_text" })
                                                            @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })

                                                        </div>
                                                        <div class="form-group">
                                                            <div class="pull-right">
                                                                <button class="btn btn-primary btn-rounded btn-icon left-icon" type="button" value="Send" id="btSend"><i class="fa fa-envelope"></i><span>@SmartSchool.Resources.Resource1.Send</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" id="divsms" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.Label(@SmartSchool.Resources.Resource1.Title, htmlAttributes: new { @class = "control-label col-md-4" })

                                                    <div class="col-md-10">
                                                        @*<select name="sms_name" class="form-control select2" id="sms_titlee"></select>*@
                                                        @Html.DropDownListFor(Model => Model.title, (IEnumerable<SelectListItem>)ViewBag.list, "--Select--", new { @class = "form-control", @id = "drop11" })

                                                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="light-grey-hr" />
                                        <div class="col-md-5">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Message_To, htmlAttributes: new { @class = "control-label col-md-0" })
                                            <div class="panel panel-default card-view">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient</p>
                                                        <div class="pills-struct mt-40">
                                                            <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_12">
                                                                <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="home_tab_12" href="#home_12">@SmartSchool.Resources.Resource1.Group</a></li>
                                                                <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_12" role="tab" href="#profile_12" aria-expanded="false">@SmartSchool.Resources.Resource1.Individual</a></li>
                                                                @*<li role="presentation" class=""><a data-toggle="tab" id="profile_tab_22" role="tab" href="#profile_22" aria-expanded="false">@SmartSchool.Resources.Resource1.Class</a></li>*@

                                                            </ul>
                                                            <div class="tab-content" id="myTabContent_12">
                                                                <div id="home_12" class="tab-pane fade active in" role="tabpanel">
                                                                    <div class="col-md-6">
                                                                        <div class="panel panel-default card-view">
                                                                            <div class="form-group">
                                                                                <div class="panel-body">
                                                                                    <p class="text-muted">@SmartSchool.Resources.Resource1.Select_Recipient: </p>

                                                                                    <div class="col-sm-12">
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms1" type="checkbox" alt="Student" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms1"> @SmartSchool.Resources.Resource1.Student </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms2" type="checkbox" alt="Parent" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms2"> @SmartSchool.Resources.Resource1.Parent </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms3" type="checkbox" alt="Teacher" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms3"> @SmartSchool.Resources.Resource1.Teacher </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms4" type="checkbox" alt="Admin" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms4"> @SmartSchool.Resources.Resource1.Admin </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms5" type="checkbox" alt="Accountant" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms5"> @SmartSchool.Resources.Resource1.Accountant </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms6" type="checkbox" alt="Librarian" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms6"> @SmartSchool.Resources.Resource1.Librarian </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms7" type="checkbox" alt="Receptionist" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms7">  @SmartSchool.Resources.Resource1.Receptionist </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-info checkbox-circle">
                                                                                            <input id="checkbox_sms8" type="checkbox" alt=" SuperAdmin" name="checkbox_sms_loop">
                                                                                            <label for="checkbox_sms8"> @SmartSchool.Resources.Resource1.Super_Admin </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="profile_12" class="tab-pane fade" role="tabpanel">
                                                                    <label>@SmartSchool.Resources.Resource1.Select_Recipient</label>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="dropdown open">
                                                                                <!-- Single button -->
                                                                                <button class="btn btn-info dropdown-toggle" id="select_sms_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:240px">
                                                                                    <span id="selected_sms">@SmartSchool.Resources.Resource1.Choose_option</span>
                                                                                    <span class="caret"></span>
                                                                                </button>
                                                                                <ul class="dropdown-menu" id="dropdown_sms">
                                                                                    <li><a href="" id="Student">@SmartSchool.Resources.Resource1.Student</a></li>
                                                                                    <li><a href="" id="Parent">@SmartSchool.Resources.Resource1.Parent</a></li>
                                                                                    <li><a href="" id="Teacher">@SmartSchool.Resources.Resource1.Teacher</a></li>
                                                                                    <li><a href="" id="Admin">@SmartSchool.Resources.Resource1.Admin</a></li>
                                                                                    <li><a href="" id="Accountant">@SmartSchool.Resources.Resource1.Accountant</a></li>
                                                                                    <li><a href="" id="Librarian">@SmartSchool.Resources.Resource1.Librarian</a></li>
                                                                                    <li><a href="" id="Receptionist">@SmartSchool.Resources.Resource1.Receptionist</a></li>
                                                                                    <li><a href="" id="SuperAdmin">@SmartSchool.Resources.Resource1.Super_Admin</a></li>

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <select class="select2 select2-multiple" multiple="multiple" id="sselect2id_sms" data-placeholder="Choose" data-></select>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div id="profile_22" class="tab-pane fade " role="tabpanel">
                                                                    <div class="form-group mb-0">
                                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Select_Class</label>
                                                                        <select class="select2 select2-multiple" multiple="multiple" id="sel_mul_class_sms" data-placeholder="Choose" data->
                                                                            <option value="1">@SmartSchool.Resources.Resource1.Class_I</option>
                                                                            <option value="2">@SmartSchool.Resources.Resource1.Class_II</option>
                                                                            <option value="3">@SmartSchool.Resources.Resource1.Class_III</option>
                                                                            <option value="4">@SmartSchool.Resources.Resource1.Class_IV</option>
                                                                            <option value="5">@SmartSchool.Resources.Resource1.Class_V</option>
                                                                            <option value="6">@SmartSchool.Resources.Resource1.Class_VI</option>
                                                                            <option value="7">@SmartSchool.Resources.Resource1.Class_VII</option>
                                                                            <option value="8">@SmartSchool.Resources.Resource1.Class_VIII</option>
                                                                            <option value="9">@SmartSchool.Resources.Resource1.Class_IX</option>
                                                                            <option value="10">@SmartSchool.Resources.Resource1.Class_X</option>

                                                                        </select>
                                                                    </div>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-7">

                                            @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.message, new { @class = "tinymce", type = "textarea", @id = "messge_text_smss" })
                                                @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <button class="btn btn-primary btn-rounded btn-icon left-icon" type="button" value="Send" id="btn_sms_send"><i class="fa fa-send"></i><span>@SmartSchool.Resources.Resource1.Send</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="tst4 btn btn-danger" id="btn_false" style="display:none"></button>
                <button class="tst3 btn btn-success" id="btn_true" style="display:none"></button>
                <button class="tstfailerror btn btn-danger" id="btn_fail" style="display:none"></button>
                <button class="tst4_smserror btn btn-danger" id="btn_sms_fail" style="display:none"></button>
                <button class="tst3sms_success btn btn-success" id="btn_sms_true" style="display:none"></button>
            }
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTabs_11 a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>

@*---------------------------------------EMAIL Integration starts here----------------------------------*@

<script type="text/javascript">
    var get_id = [];
    $(document).ready(function () {
        $('#dropdown_email a').click(function (e) {
            e.preventDefault();
            $(".select2 select2-multiple").select2({
                placeholder: "Choose"
            });
            get_id = [];
            $('#selected').text($(this).text());
            get_id.push($(this).attr('id'));
            var attr_id = $(this).attr('id');
            var useremail;
            var f_name;
            $('#sselect2id').html('');
            var options = '';
            $.ajax({
                url: "/Communicate/send_email_sms",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_id': get_id }),
                success: function (response) {
                    for (var i = 0; i < response.stulist.length; i++) {
                        switch (attr_id) {
                            case 'Student':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].FirstName;
                                break;
                            case 'Parent':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].GuardianName;
                                break;
                            case 'Admin':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                            case 'Teacher':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                            case 'Accountant':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                            case 'Librarian':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                            case 'Receptionist':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                            case 'SuperAdmin':
                                useremail = response.stulist[i].id;
                                f_name = response.stulist[i].name;
                                break;
                        }
                        $('#sselect2id').html('');
                        options += '<option value="' + useremail + '">' + f_name + '</option>';
                        $('#sselect2id').append(options);
                    }
                },
                error: function (e) {
                    $.toast({
                        heading: 'Error',
                        text: 'Something Went Wrong.. Please Try Again.',
                        position: 'top-left',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#radio_5').on('change', function () {
            if (this.checked) {
                $('#divmessageto').css('display', 'block');
                $('#divsms').css('display', 'none');
            }
            else {

            }
        });

        $('#radio_6').on('change', function () {
            if (this.checked) {
                $('#divmessageto').css('display', 'none');
                $('#divsms').css('display', 'block');
            }
            else {

            }
        });
        $(btSend).on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var get_checkedval = [];
            var activetab = $("ul#myTabs_11 li.active")[0].innerText;
            var content = tinymce.get("messge_text").getContent({ format: 'text' });
            var dropdwn = [];
            dropdwn = $('#sselect2id').val();
            var multi_select = [];
            multi_select = $('#sel_mul_class').val();
            var email_subject = $('#title_id').val();
            var notice_date = $('#date').val();
            var publish_date = $('#date1').val();
            if (email_subject == "" || email_subject == null && get_id != null && notice_date == "" || notice_date == null && publish_date == "" || publish_date == null && content == null || content == "") {
                return false;
            }
            if (dropdwn != null && get_id != null) {
                $.ajax({
                    url: "/Communicate/send_email_sms",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn': dropdwn, 'content': content, 'get_id': get_id, 'email_subject': email_subject, 'activetab': activetab }),
                    success: function (response) {
                        if (response.return_val == null) {
                            $.toast({
                                heading: 'Error',
                                text: 'Something Went Wrong.. Please Try Again.',
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 4000,
                                stack: 6
                            });
                        }
                        else {
                            $.toast({
                                heading: 'Success',
                                text: response.return_val,
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });
                            window.location.href = '/Communicate/send_email_sms';
                        }
                    },
                    error: function (e) {
                        $.toast({
                            heading: 'Error',
                            text: 'Something Went Wrong.. Please Try Again.',
                            position: 'top-left',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 4000,
                            stack: 6
                        });
                    }
                });
            }
            else {

                $.each($("input[name='checkbox_loop']"), function () {
                    if (this.checked) {
                        get_checkedval.push($(this).attr("alt"));
                    }
                });
                $.ajax({
                    url: "/Communicate/send_email_sms",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn': dropdwn, 'get_checkedval': get_checkedval, 'content': content, 'multi_select': multi_select, 'email_subject': email_subject, 'activetab': activetab }),
                    success: function (response) {
                        if (response.return_val == false || response == null) {
                            $.toast({
                                heading: 'Error',
                                text: 'Something Went Wrong.. Please Try Again.',
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 4000,
                                stack: 6
                            });
                        }
                        else {
                            $.toast({
                                heading: 'Success',
                                text: response.return_val,
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });
                            window.location.href = '/Communicate/send_email_sms';
                        }
                    },
                    error: function (e) {
                        $.toast({
                            heading: 'Error',
                            text: 'Something Went Wrong.. Please Try Again.',
                            position: 'top-left',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 4000,
                            stack: 6
                        });
                    }
                });
            }
        });
    });
</script>

@*---------------------------------------SMS Integration starts here----------------------------------*@

<script type="text/javascript">
    var get_id_sms = [];
    $(document).ready(function () {
        $('#dropdown_sms a').click(function (e) {
            e.preventDefault();
            get_id_sms = [];
            $('#selected_sms').text($(this).text());
            get_id_sms.push($(this).attr('id'));
            var attr_id_sms = $(this).attr('id');
            var useremail;
            var f_name;
            $('#sselect2id_sms').html('');
            var options = '';
            options += '<option value="0">Select</option>';
            $.ajax({
                url: "/Communicate/sms_method",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_id_sms': get_id_sms }),
                success: function (response) {
                    for (var i = 0; i < response.anylist.length; i++) {
                        switch (attr_id_sms) {
                            case 'Student':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].FirstName;
                                break;
                            case 'Parent':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].GuardianName;
                                break;
                            case 'Admin':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                            case 'Teacher':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                            case 'Accountant':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                            case 'Librarian':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                            case 'Receptionist':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                            case 'SuperAdmin':
                                useremail = response.anylist[i].id;
                                f_name = response.anylist[i].name;
                                break;
                        }
                        $('#sselect2id_sms').html('');
                        options += '<option value="' + useremail + '">' + f_name + '</option>';
                        $('#sselect2id_sms').append(options);
                    }
                },
                error: function (e) {
                    $.toast({
                        heading: 'Error',
                        text: 'Something Went Wrong.. Please Try Again.',
                        position: 'top-left',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            });
        });
    });
</script>

@*/////////////////added/////////////////////////*@

<script type="text/javascript">
    $(document).ready(function () {
        $(btn_sms_send).on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var get_checkedval_sms = [];
            var activetab = $("ul#myTabs_12 li.active")[0].innerText;
            //var content_sms = $('#messge_text_smss').val();

             var content_sms = tinymce.get("messge_text_smss").getContent({ format: 'text' });
            var dropdwn_sms = [];
            dropdwn_sms = $('#sselect2id_sms').val();
            var multi_select_sms = [];
            multi_select_sms = $('#sel_mul_class_sms').val();
            var sms_title = $('#drop11 option:selected').text();
            var notice_date_sms = $('#date_sms').val();
            var publish_date_sms = $('#date1_sms').val();

            if (dropdwn_sms != null && get_id_sms != null) {
                $.ajax({
                    url: "/Communicate/sms_method",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn_sms': dropdwn_sms, 'get_id_sms': get_id_sms, 'sms_subject': sms_title, 'content_sms': content_sms, 'activetab': activetab }),
                    success: function (response) {
                        if (response.return_val == false) {
                            $.toast({
                                heading: 'Error',
                                text: 'Something Went Wrong.. Please Try Again.',
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 4000,
                                stack: 6
                            });
                        }
                        else if (response.return_val) {
                            $.toast({
                                heading: 'Success',
                                text: 'SMS Sent Successfully',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });
                            window.location.href = '/Communicate/send_email_sms';
                        }
                    },
                    error: function (e) {
                        $.toast({
                            heading: 'Error',
                            text: 'Something Went Wrong.. Please Try Again.',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 4000,
                            stack: 6
                        });
                    }
                });
            }
            else {
                $.each($("input[name='checkbox_sms_loop']"), function () {
                    if (this.checked) {
                        get_checkedval_sms.push($(this).attr("alt"));
                    }
                });
                $.ajax({
                    url: "/Communicate/sms_method",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'get_checkedval_sms': get_checkedval_sms, 'multi_select_sms': multi_select_sms, 'sms_subject': sms_title, 'content_sms': content_sms, 'activetab': activetab }),
                    success: function (response) {
                        if (response.return_val == false || response == null) {
                            $.toast({
                                heading: 'Error',
                                text: 'Something Went Wrong.. Please Try Again.',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 4000,
                                stack: 6
                            });
                        }
                        else if (response.return_val) {
                            $.toast({
                                heading: 'Success',
                                text:'Message Sent Succssfully',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });
                            window.location.href = '/Communicate/send_email_sms';
                        }
                    },
                    error: function (e) {
                        $.toast({
                            heading: 'Error',
                            text: 'Something Went Wrong.. Please Try Again.',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 4000,
                            stack: 6
                        });
                    }
                });
            }
        });
    });

    //function for checkbox unchecked when sms sent[group sms]
    function checkboxuncheck() {
        $.each($("input[name='checkbox_sms_loop']"), function () {
            $(this).attr('checked', false);
        });
    }

    //function for dropdown unselect[Individual sms]
    function dropdownunselect() {
        var options = '';
        $('#selected_sms').text('Choose Option');
        $('#sselect2id_sms').html('');
        options += '<option value="0">Select</option>';
        $('#sselect2id_sms').append(options);
    }

    //function for multiple select[Class wise sms]
    function uncheckmultiselect() {
        // $('#sel_mul_class_sms').trigger();
        //$('#sel_mul_class_sms').select2('data', null, false);
        $('#sel_mul_class_sms').val(null).trigger('change');
    }
</script>

@*---------------------------------------Get the data from Textlocal Account through API----------------------------------*@


@*<script type="text/javascript">
        //Receiving the data from module_show_hide.asmx page and get_modules web method to hide or show left side bars
        //var getdataArr = [];
        $(document).ready(function () {
            var options = '';
            options += '<option value="0">Select</option>';
            var ddltitle = $('#sms_titlee').val();
            if (ddltitle == null || ddltitle == "" || ddltitle == 0) {
                var urlempty = '/SchoolMasterClasses/module_show_hide.asmx/get_templates';
                $.ajax({
                    url: urlempty,
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(JSON.parse(data), function (key, value) {
                            if (ddltitle == null || ddltitle == "") {
                                for (var i = 0; i < value.length; i++) {
                                    $('#sms_titlee').html('');
                                    options += '<option value="' + value[i].id + '">' + value[i].title + '</option>';
                                    $('#sms_titlee').append(options);
                                }
                            }
                            else {

                            }

                        });
                    },
                    error: function (e) {
                        //  alert('error');
                    }
                });
            }

            $('#sms_titlee').on('change', function () {
                var ddltitle = $('#sms_titlee').val();
                $.ajax({
                    url: '/SchoolMasterClasses/module_show_hide.asmx/get_templates',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $.each(JSON.parse(data), function (key, value) {
                            for (var i = 0; i < value.length; i++) {
                                if (value[i].id == ddltitle) {
                                    var message_body = value[i].body;
                                    var parshtml = message_body.replace(/%^()%*/g, '--');
                                    tinymce.activeEditor.setContent(parshtml);
                                }

                            }
                        });
                    },
                    error: function (e) {
                        //  alert('error');
                    }
                });
            });
        });
    </script>*@

<script type="text/javascript">
    $("#drop11").change(function () {
        $.ajax({
            url: '/Communicate/GetCharge',
            type: 'POST',
            data: { id: $('#drop11').val() },
            dataType: "json",
            success: function (result) {
                console.log(result);
                var ss = $($.parseHTML(result)).text();
                tinymce.activeEditor.setContent(ss);
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        $("#btSend").click(function () {
            if (document.getElementById("title_id").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Title',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("ndate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select NoticeDate Date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("pdate").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select PublishDate Date',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        $("#btn_sms_send").click(function () {
            if (document.getElementById("drop11").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Title',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("date_sms").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select NoticeDate Date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("date1_sms").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select PublishDate Date',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4000,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>
