﻿@model SmartSchool.Models.front_cms_program_photos
@*@model IEnumerable<SmartHealth_HDSCL.Models.Addbanner>*@
@using SmartSchool.Models;

@{
    ViewBag.Title = "AddBanner";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-10">
        <h5 class="txt-dark">@SmartSchool.Resources.Resource1.Banner Images</h5>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 col-md-push-7 mt-10">
        <div class="pills-struct">
            <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                <li><a data-toggle="modal" id="addbanner" data-target="#responsive-modal" class="nav-pills nav-pill-rounded fa fa-plus-square">@SmartSchool.Resources.Resource1.Add Images</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {


            <div class="panel panel-default card-view mt-50">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                    @if (ViewBag.ids != null)
                                    {
                                        foreach (int img in ViewBag.ids)
                                        {
                                            SmartSchoolHDEntities dbContext = new SmartSchoolHDEntities();
                                            var banner = (from fronban in dbContext.front_cms_media_gallery where fronban.id == img select fronban.dir_path).FirstOrDefault();
                                            if (banner != null)
                                            {
                                                <img src="~/Template/img/@banner" alt="banner" />
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Media Manager</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label(" ", htmlAttributes: new { @class = "control-label pl-15" })
                                                    <div class="col-md-12">
                                                        @Html.ValidationMessageFor(model => model.media_gallery_id, "", new { @class = "text-danger" })
                                                        @{
                                                            <div>
                                                                <input type="text" name="example-input1-group2" class="form-control" placeholder="Search By File Name">
                                                                @*<span><i class="fa fa-search" aria-hidden="true"></i></span>*@

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Search By File Type", htmlAttributes: new { @class = "control-label pl-15" })
                                                    <div class="col-md-12">
                                                        @*@Html.EditorFor(model => model.media_gallery_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.media_gallery_id, "", new { @class = "text-danger" })*@
                                                        @Html.ValidationMessageFor(model => model.media_gallery_id, "", new { @class = "text-danger" })
                                                        @{
                                                            List<SelectListItem> type = new List<SelectListItem>();

                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Select",
                                                                Value = "Select",
                                                                Selected = true
                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Image",
                                                                Value = "Image"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Video",
                                                                Value = "Video"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Text",
                                                                Value = "Text"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Word",
                                                                Value = "Word"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Zip",
                                                                Value = "Zip"

                                                            });

                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Rar",
                                                                Value = "Rar"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Pdf",
                                                                Value = "Pdf"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Excel",
                                                                Value = "Excel"

                                                            });
                                                            type.Add(new SelectListItem
                                                            {
                                                                Text = "Others",
                                                                Value = "Others"

                                                            });

                                                        }
                                                        @Html.DropDownListFor(model => model.media_gallery_id, type, htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (rol.can_add == 1)
                                        {
                                            <div class="row">
                                                <div class="form-actions mt-10 col-md-6">
                                                    <button type="submit" class="btn btn-success  mr-10"> @SmartSchool.Resources.Resource1.Save</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">@SmartSchool.Resources.Resource1.Cancel</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#responsive-modal").hide();
            $("#addbanner").click(function () {
                $("#responsive-modal").show();
            });
        });
</script>





