﻿@model SmartSchool.Models.front_cms_menus

@{
    ViewBag.Title = "AddMenu";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-10">
        <h5 class="txt-dark">@SmartSchool.Resources.Resource1.Menu List</h5>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 col-md-push-7 mt-10">
        <div class="pills-struct">
            <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                <li><a data-toggle="modal" id="addmenu" data-target="#responsive-modal" class="nav-pills nav-pill-rounded fa fa-plus-square"> Add Menu</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="panel panel-default card-view mt-50">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                </div>
                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Title
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.list)
                                        {
                                            <tr>
                                                <td>
                                                    @item.menu
                                                </td>
                                                <td>
                                                    @if (rol.can_edit == 1)
                                                    {
                                                        @Html.ActionLink("  ", "Edit", new { id = item.id }, new { @class = "fa fa-plus-square" })
                                                    }
                                                    @*@Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = " fa fa-file-text" })*@
                                                    @if (rol.can_delete == 1)
                                                    {
                                                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = " fa fa-trash-o" })
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Add Menu</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.Label("@SmartSchool.Resources.Resource1.Menu", htmlAttributes: new { @class = "control-label pl-15" })
                                                <span class="text-danger">*</span>
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.menu, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.menu, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.Label("@SmartSchool.Resources.Resource1.Description", htmlAttributes: new { @class = "control-label pl-15" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        @if (rol.can_add == 1)
                                        {
                                            <div class="row">
                                                <div class="form-actions mt-10 col-md-6">
                                                    <button type="submit" class="btn btn-success  mr-10"> @SmartSchool.Resources.Resource1.Save</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">@SmartSchool.Resources.Resource1.Cancel</button>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#responsive-modal").hide();
        $("#addmenu").click(function () {
            $("#responsive-modal").show();
        });
    });
</script>
