﻿@model SmartSchool.Models.front_cms_media_gallery

@{
    ViewBag.Title = "MediaManager";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-10">
        <h5 class="txt-dark">@SmartSchool.Resources.Resource1.Media Manager</h5>
    </div>
</div>
<hr />
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="panel panel-default card-view mt-50">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div>
                                <div id="example_wrapper" class="dataTables_wrapper">
                                    <div class="form-body">
                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Upload Your File", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <div class="col-md-10">
                                                            <input type="file" class="dropify" id="input-file-now" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Upload You Tube Video", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <span class="text-danger">*</span>
                                                        <div class="col-md-10">
                                                            @*@Html.EditorFor(model => model.vid_url, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.vid_url, "", new { @class = "text-danger" })*@
                                                            <input type="file" class="dropify" id="input-file-now" />
                                                        </div>
                                                    </div>

                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="col-md-4">
                                                        <div class="form-actions mt-10 col-md-6">
                                                            <button type="submit" class="btn btn-success  mr-10"> Submit</button>
                                                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Search By File Name", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.img_name, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.img_name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Filter By File Type", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <div class="col-md-10">
                                                            @* @Html.EditorFor(model => model.file_type, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.file_type, "", new { @class = "text-danger" })
                                                            @{
                                                                List<SelectListItem> type = new List<SelectListItem>();

                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Select",
                                                                    Value = "Select",
                                                                    Selected = true
                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Image",
                                                                    Value = "Image"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Video",
                                                                    Value = "Video"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Text",
                                                                    Value = "Text"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Word",
                                                                    Value = "Word"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Zip",
                                                                    Value = "Zip"

                                                                });

                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Rar",
                                                                    Value = "Rar"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Pdf",
                                                                    Value = "Pdf"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Excel",
                                                                    Value = "Excel"

                                                                });
                                                                type.Add(new SelectListItem
                                                                {
                                                                    Text = "Others",
                                                                    Value = "Others"

                                                                });

                                                            }
                                                            @Html.DropDownListFor(model => model.file_type, type, htmlAttributes: new { @class = "form-control" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
@*<div class="panel panel-default card-view mt-50">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="table-wrap">
                <div class="table-responsive">
                    <div id="example_wrapper" class="dataTables_wrapper">
                    </div>
                    <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-header">
                                <h5>Media Manager</h5>
                                <hr />
                            </div>
                            <div class="form-body">
                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("Upload Your File", htmlAttributes: new { @class = "control-label pl-15" })
                                                <div class="col-md-10">
                                                    <input type="file" class="dropify" id="input-file-now" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("Upload You Tube Video", htmlAttributes: new { @class = "control-label pl-15" })
                                                <span class="text-danger">*</span>
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.vid_url, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.vid_url, "", new { @class = "text-danger" })*@
@*<input type="file" class="dropify" id="input-file-now" />
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-actions mt-10 col-md-6">
            <button type="submit" class="btn btn-success  mr-10"> Submit</button>*@
@*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
@* </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.Label("Search By File Name", htmlAttributes: new { @class = "control-label pl-15" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.img_name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.img_name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.Label("Filter By File Type", htmlAttributes: new { @class = "control-label pl-15" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.file_type, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.file_type, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



