﻿@model IEnumerable<SmartSchool.Models.front_cms_pages>

@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-15">
                    <h5 class="txt-dark">@SmartSchool.Resources.Resource1.Page List</h5>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 col-md-push-4">
                    <div class="pills-struct">
                        <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                            <li class="dropdown">
                                <a class="fa fa-plus-square" data-toggle="dropdown"> @SmartSchool.Resources.Resource1.Add Page <span class="caret "></span></a>
                                <ul id="myTabDrop_11_contents" class="dropdown-menu">
                                    <li class="">@Html.ActionLink(" Add Event", "AddPostRecieve", "FrontCMS")</li>
                                    <li class="">@Html.ActionLink(" Add Gallery", "AddPostDispatched", "FrontCMS")</li>
                                    <li class="">@Html.ActionLink(" Add News", "AddPostDispatched", "FrontCMS")</li>
                                </ul>
                            </li>

                            @* <li><a data-toggle="modal" id="addappoinment" data-target="#responsive-modal" class="nav-pills nav-pill-rounded fa fa-plus-square"> Add Appointment</a></li>*@
                            <li> @Html.ActionLink(" Media Manager", "MediaManager", "FrontCMS", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>
                            <li> @Html.ActionLink(" Menus", "AddMenu", "FrontCMS", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>
                            <li> @Html.ActionLink(" Banners", "AddBanner", "FrontCMS", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr />
            <div class="panel panel-default card-view mt-50">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                </div>
                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                    <thead>

                                        <tr>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Title
                                            <th>
                                                @SmartSchool.Resources.Resource1.URL
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Page Type
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>


                                                <td>
                                                    @item.title
                                                </td>
                                                <td>
                                                    @item.url
                                                </td>
                                                <td>
                                                    @item.page_type
                                                </td>
                                                <td>
                                                    @if (rol.can_edit == 1)
                                                    {
                                                        @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-plus-square" })
                                                    }
                                                    @* @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = " fa fa-file-text" })*@
                                                    @if (rol.can_delete == 1)
                                                    {
                                                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = " fa fa-trash-o" })
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
