﻿@*@model IEnumerable<SmartHealth_HDSCL.Models.AspNetRole>*@


@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 105, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h2>@SmartSchool.Resources.Resource1.Create New Role</h2>

                            </div>
                        </div>
                        <div class="panel-wrapper collapse in mt-25">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">

                                            <div class="form-group">

                                                <div class="input-group">
                                                    @using (Html.BeginForm("Create", "Roles", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)


                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10" for="exampleInputuname_1">@SmartSchool.Resources.Resource1.Role Name</label>
                                                                @Html.TextBox("RoleName")
                                                            </div>
                                                        </div>


                                                        <div class="col-md-12 col-md-push-2">
                                                            <div class="form-group">
                                                                <input type="submit" class="btn btn-success mr-10 mt-10" value="Create" />
                                                                <button type="submit" class="btn btn-default mt-10">@SmartSchool.Resources.Resource1.Cancel</button>

                                                            </div>
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h2>@SmartSchool.Resources.Resource1.Created Roles</h2>

                            </div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">


                                            <div class="panel-body">

                                                <center>
                                                    <table class="table table-striped m-b-0">
                                                        <tr>
                                                            <th>
                                                                @SmartSchool.Resources.Resource1.Role
                                                            </th>
                                                            <th>@SmartSchool.Resources.Resource1.Action</th>


                                                        </tr>
                                                        @foreach (var role in ViewBag.list)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @role.Name
                                                                </td>
                                                                <td>
                                                                    <span class="label label-table label-success"> @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })</span>|
                                                                    <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink label label-table label-danger" style="color:white;">@SmartSchool.Resources.Resource1.Delete</a></span>|
                                                                    <span class="label label-table label-success"> @Html.ActionLink("AssignRole", "AssignRole", new { roleid = @role.Id })</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </center>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>



            if (ViewBag.Role != null)
            {

                <div id="responsive-modal3" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit Role</h5>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Edit", "Roles", FormMethod.Post, new { RoleId = "RoleId", RoleName = "RoleName", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-body">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Role ID", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <div class="col-md-12">
                                                            <input type="text" id="RoleId" name="RoleId" value="@(ViewBag.Role.Id ?? String.Empty)" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Role Name", htmlAttributes: new { @class = "control-label pl-15" })
                                                        <div class="col-md-12">
                                                            <input type="text" id="RoleName" name="RoleName" value="@(ViewBag.Role.Name ?? String.Empty)" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="row">

                                                    <div class="row">
                                                        <div class="form-actions mt-10 col-md-6">
                                                            <button type="submit" class="btn btn-success  mr-10" id="btnsubtimeline"> Save</button>
                                                            <button type="button" class="btn btn-default clr" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>




<script type="text/javascript">
    $(document).ready(function () {
        //$("#responsive-modal2").hide();
        $("#EditRole").click(function () {
            $("#responsive-modal3").show();
        });

        $('.close').click(function () {

            $("#responsive-modal3").hide();
            window.location.href = '../../Roles/Index';

        });
    });

</script>

@if (ViewBag.pop3 != null)
{
    string pop = ViewBag.pop3;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal3").show();
            }
            $('.close').click(function () {

                $("#responsive-modal3").hide();
                window.location.href = '../../Roles/Index';

            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal3").hide();
            }
        </script>
    }
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });


        });
    </script>
}