﻿@model SmartSchool.Models.language
@{
    ViewBag.Title = "AddLangauage";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="col-md-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <div class="pull-left">
                <h4><i class="icon-settings"></i>@SmartSchool.Resources.Resource1.Langauge_Settings</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 107, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm("AddLangauage", "Settings", FormMethod.Post, new { id = "id" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-9">
                                    <div class="panel panel-default card-view">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-language-css3 mr-10"></i>@SmartSchool.Resources.Resource1.Languages</h6>
                                                <hr class="light-grey-hr" />

                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">

                                                        <div class="form-wrap mt-40">
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Language </label>
                                                                            @Html.EditorFor(model => model.language1, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Code </label>
                                                                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status</label>
                                                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                                        </div>
                                                                    </div>

                                                                    @*@if (rol.can_add == 1)
                                                                        {*@
                                                                    <div class="col-md-4">
                                                                        <label class="control-label mb-10"></label>
                                                                        <div class="form-group">
                                                                            <input type="submit" value="Create" class="btn btn-info" />
                                                                        </div>
                                                                    </div>
                                                                    @*}*@
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("Language", "Settings", FormMethod.Post, new { id = "id" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <h6 class="panel-title txt-dark"> @SmartSchool.Resources.Resource1.Language__List</h6>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            @{int sno = 0;}
                                            <table id="example" class="table table-hover display  pb-30 dataTable" title="@SmartSchool.Resources.Resource1.Languages" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>SL No</th>
                                                        <th>
                                                            Language
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Code
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.listlangus)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{sno++;}
                                                                @sno
                                                            </td>
                                                            <td>
                                                                @item.language1
                                                            </td>

                                                            @if (item.is_active != true)
                                                            {
                                                                <td class="mailbox-name">
                                                                    <span class="label bg-red">Inactive</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="mailbox-name">
                                                                    <span class="label bg-green">Active</span>
                                                                </td>
                                                            }

                                                            <td>
                                                                @item.code
                                                            </td>

                                                            @if (item.is_active != true)
                                                            {

                                                                <td>
                                                                    <input type="hidden" id="id" name="id" value="@item.id" />
                                                                    <input type="submit" class="btn btn-primary btn-rounded btn-xs text-right" value="Enable" />
                                                                    @Html.ActionLink(" ", "DeleteLanguage", new { id = item.id }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="mailbox-name">
                                                                    <span class="label bg-red">Disabled</span>
                                                                </td>
                                                            }

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>




}}
}