﻿@model IEnumerable<SmartSchool.SchoolMasterClasses.AssignRole>

@{
    ViewBag.Title = "AssignRole";
    Layout =  "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>@SmartSchool.Resources.Resource1.AssignRole</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tabledata">
    <tr>
        <th>
            @SmartSchool.Resources.Resource1.Model Name
        </th>
        <th>
            @SmartSchool.Resources.Resource1.Features
        </th>
        <th>
            @SmartSchool.Resources.Resource1.View
        </th>
        <th>
            @SmartSchool.Resources.Resource1.Add
        </th>
        <th>
            @SmartSchool.Resources.Resource1.Edit
        </th>
        <th>
            @SmartSchool.Resources.Resource1.Delete
        </th>


    </tr>
    @{
        string groupname = null;
        foreach (var item in ViewBag.getall)
        {
            <tr>
                @if (groupname != item.name)
                {
                    <td>
                        @item.name
                    </td>
                    groupname = item.name;
                }
                else
                {
                    <td></td>
                }

                <td>
                    <input type="hidden" value="@item.Mname" name="catname" />@item.Mname

                    <input type="hidden" value="@item.cat_id" name="id" />
                </td>
                <td>
                    <input type="checkbox" value="0" @(item.can_view == 1 ? "checked" : "") class="checkbox checkbox-info" />
                </td>
                <td>
                    <input type="checkbox" value="1" @(item.can_add == 1 ? "checked" : "") class="checkbox checkbox-info" />
                </td>
                <td>
                    <input type="checkbox" value="1" @(item.can_edit == 1 ? "checked" : "") class="checkbox checkbox-info" />
                </td>
                <td>
                    <input type="checkbox" value="1" @(item.can_delete == 1 ? "checked" : "") class="checkbox checkbox-info" />
                </td>
            </tr>
        }
    }

</table>

<input type="button" id="btnsave" name="Save" title="Save" value="Save" />


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var get_features = [];
    var get_functis = [];
    var allval = new Array();
    var mergeVal = {};
    var j = 4;
    $(document).ready(function (e) {
        $('#btnsave').on('click', function () {
            var path = window.location.href.split('=').pop();
            var getpath = path.toString();
            alert(getpath);
            $("#tabledata tbody tr").each(function (i) {
                if (i == 0) {
                }
                else {
                    mergeVal = new Object();
                    get_features = new Array();
                    get_functis = new Array();
                    mergeVal.modelname = $(this).find("td:eq(0)").html();
                    mergeVal.get_fea = ($(this).find("td:eq(1) input[name='catname']").val());
                    mergeVal.catid = ($(this).find("td:eq(1) input[name='id']").val());
                    for (var k = 2; k < 6; k++) {
                        if ($(this).find("td:eq(" + k + ") input[type='checkbox']").is(':checked')) {
                            get_functis.push(1);
                        }
                        else {
                            get_functis.push(0);
                        }
                    }
                    mergeVal.get_fun = get_functis;
                    allval.push(mergeVal);
                }
            });
            $.ajax({
                url: "/Roles/roles_save",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify({ 'allval': allval, 'getpath': getpath }),
                success: function (response) {
                    $.toast({
                        text: response,
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'success',
                        hideAfter: 4000,
                        stack: 6
                    });
                },
                error: function (e) {
                    $.toast({
                        text: 'Something Wrong.. Please try Again?',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            });
        });
    });
</script>



