﻿@model SmartSchool.Models.student
@{
    ViewBag.Title = "Backup";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="icon-settings"></i> @SmartSchool.Resources.Resource1.System Settings</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Create Backup!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 106, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Backup History</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    @*<div class="form-group">

                                                        @*<label class="control-label col-md-6">Name *</label>*@
                                                    @*<div class="col-md-10">
                                                        @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })*@

                                                    @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>*@
                                                </div>

                                            </div>

                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Upload From Local Directory</h4>
                                    <br />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Favicon (32px X 32px)</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.class_id, "", new { htmlAttributes = new { @class = "form-control", Type = "file" } })


                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <input type="button" class="btn btn-info glyphicon-upload" value="Upload" onclick="location.href='@Url.Action("Action", "Admin")'" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Cron Secret Key</h4>
                                </div>


                                <div class="pull-right">
                                    <input type="button" class="btn btn-info" value="Regenerate!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        }
    }
}