﻿@model SmartSchool.Models.sch_settings
@{
    ViewBag.Title = "EditGSconfig";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("EditGSconfig", "Settings", FormMethod.Post, new { app_logo = "app_logo", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit General Settings</h6>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Institution  Name<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email<small class="req" style="color:red">*</small></label>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", required = "required", type="Number" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Language<small class="req" style="color:red">*</small></label>
                @Html.DropDownListFor(model => model.lang_id, new SelectList(ViewBag.language, "Value", "Text"), new { @class = "form-control", required = "required" })

            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date Format<small class="req" style="color:red">*</small></label>
                @Html.DropDownListFor(model => model.date_format, new List<SelectListItem>{
                           new SelectListItem { Text = "Select", Value = "0"},
             new SelectListItem { Text = "dd-mm-yyyy", Value = "dd-mm-yyyy"},
             new SelectListItem { Text = "dd/mm/yyyy", Value = "dd/mm/yyyy"},
             new SelectListItem { Text = "mm-dd-yyyy", Value = "mm-dd-yyyy"},
             new SelectListItem { Text = "mm/dd/yyyy", Value = "mm/dd/yyyy"}}, new { @class = "form-control", required = "required" })

                @Html.ValidationMessageFor(model => model.date_format, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Currency<small class="req" style="color:red">*</small></label>
                @Html.DropDownListFor(model => model.currency, new List<SelectListItem>{
                           new SelectListItem { Text = "Select", Value = "0"},
             new SelectListItem { Text = "INR", Value = "INR"},
             new SelectListItem { Text = "AED", Value = "AED"},
             new SelectListItem { Text = "AFN", Value = "AFN"},
             new SelectListItem { Text = "AMD", Value = "AMD"}} , new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Currency Symbol<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.currency_symbol, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.currency_symbol, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top:10px"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">Is_RT</label>
                    @Html.EditorFor(model => model.is_rtl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.is_rtl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Timezone<small class="req" style="color:red">*</small></label>
                    @Html.DropDownListFor(model => model.timezone, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName"), new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.timezone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Session<small class="req" style="color:red">*</small></label>
                    @Html.DropDownListFor(model => model.session_id, new SelectList(ViewBag.session, "Value", "Text"), new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.session_id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Start Month<small class="req" style="color:red">*</small></label>
                    @Html.DropDownListFor(model => model.start_month, new List<SelectListItem>{
                               new SelectListItem { Text = "Select", Value = "0"},
                 new SelectListItem { Text = "January", Value = "January"},
                 new SelectListItem { Text = "February", Value = "February"},
                 new SelectListItem { Text = "March", Value = "March"},
                 new SelectListItem { Text = "April", Value = "April"},
               new SelectListItem { Text = "May", Value = "May"},
               new SelectListItem { Text = "June", Value = "June"},
               new SelectListItem { Text = "July", Value = "July"},
               new SelectListItem { Text = "August", Value = "August"},
               new SelectListItem { Text = "September", Value = "September"},
               new SelectListItem { Text = "October", Value = "October"},
               new SelectListItem { Text = "November", Value = "November"},
               new SelectListItem { Text = "December", Value = "December"}}, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.start_month, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Image</label>
                    @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">Theme</label>
                @Html.EditorFor(model => model.theme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.theme, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">Fee Due Days<small class="req" style="color:red">*</small></label>
                @Html.EditorFor(model => model.fee_due_days, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.fee_due_days, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10">Class Teacher</label>
                    @Html.EditorFor(model => model.class_teacher, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.class_teacher, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">Mobile API URL</label>
                @Html.EditorFor(model => model.mobile_api_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mobile_api_url, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Logo</label>
                @Html.EditorFor(model => model.app_logo, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                @Html.ValidationMessageFor(model => model.app_logo, "", new { @class = "text-danger" })
            </div>

            @*<div class="col-md-3">
                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Currency Symbol<small class="req" style="color:red">*</small></label>
                    @Html.EditorFor(model => model.currency_symbol, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.currency_symbol, "", new { @class = "text-danger" })
                </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label mb-10"></label>
                    <input type="submit" value="Save" class="btn btn-info form-control" id="save" />

                </div>
            </div>
        </div>
        @*@if (rol.can_add == 1)
            {*@

        @*}*@
    </div>

}

