﻿@model SmartSchool.Models.session

@{
    /**/

    ViewBag.Title = "Editsession";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Edit_Session</h4>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-rounded btn-icon left-icon" style="color:#f742aa; " onclick="location.href='@Url.Action("Sessions", "Settings")'"><i class="fa fa-list"></i><span>Back to List</span></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Editsession","Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Session</h6>
                </div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap mt-40">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Session  </label>
                                        @Html.EditorFor(model => model.session1, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Enable/Disable</label>
                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Save" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



