﻿@model SmartSchool.Models.email_config
@{
    ViewBag.Title = "EditEmailconfig";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 102, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Email_Setting</h6>
                            </div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="form-wrap mt-40">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email </label>
                                                    <select autofocus="" id="email_type" name="email_type" class="form-control">

                                                        <option value="smtp"
                                                                selected=selected>
                                                            @SmartSchool.Resources.Resource1.SMTP
                                                        </option>
                                                        <option value="sendmail">
                                                            @SmartSchool.Resources.Resource1.SendMail
                                                        </option>
                                                    </select>
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="is_disabled ss-none">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Username<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.smtp_username, new { htmlAttributes = new { @class = "form-control", id = "smtp_username", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Password<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.smtp_password, new { htmlAttributes = new { @class = "form-control", id = "smtp_password", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Smtp_Server<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.smtp_server, new { htmlAttributes = new { @class = "form-control", id = "smtp_server", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Smtp_Port<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.smtp_port, new { htmlAttributes = new { @class = "form-control", id = "smtp_port", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.SSL_TLS<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.ssl_tls, new { htmlAttributes = new { @class = "form-control", id = "ssl_tls", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status<small class="req" style="color:red">*</small></label>
                                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", id = "ssl_tls", required = "required" } })
                                                    </div>
                                                </div>
                                            </div>
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10"></label>
                                                        <input type="submit" value="Save" class="btn btn-info" id="save" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}


