﻿@model SmartSchool.Models.email_config

@{
    ViewBag.Title = "Emailconfig";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 102, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Email_Setting</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email </label>
                                                        @*<select class="form-control" id="email_type" name="email_type">
                                                                <option>Select </option>
                                                                <option>Send Mail  </option>
                                                                <option>Smtp </option>
                                                            </select>*@
                                                        <select autofocus="" id="email_type" name="email_type" class="form-control">

                                                            <option value="smtp"
                                                                    selected=selected>
                                                                @SmartSchool.Resources.Resource1.SMTP
                                                            </option>
                                                            <option value="sendmail">
                                                                @SmartSchool.Resources.Resource1.SendMail
                                                            </option>
                                                        </select>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="is_disabled ss-none">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Username<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.smtp_username, new { htmlAttributes = new { @class = "form-control", id = "smtp_username", required = "required" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Password<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.smtp_password, new { htmlAttributes = new { @class = "form-control", id = "smtp_password", required = "required" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.SMTP_Server<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.smtp_server, new { htmlAttributes = new { @class = "form-control", id = "smtp_server", required = "required" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.SMTP_Port<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.smtp_port, new { htmlAttributes = new { @class = "form-control", id = "smtp_port", required = "required" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.SSL_TLS<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.ssl_tls, new { htmlAttributes = new { @class = "form-control", id = "ssl_tls", required = "required" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status<small class="req" style="color:red">*</small></label>
                                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", id = "ssl_tls", required = "required" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div>
                                                                <input type="submit" value="Save" class="btn btn-info" id="save" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Email_Setting</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <center>
                                        <table class="table table-striped m-b-0 table-responsive">
                                            <tr>
                                                <th>@SmartSchool.Resources.Resource1.Email_Type</th>
                                                <th>@SmartSchool.Resources.Resource1.Username</th>
                                                <th>@SmartSchool.Resources.Resource1.Password</th>
                                                <th>@SmartSchool.Resources.Resource1.SMTP_Server</th>
                                                <th>@SmartSchool.Resources.Resource1.SMTP_Port</th>
                                                <th>@SmartSchool.Resources.Resource1.SSL_TLS</th>
                                                <th>@SmartSchool.Resources.Resource1.Status</th>
                                                <th>@SmartSchool.Resources.Resource1.Action</th>
                                            </tr>
                                            @if (ViewBag.emailList != null)
                                            {
                                                foreach (var item in ViewBag.emailList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.email_type
                                                        </td>
                                                        <td>
                                                            @item.smtp_username
                                                        </td>
                                                        <td>
                                                            @item.smtp_password
                                                        </td>
                                                        <td>
                                                            @item.smtp_server
                                                        </td>
                                                        <td>
                                                            @item.smtp_port
                                                        </td>
                                                        <td>
                                                            @item.ssl_tls
                                                        </td>
                                                        @if (item.is_active == Convert.ToBoolean(1))
                                                        {
                                                            <td><span class="label label-success">Active</span> </td>
                                                        }
                                                        else
                                                        {
                                                            <td><span class="label label-danger">Deactive</span> </td>
                                                        }
                                                        <td>
                                                            <a href="@Url.Action("EditEmailconfig", "Settings", new { Id = @item.ecid })"><span class="zmdi zmdi-edit txt-warning" title="Edit Email Settings..!"></span></a> |
                                                            <a href="@Url.Action("DeleteEmailConfig", "Settings", new { Id = @item.ecid })"><i class="fa fa-times" title="Delete Email Settings..!"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    }
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    $(document).ready(function () {

        if (@TempData["result"] != "0")
        {
            $.toast({
                //heading: '2 new messages',
                text: 'Record saved succesfully',
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });
        }

        $("#save").click(function () {

            var clc = document.getElementById("email_type").value
            //alert(clc);
            if (clc == "Select") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Select type of engine ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("smtp_username").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'User name is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("smtp_password").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: ' Password field required ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("smtp_server").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: ' Sever name required.',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("smtp_port").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please type sever port number ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("ssl_tls").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please type of sever security ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {


        $(document).on('change', '#email_type', function () {
            var selected = $(this).val();
            is_disabled(selected);
        });
    });
    function is_disabled(selected) {
        if (selected != "smtp") {
            $('.is_disabled').slideUp();
        } else {
            $('.is_disabled').slideDown();
        }
    }
</script>