﻿@model SmartSchool.Models.student
@{
    ViewBag.Title = "Frontcms";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="icon-settings"></i>@SmartSchool.Resources.Resource1.System Settings</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Front CMS Setting</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Front CMS</label>
                                                        <div class="col-md-10">
                                                            <input type="checkbox" checked class="js-switch" data-color="#DCDCDC" />

                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Facebook URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Sidebar</label>
                                                        <div class="col-md-10">
                                                            <input type="checkbox" checked class="js-switch" data-color="#DCDCDC" />

                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Twitter URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>




                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Language RTL Text Mode</label>
                                                        <div class="col-md-10">
                                                            <input type="checkbox" checked class="js-switch" data-color="#DCDCDC" />

                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Youtube URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Sidebar Option</label>
                                                        <div class="col-md-10">
                                                            <input type="checkbox" checked class="js-switch" data-color="#DCDCDC" />
                                                            <input type="checkbox" checked class="js-switch" data-color="#DCDCDC" />


                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Google Plus</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Logo (369px X 76px)</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, "", new { htmlAttributes = new { @class = "form-control", Type = "file" } })


                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Linkedin URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Favicon (32px X 32px)</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, "", new { htmlAttributes = new { @class = "form-control", Type = "file" } })


                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Instagram URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Footer Text</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, "", new { htmlAttributes = new { @class = "form-control" } })


                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Pinterest URL</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })
                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Google Analytics</label>
                                                        <div class="col-md-10">
                                                            @Html.TextAreaFor(model => model.class_id, new { htmlAttributes = new { @class = "form-control" } })


                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
