﻿@model SmartSchool.Models.sch_settings
@using SmartSchool.Models;


@{
    ViewBag.Title = "Gen_Settings";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 98, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm("Gen_Settings", "Settings", FormMethod.Post, new { app_logo = "app_logo", image = "image", enctype = "multipart/form-data" }))
                {
                @Html.AntiForgeryToken()
                    SmartSchoolHDEntities dbContext = new SmartSchoolHDEntities();
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.General_Setting</h6>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Institution  Name<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.name, new
                       {
                           htmlAttributes = new { @class = "form-control", required = "required" }
                       })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email<small class="req" style="color:red">*</small></label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", required = "required", type = "Number" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Language<small class="req" style="color:red">*</small></label>
                            @Html.DropDownListFor(model => model.lang_id, new SelectList(ViewBag.language, "Value", "Text"), new { @class = "form-control", required = "required" })

                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date Format<small class="req" style="color:red">*</small></label>
                            @Html.DropDownListFor(model => model.date_format, new List<SelectListItem>{
                                       new SelectListItem { Text = "Select", Value = "0"},
                         new SelectListItem { Text = "dd-mm-yyyy", Value = "dd-mm-yyyy"},
                         new SelectListItem { Text = "dd/mm/yyyy", Value = "dd/mm/yyyy"},
                         new SelectListItem { Text = "mm-dd-yyyy", Value = "mm-dd-yyyy"},
                         new SelectListItem { Text = "mm/dd/yyyy", Value = "mm/dd/yyyy"}}, new { @class = "form-control", required = "required" })

                            @Html.ValidationMessageFor(model => model.date_format, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Currency<small class="req" style="color:red">*</small></label>
                            @Html.DropDownListFor(model => model.currency, new List<SelectListItem>{
                                       new SelectListItem { Text = "Select", Value = "0"},
                         new SelectListItem { Text = "INR", Value = "INR"},
                         new SelectListItem { Text = "AED", Value = "AED"},
                         new SelectListItem { Text = "AFN", Value = "AFN"},
                         new SelectListItem { Text = "AMD", Value = "AMD"}}, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Currency Symbol<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.currency_symbol, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.currency_symbol, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div style="margin-top:10px"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">Is_RTL</label>
                                @Html.EditorFor(model => model.is_rtl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.is_rtl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Timezone<small class="req" style="color:red">*</small></label>
                                @Html.DropDownListFor(model => model.timezone, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName"), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.timezone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Session<small class="req" style="color:red">*</small></label>
                                @Html.DropDownListFor(model => model.session_id, new SelectList(ViewBag.session, "Value", "Text"), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.session_id, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Start Month<small class="req" style="color:red">*</small></label>
                                @Html.DropDownListFor(model => model.start_month, new List<SelectListItem>{
                                           new SelectListItem { Text = "Select", Value = "0"},
                             new SelectListItem { Text = "January", Value = "January"},
                             new SelectListItem { Text = "February", Value = "February"},
                             new SelectListItem { Text = "March", Value = "March"},
                             new SelectListItem { Text = "April", Value = "April"},
                           new SelectListItem { Text = "May", Value = "May"},
                           new SelectListItem { Text = "June", Value = "June"},
                           new SelectListItem { Text = "July", Value = "July"},
                           new SelectListItem { Text = "August", Value = "August"},
                           new SelectListItem { Text = "September", Value = "September"},
                           new SelectListItem { Text = "October", Value = "October"},
                           new SelectListItem { Text = "November", Value = "November"},
                           new SelectListItem { Text = "December", Value = "December"}}, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.start_month, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Logo_For_Certificate</label>
                                @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", type = "file", name = "file", required = "required" } })
                                @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">Theme</label>
                            @Html.EditorFor(model => model.theme, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.theme, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">Fee Due Days<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.fee_due_days, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.fee_due_days, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10">Class Teacher</label>
                                @Html.EditorFor(model => model.class_teacher, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.class_teacher, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">Mobile API URL</label>
                            @Html.EditorFor(model => model.mobile_api_url, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.mobile_api_url, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Logo<small class="req" style="color:red">*</small></label>
                            @Html.EditorFor(model => model.app_logo, new { htmlAttributes = new { @class = "form-control", type = "file", name = "file", required = "required" } })
                            @Html.ValidationMessageFor(model => model.app_logo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label mb-10"></label>
                                <input type="submit" value="Save" class="btn btn-info form-control" id="save" />

                            </div>
                        </div>
                    </div>
                    @*@if (rol.can_add == 1)
                        {*@

                    @*}*@
                </div>


                <div class="row">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.General_Setting List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="example" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>@SmartSchool.Resources.Resource1.Institution</th>
                                                    <th>@SmartSchool.Resources.Resource1.Email</th>
                                                    <th>@SmartSchool.Resources.Resource1.Phone</th>
                                                    <th>@SmartSchool.Resources.Resource1.Address</th>
                                                    <th>@SmartSchool.Resources.Resource1.Language</th>
                                                    <th>@SmartSchool.Resources.Resource1.Date</th>
                                                    <th>@SmartSchool.Resources.Resource1.Currency</th>
                                                    <th>@SmartSchool.Resources.Resource1.Currency Symbol</th>

                                                    <th>Is RTL</th>
                                                    <th>@SmartSchool.Resources.Resource1.Timezone</th>
                                                    <th>@SmartSchool.Resources.Resource1.Session (Academic Year)</th>
                                                    <th>@SmartSchool.Resources.Resource1.Start Month</th>
                                                    <th>@SmartSchool.Resources.Resource1.Image</th>
                                                    <th>@SmartSchool.Resources.Resource1.The Theme</th>

                                                    <th>@SmartSchool.Resources.Resource1.Fee Due Days</th>
                                                    <th>@SmartSchool.Resources.Resource1.Class Teacher</th>
                                                    <th>@SmartSchool.Resources.Resource1.Mobile API URL</th>
                                                    <th>@SmartSchool.Resources.Resource1.Logo</th>
                                                    <th>@SmartSchool.Resources.Resource1.Status</th>
                                                    <th>@SmartSchool.Resources.Resource1.Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.gslist != null)
                                                {
                                                    foreach (var item in ViewBag.gslist)
                                                    {
                                                        int itemid = (int)item.session_id;
                                                        <tr>
                                                            <td>
                                                                @item.name
                                                            </td>
                                                            <td>
                                                                @item.email
                                                            </td>
                                                            <td>
                                                                @item.phone
                                                            </td>
                                                            <td>
                                                                @item.address
                                                            </td>
                                                            <td>
                                                                @item.lang_id
                                                            </td>
                                                            <td>
                                                                @item.date_format
                                                            </td>
                                                            <td>
                                                                @item.currency
                                                            </td>

                                                            <td>
                                                                @item.currency_symbol
                                                            </td>
                                                            <td>
                                                                @item.is_rtl
                                                            </td>
                                                            <td>
                                                                @item.timezone
                                                            </td>
                                                            <td>
                                                                @dbContext.sessions.Where(k => k.sid == itemid).Select(k => k.session1).FirstOrDefault()
                                                            </td>
                                                            <td>
                                                                @item.start_month
                                                            </td>
                                                            <td>
                                                                @item.image
                                                            </td>
                                                            <td>
                                                                @item.theme
                                                            </td>
                                                            <td>
                                                                @item.fee_due_days
                                                            </td>
                                                            <td>
                                                                @item.class_teacher
                                                            </td>
                                                            <td>
                                                                @item.mobile_api_url
                                                            </td>
                                                            <td>
                                                                @item.app_logo
                                                            </td>

                                                            @if (item.is_active == Convert.ToBoolean(1))
                                                            {
                                                                <td><span class="label label-success">Active</span> </td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="label label-danger">Deactive</span> </td>
                                                            }
                                                            <td>
                                                                <a href="@Url.Action("EditGSconfig", "Settings", new { Id = @item.schid })"><span class="zmdi zmdi-edit txt-warning" title="Edit General Settings..!"></span></a> |
                                                                <a href="@Url.Action("DeleteGSConfig", "Settings", new { Id = @item.schid })"><i class="fa fa-times" title="Delete General Settings..!"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Added_Banner_Logo_and_Certificate_Logo</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            @if (ViewBag.gslist != null)
                            {
                                foreach (var item in ViewBag.gslist)
                                {
                                    if (item.app_logo != null)
                                    {
                                        <div class="col-md-3">
                                            <div class="card-user-img">
                                                <img src="~/Content/Logo/@item.app_logo" width="150" height="150" alt="Image" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card-user-img">
                                                <img src="~/Content/Logo/@item.image" width="150" height="150" alt="Image" />
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                }

                </div>
            }
        }
    }