﻿@model SmartSchool.Models.permission_group
@using SmartSchool.Models;


@{
    ViewBag.Title = "module";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;"><span class="fa fa-wrench faColor"></span> @SmartSchool.Resources.Resource1.System Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 109, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title uppercase-font txt-dark"> <span class="fa fa-toggle-on faColor"></span> @SmartSchool.Resources.Resource1.Enable or Disable Modules</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table style="clear: both" class="table table-responsive" id="user">
                                                <tbody style="padding:6px">
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Front Office</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="1" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                        @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })*@
                                                        @*<td style="width:65%">
                                                                @Html.CheckBoxFor(model => model.is_active, new { @type = "checkbox", @class = "js-switch js-switch-1 small" })
                                                                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                                                            </td>*@
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Student Information</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="2" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                        @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })*@
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black"> @SmartSchool.Resources.Resource1.Fees Collection</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="3" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Income</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="4" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Expenses</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="5" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Attendance</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="6" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Examinations</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="7" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Academics</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="8" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Human Resource</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="9" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Communicate</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="10" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Download Center</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="11" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Homework</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="12" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Library</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="13" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Certificate</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="14" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Front CMS</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="15" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.Reports</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="16" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:65%;color:black">@SmartSchool.Resources.Resource1.System Settings</td>
                                                        <td style="width:65%"> <input type="checkbox" name="checkboxs" value="17" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-left">
                                                        <input type="button" id="load" class="btn btn-info" value="Save" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="img-responsive model_img" id="sa-success"></a>
                //  <i class="fa fa-spinner fa-spin"></i>
            }
        }
    }
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#load').on('click', function () {
            var favorite = [];
            var getSelectedValues = [];
            var dataText = [];
            $.each($("input[name='checkboxs']"), function () {

                if (this.checked) {
                    favorite.push($(this).val());
                }
                else {
                    favorite.push("0");
                }
            });
            $.ajax({
                url: "/Settings/module",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify({ 'favorite': favorite }),
                success: function (response) {
                    //window.location.href = '/Settings/module?favorite=' + favorite;
                    //alert('<a class="img-responsive model_img" id="sa-success"></a>');
                    //$('#sa-success').trigger('click');
                    $('#sa-success').trigger('click');
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });
    });
</script>




