﻿@model SmartSchool.Models.message

@{
    ViewBag.Title = "Notificationsetting";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 100, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Notification Setting</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <p class="text-muted">@SmartSchool.Resources.Resource1.The Notification Setting Table allows the user to select which columns they want to be visible.</p>
                                    <div class="mt-40">
                                        <table class="tablesaw table-striped table-hover table-bordered table" data-tablesaw-mode="columntoggle" id="tabledata">
                                            <thead>
                                                <tr>
                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">@SmartSchool.Resources.Resource1.Event</th>
                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">@SmartSchool.Resources.Resource1.Option</th>
                                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">@SmartSchool.Resources.Resource1.Sample Message</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="title">

                                                        @SmartSchool.Resources.Resource1.Student Admission

                                                    <td>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox1" type="checkbox" value="email">
                                                            <label for="checkbox1">@SmartSchool.Resources.Resource1.Email </label>
                                                        </div>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox2" type="checkbox" value="sms">
                                                            <label for="checkbox2">@SmartSchool.Resources.Resource1.SMS </label>
                                                        </div>
                                                    </td>
                                                    <td><textarea name="textarea" placeholder="Message"></textarea></td>

                                                </tr>
                                                <tr>
                                                    <td class="title">

                                                        @SmartSchool.Resources.Resource1.Exam Result

                                                    </td>
                                                    <td>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox3"> @SmartSchool.Resources.Resource1.Email </label>
                                                        </div>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox4"> @SmartSchool.Resources.Resource1.SMS </label>
                                                        </div>
                                                    </td>
                                                    <td><textarea name="textarea" placeholder="Message"></textarea></td>

                                                </tr>
                                                <tr>
                                                    <td class="title">

                                                        @SmartSchool.Resources.Resource1.Fees Submission

                                                    </td>
                                                    <td>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox7">@SmartSchool.Resources.Resource1.Email </label>
                                                        </div>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox8">@SmartSchool.Resources.Resource1.SMS </label>
                                                        </div>
                                                    </td>
                                                    <td><textarea name="textarea" placeholder="Message"></textarea></td>

                                                </tr>
                                                <tr>
                                                    <td class="title">

                                                        @SmartSchool.Resources.Resource1.Absent Student

                                                    </td>
                                                    <td>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox5"> @SmartSchool.Resources.Resource1.Email </label>
                                                        </div>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox6"> @SmartSchool.Resources.Resource1.SMS </label>
                                                        </div>
                                                    </td>
                                                    <td><textarea name="textarea" placeholder="Message"></textarea></td>

                                                </tr>
                                                <tr>
                                                    <td class="title">

                                                        @SmartSchool.Resources.Resource1.Login Credential

                                                    </td>
                                                    <td>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox9"> @SmartSchool.Resources.Resource1.Email </label>
                                                        </div>
                                                        <div class="checkbox checkbox-info">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox10">@SmartSchool.Resources.Resource1.SMS </label>
                                                        </div>
                                                    </td>
                                                    <td><textarea name="textarea" placeholder="Message"></textarea></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @if (rol.can_add == 1)
                                    {
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <input type="submit" class="btn btn-info" value="Save" id="btnsave" />
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var smsmail = [];
    var allval = new Array();
    var mergeVal = {};
    $(document).ready(function (e) {
        $('#btnsave').on('click', function () {
            $("#tabledata tbody tr").each(function (i) {
                mergeVal = new Object();
                smsmail = new Array();
                var tp = $(this).find("td:eq(0)").html();
                mergeVal.type = tp.replace(/<(.|\n)*?>/g, '');
                $(this).closest('tr').find('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        smsmail.push(1);
                    }
                    else {
                        smsmail.push(0);
                    }

                });
                mergeVal.ismailorsms = smsmail;
                mergeVal.display_notification = $(this).closest('tr').find("textarea[name='textarea']").val();
                allval.push(mergeVal);
            });
            $.ajax({
                url: "/Settings/Notificationsetting",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'allval': allval }),
                success: function (response) {
                    if (response.response == true) {
                        sendreponse(true);
                    }
                    else {
                        sendreponse(false);
                    }
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    function sendreponse(res) {
        if (res == true) {
             var tempdata = 'Data Saved Successfully...!';
        }
        else {
            var tempdata = 'Something Wrong Please Try Again...!';
            return false;
        }
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        };
</script>