﻿
@model SmartSchool.Models.payment_settings

@{
    ViewBag.Title = "PaymentMethod";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 103, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <hr class="light-grey-hr" />
            <div class="col-md-6">
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">


                            <h5> ">@SmartSchool.Resources.Resource1.Payment Method</h5>
                            <div class="pills-struct mt-40">
                                <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                                    <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id=1 href="#home_11">rozarpay</a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" id=2 role="tab" href="#profile_11" aria-expanded="false">Instamojo</a></li>

                                </ul>

                                <div class="tab-content" id="myTabContent_11">

                                    <div id="home_11" class="tab-pane fade active in" role="tabpanel">
                                        @using (Html.BeginForm("PaymentMethod", "Settings", FormMethod.Post))
                                        {
                                            <div class="col-md-12">
                                                @*<div class="panel panel-default card-view">*@
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @if (ViewBag.el != null)
                                                            {
                                                                foreach (var item in ViewBag.el)
                                                                {
                                                                    <div class="col-md-7">
                                                                        <label>rozarpay Email</label>
                                                                        @Html.EditorFor(model => model.api_email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", name = "pass3", id = "Roz_Email", @Value = item.api_email } })
                                                                        @*<input type="text" name="pass3"class="form-control" id="Roz_Email" />*@
                                                                        <br>
                                                                        <br>
                                                                        <label>rozarpay Password</label>
                                                                        @Html.EditorFor(model => model.api_password, new { htmlAttributes = new { @class = "form-control", type = "password", autocomplete = "off", name = "pass4", id = "Roz_pass", @Value = item.api_password } })
                                                                        @*<input type="password" name="pass4" class="form-control" id="Roz_pass" />*@
                                                                    </div>
                                                                }
                                                            }

                                                            <div class="col-md-5 text text-center disblock">
                                                                <a href="https://www.rozarpay.com/home" target="_blank"> <img src="~/Images/RozarPay.png" width="200" /> <p>https://www.rozarpay.com</p></a>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="form-group">
                                                        <div class="pull-left">

                                                            <input type="submit" class="btn btn-info" value="Save" id="save1" />

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }

                                    </div>


                                    <div id="profile_11" class="tab-pane fade" role="tabpanel">
                                        @using (Html.BeginForm("PaymentMethodInsta", "Settings", FormMethod.Post))
                                        {
                                            <div class="form-group mb-0" autocomplete="off">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            @if (ViewBag.el1 != null)
                                                            {
                                                                foreach (var item1 in ViewBag.el1)
                                                                {
                                                                    <div class="col-md-7">
                                                                        <label>Email Address/Username</label>
                                                                        @Html.EditorFor(model => model.api_email, new { htmlAttributes = new { type = "text", @class = "form-control", name = "pass1", id = "Ins_Email", @Value = item1.api_email } })
                                                                        @*// <input type="text" name="pass1"  class="form-control" id="Ins_Email" />/*@
                                                                        <br>
                                                                        <br>
                                                                        <label>Instamojo Password</label>
                                                                        @Html.EditorFor(model => model.api_password, new { htmlAttributes = new { type = "password", name = "pass2", @class = "form-control", id = "Ins_pass", @Value = item1.api_password } })
                                                                        @*<input type="password" name="pass2" class="form-control" id="Ins_pass"/>*@
                                                                        <br>
                                                                        <br>
                                                                    </div>
                                                                    <div class="col-md-5 text text-center disblock">
                                                                        <a href="https://www.instamojo.com/home" target="_blank">
                                                                            <img src="~/Images/instamojo.png" width="200" /> <p>https://www.instamojo.com</p>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            }

                                                        </div>

                                                        <div class="form-group">
                                                            <div class="pull-left">
                                                                <input type="submit" class="btn btn-info" value="Save" id="save2" />
                                                                @*<button class="btn btn-info" type="button" value="Save" id="btn_sve" name="inssave"><i class="save1"></i><span>Save</span></button>*@

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>




                                            @*<div class="form-group">
                                                <div class="pull-left">
                                                    <button class="btn btn-info" type="submit" value="Save" id="btn_sve"><i class="save"></i><span>Save</span></button>
                                                </div>*@
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            using (Html.BeginForm("PaymentMethodgateway", "Settings", FormMethod.Post))
            {

                <div class="col-md-6">

                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <h5>">@SmartSchool.Resources.Resource1.Select Payment Gateway</h5>
                                <div class="pills-struct mt-40">

                                    <div class="tab-content" id="myTabContent_12">
                                        <div id="home_12" class="tab-pane fade active in" role="tabpanel">
                                            <div class="col-md-6">
                                                <div class="panel panel-default card-view">

                                                    <div class="panel-body">




                                                        <div class="col-sm-12">
                                                            @if (ViewBag.el != null)
                                                            {
                                                                foreach (var item1 in ViewBag.el)
                                                                {
                                                                    if (item1.is_active == "true")
                                                                    {
                                                                        <div class="radio radio-info">
                                                                            <input id="checkbox_sms1" type="radio" alt="Student" value="rozarpay" name="checkbox_sms" checked="checked">
                                                                            <label for="checkbox_sms1">">@SmartSchool.Resources.Resource1.rozarpay</label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="radio radio-info">
                                                                            <input id="checkbox_sms1" type="radio" alt="Student" value="rozarpay" name="checkbox_sms">
                                                                            <label for="checkbox_sms1">">@SmartSchool.Resources.Resource1.rozarpay</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            }



                                                            @if (ViewBag.el1 != null)
                                                            {
                                                                foreach (var item1 in ViewBag.el1)
                                                                {
                                                                    if (item1.is_active == "true")
                                                                    {
                                                                        <div class="radio radio-info">
                                                                            <input id="checkbox_sms2" type="radio" alt="Parent" value="Instamojo" name="checkbox_sms" checked="checked">
                                                                            <label for="checkbox_sms2">">@SmartSchool.Resources.Resource1.Instamojo </label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="radio radio-info">
                                                                            <input id="checkbox_sms1" type="radio" alt="Student" value="Instamojo" name="checkbox_sms">
                                                                            <label for="checkbox_sms1">">@SmartSchool.Resources.Resource1.Instamojo</label>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                            @*<div class="radio radio-info">
                                                                    <input id="checkbox_sms4" type="radio" alt="Others" value="none" name="checkbox_sms">
                                                                    <label for="checkbox_sms4"> None </label>
                                                                </div>*@
                                                            <div class="form-group">
                                                                <div class="pull-right">
                                                                    <button class="btn btn-info" type="submit" value="Save" id="btn_save"><i class="save"></i><span>">@SmartSchool.Resources.Resource1.Save</span></button>


                                                                    @*<input type="button" class="btn btn-info " value="Send" name="save_pay" id="btn_sms_send" onclick="location.href='@Url.Action("PaymentMethod", "Settings")'" />*@
                                                                </div>
                                                            </div>

                                                        </div>







                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div id="profile_12" class="tab-pane fade" role="tabpanel">
                                            <label>">@SmartSchool.Resources.Resource1.Select Payment Gateway</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="dropdown open">
                                                        <!-- Single button -->

                                                        <ul class="dropdown-menu" id="dropdown_sms">
                                                            <li><a href="" id="Student">">@SmartSchool.Resources.Resource1.Paypal</a></li>
                                                            <li><a href="" id="Parent">">@SmartSchool.Resources.Resource1.Stripe</a></li>
                                                            <li><a href="" id="Staff">">@SmartSchool.Resources.Resource1.PayU</a></li>
                                                            <li><a href="" id="Others">">@SmartSchool.Resources.Resource1.None</a></li>
                                                        </ul>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">


                                                <div class="col-md-6">


                                                </div>
                                            </div>
                                        </div>
                                        <div id="profile_22" class="tab-pane fade " role="tabpanel">
                                            <div class="form-group mb-0">
                                                <label class="control-label mb-10">">@SmartSchool.Resources.Resource1.PayU</label>
                                                <select class="select2 select2-multiple" multiple="multiple" id="sel_mul_class_sms" data-placeholder="Choose" data->
                                                    <option value="1"> ">@SmartSchool.Resources.Resource1.PayU Money Key</option>
                                                    <option value="2"> ">@SmartSchool.Resources.Resource1.PayU Money Salt</option>


                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    }
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#save1").click(function () {

            var clc = document.getElementById("Roz_Email").value
            //alert(clc);
            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please give email ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#Roz_Email').focus();
                return false;
            }
            else if (document.getElementById("Roz_pass").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please type Password ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#Roz_pass').focus();
                return false;
            }
        });
        $("#save2").click(function () {

            var clc = document.getElementById("Ins_Email").value
            //alert(clc);
            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please give email ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#Ins_Email').focus();
                return false;
            }
            else if (document.getElementById("Ins_pass").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please give Password ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#Ins_pass').focus();
                return false;
            }

        });
    });
</script>


<div class="col-md-7"> </div>
<button class="tst4 btn btn-danger" id="btn_false" style="display:none"></button>
<button class="tst3 btn btn-success" id="btn_true" style="display:none"></button>
<button class="tstfailerror btn btn-danger" id="btn_fail" style="display:none"></button>
<button class="tst4_smserror btn btn-danger" id="btn_sms_fail" style="display:none"></button>
<button class="tst3sms_success btn btn-success" id="btn_sms_true" style="display:none"></button>






<script type="text/javascript">
    $(document).ready(function () {
        $('#btn_save').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var get_checkedval_sms = [];

            var dropdwn_sms = $('#checkbox_sms1').val();
            var get_id_sms = $('checkbox_sms1').val();

            alert(dropdwn_sms);
            //sms_title == "" || sms_title == null || sms_title == 0 &&
            if (dropdwn_sms != null || get_id_sms != null) {
                $.ajax({
                    url: "/Settings/PaymentMethodgateway",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn_sms': dropdwn_sms, 'get_id_sms': get_id_sms }),
                    success: function (response) {
                        if (response.return_val == false) {
                            alert("Somthing went wrong")
                        }
                        else if (response.return_val == true) {
                            alert("Message Sent Successful")
                        }
                    },
                    error: function (e) {
                        alert("Fail");
                    }
                });
            }




</script>
















@*---------------------------------------EMAIL Integration starts here----------------------------------*@

<script type="text/javascript">
    var get_id = [];
    $(document).ready(function () {
        $('.dropdown-menu a').click(function (e) {
            e.preventDefault();
            get_id = [];
            var content = tinymce.get("messge_text").getContent();
            $('#selected').text($(this).text());
            get_id.push($(this).attr('id'));
            var attr_id = $(this).attr('id');
            var useremail;
            var f_name;
            var options = '';
            options += '<option value="0">Select</option>';
            $.ajax({
                url: "/Communicate/send_email_sms",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_id': get_id, 'content': content }),
                success: function (response) {
                    for (var i = 0; i < response.stulist.length; i++) {
                        switch (attr_id) {
                            case 'Student':
                                useremail = response.stulist[i].Email;
                                f_name = response.stulist[i].FirstName;
                                break;
                            case 'Parent':
                                useremail = response.stulist[i].GuardianEmail;
                                f_name = response.stulist[i].GuardianName;
                                break;
                            case 'Staff':
                                useremail = response.stulist[i].email;
                                f_name = response.stulist[i].name;
                                break;
                        }
                        $('#sselect2id').html('');
                        options += '<option value="' + useremail + '">' + f_name + '</option>';
                        $('#sselect2id').append(options);
                    }
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTabs_11 a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#radio_5').on('change', function () {
            if (this.checked) {
                $('#divmessageto').css('display', 'block');
                $('#divsms').css('display', 'none');
            }
            else {

            }
        });

        $('#radio_6').on('change', function () {
            if (this.checked) {
                $('#divmessageto').css('display', 'none');
                $('#divsms').css('display', 'block');
            }
            else {

            }
        });

        $(btSend).on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var get_checkedval = [];
            var content = tinymce.get("messge_text").getContent();
            var dropdwn = $('#sselect2id').val();
            var multi_select = [];
            multi_select = $('#sel_mul_class').val();
            var email_subject = $('#title_id').val();
            var notice_date = $('#date').val();
            var publish_date = $('#date1').val();
            if (email_subject == "" || email_subject == null && get_id != null && notice_date == "" || notice_date == null && publish_date == "" || publish_date == null && content == null || content == "") {
                $('#btn_false').trigger('click');
                return false;
            }

            if (dropdwn != null && get_id != null) {
                $.ajax({
                    url: "/Communicate/send_email_sms",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn': dropdwn, 'content': content, 'get_id': get_id, 'email_subject': email_subject }),
                    success: function (response) {
                        if (response.return_val == false) {
                            $('#btn_false').trigger('click');
                        }
                        else if (response.return_val == true) {
                            $('#btn_true').trigger('click');
                        }
                    },
                    error: function (e) {
                        alert("Fail");
                    }
                });
            }
            else {

                $.each($("input[name='checkbox_loop']"), function () {
                    if (this.checked) {
                        get_checkedval.push($(this).attr("alt"));
                    }
                    //else {
                    //    get_checkedval.push($(this).attr("id"));
                    //}
                });
                $.ajax({
                    url: "/Communicate/send_email_sms",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'get_checkedval': get_checkedval, 'content': content, 'multi_select': multi_select, 'email_subject': email_subject }),
                    success: function (response) {
                        if (response.return_val == false || response == null) {
                            $('#btn_false').trigger('click');
                        }
                        else {
                            $('#btn_true').trigger('click');
                        }
                        //$('#sa-success').trigger('click');
                    },
                    error: function (e) {
                        $('#btn_fail').trigger('click');
                    }
                });
            }
        });
    });
</script>

@*---------------------------------------SMS Integration starts here----------------------------------*@

<script type="text/javascript">
    var get_id_sms = [];
    $(document).ready(function () {
        $('#dropdown_sms a').click(function (e) {
            e.preventDefault();
            get_id_sms = [];
            var content_sms = tinymce.get("messge_text_sms").getContent();
            $('#selected_sms').text($(this).text());
            get_id_sms.push($(this).attr('id'));
            var attr_id_sms = $(this).attr('id');
            var useremail;
            var f_name;
            var options = '';
            options += '<option value="0">Select</option>';
            $.ajax({
                url: "/Communicate/sms_method",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_id_sms': get_id_sms, 'content_sms': content_sms }),
                success: function (response) {
                    for (var i = 0; i < response.anylist.length; i++) {
                        switch (attr_id_sms) {
                            case 'Student':
                                useremail = response.anylist[i].MobileNumber;
                                f_name = response.anylist[i].FirstName;
                                break;
                            case 'Parent':
                                useremail = response.anylist[i].GuardianPhone;
                                f_name = response.anylist[i].GuardianName;
                                break;
                            case 'Staff':
                                useremail = response.anylist[i].mobile_number;
                                f_name = response.anylist[i].name;
                                break;
                        }
                        $('#sselect2id_sms').html('');
                        options += '<option value="' + useremail + '">' + f_name + '</option>';
                        $('#sselect2id_sms').append(options);
                    }
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(btn_sms_send).on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var get_checkedval_sms = [];
            var content_sms = tinymce.get("messge_text_sms").getContent();
            var dropdwn_sms = $('#sselect2id_sms').val();
            var multi_select_sms = [];
            multi_select_sms = $('#sel_mul_class_sms').val();
            var sms_title = $('#sms_titlee').val();
            var notice_date_sms = $('#date_sms').val();
            var publish_date_sms = $('#date1_sms').val();
            if (sms_title == "" || sms_title == null || sms_title == 0 && get_id_sms != null && notice_date_sms == "" || notice_date_sms == null && publish_date_sms == "" || publish_date_sms == null) {
                $('#btn_sms_fail').trigger('click');
                return false;
            }

            if (dropdwn_sms != null && get_id_sms != null) {
                $.ajax({
                    url: "/Communicate/sms_method",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'dropdwn_sms': dropdwn_sms, 'get_id_sms': get_id_sms, 'sms_title': sms_title, 'content_sms': content_sms }),
                    success: function (response) {
                        if (response.return_val == false) {
                            $('#btn_sms_false').trigger('click');
                        }
                        else if (response.return_val == true) {
                            $('#btn_sms_true').trigger('click');
                            dropdownunselect();
                        }
                    },
                    error: function (e) {
                        alert("Fail");
                    }
                });
            }
            else {

                $.each($("input[name='checkbox_sms_loop']"), function () {
                    if (this.checked) {
                        get_checkedval_sms.push($(this).attr("alt"));
                    }
                    //else {
                    //    get_checkedval.push($(this).attr("id"));
                    //}
                });
                $.ajax({
                    url: "/Communicate/sms_method",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'get_checkedval_sms': get_checkedval_sms, 'multi_select_sms': multi_select_sms, 'sms_title': sms_title, 'content_sms': content_sms }),
                    success: function (response) {
                        if (response.return_val == false || response == null) {
                            $('#btn_fail').trigger('click');
                        }
                        else {
                            $('#btn_sms_true').trigger('click');
                            checkboxuncheck();
                            uncheckmultiselect();
                        }
                    },
                    error: function (e) {
                        $('#btn_fail').trigger('click');
                    }
                });
            }
        });
    });
    //function for checkbox unchecked when sms sent[group sms]
    function checkboxuncheck() {
        $.each($("input[name='checkbox_sms_loop']"), function () {
            $(this).attr('checked', false);
        });
    }

    //function for dropdown unselect[Individual sms]
    function dropdownunselect() {
        var options = '';
        $('#selected_sms').text('Choose Option');
        $('#sselect2id_sms').html('');
        options += '<option value="0">Select</option>';
        $('#sselect2id_sms').append(options);
    }

    //function for multiple select[Class wise sms]
    function uncheckmultiselect() {
        // $('#sel_mul_class_sms').trigger();
        //$('#sel_mul_class_sms').select2('data', null, false);
        $('#sel_mul_class_sms').val(null).trigger('change');
    }
</script>




@*---------------------------------------Get the data from Textlocal Account through API----------------------------------*@


<script type="text/javascript">
    //Receiving the data from module_show_hide.asmx page and get_modules web method to hide or show left side bars
    //var getdataArr = [];
    $(document).ready(function () {
        var options = '';
        options += '<option value="0">Select</option>';
        var ddltitle = $('#sms_titlee').val();
        if (ddltitle == null || ddltitle == "" || ddltitle == 0) {
            var urlempty = '/SchoolMasterClasses/module_show_hide.asmx/get_templates';
            $.ajax({
                url: urlempty,
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(JSON.parse(data), function (key, value) {
                        if (ddltitle == null || ddltitle == "") {
                            for (var i = 0; i < value.length; i++) {
                                $('#sms_titlee').html('');
                                options += '<option value="' + value[i].id + '">' + value[i].title + '</option>';
                                $('#sms_titlee').append(options);
                            }
                        }
                        else {

                        }

                    });
                },
                error: function (e) {
                    //  alert('error');
                }
            });
        }

        $('#sms_titlee').on('change', function () {
            var ddltitle = $('#sms_titlee').val();
            $.ajax({
                url: '/SchoolMasterClasses/module_show_hide.asmx/get_templates',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    $.each(JSON.parse(data), function (key, value) {
                        for (var i = 0; i < value.length; i++) {
                            if (value[i].id == ddltitle) {
                                var message_body = value[i].body;
                                var parshtml = message_body.replace(/%^()%*/g, '--');
                                tinymce.activeEditor.setContent(parshtml);
                            }

                        }
                    });
                },
                error: function (e) {
                    //  alert('error');
                }
            });
        });
    });
</script>













































