﻿@model SmartSchool.Models.session

@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
    TempData.Clear();
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">
                        @SmartSchool.Resources.Resource1.System_Settings
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 99, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Session</h6>
                                </div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Session (Add Academic year like 2019-2020)  </label>
                                                        @Html.EditorFor(model => model.session1, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                                                    </div>
                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-10">
                                                            <input type="submit" value="Save" class="btn btn-info" />
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Session_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <center>
                                    <table class="table table-striped m-b-0">
                                        <tr>
                                            <th>@SmartSchool.Resources.Resource1.Session</th>
                                            <th>@SmartSchool.Resources.Resource1.Status</th>
                                            <th>@SmartSchool.Resources.Resource1.Action</th>
                                        </tr>
                                        @if (ViewBag.sessionlist != null)
                                        {
                                            foreach (var item in ViewBag.sessionlist)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.session1
                                                    </td>
                                                    @if (item.is_active == Convert.ToBoolean(1))
                                                    {
                                                        <td><span class="label label-success">Active</span> </td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-danger">Deactive</span> </td>
                                                    }
                                                    <td>
                                                        <a href="@Url.Action("Editsession", "Settings", new { Id = @item.sid })"><span class="zmdi zmdi-edit txt-warning" title="Edit Session..!"></span></a> |
                                                         <a href="@Url.Action("DeleteSession", "Settings", new { Id = @item.sid })"><i class="fa fa-times" title="Delete Session..!" ></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        }
    }
}
