﻿@model SmartSchool.Models.sms_config

@{
    ViewBag.Title = "Smsconfig";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 101, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.SMS_Setting</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name </label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Username </label>
                                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Hash</label>
                                                        @Html.EditorFor(model => model.authkey, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Sender</label>
                                                        @Html.EditorFor(model => model.senderid, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Password</label>
                                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status</label>
                                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.SMS_Provider </label>
                                                        @Html.DropDownListFor(model => model.type, new List<SelectListItem> { new SelectListItem { Text = "Select", Value = "0" },
                                                                                                                                              new SelectListItem { Text = "SHLR SMSHOUSE", Value = "1" },
                                                                                                                                              new SelectListItem { Text = "SHLR TEXTLOCAL", Value = "2" }},
                                                                                                                                              new { @class = "form-control", @required = "required" })
                                                    </div>
                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="col-md-4">
                                                        <label class="control-label mb-10"></label>
                                                        <div class="form-group">
                                                            <input type="submit" value="Create" class="btn btn-info" />
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.SMS_Setting_List</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <center>
                                        <table id="example" class="table table-striped m-b-0 table-responsive">
                                            <tr>
                                                <th>@SmartSchool.Resources.Resource1.Name</th>
                                                <th>@SmartSchool.Resources.Resource1.Username</th>
                                                <th>@SmartSchool.Resources.Resource1.Hash</th>
                                                <th>@SmartSchool.Resources.Resource1.Sender</th>
                                                <th>@SmartSchool.Resources.Resource1.Password</th>
                                                <th>@SmartSchool.Resources.Resource1.Status</th>
                                                <th>@SmartSchool.Resources.Resource1.SMS_Provider</th>
                                                <th>@SmartSchool.Resources.Resource1.Action</th>
                                            </tr>
                                            @if (ViewBag.smsList != null)
                                            {
                                                foreach (var item in ViewBag.smsList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.name
                                                        </td>
                                                        <td>
                                                            @item.username
                                                        </td>
                                                        <td>
                                                            @item.authkey
                                                        </td>
                                                        <td>
                                                            @item.senderid
                                                        </td>
                                                        <td>
                                                            @item.password
                                                        </td>
                                                        @if (item.is_active == Convert.ToBoolean(1))
                                                        {
                                                            <td><span class="label label-success">Active</span> </td>
                                                        }
                                                        else
                                                        {
                                                            <td><span class="label label-danger">Inactive</span> </td>
                                                        }

                                                        @if (item.type == "1")
                                                        {
                                                            <td>SHLR SMSHOUSE</td>
                                                        }
                                                        else
                                                        {
                                                            <td>SHLR TEXTLOCAL</td>
                                                        }

                                                        <td>
                                                            <a href="@Url.Action("EditSmsConfig", "Settings", new { Id = @item.scid })"><span class="zmdi zmdi-edit txt-warning" title="Edit SMS Settings..!"></span></a> |
                                                            <a href="@Url.Action("DeleteSmsConfig", "Settings", new { Id = @item.scid })"><i class="fa fa-times" title="Delete SMS Settings..!"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
}

