﻿@model SmartSchool.Models.student

@{
    ViewBag.Title = "users";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.System_Settings</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action(" Action", "Admin" )'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();


    var getrolesacc = mm.RoleAccess(listData.roleid, 17, 108, listData.CollegeID, listData.BranchID);
   
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Ajax.BeginForm("EmployeeMaster", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAll" }))
            {
                <div class="row" id="divAll">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i> @SmartSchool.Resources.Resource1.Users</h6>
                                                <hr class="light-grey-hr" />
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="panel panel-default card-view">
                                                        <div class="panel-heading">
                                                            <div class="pull-left">
                                                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select User</h6>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="pills-struct mt-40">
                                                                    <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                                                                        <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="home_tab_11" href="#home_11">@SmartSchool.Resources.Resource1.Student</a></li>
                                                                        <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_11" role="tab" href="#profile_11" aria-expanded="false">@SmartSchool.Resources.Resource1.Parent</a></li>
                                                                        <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_11" role="tab" href="#profile_12" aria-expanded="false">@SmartSchool.Resources.Resource1.Staff</a></li>
                                                                    </ul>
                                                                    <div class="tab-content" id="myTabContent_11">
                                                                        <div id="home_11" class="tab-pane fade active in" role="tabpanel">
                                                                            <label class="control-label">@SmartSchool.Resources.Resource1.Select Class</label>
                                                                            <div class="row">

                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">

                                                                                        <select class="form-control select2" id="sselect2id">
                                                                                            <option value="0">-Select-</option>
                                                                                            @{
                                                                                                foreach (var items in ViewBag.viewbagclasslist)
                                                                                                {
                                                                                                    <option value="@items.Value">@items.Text</option>
                                                                                                }
                                                                                            }
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <div class="pull-right">
                                                                                        <button type="button" class="btn btn-primary btn-anim" id="btn_search_1">
                                                                                            <i class="fa fa-search"></i>
                                                                                            <span class="btn-text">@SmartSchool.Resources.Resource1.Search</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="panel panel-default card-view mt-50" id="div_list">
                                                                                <div class="panel-wrapper collapse in">
                                                                                    <div class="panel-body">
                                                                                        <div class="table-wrap">
                                                                                            <div class="table-responsive">

                                                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                                                </div>
                                                                                                <table id="example" class="table table-hover display  pb-30">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Admission_Number
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.FirstName
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Last name
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Class
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Father Name
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Mobile Number
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Action
                                                                                                            </th>

                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        @{ if (ViewBag.studentlist != null)
                                                                                                            {
                                                                                                                foreach (var item in ViewBag.studentlist)
                                                                                                                {
                                                                                                                    <tr>
                                                                                                                        <td>
                                                                                                                            @item.AdmissionNumber
                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            @item.FirstName
                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.LastName != null)
                                                                                                                            {
                                                                                                                                @item.LastName
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>

                                                                                                                        <td>
                                                                                                                            @if (item.Class != null)
                                                                                                                            {
                                                                                                                                @item.Class
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>

                                                                                                                        <td>
                                                                                                                            @if (item.FatherName != null)
                                                                                                                            {
                                                                                                                                @item.FatherName
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            @item.MobileNumber
                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            @if (item.IsActive == "True")
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs" value="11s" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs" value="11s" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                @if (rol.can_add == 1)
                                                                                                {
                                                                                                    <div class="pull-right">
                                                                                                        <button type="button" class="btn btn-primary btn-anim" id="btn_save_1">
                                                                                                            <i class="fa fa-save"></i>
                                                                                                            <span class="btn-text">@SmartSchool.Resources.Resource1.Save</span>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="profile_11" class="tab-pane fade" role="tabpanel">
                                                                            <label class="control-label">@SmartSchool.Resources.Resource1.Select Class</label>
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <select class="form-control select2" id="sselect3id">
                                                                                            <option value="0">-Select-</option>
                                                                                            @{
                                                                                                foreach (var items in ViewBag.viewbagclasslist)
                                                                                                {
                                                                                                    <option value="@items.Value">@items.Text</option>
                                                                                                }
                                                                                            }
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <div class="pull-right">
                                                                                        <button type="button" class="btn btn-primary btn-anim" id="btn_search_2">
                                                                                            <i class="fa fa-search"></i>
                                                                                            <span class="btn-text">@SmartSchool.Resources.Resource1.Search</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="panel panel-default card-view mt-50" id="div_list">
                                                                                <div class="panel-wrapper collapse in">
                                                                                    <div class="panel-body">
                                                                                        <div class="table-wrap">
                                                                                            <div class="table-responsive">

                                                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                                                </div>
                                                                                                <table id="example1" class="table table-hover display  pb-30">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Guardian Name
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Guardian Phone
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Username
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Action
                                                                                                            </th>

                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        @{ if (ViewBag.parentdata != null)
                                                                                                            {
                                                                                                                foreach (var item in ViewBag.parentdata)
                                                                                                                {
                                                                                                                    <tr>
                                                                                                                        <td>
                                                                                                                            @if (item.GuardianName != null)
                                                                                                                            {
                                                                                                                                @item.GuardianName
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.GuardianPhone != null)
                                                                                                                            {
                                                                                                                                @item.GuardianPhone
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.ParentUserName != null)
                                                                                                                            {
                                                                                                                                @item.ParentUserName
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            @if (item.IsActive == "True")
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs1" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <div class="pull-right">
                                                                                                    <button type="button" class="btn btn-primary btn-anim" id="btn_save_2">
                                                                                                        <i class="fa fa-save"></i>
                                                                                                        <span class="btn-text">@SmartSchool.Resources.Resource1.Save</span>
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                        </div>

                                                                        <div id="profile_12" class="tab-pane fade" role="tabpanel">
                                                                            <div class="panel panel-default card-view mt-50" id="div_list">
                                                                                <div class="panel-wrapper collapse in">
                                                                                    <div class="panel-body">
                                                                                        <div class="table-wrap">
                                                                                            <div class="table-responsive">

                                                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                                                </div>
                                                                                                <table id="example2" class="table table-hover display  pb-30">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Staff ID
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Name
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Email
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Role
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Designation
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Department

                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Phone
                                                                                                            </th>
                                                                                                            <th>
                                                                                                                @SmartSchool.Resources.Resource1.Action
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        @{ if (ViewBag.staffdata != null)
                                                                                                            {
                                                                                                                foreach (var item in ViewBag.staffdata)
                                                                                                                {
                                                                                                                    <tr>
                                                                                                                        <td>
                                                                                                                            @if (item.employee_id != null)
                                                                                                                            {
                                                                                                                                @item.employee_id
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.name != null)
                                                                                                                            {
                                                                                                                                @item.name
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }

                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.email != null)
                                                                                                                            {
                                                                                                                                @item.email
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.rolename != null)
                                                                                                                            {
                                                                                                                                @item.rolename
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.designation != null)
                                                                                                                            {
                                                                                                                                @item.designation
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.department != null)
                                                                                                                            {
                                                                                                                                @item.department
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>

                                                                                                                            @if (item.contact_no != null)
                                                                                                                            {
                                                                                                                                @item.contact_no
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <b style="color:red;font-weight:800">--</b>
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                        <td>
                                                                                                                            @if (item.is_active == 1)
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs1" checked class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                <input type="checkbox" id="@item.id" name="checkboxs1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                                                                                            }
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <div class="pull-right">
                                                                                                    <button type="button" class="btn btn-primary btn-anim" id="btn_save_3">
                                                                                                        <i class="fa fa-save"></i>
                                                                                                        <span class="btn-text">@SmartSchool.Resources.Resource1.Save</span>
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="img-responsive model_img" id="sa-success"></a>
            }
        }
    }
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ddl_id;
        $('.select2').on('change', function () {
            ddl_id = $("#sselect2id option:selected").val();
        });
        $('#btn_search_1').on('click', function () {
            ddl_id = $("#sselect2id option:selected").val();

            $.ajax({
                url: "/Settings/json_return",
                type: "post",

                dataType: "json",
                async: false,
                data: JSON.stringify({ 'ddl_id': ddl_id }),
                success: function (response) {
                    window.location.href = '@Url.Action("users", "Settings")?ddl_id=' + ddl_id;
                },
                error: function (e) {
                    alert("Fail");
                }

            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var ddlp_id;
         $('.select2').on('change', function () {
            ddlp_id = $("#sselect3id option:selected").val();
        });
        $('#btn_search_2').on('click', function (e) {
            ddl_id = $("#sselect3id option:selected").val();
            $.ajax({
                url: "/Settings/json_returnParent",
                type: "post",

                dataType: "json",
                async: false,
                data: JSON.stringify({ 'ddlp_id': ddlp_id }),
                success: function (response) {
                    var url = window.location.href = '@Url.Action("users", "Settings")?classid=' + ddlp_id;
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTabs_11 a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btn_save_1').on('click', function () {
            var get_val = [];
            var get_dval = [];
            var getSelectedValues = [];
            var dataText = [];

            $.each($("input[name='checkboxs']"), function () {
                if (this.checked) {
                    get_val.push($(this).attr("id"));
                }
                else {
                    get_dval.push($(this).attr("id"));
                }
            });
            $.ajax({
                url: "/Settings/update_data",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_val': get_val, 'get_dval': get_dval }),
                success: function (response) {
                    $('#sa-success').trigger('click');
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });

        $('#btn_save_2').on('click', function () {
            var get_pval = [];
            var get_pdval = [];
            var getSelectedValues = [];
            var dataText = [];

            $.each($("input[name='checkboxs1']"), function () {
                if (this.checked) {
                    get_pval.push($(this).attr("id"));
                }
                else {
                    get_pdval.push($(this).attr("id"));
                }
            });
            $.ajax({
                url: "/Settings/update_data",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_pval': get_pval, 'get_pdval': get_pdval }),
                success: function (response) {
                    $('#sa-success').trigger('click');
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });

         $('#btn_save_3').on('click', function () {
            var get_sval = [];
            var get_sdval = [];
            var getSelectedValues = [];
            var dataText = [];

            $.each($("input[name='checkboxs1']"), function () {
                if (this.checked) {
                    get_sval.push($(this).attr("id"));
                }
                else {
                    get_sdval.push($(this).attr("id"));
                }
            });
            $.ajax({
                url: "/Settings/update_data",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify({ 'get_sval': get_sval, 'get_sdval': get_sdval }),
                success: function (response) {
                    $('#sa-success').trigger('click');
                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });

    });
</script>


