﻿@model SmartSchool.Models.expens

@{
    ViewBag.Title = "add_expenses";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Expenses</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 5, 30, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm("add_expenses", "Expenses", FormMethod.Post, new { FileUpload = "documents", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-money mr-10"></i>@SmartSchool.Resources.Resource1.Expenses</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Expense Head", htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.DropDownList("exp_head_id", (IEnumerable<SelectListItem>)ViewBag.expensehead, " -- Select Expense Head --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Invoice Number", htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.invoice_no, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.invoice_no, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", Type = "date", @required = "required" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number" } })
                                                            @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.documents, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.documents, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.documents, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.TextAreaFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger", type = "multiline" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Create" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-accounts-list mr-10"></i>@SmartSchool.Resources.Resource1.List Expenses</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>

                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Invoice Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Date
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Expense Head
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Amount
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (ViewBag.expensedata != null)
                                                                        {
                                                                            foreach (var item in ViewBag.expensedata)
                                                                            {

                                                                                <tr>
                                                                                    <td>@item.id</td>
                                                                                    <td>
                                                                                        @item.Name
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.InvoiceNo
                                                                                    </td>
                                                                                    <td>@(item.Date?.ToString("dd/MM/yyyy"))</td>



                                                                                    <td>
                                                                                        @item.expense_category
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Amount
                                                                                    </td>

                                                                                    <td class="form-group">
                                                                                        @if (rol.can_edit == 1)
                                                                                        {
                                                                                            <a href="@Url.Action("edit_expense", "Expenses", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                                        }
                                                                                        @*<a href="@Url.Action("DeleteExpense", "Expenses", new { Id = @item.eid})"><span class="zmdi zmdi-delete txt-danger model_img"></span></a>*@
                                                                                        @if (rol.can_delete == 1)
                                                                                        {
                                                                                            @Html.ActionLink(" ", "DeleteExpense", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are you sure you want to delete..?');" })
                                                                                        }
                                                                                    </td>

                                                                                </tr>

                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            @*<div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Create" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
}


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });


        });

    </script>
}

<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('#date').val(moment(output).format("YYYY-MM-DD"));

    });
</script>


