﻿@model SmartSchool.Models.expens

@{
    ViewBag.Title = "edit_expense";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Expenses</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-money mr-10"></i>Edit Expenses</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("Expense Head*", htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("exp_head_id", (IEnumerable<SelectListItem>)ViewBag.expensehead, " -- Select Expense Head --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("Invoice Number", htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.invoice_no, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.invoice_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", Type = "date" } })*@
                                                @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", required = "required" ,type="number"} })
                                                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.documents, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.documents, new { htmlAttributes = new { type = "file", @class = "form-control" }, type = "file" })
                                                    @Html.ValidationMessageFor(model => model.documents, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.note, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Create" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*<div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-wrap">
                                <div class="form-body">
                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-accounts-list mr-10"></i>List Expenses</h6>
                                    <hr class="light-grey-hr" />
                                    <div class="panel panel-default card-view mt-50">
                                        <div class="panel-wrapper collapse in">
                                            <div class="panel-body">
                                                <div class="table-wrap">
                                                    <div class="table-responsive">

                                                        <div id="example_wrapper" class="dataTables_wrapper">
                                                        </div>

                                                        <table id="example" class="table table-hover display  pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>
                                                                        Name
                                                                    </th>
                                                                    <th>
                                                                        Invoice Number
                                                                    </th>
                                                                    <th>
                                                                        Date
                                                                    </th>
                                                                    <th>
                                                                        Expense Head
                                                                    </th>
                                                                    <th>
                                                                        Amount
                                                                    </th>
                                                                    <th>
                                                                        Action
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            @if (ViewBag.expensedata != null)
                                                            {
                                                                foreach (var item in ViewBag.expensedata)
                                                                {
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>@item.eid</td>
                                                                            <td>
                                                                                @item.name
                                                                            </td>
                                                                            <td>
                                                                                @item.invoice_no
                                                                            </td>
                                                                            <td>
                                                                                @item.date
                                                                            </td>
                                                                            <td>
                                                                                @item.exp_head_id
                                                                            </td>
                                                                            <td>
                                                                                @item.amount
                                                                            </td>

                                                                            <td class="form-group">
                                                                                <a href="@Url.Action("edit_expense", "Expenses", new { Id = @item.eid })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                                |
                                                                                <a href="@Url.Action("DeleteClass", "Expenses", new { Id = @item.eid })"><span class="zmdi zmdi-delete txt-danger model_img"></span></a>
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                }
                                                            }
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

}
