﻿@model SmartSchool.Models.expense_head

@{
    ViewBag.Title = "edit_head";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Expenses</h4>
                </div>
               <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Expense Head</h6>
                                <hr class="light-grey-hr" />

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("Expense Category", htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.exp_category, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.exp_category, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*<div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Expense Head List</h6>
                                <hr class="light-grey-hr" />
                                <div class="panel panel-default card-view mt-50">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>

                                                    <table id="example" class="table table-hover display  pb-30">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>
                                                                    Expense Head
                                                                </th>
                                                                <th>
                                                                    Description
                                                                </th>
                                                               
                                                                <th>
                                                                    Action
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        @if (ViewBag.expensehead != null)
                                                        {
                                                            foreach (var item in ViewBag.expensehead)
                                                            {
                                                                <tbody>
                                                                    <tr>
                                                                        <td>@item.id</td>
                                                                        <td>
                                                                            @item.exp_category
                                                                        </td>
                                                                        <td>
                                                                            @item.description
                                                                        </td>
                                                                       

                                                                        <td class="form-group">
                                                                            <a href="@Url.Action("edit_head", "Expenses", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                            |
                                                                            <a href="@Url.Action("DeleteClass", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-delete txt-danger model_img"></span></a>
                                                                        </td>

                                                                    </tr>
                                                                </tbody>
                                                            }
                                                        }
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

}
