﻿@model SmartSchool.Models.expense_head

@{
    ViewBag.Title = "expense_head";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Expenses</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 5, 32, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Expense Head</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Expense Category", htmlAttributes: new { @class = "control-label col-ml-10" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.exp_category, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.exp_category, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Expense Head List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                @{
                                                                    int sno = 0;
                                                                }
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Sl_No.
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Expense Head
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Description
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (ViewBag.expensehead != null)
                                                                        {
                                                                            foreach (var item in ViewBag.expensehead)
                                                                            {

                                                                                <tr>
                                                                                    <td>
                                                                                        @{ sno++; }
                                                                                        @sno
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.exp_category
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.description
                                                                                    </td>


                                                                                    <td class="form-group">
                                                                                        @if (rol.can_edit == 1)
                                                                                        {
                                                                                            <a href="@Url.Action("edit_head", "Expenses", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                                        }
                                                                                        @if (rol.can_delete == 1)
                                                                                        {
                                                                                            @Html.ActionLink(" ", "Delete_head", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                                        }
                                                                                    </td>
                                                                                </tr>

                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });


        });

    </script>
}