﻿@model SmartSchool.SchoolMasterClasses.search_expenses

@{
    ViewBag.Title = "search_expenses";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.ExpenseList</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 5, 31, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {


            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap">
                                        <form class="form-horizontal">
                                            <div class="form-group mb-0">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date From</label>
                                                            <input type="date" id="fromdate" name="fromdate" class="form-control" required="required" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date To</label>
                                                            <input type="date" id="todate" name="todate" class="form-control" required="required" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <br />
                                                            @if (rol.can_add == 1)
                                                            {
                                                                <div class="pull-right">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Search" id="btnsave" class="btn btn-info" />
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Expense Result</h6>
                                        <hr class="light-grey-hr" />
                                        <div class="panel panel-default card-view mt-50">
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">

                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>

                                                            <table id="example" class="table table-hover display  pb-30">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Sl_No
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Name
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Invoice Number
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Expense Head
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Date
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Amount
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>



                                                                        @{
                                                                            float total = 0;
                                                                            foreach (var item1 in ViewBag.expen)
                                                                            {
                                                                                total += @item1.Amount;
                                                                            }

                                                                        }

                                                                        <th>Total Amount : @total  </th>

                                                                    </tr>
                                                                </tfoot>
                                                                <tbody>
                                                                    @{
                                                                        int slno = 0;
                                                                    }

                                                                    @if (ViewBag.expen != null)
                                                                    {

                                                                        foreach (var item in ViewBag.expen)
                                                                        {


                                                                            <tr>
                                                                                <td>
                                                                                    @{ slno++;}
                                                                                    @slno

                                                                                </td>
                                                                                <td>
                                                                                    @item.Name
                                                                                </td>
                                                                                <td>
                                                                                    @item.InvoiceNo
                                                                                </td>
                                                                                <td>
                                                                                    @item.Expense_Head
                                                                                </td>
                                                                                <td>
                                                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                                                </td>
                                                                                <td>
                                                                                    @item.Amount

                                                                                </td>


                                                                            </tr>

                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

@*<script src="~/Scripts/Form-Vlidation.js"></script>*@
<script>
    $(document).ready(function () {

        $("#btnsearch").click(function (e) {
            e.preventDefault();
            var clc = document.getElementById("fromDate").value
            //alert(clc);

            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select From Date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("toDate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select To-Date  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            else if (document.getElementById("datePic").value != "") {
                var dateString = document.getElementById("datePic").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'please  select Date not greater than todays date ',
                        position: 'center',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }




        });
    });
</script>










