﻿@model IEnumerable<SmartSchool.Models.staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="container-fluid pt-25">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient3">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/FeesCollection/searchpayment">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalStudents</span></span>
                                            <span class="weight-500 uppercase-font block font-12 txt-light">@SmartSchool.Resources.Resource1.Students</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-people  data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient1">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Expense/search_expense">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.subject </span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Subjects</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-book data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Student/studentdetails">
                                        <div class="col-xs-6 text-center pl-0 pr-0 txt-light data-wrap-left">
                                            <span class="block counter"><span class="counter-anim">@ViewBag.totalleave</span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Available_Leaves</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-info-sign data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient2">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/StaffIndex">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            @*<span class="txt-light block counter"><span class="counter-anim">@ViewBag.staffname</span></span>*@
                                            <span id="ctl00_ContentPlaceHolder1_lbldesignation" style="color:Black;font-weight:bold;">@ViewBag.stafname</span>
                                            <span class="weight-500 uppercase-font font-10 block txt-light">@SmartSchool.Resources.Resource1.Staff_Name</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-user data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">

                        <div class="calendar-wrap mt-40">
                            <div id="calendar"></div>

                            <div class="demo-container">
                                <div id="scheduler"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Admin/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.leaveType,
                            description: v.leavesdays,

                            start: moment(v.fromdate).format("YYYY-MM-DD"),
                            end: v.todate != null ? moment(v.todate) : null,
                        });
                    });
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function GenerateCalender(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        //right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    events: events,
                })
            }
        })
</script>
