﻿@model SmartSchool.Models.Google_meet_Class

@{
    ViewBag.Title = "AddGooglemeet";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 style="color:#f742aa; "><i class="fa fa-user-plus"> </i>Add Google Meeting Details</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 124, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("AddGooglemeet", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Subject", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>

                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.subject_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "subject_id" })
                                                            @Html.ValidationMessageFor(model => model.subject_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Date", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>

                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.meeting_date, new { htmlAttributes = new { @type = "date", @class = "form-control", id = "date" } })
                                                            @Html.ValidationMessageFor(model => model.meeting_date, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        @Html.Label("Meeting Time", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>

                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.meeting_time, new { htmlAttributes = new { @type = "time", @onblur = "CalculatestartTime1(); ", @class = "form-control", id = "time" } })
                                                            @Html.ValidationMessageFor(model => model.meeting_time, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Link", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>

                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.meeting_Link, new { htmlAttributes = new { @type = "text", @class = "form-control", id = "link" } })
                                                            @Html.ValidationMessageFor(model => model.meeting_Link, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form Group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" id="btnsave" />
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
}

<script type="text/javascript">

    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>Select</option>");
        $('#subject_id').empty();
        $("#subject_id").html("<option value=''>Select</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/getSecandSub',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                if (data.getstaffdata.length > 0) {
                    $.each(data.getstaffdata, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.getstaffdata.Value + "'>" + data.getstaffdata.Text + "</option > ");
                            //$("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data.getstaffdata[i].Value + "'>" + data.getstaffdata[i].Text + "</option > ");
                            //$("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
                if (data.subList.length > 0) {
                    $.each(data.subList, function (i) {
                        if (i == "Disabled") {
                            //$("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                            $("#subject_id").append("<option value='" + data.subList.Value + "'>" + data.subList.Text + "</option > ");
                        }
                        else {
                            //$("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                            $("#subject_id").append("<option value='" + data.subList[i].Value + "'>" + data.subList[i].Text + "</option > ");
                        }
                    });
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            if (document.getElementById("class_id").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Class',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Section',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("subject_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Subject',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("date").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Choose meeting Date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("link").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Meeting Link',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
        $(window).on('beforeunload', function () {
            $("#btnsave").prop("disabled", "disabled");
        });
    });
</script>
<script>
  function CalculatestartTime1() {
                    if ((document.getElementById("time").value == "") || (document.getElementById("time").value == "00:00 AM")) {
                        alert('Enter Meeting start time');
                        document.getElementById("time").focus();
                    
                        return false;
                    }
                    var Starttime = document.getElementById("time").value;
             
                    //start time split
                    var StartSplitarray = new Array();
                    StartSplitarray = Starttime.split(" ");
                    var StartSplitTime = StartSplitarray[0];
                    var StartSplitAMPM = StartSplitarray[1];

                    var StartOnlyTime = new Array();
                    StartOnlyTime = StartSplitTime.split(":");
                    var STARTHours = StartOnlyTime[0];
                    var STARTMinits = StartOnlyTime[1];
                    
                  
                }
</script>
