﻿@model SmartSchool.Models.enquiry

@{
    /**/

    ViewBag.Title = "Admissionenquiry";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Admission_Enquiry</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <form>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtname" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtcontact", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email </label>
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "txtemail", type = "email" } })
                                                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address </label>
                                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "txtaddress" } })
                                                        @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description </label>
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", id = "txtdescription" } })
                                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note</label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", id = "txtnote" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "txtdate", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Next_Follow_Up_Date</label>
                                                        @Html.EditorFor(model => model.follow_up_date, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "nfdate" } })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Assigned </label>
                                                        @Html.EditorFor(model => model.assigned, new { htmlAttributes = new { @class = "form-control", id = "txtassigned" } })
                                                        @Html.ValidationMessageFor(m => m.assigned, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Reference </label>
                                                        @Html.DropDownListFor(Model => Model.reference, (IEnumerable<SelectListItem>)ViewBag.selectedrefrence as SelectList, new { @class = "form-control", id = "ddlreference" })
                                                        @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Source</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.DropDownListFor(Model => Model.source, (IEnumerable<SelectListItem>)ViewBag.selectedsource as SelectList, new { @class = "form-control", required = "required", id = "ddlsource" })
                                                        @Html.ValidationMessageFor(m => m.source, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class </label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.DropDownListFor(Model => Model.@class, new SelectList(ViewBag.selectedclass, "Value", "Text"), "Select", new { @class = "form-control", id = "ddlclass", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.@class, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Number_Of_Child </label>
                                                        @Html.EditorFor(model => model.no_of_child, new { htmlAttributes = new { @class = "form-control", id = "txtnoofchild", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.no_of_child, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                    </div>
                                                </div>
                                            }
                                        </form>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- /Row -->
            <div class="row">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <h6 class="panel-title txt-dark"> @SmartSchool.Resources.Resource1.Admission_Enquiry</h6>

                        <div class="clearfix"></div>

                    </div>
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display  pb-30 dataTable" title="@SmartSchool.Resources.Resource1.Admission_Enquiry" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Sl_No

                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Name
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Contact
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Class
                                                    </th>
                                                    <th>@SmartSchool.Resources.Resource1.Source</th>
                                                    <th>@SmartSchool.Resources.Resource1.Enquiry_Date</th>
                                                    <th>@SmartSchool.Resources.Resource1.Last_Follow_Up_Date</th>
                                                    <th>@SmartSchool.Resources.Resource1.Next_Follow_Up_Date</th>

                                                    <th>@SmartSchool.Resources.Resource1.Status</th>

                                                    <th>@SmartSchool.Resources.Resource1.Action</th>

                                                </tr>
                                            <thead>
                                            <tbody>
                                                @if (ViewBag.DisplayAdmissionenquiry != null)
                                                { }

                                                @{
                                                    int slno = 0;
                                                }
                                                @foreach (var item in ViewBag.DisplayAdmissionenquiry)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{slno++;}
                                                            @slno
                                                        </td>

                                                        <td>
                                                            @item.Name
                                                        </td>
                                                        <td>
                                                            @item.Contact
                                                        </td>
                                                        <td>
                                                            @item.Classname
                                                        </td>
                                                        <td>
                                                            @item.Source
                                                        </td>
                                                        <td>

                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Follow_up_date))
                                                        </td>
                                                        <td>
                                                            Active
                                                        </td>
                                                        <td>

                                                            @Html.ActionLink(" ", "Admissionenquiry", new { id = item.Aeid }, new { @class = "fa fa-reorder", id = "homeworkid" }) |
                                                            @if (rol.can_edit == 1)
                                                            {
                                                                @Html.ActionLink(" ", "EditAdmnenquiry", new { id = item.Aeid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", id = "editAde", data_toggle = "tooltip", @title = "Edit" })
                                                            }
                                                            @if (rol.can_delete == 1)
                                                            {
                                                                @Html.ActionLink(" ", "DeletAdmnenquiry", new { id = item.Aeid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.list != null)
                        {
                            <div id="responsive-modal1" class="modal fade in timelinemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="panel panel-default">
                                                <div class="panel-wrapper collapse in">



                                                    <div class="panel-body">
                                                        <h4>
                                                            @SmartSchool.Resources.Resource1.Details
                                                        </h4>
                                                        <div class="table-wrap mt-25">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Name</th>
                                                                            <td>@ViewBag.list.Name</td>

                                                                            <th>@SmartSchool.Resources.Resource1.Phone</th>
                                                                            <td>@ViewBag.list.Contact</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Date</th>
                                                                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.Date))</td>
                                                                            <th>Next Follow Up Date</th>
                                                                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.Follow_up_date))</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Description</th>
                                                                            <td>@ViewBag.list.Description </td>
                                                                            <th>Note</th>
                                                                            <td>@ViewBag.list.Note </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Assigned</th>
                                                                            <td>@ViewBag.list.Assigned </td>
                                                                            <th>Status</th>
                                                                            <td>@ViewBag.list.Status </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Class</th>
                                                                            <td>@ViewBag.list.Classname</td>
                                                                            <th>No Of Child</th>
                                                                            <td>@ViewBag.list.No_of_child</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
}

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#responsive-modal1").show();
        });
        $('.close').click(function () {

            $("#responsive-modal1").hide();
        });
    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal1").show();
            }
            $('.close').click(function () {
                $("#responsive-modal1").hide();
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            var dd = $('#idoftext').val();
            var clc = document.getElementById("txtname").value
            //alert(clc);
            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6

                });
                $('#name').focus();
                return false;
            }
            else if (document.getElementById("txtcontact").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter phone number  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("txtdate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter Date..',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("nfdate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select next follow-up date  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#nfdate').focus();
                return false;
            }

           
            else if (document.getElementById("ddlsource").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select source dropdown  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#ddlsource').focus();
                return false;
            }
            else if (document.getElementById("ddlclass").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select class  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#ddlclass').focus();
                return false;
            }

            window.location.reload(true);
            $.toast({
                //heading: '2 new messages',
                text: "Data Saved Successfully",
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });

        });

    });

</script>
@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>
}
<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('#txtdate').val(moment(output).format("YYYY-MM-DD"));

    });
</script>