﻿@model SmartSchool.Models.class_subjects

@{
    ViewBag.Title = "Classsubjects";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Admission_Enquiry</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <form>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.ClassName</label>
                                                        @Html.DropDownListFor(Model => Model.class_id, (IEnumerable<SelectListItem>)ViewBag.selectedclass as SelectList, new { @class = "form-control", required = "required", id = "txtclass_id" })
                                                        @Html.ValidationMessageFor(m => m.class_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section_Name</label>
                                                        @Html.DropDownListFor(Model => Model.sectionid, (IEnumerable<SelectListItem>)ViewBag.selectedsection as SelectList, new { @class = "form-control", required = "required", id = "txtsectionid" })
                                                        @Html.ValidationMessageFor(m => m.sectionid, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Subjects</label>
                                                        <br />
                                                        @foreach (var item in ViewBag.subjects)
                                                        {
                                                            <input type="checkbox" value="@item.code" name="checkbox" id="@item.code">
                                                            @item.name
                                                            <br />
                                                        }
                                                    </div>

                                                </div>

                                            </div>
                                            @if (rol.can_add == 1)
                                            {
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" value="Create" id="btnsave" class="btn btn-info" />
                                                </div>
                                            </div>

                                            }
                                        </form>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    }
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

            <script>
                $(document).ready(function () {

                    $("#btnsave").click(function () {

                        // var clc = document.getElementById("ddlpurpose").value=="0"
                        //alert(clc);

                        if (document.getElementById("Classid").value == "") {
                            $.toast({
                                //heading: '2 new messages',
                                text: 'please entre the Class id ',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 3500,
                                stack: 6
                            });
                            $('#Classid').focus();
                            return false;
                        }
                        else if (document.getElementById("Sectionid").value == "") {
                            $.toast({
                                //heading: '2 new messages',
                                text: 'please enter the Sectionid',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 3500,
                                stack: 6
                            });
                            $('#Sectionid').focus();
                            return false;
                        }

                    });
                });
            </script>
