﻿@model SmartSchool.Models.class_subjects

@{
    ViewBag.Title = "Classsub";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Income</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap">
                                        <form class="form-horizontal">
                                            <div class="form-group mb-0">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.ClassName</label>
                                                            @Html.DropDownListFor(Model => Model.class_id, (IEnumerable<SelectListItem>)ViewBag.selectedclass as SelectList, new { @class = "form-control", required = "required" })
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section_Name</label>
                                                            @Html.DropDownList("sectionid", new SelectList(string.Empty, "Value", "Text"), "select section name", new { @class = "form-control", required = "required" })
                                                        </div>
                                                        @if (rol.can_add == 1)
                                                        {
                                                            <div class="col-sm-4">

                                                                <div class="pull-right">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Search" id="btnsave" class="btn btn-info" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="col-md-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">
                                @SmartSchool.Resources.Resource1.Class
                            </h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Sl_No

                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Subjects
                                                    </th>
                                                    <th>@SmartSchool.Resources.Resource1.Subjects</th>
                                                </tr>
                                            <thead>
                                            <tbody>
                                                @{ int slno = 0;}
                                                @foreach (var item in ViewBag.subjectslist)
                                                {

                                                    <tr>
                                                        <td>
                                                            @{ slno++;}
                                                            @slno
                                                        </td>


                                                        <td>
                                                            @item.SubjectCode
                                                        </td>
                                                        <td>
                                                            @item.SubjectName
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#sectionid').empty();
            $("#sectionid").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Admin/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (index, row) {

                        $("#sectionid").append("<option value='" + row.section_id + "'>" + row.section + "</option > ");
                    });

                }
            });
        });

        $("#btnsave").click(function () {

            var clc = document.getElementById("classid").value
            //alert(clc);

            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select class ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("sectionid").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select section  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>





