﻿@model SmartSchool.Models.complaint

@{
    /**/

    ViewBag.Title = "Complaint";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}




<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 6, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm("Complaint", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Complain</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Complain_Type</label>
                                                        @Html.DropDownListFor(Model => Model.complaint_type, (IEnumerable<SelectListItem>)ViewBag.selectedcomplainttype as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.complaint_type, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Source</label>
                                                        @Html.DropDownListFor(Model => Model.source, (IEnumerable<SelectListItem>)ViewBag.selectedsource as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.source, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Complain_By</label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone </label>
                                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required = "required", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                                        <input type="date" id="cdate" name="cdate" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Action_Taken</label>
                                                        @Html.DropDownListFor(Model => Model.action_taken, (IEnumerable<SelectListItem>)ViewBag.selectedaction as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.action_taken, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Assigned </label>
                                                        @Html.DropDownListFor(Model => Model.assigned, (IEnumerable<SelectListItem>)ViewBag.selectedstaff as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.assigned, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Attach_Document</label>
                                                        <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" id="btnsave" value="Save" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Source_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Complain_Type

                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Phone
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Date

                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{int slno = 0;}
                                                    @foreach (var item in ViewBag.complaintlist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{slno++;}
                                                                @slno
                                                            <td>
                                                                @item.Complaint_type
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>

                                                            <td>
                                                                @item.Contact
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                            </td>
                                                            <td>


                                                                @Html.ActionLink(" ", "Complaint", new { id = item.Cid }, new { @class = "fa fa-reorder", id = "homeworkid" }) |
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "EditComplaint", new { id = item.Cid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Deletecomplaint", new { id = item.Cid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.list != null)
                        {
                            <div id="responsive-modal1" class="modal fade in timelinemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="panel panel-default">
                                                <div class="panel-wrapper collapse in">



                                                    <div class="panel-body">
                                                        <h4>
                                                            @SmartSchool.Resources.Resource1.Details
                                                        </h4>
                                                        <div class="table-wrap mt-25">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>Complain #</th>
                                                                            <td> @ViewBag.list.Cid</td>
                                                                            <th>Complain Type</th>
                                                                            <td> @ViewBag.list.complaint_type</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Source</th>
                                                                            <td>    @ViewBag.list.source</td>
                                                                            <th>Name</th>
                                                                            <td>@ViewBag.list.name</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th>Phone</th>
                                                                            <td>  @ViewBag.list.contact</td>
                                                                            <th>Date</th>
                                                                            <td>  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.date))</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Description</th>
                                                                            <td>   @ViewBag.list.description</td>
                                                                            <th>Action Taken</th>
                                                                            <td> @ViewBag.list.action_taken</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Assigned</th>
                                                                            <td>@ViewBag.list.assigned</td>
                                                                            <th>Note</th>
                                                                            <td>@ViewBag.list.note </td>
                                                                        </tr>
                                                                    </tbody>




                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
}




<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#responsive-modal1").show();
        });
        $('.close').click(function () {

            $("#responsive-modal1").hide();
        });
    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal1").show();
            }
            $('.close').click(function () {

                $("#responsive-modal1").hide();


            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {

            // var clc = document.getElementById("ddlpurpose").value=="0"
            //alert(clc);

            if (document.getElementById("complaint_type").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the Complaint type ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#complaint_type').focus();
                return false;
            }
            else if (document.getElementById("source").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the source  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#source').focus();
                return false;
            }


            else if (document.getElementById("name").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the Complain By  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#name').focus();
                return false;
            }





            else if (document.getElementById("contact").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the Contact number',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("cdate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select complaint date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#cdate').focus();
                return false;
            }


            else if (document.getElementById("description").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the Description',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#description').focus();
                return false;
            }

            else if (document.getElementById("action_taken").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the action taken',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#action_taken').focus();
                return false;
            }



            else if (document.getElementById("assigned").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the assigned',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#assigned').focus();
                return false;
            }

            else if (document.getElementById("note").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the note  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#note').focus();
                return false;
            }


        });
    });
</script>


<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));
    });
</script>



