﻿@model SmartSchool.Models.complaint_type

@{
    ViewBag.Title = "Complainttype";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="pills-struct mt-40">
                                    <ul role="tablist" class="nav nav-pills" id="myTabs_6">
                                        <li class="active" role="presentation"><a href="@Url.Action("Visitorspurpose", "Admin")">@SmartSchool.Resources.Resource1.Purpose</a></li>
                                        <li role="presentation" class="active"><a href="@Url.Action("Complainttype", "Admin")">@SmartSchool.Resources.Resource1.Complaint_type</a></li>
                                        <li class="active" role="presentation"><a href="@Url.Action("Source", "Admin")">@SmartSchool.Resources.Resource1.Source</a></li>
                                        <li role="presentation" class="active"><a href="@Url.Action("Reference", "Admin")">@SmartSchool.Resources.Resource1.Reference</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Complain_Type</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Complaint_type</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.complaint_type1, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.complaint_type1, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="form-group">
                                                            <div class="pull-right">
                                                                <input type="submit" value="Create" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>


                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Complain_Type_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <center>
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-hover display  pb-30">
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Sl_No.
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Complain_Type
                                                    </th>

                                                    <th>@SmartSchool.Resources.Resource1.Created_Date</th>
                                                    <th>@SmartSchool.Resources.Resource1.Action</th>

                                                </tr>
                                                @{int slno = 0;}
                                                @foreach (var item in ViewBag.Complaintlist)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{ slno++;}
                                                            @slno

                                                        </td>
                                                        <td>
                                                            @item.complaint_type1
                                                        </td>

                                                        <td>
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                                                        </td>
                                                        <td>
                                                            @if (rol.can_edit == 1)
                                                            {
                                                                @Html.ActionLink(" ", "EditComplainttype", new { id = item.Ctid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                            }
                                                            @if (rol.can_delete == 1)
                                                            {
                                                                @Html.ActionLink(" ", "DeleteComplainttype", new { id = item.Ctid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                            }
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                        </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<script>
                $(document).ready(function () {

                    $("#btnsave").click(function () {

                        // var clc = document.getElementById("ddlpurpose").value=="0"
                        //alert(clc);

                        if (document.getElementById("complaint_type1").value == "") {
                            $.toast({
                                //heading: '2 new messages',
                                text: 'Please entre the Complaint type',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 3500,
                                stack: 6
                            });
                            $('#complaint_type1').focus();
                            return false;
                        }


                    });
                });
</script>

@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>

}





