﻿@model SmartSchool.Models.general_calls

@{
    ViewBag.Title = "EditGeneralcall";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Phone_Call_Log_List</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Gcid)

                            <form>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                            @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", required = "required" })
                                            @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description </label>
                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Next_Follow_Up_Date</label>
                                            @Html.TextBoxFor(model => model.follow_up_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", required = "required" })
                                            @Html.ValidationMessageFor(m => m.follow_up_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Call_Duration</label>
                                            @Html.EditorFor(model => model.call_dureation, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                            @Html.ValidationMessageFor(m => m.call_dureation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                            @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Call_Type</label>
                                            Incoming
                                            @Html.RadioButtonFor(model => model.call_type, "Incoming")
                                            Outgoing
                                            @Html.RadioButtonFor(model => model.call_type, "Outgoing")
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status </label>
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                            @Html.ValidationMessageFor(m => m.is_active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                               

                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-info" />
                                    </div>
                                </div>

                            </form>
                        }
                            <div>
                                @Html.ActionLink("Back to List", "Generalcall")
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
