﻿@model SmartSchool.Models.dispatch_receive

@{
    ViewBag.Title = "EditPostalDispatch";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Postal_Dispatch</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm("EditPostalDispatch", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Drid)

                            <form>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.To_Title</label>
                                            @Html.EditorFor(model => model.to_title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.to_title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Reference_Number</label>
                                            @Html.EditorFor(model => model.reference_no, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.reference_no, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address </label>
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.From_Title</label>
                                            @Html.EditorFor(model => model.from_title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.from_title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                            @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", required = "required" })
                                            @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">File Upload </label>
                                            @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control",@type="File" } })
                                            @Html.ValidationMessageFor(m => m.image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status </label>
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.from_title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-info" />
                                    </div>
                                </div>

                            </form>
                        }
                            <div>
                                @Html.ActionLink("Back to List", "PostalDispatch")
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

