﻿@model SmartSchool.Models.source

@{
    ViewBag.Title = "EditSource";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Source</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Sid)

                            <form>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Source</label>
                                            @Html.EditorFor(model => model.source1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.source1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description </label>
                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status </label>
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.is_active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-info" />
                                    </div>
                                </div>

                            </form>
                        }
                            <div>
                                @Html.ActionLink("Back to List", "Source")
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
