﻿@model SmartSchool.Models.enquiry

@{
    ViewBag.Title = "EditAdmnenquiry";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Admission_Enquiry</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Aeid)
                            <form>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone</label>
                                            @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required = "required",type="number" } })
                                            @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Email </label>
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "required", type="email" } })
                                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address </label>
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description </label>
                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note</label>
                                            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                            @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                                            @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Next_Follow_Up_Date</label>
                                            @Html.TextBoxFor(model => model.follow_up_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                                            @Html.ValidationMessageFor(m => m.follow_up_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Assigned </label>
                                            @Html.EditorFor(model => model.assigned, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.assigned, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Reference </label>
                                            @Html.DropDownListFor(Model => Model.reference, (IEnumerable<SelectListItem>)ViewBag.selectedrefrence as SelectList, new { @class = "form-control", required="required" })
                                            @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Source </label>
                                            @Html.DropDownListFor(Model => Model.source, (IEnumerable<SelectListItem>)ViewBag.selectedsource as SelectList, new { @class = "form-control", required="required" })
                                            @Html.ValidationMessageFor(m => m.source, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class </label>
                                            @Html.DropDownListFor(Model => Model.@class, new SelectList(ViewBag.selectedclass, "Value","Text") , new { @class = "form-control",required="required" })
                                            @Html.ValidationMessageFor(m => m.@class, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Number_Of_Child</label>
                                        @Html.EditorFor(model => model.no_of_child, new { htmlAttributes = new { @class = "form-control", required = "required",type="number" } })
                                        @Html.ValidationMessageFor(m => m.no_of_child, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status </label>
                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @*@Html.DropDownListFor(Model => Model.is_active, (IEnumerable<SelectListItem>)ViewBag.selectedstatus as SelectList, new { @class = "form-control" })*@
                                    </div>
                                </div>
                        </div>


                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value="Save" class="btn btn-info" />
                            </div>
                        </div>


                        </form>
                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Admissionenquiry")
</div>

