﻿@model SmartSchool.Models.visitors_book

@{
    ViewBag.Title = "Editvisitors";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Visitor_List</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Vid)

                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Purpose  </label>
                                        @Html.DropDownListFor(Model => Model.purpose, (IEnumerable<SelectListItem>)ViewBag.selectedvisitor as SelectList, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.purpose, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Contact </label>
                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required= "required",type="number" } })
                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Id_proof</label>
                                        @Html.EditorFor(model => model.id_proof, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                        @Html.ValidationMessageFor(m => m.id_proof, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Number_of_people</label>
                                        @Html.EditorFor(model => model.no_of_pepple, new { htmlAttributes = new { @class = "form-control", required= "required",type="number" } })
                                        @Html.ValidationMessageFor(m => m.no_of_pepple, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                        @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", required = "required" })
                                        @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.In_Time</label>
                                        @Html.EditorFor(model => model.in_time, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                        @Html.ValidationMessageFor(m => m.in_time, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Out_Time</label>
                                        @Html.EditorFor(model => model.out_time, new { htmlAttributes = new { @class = "form-control", required="required" } })
                                        @Html.ValidationMessageFor(m => m.out_time, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note</label>
                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status</label>
                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            




                            <div class="form-group">
                                <div class="pull-right">
                                    <input type="submit" value="Save" class="btn btn-info" />
                                </div>
                            </div>

                        </form>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Visitors")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


