﻿@model SmartSchool.Models.complaint

@{
    ViewBag.Title = "EditComplaint";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Complain</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Cid)

                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Complain_Type </label>
                                        @Html.DropDownListFor(Model => Model.complaint_type, (IEnumerable<SelectListItem>)ViewBag.selectedcomplainttype as SelectList, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.complaint_type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Source</label>
                                        @Html.DropDownListFor(Model => Model.source, (IEnumerable<SelectListItem>)ViewBag.selectedsource as SelectList, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.source, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Complain_By</label>
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone </label>
                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required= "required",type="number" } })
                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                        @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Action_Taken</label>
                                       
                                            <select name="FooBarDropDown" id="FooBarDropDown" class="form-control" required="required">
                                                <option value="Select Action Taken" selected>@SmartSchool.Resources.Resource1.Select_Action_Taken</option>
                                                <option value="Completed">@SmartSchool.Resources.Resource1.Completed</option>
                                                <option value="Open">@SmartSchool.Resources.Resource1.Open</option>
                                                <option value="Pending">@SmartSchool.Resources.Resource1.Pending</option>
                                                <option value="Other">@SmartSchool.Resources.Resource1.Other</option>
                                            </select>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="row">


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Assigned</label>
                                        @Html.DropDownListFor(Model => Model.assigned, (IEnumerable<SelectListItem>)ViewBag.selectedstaff as SelectList, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.assigned, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required= "required" } })
                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status </label>
                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control",required= "required" } })
                                        @Html.ValidationMessageFor(m => m.is_active, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="pull-right">
                                    <input type="submit" value="Save" class="btn btn-info" />
                                </div>
                            </div>

                        </form>
                        }
                            <div>
                                @Html.ActionLink("Back to List", "Complaint")
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

