﻿@model SmartSchool.Models.general_calls

@{
    /**/

    ViewBag.Title = "Generalcall";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 3, listData.CollegeID, listData.BranchID);
   
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Phone_Call_Log</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name </label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", type = "number", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                                        <input type="date" id="Calldate" name="Calldate" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description </label>
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Next_Follow_Up_Date </label>
                                                        @Html.EditorFor(model => model.follow_up_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Call_Duration</label>
                                                        @Html.EditorFor(model => model.call_dureation, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.call_dureation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <div class="col-md-10">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Call_Type </label><small class="req" style="color:red">*</small>
                                                            Incoming
                                                            @Html.RadioButtonFor(model => model.call_type, "Incoming", new { @checked = "checked" })
                                                            Outgoing
                                                            @Html.RadioButtonFor(model => model.call_type, "Outgoing")
                                                        </div>
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Phone_Call_Log_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Phone
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Date
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Next_Follow_Up_Date

                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Call_Type</th>
                                                        <th>@SmartSchool.Resources.Resource1.Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int slno = 0;}
                                                    @foreach (var item in ViewBag.Calllist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno

                                                            </td>

                                                            <td>
                                                                @item.name
                                                            </td>

                                                            <td>
                                                                @item.contact
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.date))
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.follow_up_date))
                                                            </td>
                                                            <td>
                                                                @item.call_type
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink(" ", "Generalcall", new { id = item.Gcid }, new { @class = "fa fa-reorder", id = "homeworkid" }) |
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "EditGeneralcall", new { id = item.Gcid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Deletegeneralcall", new { id = item.Gcid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                @if (ViewBag.list != null)
                {
                    <div id="responsive-modal1" class="modal fade in timelinemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-default">
                                        <div class="panel-wrapper collapse in">



                                            <div class="panel-body">
                                                <h4>
                                                    @SmartSchool.Resources.Resource1.Details
                                                </h4>
                                                <div class="table-wrap mt-25">
                                                    <div class="table-responsive">

                                                        <div id="example_wrapper" class="dataTables_wrapper">
                                                        </div>
                                                        <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                            <tbody>
                                                                <tr>
                                                                    <th>@SmartSchool.Resources.Resource1.Name</th>
                                                                    <td>@ViewBag.list.name</td>

                                                                    <th>@SmartSchool.Resources.Resource1.Phone</th>
                                                                    <td>@ViewBag.list.contact</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@SmartSchool.Resources.Resource1.Date</th>
                                                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.date))</td>
                                                                    <th>@SmartSchool.Resources.Resource1.Next Follow Up Date</th>
                                                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.follow_up_date))</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@SmartSchool.Resources.Resource1.Call_Duration</th>
                                                                    <td>@ViewBag.list.call_dureation</td>
                                                                    <th>@SmartSchool.Resources.Resource1.Call_Type</th>
                                                                    <td>@ViewBag.list.call_type</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@SmartSchool.Resources.Resource1.Description</th>
                                                                    <td>@ViewBag.list.description </td>
                                                                    <th>@SmartSchool.Resources.Resource1.Note</th>
                                                                    <td>@ViewBag.list.note </td>
                                                                </tr>
                                                            </tbody>




                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#responsive-modal1").show();
        });
        $('.close').click(function () {

            $("#responsive-modal1").hide();
        });

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('#Calldate').val(moment(output).format("YYYY-MM-DD"));
    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal1").show();
            }
            $('.close').click(function () {

                $("#responsive-modal1").hide();


            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}


<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {

            if (document.getElementById("name").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please entre the name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#name').focus();
                return false;
            }
            else if (document.getElementById("contact").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the contact number',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("Calldate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#Calldate').focus();
                return false;
            }
            else if (document.getElementById("description").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the description',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#description').focus();
                return false;
            }
            else if (document.getElementById("follow_up_date").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the next follow up date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#follow_up_date').focus();
                return false;
            }

            else if (document.getElementById("call_dureation").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the call duration',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 5500,
                    stack: 6
                });
                $('#call_dureation').focus();
                return false;
            }



            else if (document.getElementById("follow_up_date").value != "") {
                var dateString = document.getElementById("follow_up_date").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate <= today) {
                    $.toast({
                        text: 'Date should be greater than todays date.',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }

            }

        });

    });
</script>


@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>
}















