﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<!-- Row -->
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient3">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/FeesCollection/searchpayment">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.fee_total</span></span>
                                        <span class="weight-500 uppercase-font block font-12 txt-light">@SmartSchool.Resources.Resource1.Fees_Collection</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="fa fa-inr data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient1">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/Expense/search_expense">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.expenseamount</span></span>
                                        <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.MONTHLY_EXPENSE</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="fa fa-money data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/Student/studentdetails">
                                    <div class="col-xs-6 text-center pl-0 pr-0 txt-light data-wrap-left">
                                        <span class="block counter"><span class="counter-anim">@ViewBag.TotalStudents</span></span>
                                        <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Students</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-people data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient2">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/HumanResource/StaffIndex">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalTeacher</span></span>
                                        <span class="weight-500 uppercase-font font-10 block txt-light">@SmartSchool.Resources.Resource1.Teacher</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div class="row">
    <div class="col-md-12">
        <marquee class="text-uppercase" style="color:red;font-weight:600">New features Added/Updated - side bar menus reordered, modified date in student attendance report and Integrated quiz module</marquee>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Current_year_Students_Metrics</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divTotalStudents" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient3">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/HumanResource/StaffIndex">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalAccountant</span></span>
                                        <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Accountant</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following  data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient1">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/HumanResource/StaffIndex">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalLibrarian</span></span>
                                        <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Librarian</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following  data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/HumanResource/StaffIndex">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalReceptionist</span></span>
                                        <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Receptionist</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following  data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view pa-0 bg-gradient2">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="sm-data-box">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="~/HumanResource/StaffIndex">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalSuperAdmin</span></span>
                                        <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Super_Admin</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following  data-right-rep-icon txt-light"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view panel-refresh">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">AVAILABLE SMS(%)</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="liquidBall" class="" style="height: 236px; -webkit-tap-highlight-color: transparent; user-select: none; background: transparent;" _echarts_instance_="ec_1576645891181"><div style="position: relative; overflow: hidden; width: 230px; height: 236px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;"><canvas width="230" height="236" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 230px; height: 236px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>
                    <div class="label-chatrs text-center mt-30">
                        <div class="inline-block mr-15">
                            <span class="clabels inline-block bg-pink mr-5"></span>
                            <span class="clabels-text font-12 inline-block txt-dark capitalize-font uppercase-font weight-600">REMAINING SMS</span>
                        </div>
                        <div class="inline-block">
                            <span class="clabels inline-block bg-light-blue mr-5"></span>
                            <span class="clabels-text font-12 inline-block txt-dark capitalize-font">@ViewBag.smsCount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view panel-refresh">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">FLASH NEWS</h6>
                </div>
                <div class="pull-right">
                    <a href="#" class="pull-left inline-block full-screen mr-15">
                        <i class="zmdi zmdi-fullscreen"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <!-- START carousel-->
                    <div id="testimonial_slider" data-ride="carousel" class="carousel slide testimonial-slider-wrap text-slider">
                        @if (ViewBag.message.Count != 0)
                        {
                            int i = 0; string aval = null;
                            int j = 0;
                            <ol class="carousel-indicators">
                                @foreach (var lid in ViewBag.message)
                                {
                                    if (j == 0)
                                    {
                                        <li data-target="#testimonial_slider" data-slide-to="@lid.id" class="active"></li>
                                        j++;
                                    }
                                    else
                                    {
                                        <li data-target="#testimonial_slider" data-slide-to="@lid.id"></li>
                                    }
                                }
                            </ol>
                            <div role="listbox" class="carousel-inner mb-60">

                                @foreach (var mes in ViewBag.message)
                                {
                                    if (i == 0)
                                    {
                                        aval = "active";
                                    }
                                    else
                                    {
                                        aval = "";
                                    }
                                    <div class="item @aval">
                                        <div class="panel panel-default card-view panel-refresh bg-gradient3">
                                            <div class="refresh-container">
                                                <div class="la-anim-1"></div>
                                            </div>
                                            <div class="panel-heading">
                                                <div class="pull-left">
                                                    <small class="font-13 txt-light bold weight-600">
                                                        <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase"> @mes.title</text>
                                                    </small>
                                                </div>
                                            </div>
                                            <div id="collapse_@mes.id" class="panel-wrapper" style="height:158px">
                                                <div class="panel-body font-16 weight-500 txt-light">
                                                    <p>@mes.message</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            </div>
                        }
                        else
                        {
                            <div role="listbox" class="carousel-inner mb-60">

                                <div class="item active">
                                    <div class="panel panel-default card-view panel-refresh ">
                                        <div class="refresh-container">
                                            <div class="la-anim-1"></div>
                                        </div>
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <small class="font-13 txt-light bold weight-600">
                                                    <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase">NO FLASH NEWS</text>
                                                </small>
                                            </div>

                                        </div>
                                        <div id="collapse" class="panel-wrapper" style="height:158px">
                                            <div class="panel-body font-16 weight-500 txt-light">
                                                <center>  <img src="~/Content/Logo/no_news.png" /></center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- END carousel-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.IA_Marks</h6>
                    </div>
                    <div class="pull-right">
                        <div class="pull-left inline-block dropdown">
                            @Html.DropDownList("SubjectWiseIAMarks", new List<SelectListItem>{
                            new SelectListItem{Text="1st Standard", Value="1"},
                            new SelectListItem{Text="2nd Standard", Value="2"},
                            new SelectListItem{Text="3rd Standard", Value="3"},
                            new SelectListItem{Text="4th Standard", Value="4"},
                            new SelectListItem{Text="5th Standard", Value="5"},
                            new SelectListItem{Text="6th Standard", Value="6"},
                            new SelectListItem{Text="7th Standard", Value="7"},
                            new SelectListItem{Text="8th Standard", Value="8"},
                            new SelectListItem{Text="9th Standard", Value="9"},
                            new SelectListItem{Text="10th Standard", Value="10"},
                       }, "Select Class", new { @class = "dropdown-toggle", @required = "required", id = "ddlSubjectWiseIAMarks", onchange = "changeSubjectWiseIAMarks(this)" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div id="divIAmorrisbar" class="morris-chart"></div>
                </div>
            </div>
        </div>*@
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view panel-refresh">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark weight-600 uppercase-font">GENDER SPLIT</h6>
                </div>
                <div class="pull-right">
                    <a href="#" class="pull-left inline-block refresh mr-15">
                        <i class="zmdi zmdi-replay"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="genderSplit" class="" style="height:260px;"></div>
                    <hr class="light-grey-hr row mt-10 mb-15" />
                    <div class="label-chatrs">
                        <div class="">
                            <span class="clabels clabels-lg inline-block bg-blue mr-10 pull-left"></span>
                            <span class="clabels-text font-12 inline-block txt-dark capitalize-font pull-left"><span class="block font-16 weight-500 mb-5"><span class="counter-anim">@ViewBag.MaleCount</span></span><span class="block txt-grey">Male</span></span>
                            <i class="big-rpsn-icon zmdi zmdi-male-alt pull-right txt-primary"></i>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <hr class="light-grey-hr row mt-10 mb-15" />
                    <div class="label-chatrs">
                        <div class="">
                            <span class="clabels clabels-lg inline-block bg-pink mr-10 pull-left"></span>
                            <span class="clabels-text font-12 inline-block txt-dark capitalize-font pull-left"><span class="block font-16 weight-500 mb-5"><span class="counter-anim">@ViewBag.FemaleCount</span></span><span class="block txt-grey">Female</span></span>
                            <i class="big-rpsn-icon zmdi zmdi-female pull-right txt-info"></i>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Categorywise_Metrics</h6>
                </div>
                <div class="pull-right">
                    <div class="pull-left inline-block dropdown">
                        @Html.DropDownList("CategoryWiseStatistics", new List<SelectListItem>{
                        new SelectListItem{Text="9th Standard", Value="9"},
                        new SelectListItem{Text="10th Standard", Value="10"},
                   }, "8th Standard", new { @class = "dropdown-toggle", @required = "required", id = "ddlCategoryWiseStatistics", onchange = "changeCategoryWiseStatistics()" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divCategoryWiseStatistics" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Students_Attendence_Metrics</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divStudentsAttendence" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Non_RTE_Students_Metrics</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div id="divNonRTEStatistics" class="morris-chart"></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Monthly_Expense_Metrics</h6>
                </div>
                <div class="pull-right">
                    <div class="pull-left inline-block dropdown">
                        @Html.DropDownList("MonthlyExpense", new List<SelectListItem>{
                        new SelectListItem{Text="January", Value="01"},
                        new SelectListItem{Text="February", Value="02"},
                        new SelectListItem{Text="March", Value="03"},
                        new SelectListItem{Text="April", Value="04"},
                        new SelectListItem{Text="May", Value="05"},
                        new SelectListItem{Text="June", Value="06"},
                        new SelectListItem{Text="July", Value="07"},
                        new SelectListItem{Text="August", Value="08"},
                        new SelectListItem{Text="September", Value="09"},
                        new SelectListItem{Text="October", Value="10"},
                        new SelectListItem{Text="November", Value="11"},
                        new SelectListItem{Text="December", Value="12"},
                   }, "Change Month", new { @class = "dropdown-toggle", @required = "required", id = "ddlMonthlyExpense", onchange = "changeMonthlyExpense(this)" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divMonthlyExpense" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Monthly_Income_Metrics</h6>
                </div>
                <div class="pull-right">
                    <div class="pull-left inline-block dropdown">
                        @Html.DropDownList("MonthlyIncome", new List<SelectListItem>{
                        new SelectListItem{Text="January", Value="01"},
                        new SelectListItem{Text="February", Value="02"},
                        new SelectListItem{Text="March", Value="03"},
                        new SelectListItem{Text="April", Value="04"},
                        new SelectListItem{Text="May", Value="05"},
                        new SelectListItem{Text="June", Value="06"},
                        new SelectListItem{Text="July", Value="07"},
                        new SelectListItem{Text="August", Value="08"},
                        new SelectListItem{Text="September", Value="09"},
                        new SelectListItem{Text="October", Value="10"},
                        new SelectListItem{Text="November", Value="11"},
                        new SelectListItem{Text="December", Value="12"},
                   }, "Change Month", new { @class = "dropdown-toggle", @required = "required", id = "ddlMonthlyIncome", onchange = "changeMonthlyIncome(this)" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divMonthlyIncome" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Yearly_Income_Metrics</h6>
                </div>
                <div class="pull-right">
                    <div class="pull-left inline-block dropdown">
                        @if (ViewBag.SessionYear != null)
                        {
                            @Html.DropDownList("YearlyIncome", new SelectList(ViewBag.SessionYear, "Value", "Text"), "Change Year", new { @class = "dropdown-toggle", @required = "required", id = "ddlYearlyIncome", onchange = "changeYearlyIncome(this)" })
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divYearlyIncome" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark uppercase-font weight-600">@SmartSchool.Resources.Resource1.Yearly_Expense_Metrics</h6>
                </div>
                <div class="pull-right">
                    <div class="pull-left inline-block dropdown">
                        @if (ViewBag.SessionYear != null)
                        {
                            @Html.DropDownList("YearlyIncome", new SelectList(ViewBag.SessionYear, "Value", "Text"), "Change Year", new { @class = "dropdown-toggle", @required = "required", id = "ddlYearlyExpense", onchange = "changeYearlyExpense(this)" })
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="divYearlyExpense" class="morris-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function setTotalStudents() {
        var chartObj = $("#divTotalStudents").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/SetTotalStudents',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                TotalStudents(JSobj);
            }
        });
    }
    function TotalStudents(JSobj) {
        var abc = new Morris.Area({
			element: 'divTotalStudents',
            data: JSobj,
            xLabelAngle: 35,
			xkey: 'standard1',
			ykeys: ['a'],
			labels: ['Strength'],
            parseTime: false,
			pointSize: 1,
            pointStrokeColors: ['#2677b5'],
            behaveLikeLine: true,
            grid: false,
            gridTextColor: '#6e6e6e',
            padding: 50,
            lineWidth: 2,
            smooth: true,
            hideHover: 'auto',
            lineColors: ['#45c0ba'],
            gridTextFamily: "Montserrat"
		});
    }
    function changeIAMarks() {
        var chartObj = $("#divIAmorrisbar").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/IAMarksClasswise',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                IABarGraph(JSobj);
            }
        });
    }
    function IABarGraph(JSobj) {
        var abc = new Morris.Bar({
			element: 'divIAmorrisbar',
			data: JSobj ,
			xkey: 'Subject',
            xLabelAngle: 35,
			ykeys: ['IA1', 'IA2', 'IA3'],
			labels: ['IA1', 'IA2', 'IA3'],
			barColors:['#76c880', '#e3c94b', '#f73414'],
			barOpacity:1,
            hideHover: 'auto',
            parseTime: false,
			grid: false,
			//resize: true,
			gridTextColor:'#6e6e6e',
            gridTextFamily: "Montserrat",
            barSize: 50
		});
    }
    function changeSubjectWiseIAMarks(ddlClass) {
        var ddlClass = $("select#ddlSubjectWiseIAMarks option").filter(":selected").val();
        if (ddlClass == "") {
            changeIAMarks();
        }
        else {
            var chartObj = $("#divIAmorrisbar").empty();
            $.ajax({
                type: 'post',
                url: '/Admin/IAMarksSubjectwise',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: { 'SelectedClass': ddlClass },
                success: function (JSdata) {
                    var JSobj = JSON.parse(JSdata);
                    SubjectWiseIAMarks(JSobj);
                }
            });
        }
    }
    function SubjectWiseIAMarks(JSobj) {
        var abc = new Morris.Bar({
			element: 'divIAmorrisbar',
			data: JSobj ,
			xkey: 'Subject',
			ykeys: ['IA1', 'IA2', 'IA3'],
			labels: ['IA1', 'IA2', 'IA3'],
			barColors:['#c1d419', '#1c57d6', '#f73414'],
			barOpacity:1,
            hideHover: 'auto',
            parseTime: false,
            grid: false,
			//resize: true,
			gridTextColor:'#6e6e6e',
            gridTextFamily: "Montserrat",
            barSize: 50
		});
    }
    function changeStudentsAttendence() {
        var CurrentDate = @Html.Raw(ViewBag.CurrentDate);
        var chartObj = $("#divStudentsAttendence").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/ChangeStudentsAttendence',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'ChangeDate': CurrentDate },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                StudentsAttendence(JSobj);
            }
        });
    }
    function StudentsAttendence(JSobj) {
        var abc = new Morris.Bar({
			element: 'divStudentsAttendence',
			data: JSobj ,
            xkey: 'standard1',
            xLabelAngle: 35,
			ykeys: ['Present', 'Late', 'Absent', 'Half', 'Holiday'],
			labels: ['Present', 'Late', 'Absent', 'Half', 'Holiday'],
			barColors:['#03c2fc', '#ebfc03', '#fc0341', '#9d03fc', '#fc9d03'],
			barOpacity:1,
			hideHover: 'auto',
			grid: false,
			//resize: true,
			gridTextColor:'#6e6e6e',
            gridTextFamily: "Montserrat",
            barSizeRatio: 1,
            barSize: 20
		});
    }
    function changeGenderWiseStatistics() {
        var chartObj = $("#divGenderWiseStatistics").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/GenderWiseStatistics',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                GetGenderSplit(JSobj);
            }
        });
    }
    function changeCategoryWiseStatistics() {
        var ddlStd = $("select#ddlCategoryWiseStatistics option").filter(":selected").val();
        if (ddlStd == "") {
            ddlStd = 8;
        }
        var chartObj = $("#divCategoryWiseStatistics").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/CategoryWiseStatistics',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'SelectedClass': ddlStd },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                CategoryWiseStatistics(JSobj);
            }
        });
    }
    function CategoryWiseStatistics(JSobj) {
        var abc = new Morris.Bar({
            element: 'divCategoryWiseStatistics',
            data: JSobj,
            xkey: 'Subject',
            ykeys: ['x'],
            labels: ['x'],
            xLabelAngle: 35,
            parseTime: false,
            barColors: ['#76c880', '#e3c94b', '#f73414'],
            barOpacity: 1,
            barSizeRatio:0.50,
            hideHover: 'auto',
            grid: false,
            gridTextColor: '#6e6e6e',
            gridTextFamily: "Montserrat"
        });
    }
    function changeNonRTEStatistics() {
        var chartObj = $("#divNonRTEStatistics").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/NonRTEStatistics',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                NonRTEStatistics(JSobj);
            }
        });
    }
    function NonRTEStatistics(JSobj) {
        var abc = new Morris.Bar({
            element: 'divNonRTEStatistics',
            data: JSobj,
            xkey: 'standard1',
            xLabelAngle: 35,
            ykeys: ['MaleCount', 'FemaleCount'],
            labels: ['RTE', 'Non-RTE'],
            parseTime: false,
            barColors: ['#ff833b', '#3baaff'],
            barOpacity: 1,
            hideHover: 'auto',
            //stacked: true,
            grid: false,
            //resize: true,
            gridTextColor: '#6e6e6e',
            gridTextFamily: "Montserrat",
            barSize: 50
        });
    }

    function changeMonthlyExpense(JSMonth) {
        var ddlMonth = $("select#ddlMonthlyExpense option").filter(":selected").val();
        if (ddlMonth=="") {
            ddlMonth = @Html.Raw(ViewBag.CurrentMonth);
        }
        var chartObj = $("#divMonthlyExpense").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/MonthlyExpense',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'SelectedMonth': ddlMonth },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                MonthlyExpense(JSobj);
            }
        });
    }
    function MonthlyExpense(JSMonth) {
        var abc = new Morris.Line({
            element: 'divMonthlyExpense',
            data: JSMonth,
            pointSize: 1,
            pointStrokeColors: ['#76c880'],
            behaveLikeLine: true,
            grid: false,
            gridTextColor: '#6e6e6e',
            lineWidth: 2,
            smooth: true,
            hideHover: 'auto',
            lineColors: ['#76c880'],
            //resize: true,
            gridTextFamily: "Montserrat",
            xkey: 'label',
            ykeys: ['y'],
            labels: ['Value', 'y'],
            //xLabels: "month"
        });
    }
    function changeMonthlyIncome(JSMonth) {
        var ddlMonth = $("select#ddlMonthlyIncome option").filter(":selected").val();
        if (ddlMonth=="") {
            ddlMonth = @Html.Raw(ViewBag.CurrentMonth);
        }
        var chartObj = $("#divMonthlyIncome").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/MonthlyIncome',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'SelectedMonth': ddlMonth },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                MonthlyIncome(JSobj);
            }
        });
    }
    function MonthlyIncome(JSMonth) {
        var abc = new Morris.Line({
            element: 'divMonthlyIncome',
            data: JSMonth,
            pointSize: 1,
            pointStrokeColors: ['#76c880'],
            behaveLikeLine: true,
            grid: false,
            gridTextColor: '#6e6e6e',
            lineWidth: 2,
            smooth: true,
            hideHover: 'auto',
            lineColors: ['#76c880'],
            //resize: true,
            gridTextFamily: "Montserrat",
            xkey: 'label',
            ykeys: ['y'],
            labels: ['Value', 'y'],
            //xLabels: "month"
        });
    }
    function changeYearlyExpense(JSYear) {
        var ddlYear = $("select#ddlYearlyExpense option").filter(":selected").val();
        if (ddlYear=="") {
            ddlYear =  @Html.Raw(ViewBag.CurrentYear);
        }
        var chartObj = $("#divYearlyExpense").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/YearlyExpense',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'SelectedYear': ddlYear },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                YearlyExpense(JSobj);
            }
        });
    }
    function YearlyExpense(JSYear) {
        var abc = new Morris.Line({
            element: 'divYearlyExpense',
            data: JSYear,
            pointSize: 1,
            pointStrokeColors: ['#76c880'],
            behaveLikeLine: true,
            grid: false,
            gridTextColor: '#000000',
            lineWidth: 2,
            smooth: true,
            hideHover: 'auto',
            lineColors: ['#f742aa'],
            //resize: true,
            gridTextFamily: "Montserrat",
            xkey: 'label',
            ykeys: ['y'],
            labels: ['Value', 'y'],
             xLabels: "day",
            xLabelAngle: 45,
            xLabelFormat: function (d) {
    var weekdays = new Array(7);
    weekdays[0] = "SUN";
    weekdays[1] = "MON";
    weekdays[2] = "TUE";
    weekdays[3] = "WED";
    weekdays[4] = "THU";
    weekdays[5] = "FRI";
    weekdays[6] = "SAT";

    return weekdays[d.getDay()] + '-' +
           ("0" + (d.getMonth() + 1)).slice(-2) + '-' +
           ("0" + (d.getYear())).slice(-2);
            },
        });
    }
    function changeYearlyIncome(JSYear) {
        var ddlYear = $("select#ddlYearlyIncome option").filter(":selected").val();
        if (ddlYear=="") {
            ddlYear = @Html.Raw(ViewBag.CurrentYear);
        }
        var chartObj = $("#divYearlyIncome").empty();
        $.ajax({
            type: 'post',
            url: '/Admin/YearlyIncome',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { 'SelectedYear': ddlYear },
            success: function (JSdata) {
                var JSobj = JSON.parse(JSdata);
                YearlyIncome(JSobj);
            }
        });
    }
    function YearlyIncome(JSYear) {
        var abc = new Morris.Line({
            element: 'divYearlyIncome',
            data: JSYear,
            pointSize: 1,
            pointStrokeColors: ['#76c880'],
            behaveLikeLine: true,
            grid: false,
            gridTextColor: '#000000',
            lineWidth: 2,
            smooth: true,
            hideHover: 'auto',
            lineColors: ['#f742aa'],
            //resize: true,
            gridTextFamily: "Montserrat",
            xkey: ['label'],
            ykeys: ['y'],
            labels: ['Value', 'y'],
            xLabels: "day",
            xLabelAngle: 45,
            xLabelFormat: function (d) {
    var weekdays = new Array(7);
    weekdays[0] = "SUN";
    weekdays[1] = "MON";
    weekdays[2] = "TUE";
    weekdays[3] = "WED";
    weekdays[4] = "THU";
    weekdays[5] = "FRI";
    weekdays[6] = "SAT";

    return weekdays[d.getDay()] + '-' +
           ("0" + (d.getMonth() + 1)).slice(-2) + '-' +
           ("0" + (d.getYear())).slice(-2);
            },
        });
    }
</script>

<script type="text/javascript">
    window.onload = function () {
         var JSMonth = @Html.Raw(ViewBag.CurrentMonth);
        var JSYear = @Html.Raw(ViewBag.CurrentYear);
        setTotalStudents();
        changeStudentsAttendence();
        changeGenderWiseStatistics();
        changeCategoryWiseStatistics(8);
        //changeIAMarks();
      //  changeNonRTEStatistics();

        changeMonthlyExpense(JSMonth);
        changeMonthlyIncome(JSMonth);
        changeYearlyExpense(JSYear);
        changeYearlyIncome(JSYear);
    }

</script>


@if (ViewBag.smsCount > 0)
{
    <script>
    $(document).ready(function () {

        var smscount = @ViewBag.smsCount;
        var ecData;
        if (smscount > 10000) {
            ecData = 1;
        }
        else {
            ecData = (smscount / 100) / 100;
        }
        if ($('#liquidBall').length > 0) {
            var eChart_3 = echarts.init(document.getElementById('liquidBall'));
            var option3 = {
                series: [{
                    type: 'liquidFill',
                    name: 'SMS Available',
                    data: [ecData, ecData],
                    radius: '100%',
                    shape: 'circle',
                    color: ['#958FEF', '#f742aa'],

                    backgroundStyle: {
                        borderWidth: 0,
                        color: 'rgba(255,255,255,0)',
                        shadowBlur: 0
                    },
                    itemStyle: {
                        normal: {
                            shadowBlur: 5,
                            shadowColor: 'rgba(0, 0, 0, .5)'
                        }
                    },
                    outline: {
                        borderDistance: 1,
                        itemStyle: {
                            borderWidth: 0,
                            borderColor: '#fff',
                            shadowBlur: 0,
                        }
                    },
                    label: {
                        normal: {
                            fontSize: 20
                        }
                    }
                }],
                tooltip: {
                    show: true
                }
            };
            eChart_3.setOption(option3);
            eChart_3.resize();
        }
    });
    </script>
}

<script type="text/javascript">
    function GetGenderSplit(jsonObj) {
        if ($('#genderSplit').length > 0) {
            var eChart_5 = echarts.init(document.getElementById('genderSplit'));
            var MCount = [];
            var FCount = [];
            var xData = function () {
                var data = [];
                for (var i = 0; i < jsonObj.length; i++) {
                    data.push(jsonObj[i].standard1);
                    MCount.push(jsonObj[i].MaleCount);
                    FCount.push(jsonObj[i].FemaleCount)
                }
                return data;
            }();
            var option5 = {
                tooltip: {
                    trigger: 'axis',
                    backgroundColor: 'rgba(33,33,33,1)',
                    borderRadius: 0,
                    padding: 10,
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: 'rgba(33,33,33,1)'
                        }
                    },
                    textStyle: {
                        color: '#fff',
                        fontStyle: 'normal',
                        fontWeight: 'normal',
                        fontFamily: "'Montserrat', sans-serif",
                        fontSize: 12
                    }
                },
                "grid": {
                    show: false,
                    top: 30,
                    bottom: 10,
                    containLabel: true,
                },
                "legend": {
                    "x": "right",
                    "data": []
                },
                "calculable": true,
                "xAxis": [
                    {
                        type: "category",
                        splitLine: {
                            "show": false
                        },
                        axisLine: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#878787'
                            }
                        },
                        axisTick: {
                            "show": false
                        },
                        splitArea: {
                            "show": false
                        },
                        data: xData,
                    }
                ],
                "yAxis": [
                    {
                        type: "value",
                        splitLine: {
                            "show": false
                        },
                        axisLine: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#878787'
                            }
                        },
                        axisTick: {
                            "show": false
                        },
                        splitArea: {
                            "show": false
                        }
                    }
                ],
                "series": [
                    {
                        "name": "male",
                        "type": "bar",
                        "stack": "split",
                        "barMaxWidth": 50,
                        "barGap": "10%",
                        "itemStyle": {
                            "normal": {
                                "barBorderRadius": 0,
                                "color": '#635bd6',
                                "label": {
                                    "show": true,
                                    "textStyle": {
                                        "color": "#fff"
                                    },
                                    "position": "insideTop",
                                    formatter: function (p) {
                                        return p.value >
                                            0 ? (p.value) : '';
                                    }
                                }
                            }
                        },
                        "data": MCount,
                    },
                    {
                        "name": "female",
                        "type": "bar",
                        "stack": "split",
                        "itemStyle": {
                            "normal": {
                                "color": '#f742aa',
                                "barBorderRadius": 0,
                                "label": {
                                    "show": true,
                                    "position": "top",
                                    formatter: function (p) {
                                        return p.value > 0 ? ('▼'
                                            + p.value + '')
                                            : '';
                                    }
                                }
                            }
                        },
                        "data": FCount
                    },
                ]
            }
            eChart_5.setOption(option5);
            eChart_5.resize();
        }
    };
</script>

