﻿@model SmartSchool.Models.dispatch_receive

@{
    /**/

    ViewBag.Title = "PostalReceive";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 5, listData.CollegeID, listData.BranchID);
    
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">


                <div class="col-md-4">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Postal_Receive</h6>
                            </div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="form-wrap mt-40">
                                    @using (Html.BeginForm("PostalReceive", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.From_Title</label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.from_title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.from_title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Reference_Number</label>
                                                        @Html.EditorFor(model => model.reference_no, new { htmlAttributes = new { @class = "form-control", id = "reference_no", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.reference_no, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Address </label>
                                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "address", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.To_Title </label>
                                                        @Html.EditorFor(model => model.to_title, new { htmlAttributes = new { @class = "form-control", id = "to_title", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.to_title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                                        <input type="date" id="prdate" name="prdate" class="form-control" required="required" />
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Attach_Document</label>
                                                        <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>


                                            </div>
                                        </form>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Postal_Recieve_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.From_Title
                                                        </th>

                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Reference_Number
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.To_Title
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Date

                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{int slno = 0;}
                                                    @foreach (var item in ViewBag.PostalReceive)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>
                                                            <td>
                                                                @item.from_title
                                                            </td>


                                                            <td>
                                                                @item.reference_no
                                                            </td>
                                                            <td>
                                                                @item.to_title
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.date))
                                                            </td>
                                                            <td>
                                                                <a href="~/Content/PostalReceive/@item.image" download>  <i class="fa fa-download" aria-hidden="true"></i></a>
                                                                @Html.ActionLink(" ", "PostalReceive", new { id = item.Drid }, new { @class = "fa fa-reorder", id = "homeworkid" }) |
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "EditPostalReceive", new { id = item.Drid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "DeletePostalReceive", new { id = item.Drid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.list != null)
                        {
                            <div id="responsive-modal1" class="modal fade in timelinemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="panel panel-default">
                                                <div class="panel-wrapper collapse in">



                                                    <div class="panel-body">
                                                        <h4>
                                                            @SmartSchool.Resources.Resource1.Details
                                                        </h4>
                                                        <div class="table-wrap mt-25">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.To_Title</th>
                                                                            <td> @ViewBag.list.to_title</td>
                                                                            <th>@SmartSchool.Resources.Resource1.Reference_Number</th>
                                                                            <td> @ViewBag.list.reference_no</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Address</th>
                                                                            <td>    @ViewBag.list.address</td>
                                                                            <th>@SmartSchool.Resources.Resource1.Note</th>
                                                                            <td>@ViewBag.list.note</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.From_Title</th>
                                                                            <td>  @ViewBag.list.from_title</td>
                                                                            <th>@SmartSchool.Resources.Resource1.Date</th>
                                                                            <td>  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.list.date))</td>
                                                                        </tr>


                                                                    </tbody>




                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        }
    }
}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#responsive-modal1").show();
        });
        $('.close').click(function () {

            $("#responsive-modal1").hide();
        });

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;

        $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));

    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal1").show();
            }
            $('.close').click(function () {

                $("#responsive-modal1").hide();


            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {

            if (document.getElementById("from_title").value == "") {
                $.toast({
                    text: 'please enter from title',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#from_title').focus();
                return false;
            }
            else if (document.getElementById("reference_no").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter referenceno',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#reference_no').focus();
                return false;
            }
            else if (document.getElementById("address").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the address',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#address').focus();
                return false;
            }
            else if (document.getElementById("note").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the note',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#note').focus();
                return false;
            }

            else if (document.getElementById("to_title").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the to title',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#to_title').focus();
                return false;
            }
            else if (document.getElementById("prdate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the date',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#prdate').focus();
                return false;
            }
        });
    });
</script>




@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>
}







