﻿@model IEnumerable<SmartSchool.Classes.receptiondashboard>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="container-fluid pt-25">
    <!-- Row -->

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient3">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Admin/Admissionenquiry">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.admissionenq</span></span>
                                            <span class="weight-500 uppercase-font block font-12 txt-light">@SmartSchool.Resources.Resource1.Admission_Enquiry</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-people  data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient3">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Admin/Visitors">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.visitors</span></span>
                                            <span class="weight-500 uppercase-font block font-12 txt-light">@SmartSchool.Resources.Resource1.Visitor_Book</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-people  data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient1">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Generalcall">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.phncall </span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Phone_Call_Log</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-book data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient2">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/StaffIndex">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            @*<span class="txt-light block counter"><span class="counter-anim">@ViewBag.staffname</span></span>*@
                                            <span id="ctl00_ContentPlaceHolder1_lbldesignation" style="color:Black;font-weight:bold;">@ViewBag.stafname</span>
                                            <span class="weight-500 uppercase-font font-10 block txt-light">@SmartSchool.Resources.Resource1.Staff_Name</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-user data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">

                        <div class="calendar-wrap mt-40">
                            <div id="calendar"></div>

                            <div class="demo-container">
                                <div id="scheduler"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <!-- START carousel-->
                        <div id="testimonial_slider" data-ride="carousel" class="carousel slide testimonial-slider-wrap text-slider">
                            @if (ViewBag.message.Count != 0)
                            {
                                int i = 0; string aval = null;
                                int j = 0;
                                <ol class="carousel-indicators">
                                    @foreach (var lid in ViewBag.message)
                                    {
                                        if (j == 0)
                                        {
                                            <li data-target="#testimonial_slider" data-slide-to="@lid.id" class="active"></li>
                                            j++;
                                        }
                                        else
                                        {
                                            <li data-target="#testimonial_slider" data-slide-to="@lid.id"></li>
                                        }
                                    }
                                </ol>
                                <div role="listbox" class="carousel-inner mb-60" style="height:335px">

                                    @foreach (var mes in ViewBag.message)
                                    {
                                        if (i == 0)
                                        {
                                            aval = "active";
                                        }
                                        else
                                        {
                                            aval = "";
                                        }
                                        <div class="item @aval">
                                            <center><img class="img-responsive" src="~/Content/Logo/LNF.gif" alt="First slide image"></center>
                                            <div class="panel panel-default card-view panel-refresh bg-gradient3">
                                                <div class="refresh-container">
                                                    <div class="la-anim-1"></div>
                                                </div>
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <small class="font-13 txt-light bold weight-600">
                                                            <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase"> @mes.title</text>
                                                        </small>
                                                    </div>
                                                    <div class="pull-right txt-light">
                                                        <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_@mes.id" aria-expanded="false">
                                                            <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                            <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                        </a>
                                                        <a href="#" class="pull-left inline-block full-screen mr-15">
                                                            <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div id="collapse_@mes.id" class="panel-wrapper" style="height:250px">
                                                    <div class="panel-body font-16 weight-500 txt-light">
                                                        <p>@mes.message</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                </div>
                            }
                            else
                            {
                                <div role="listbox" class="carousel-inner mb-60" style="height:335px">

                                    <div class="item active">
                                        <center><img class="img-responsive" src="~/Content/Logo/LNF.gif" alt="First slide image"></center>
                                        <div class="panel panel-default card-view panel-refresh ">
                                            <div class="refresh-container">
                                                <div class="la-anim-1"></div>
                                            </div>
                                            <div class="panel-heading">
                                                <div class="pull-left">
                                                    <small class="font-13 txt-light bold weight-600">
                                                        <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase"></text>
                                                    </small>
                                                </div>
                                                <div class="pull-right txt-light">
                                                    <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse" aria-expanded="false">
                                                        <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                        <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                    </a>
                                                    <a href="#" class="pull-left inline-block full-screen mr-15">
                                                        <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="collapse" class="panel-wrapper" style="height:250px">
                                                <div class="panel-body font-16 weight-500 txt-light">
                                                    <img src="~/Content/Logo/no_news.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END carousel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient3">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/StaffIndex">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.PostalDisp</span></span>
                                            <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Postal_Dispatch</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-envelope-letter data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient1">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/StaffIndex">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.PostalRecv</span></span>
                                            <span class="weight-500 uppercase-font block font-13 txt-light">@SmartSchool.Resources.Resource1.Postal_Receive</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-envelope-letter data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Complaint">
                                        <div class="col-xs-6 text-center pl-0 pr-0 txt-light data-wrap-left">
                                            <span class="block counter"><span class="counter-anim">@ViewBag.complaints</span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Complain</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            @*<i class="glyphicon glyphicon-info-sign data-right-rep-icon txt-light"></i>*@
                                            <i class="glyphicon glyphicon-thumbs-down data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


