﻿@model IEnumerable<SmartSchool.Models.staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="container-fluid pt-25">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient3">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Student/studentdetails">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.TotalStudents</span></span>
                                            <span class="weight-500 uppercase-font block font-12 txt-light">@SmartSchool.Resources.Resource1.Students</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="icon-people  data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient1">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/Academics/AssignSubject">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            <span class="txt-light block counter"><span class="counter-anim">@ViewBag.subject </span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Subjects</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-book data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/Leaves">
                                        <div class="col-xs-6 text-center pl-0 pr-0 txt-light data-wrap-left">
                                            <span class="block counter"><span class="counter-anim">@ViewBag.totalleave</span></span>
                                            <span class="weight-500 uppercase-font font-13 block txt-light">@SmartSchool.Resources.Resource1.Available_Leaves</span>
                                        </div>
                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            <i class="glyphicon glyphicon-info-sign data-right-rep-icon txt-light"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0 bg-gradient2">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="~/HumanResource/StaffIndex">
                                        <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                            @*<span class="txt-light block counter"><span class="counter-anim">@ViewBag.staffname</span></span>*@
                                            <span id="ctl00_ContentPlaceHolder1_lbldesignation" style="color:Black;font-weight:bold;">@ViewBag.stafname</span>
                                            <span class="weight-500 uppercase-font font-10 block txt-light">@SmartSchool.Resources.Resource1.Staff_Name</span>
                                        </div>

                                        <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                            @if (TempData["personlogo"] != null)
                                            {                                              
                                            <img src="~/Content/Profile/Staff/@TempData["personlogo"]" width="55" height="55" alt="Userlogo" />
                                            }
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <span class="fa fa-calendar font-18 ml-10"> </span><label class="bold txt-gold font-18"> Calendar Events</label>
                        <div class="calendar-wrap mt-40">
                            <div id="calendar"></div>

                            <div class="demo-container">
                                <div id="scheduler"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <!-- START carousel-->
                        <div id="testimonial_slider" data-ride="carousel" class="carousel slide testimonial-slider-wrap text-slider">
                            @if (ViewBag.message.Count != 0)
                            {
                                int i = 0; string aval = null;
                                int j = 0;
                                <ol class="carousel-indicators">
                                    @foreach (var lid in ViewBag.message)
                                    {
                                        if (j == 0)
                                        {
                                            <li data-target="#testimonial_slider" data-slide-to="@lid.id" class="active"></li>
                                            j++;
                                        }
                                        else
                                        {
                                            <li data-target="#testimonial_slider" data-slide-to="@lid.id"></li>
                                        }
                                    }
                                </ol>
                                <div role="listbox" class="carousel-inner mb-60" style="height:470px">

                                    @foreach (var mes in ViewBag.message)
                                    {
                                        if (i == 0)
                                        {
                                            aval = "active";
                                        }
                                        else
                                        {
                                            aval = "";
                                        }
                                        <div class="item @aval">
                                            <center><img class="img-responsive" src="~/Content/Logo/LNF.gif" alt="First slide image"></center>
                                            <div class="panel panel-default card-view panel-refresh bg-gradient3">
                                                <div class="refresh-container">
                                                    <div class="la-anim-1"></div>
                                                </div>
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <small class="font-13 txt-light bold weight-600">
                                                            <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase"> @mes.title</text>
                                                        </small>
                                                    </div>
                                                    <div class="pull-right txt-light">
                                                        <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_@mes.id" aria-expanded="false">
                                                            <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                            <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                        </a>
                                                        <a href="#" class="pull-left inline-block full-screen mr-15">
                                                            <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div id="collapse_@mes.id" class="panel-wrapper" style="height:250px">
                                                    <div class="panel-body font-16 weight-500 txt-light">
                                                        <p>@mes.message</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                </div>
                            }
                            else
                            {
                                <div role="listbox" class="carousel-inner mb-60" style="height:470px">

                                    <div class="item active">
                                        <center><img class="img-responsive" src="~/Content/Logo/LNF.gif" alt="First slide image"></center>
                                        <div class="panel panel-default card-view panel-refresh ">
                                            <div class="refresh-container">
                                                <div class="la-anim-1"></div>
                                            </div>
                                            <div class="panel-heading">
                                                <div class="pull-left">
                                                    <small class="font-13 txt-light bold weight-600">
                                                        <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:gold;font-weight:900;font-size:smaller;text-transform:uppercase"></text>
                                                    </small>
                                                </div>
                                                <div class="pull-right txt-light">
                                                    <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse" aria-expanded="false">
                                                        <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                        <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                    </a>
                                                    <a href="#" class="pull-left inline-block full-screen mr-15">
                                                        <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="collapse" class="panel-wrapper" style="height:250px">
                                                <div class="panel-body font-16 weight-500 txt-light">
                                                    <img src="~/Content/Logo/no_news.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END carousel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <span class="fa fa-calendar font-18"> </span><label class="bold txt-gold font-18"> Calendar Time Table</label>
                        <div class="calendar-wrap mt-40">
                            <div id="calendar1"></div>

                            <div class="demo-container">
                                <div id="scheduler"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var events = [];
        $.ajax({
            type: "GET",
            url: "/Admin/GetEvents",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.leaveType,
                        description: v.leavesdays,

                        start: moment(v.fromdate).format("YYYY-MM-DD"),
                        end: v.todate != null ? moment(v.todate) : null,
                        allDay: true
                    });
                });
                GenerateCalender(events);

            },
            error: function (error) {
                alert('failed');
            }
        });

        function GenerateCalender(events) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    //right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                events: events,
                eventColor: "#99ffff",
                eventClick: function (calEvent, jsEvent, view) {
                    $('#myModal1 #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start Date: </b>' + calEvent.start.format("DD-MMM-YYYY")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End Date: </b>' + calEvent.end.format("DD-MMM-YYYY")));
                    }
                    $description.append($('<p/>').html('<b>Description : </b>' + calEvent.description + ' days'));
                    $('#myModal1 #pDetails').empty().html($description);

                    $('#myModal1').modal();
                }
            })
        }
    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var events = [];
        var limit;
        $.ajax({
            type: "GET",
            url: "/Admin/ShowStaffTimetable",
            success: function (data) {
                var dObj;
                var dateObj;
                $.each(data, function (i, v) {
                    limit = 0;
                    if (v.day_order == 7) {
                        return;
                    }
                    else {
                        dObj = getMondays(v.day_order);
                        $.each(dObj, function (j, lk) {
                            dateObj = convert(lk);
                            eventsGen(v.name, v.start_time, v.end_time, dateObj, limit);
                            limit++;
                        })
                    }
                });
            },
            error: function (error) {
                alert('failed');
            }
        });


        function eventsGen(name, st, et, doj, limit) {
            events.push({
                title: name,
                description: 'Starts at-' + st + '<br/>' + 'Ends at-' + et,
                start: moment(doj),
                // end: v.todate != null ? moment(v.todate) : null,
                allDay: true
            });
            GenerateCalender(events, limit);
        }

        function GenerateCalender(events, limit) {

            $('#calendar1').fullCalendar('destroy');
            $('#calendar1').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                },

                eventLimit: limit == 0 ? false : true,
                events: events,
                eventColor: "#99ffff",
                eventClick: function (calEvent, jsEvent, view) {
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b style="color:blue">Date : </b>' + calEvent.start.format("DD-MMM-YYYY")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End : </b>' + calEvent.end.format("DD-MMM-YYYY")));
                    }
                    $description.append($('<p/>').html('<b style="color:blue">Description : </b>' + calEvent.description));
                    $('#myModal #pDetails').empty().html($description);

                    $('#myModal').modal();
                },
                eventLimitText: function (numEvents) {
                    return "CLICK HERE..?";
                },
                //eventMouseover: function (data, event, view) {

                //    tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#feb811;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%;">' + 'title: ' + ': ' + data.title + '</br>' + 'start: ' + ': ' + data.start + '</div>';


                //    $("body").append(tooltip);
                //    $(this).mouseover(function (e) {
                //        $(this).css('z-index', 10000);
                //        $('.tooltiptopicevent').fadeIn('500');
                //        $('.tooltiptopicevent').fadeTo('10', 1.9);
                //    }).mousemove(function (e) {
                //        $('.tooltiptopicevent').css('top', e.pageY + 10);
                //        $('.tooltiptopicevent').css('left', e.pageX + 20);
                //    });


                //},

            })
        }
    });

    function getMondays(varNum) {
        var d = new Date(),
            month = d.getMonth(),
            mondays = [];
        var sd = d.setDate(1);
        var gd = d.getDate();
        var gday = d.getDay();
        d.setDate(1);

        // Get the first day(example monday) in the month
        while (d.getDay() !== varNum) {
            d.setDate(d.getDate() + 1);
        }

        // Get all the other days in the month
        while (d.getMonth() === month) {
            mondays.push(new Date(d.getTime()));
            d.setDate(d.getDate() + 7);
        }

        return mondays;
    }

    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }
</script>