﻿@model SmartSchool.Models.visitors_book

@{
    ViewBag.Title = "Visitors";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 2, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Visitor</h6>
                            </div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                @using (Html.BeginForm("Visitors", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Purpose  </label>
                                                        @Html.DropDownListFor(Model => Model.purpose, (IEnumerable<SelectListItem>)ViewBag.selectedvisitor as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.purpose, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Phone </label>
                                                        @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", required = "required", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.contact, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.ID_Card</label>
                                                        @Html.EditorFor(model => model.id_proof, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.id_proof, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Number_Of_Person</label>
                                                        @Html.EditorFor(model => model.no_of_pepple, new { htmlAttributes = new { @class = "form-control", required = "required", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.no_of_pepple, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                                        <input type="date" id="visitordate" name="visitordate" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.In_Time</label>
                                                        <input type="time" id="intime" name="intime" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Out_Time</label>
                                                        <input type="time" id="outtime" name="outtime" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note </label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Attach_Document</label>
                                                        <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                                                    </div>

                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="form-group">
                                                            <div class="pull-right">
                                                                <input type="submit" value="@SmartSchool.Resources.Resource1.Create" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Visitor_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Purpose
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>

                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Contact

                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Date</th>
                                                        <th>@SmartSchool.Resources.Resource1.In_Time</th>
                                                        <th>@SmartSchool.Resources.Resource1.Out_Time</th>

                                                        <th>@SmartSchool.Resources.Resource1.Action </th>


                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    @{int slno = 0;}

                                                    @foreach (var item in ViewBag.visitorsdetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>

                                                            <td>
                                                                @item.Purpose
                                                            </td>

                                                            <td>
                                                                @item.Name
                                                            </td>

                                                            <td>
                                                                @item.Contact
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:MM/SS}", item.In_time))

                                                            </td>
                                                            <td>

                                                                @Convert.ToString(string.Format("{0:MM/SS}", item.Out_time))
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink(" ", "Visitors", new { id = item.Vid }, new { @class = "fa fa-reorder", id = "homeworkid" }) |
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Editvisitors", new { id = item.Vid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Deletevisitor", new { id = item.Vid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        }
    }
}
@if (ViewBag.list != null)
{
    <div id="responsive-modal1" class="modal fade in timelinemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <h4>
                                    @SmartSchool.Resources.Resource1.Details
                                </h4>
                                <div class="table-wrap mt-25">
                                    <div class="table-responsive">

                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <tbody>
                                                <tr>
                                                    <th>@SmartSchool.Resources.Resource1.Purpose </th>
                                                    <td>@ViewBag.list.purpose</td>

                                                    <th>@SmartSchool.Resources.Resource1.Name</th>
                                                    <td>@ViewBag.list.name</td>
                                                </tr>
                                                <tr>
                                                    <th>@SmartSchool.Resources.Resource1.Phone</th>
                                                    <td>@ViewBag.list.contact</td>
                                                    <th>@SmartSchool.Resources.Resource1.Number_Of_Person</th>
                                                    <td>@ViewBag.list.no_of_pepple</td>
                                                </tr>
                                                <tr>
                                                    <th>@SmartSchool.Resources.Resource1.Date</th>
                                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", ViewBag.list.date))</td>
                                                    <th>@SmartSchool.Resources.Resource1.In_Time	</th>
                                                    <td>@ViewBag.list.in_time </td>
                                                </tr>

                                                <tr>
                                                    <th>@SmartSchool.Resources.Resource1.Out_Time	</th>
                                                    <td>@ViewBag.list.out_time </td>
                                                    <th>@SmartSchool.Resources.Resource1.Note</th>
                                                    <td>@ViewBag.list.note </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#responsive-modal1").show();
        });
        $('.close').click(function () {

            $("#responsive-modal1").hide();
        });

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('#visitordate').val(moment(output).format("YYYY-MM-DD"));


    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#responsive-modal1").show();
            }
            $('.close').click(function () {

                $("#responsive-modal1").hide();


            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            var dd = $('#idoftext').val();


            var clc = document.getElementById("name").value
            //alert(clc);
            if (document.getElementById("purpose").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select purpose field ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#ddlreference').focus();
                return false;
            }

            else if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6

                });
                $('#name').focus();
                return false;
            }
            else if (document.getElementById("contact").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter phone number  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("id_proof").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter ID proof number ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#id_proof').focus();
                return false;
            }
            else if (document.getElementById("no_of_pepple").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter number of people  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#no_of_pepple').focus();
                return false;
            }

            else if (document.getElementById("intime").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select Intime  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            else if (document.getElementById("outtime").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select out time  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#outtime').focus();
                return false;
            }

            else if (document.getElementById("note").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter note  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#contact').focus();
                return false;
            }
            return true;

            window.location.reload(true);
            $.toast({
                //heading: '2 new messages',
                text: "Data Saved Successfully",
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });

        });

    });

</script>
@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>
}
