﻿@model SmartSchool.Models.visitorspurpose

@{
    /**/

    ViewBag.Title = "Visitorspurpose";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Front_Office</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 7, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="pills-struct mt-40">
                                    <ul role="tablist" class="nav nav-pills" id="myTabs_6">
                                        <li class="active" role="presentation"><a href="@Url.Action("Visitorspurpose", "Admin")">@SmartSchool.Resources.Resource1.Purpose</a></li>
                                        <li role="presentation" class="active"><a href="@Url.Action("Complainttype", "Admin")">@SmartSchool.Resources.Resource1.Complain_Type</a></li>
                                        <li class="active" role="presentation"><a href="@Url.Action("Source", "Admin")">@SmartSchool.Resources.Resource1.Source</a></li>
                                        <li role="presentation" class="active"><a href="@Url.Action("Reference", "Admin")">@SmartSchool.Resources.Resource1.Reference</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add_Source</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Purpose </label>
                                                        <small class="req" style="color:red">*</small>
                                                        @Html.EditorFor(model => model.purpose, new { htmlAttributes = new { @class = "form-control", id = "purpose", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.purpose, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>



                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Purpose_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Purpose_Type
                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Created_Date</th>
                                                        <th>@SmartSchool.Resources.Resource1.Action</th>

                                                    </tr>


                                                </thead>
                                                <tbody>
                                                    @{int slno = 0;}
                                                    @foreach (var item in ViewBag.visitorlist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{slno++;}
                                                                @slno
                                                            </td>

                                                            <td>
                                                                @item.purpose
                                                            </td>

                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.created_dt))
                                                            </td>
                                                            <td>

                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "EditVisitorspurpose", new { id = item.vp_id }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "DeleteVisitorspurpose", new { id = item.vp_id }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {

            var clc = document.getElementById("purpose").value
            //alert(clc);

            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please enter purpose ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6

                });
                $('#purpose').focus();
                return false;
            }

        });
    });
</script>


@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>

}
