﻿@model SmartSchool.SchoolMasterClasses.homework

@{
    ViewBag.Title = "Add_homework";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Homework</h4>
                </div>
                <div class="pull-right">
                    <button type="button" style="background:#f742aa" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> @SmartSchool.Resources.Resource1.Add_Homework</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 12, 68, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Search_Homework_Classwise</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(SmartSchool.Resources.Resource1.Class, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("class_id1", new SelectList(ViewBag.cls,"Value","Text"), "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("section_id1", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", required = "required" })

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("subject_id1", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", id="subject_id1"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info btn-sm" value="Search" onclick="location.href='@Url.Action("add_homework", "HomeWork")'" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info btn-sm" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                         
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-local-library mr-10"></i>@SmartSchool.Resources.Resource1.Homework_List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">
                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>

                                                                <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info" title="Home work">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                #
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Class
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Section
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Subject
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.HomeWorkDate
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.SubmissionDate
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Evaluation_Date
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    @if (ViewBag.homework != null)
                                                                    {
                                                                        foreach (var item in ViewBag.homework)
                                                                        {
                                                                            <tbody>
                                                                                <tr role="row" class="odd">
                                                                                    <td>
                                                                                        @item.id
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.class1
                                                                                    </td>
                                                                                    <td>@item.section1</td>
                                                                                    <td>@item.name</td>
                                                                                    <td>@(item.homeworkdate?.ToString("dd/MM/yyyy"))</td>
                                                                                    <td>@(item.submissiondate?.ToString("dd/MM/yyyy"))</td>
                                                                                    <td>@(item.evaluationdate?.ToString("dd/MM/yyyy"))</td>
                                                                                    @*<td class="sorting_1">@item.created_by</td>*@
                                                                                    <td class="form-group">
                                                                                        @if (@item.Doc != "")
                                                                                        {
                                                                                            <a href="~/Content/Homework/@item.Doc" download>  <i class="fa fa-download" aria-hidden="true" title="Download File"></i></a>
                                                                                        }
                                                                                        @Html.ActionLink(" ", "homework_List", new { id = item.id, sec = item.section_id, cls = item.Class_id, sub = item.subject_id, hmid = item.id }, new { @class = "fa fa-refresh", id = "homeworkid", title = "Update Evaluation" }) |
                                                                                        @if (rol.can_edit == 1)
                                                                                        {
                                                                                            @Html.ActionLink(" ", "Edithomework", new { Id = @item.id }, new { @class = "text-inverse pr-10 zmdi zmdi-edit txt-warning", title = "Edit HomeWork" })
                                                                                        }
                                                                                        @if (rol.can_delete == 1)
                                                                                        {
                                                                                            @Html.ActionLink(" ", "DeleteHomework", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are you sure you want to delete?');", title = "Delete HomeWork" })
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


            using (Html.BeginForm("Add_homework", "HomeWork", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container">
                    <div class="modal fade " id="myModal">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content modal-media-content">

                                <div class="modal-header  modal-media-header">
                                    <h4 class="box-title"><i class="zmdi zmdi-local-library mr-10">@SmartSchool.Resources.Resource1.Add_Homework</i></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body pt0 pb0">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 paddlr">
                                                <form id="formadd" method="post" class="ptt10" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    @Html.Label(@SmartSchool.Resources.Resource1.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                    <span style="color:red">*</span>
                                                                    <div class="col-sm-10">
                                                                        @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", @required = "requied" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    @Html.Label(@SmartSchool.Resources.Resource1.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                    <span style="color:red">*</span>
                                                                    <div class="col-sm-10">
                                                                        @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", required = "required"})
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    @Html.Label(@SmartSchool.Resources.Resource1.Subject, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                    <span style="color:red">*</span>
                                                                    <div class="col-sm-10">
                                                                        @Html.DropDownList("subject_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", @required = "required"})
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <br />

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="pwd">@SmartSchool.Resources.Resource1.HomeWorkDate</label>
                                                                <span style="color:red">*</span>
                                                                @*<input type="datetime" id="datetimepicker2" name="homework_date" class="form-control time">*@
                                                                @Html.EditorFor(model => model.homework_date, new { htmlAttributes = new { @class = "form-control", Type = "date", id = "from", @required = "required" } })
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="pwd">@SmartSchool.Resources.Resource1.SubmissionDate</label>
                                                                <span style="color:red">*</span>
                                                                @*<input type="datetime" id="submit_date" name="submit_date" class="form-control time">*@
                                                                @Html.EditorFor(model => model.submit_date, new { htmlAttributes = new { @class = "form-control", Type = "date", id = "to", @required = "required" } })
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="pwd">@SmartSchool.Resources.Resource1.Attach_Document</label>
                                                                <input type="file" id="FileUpload" name="FileUpload" />

                                                            </div>

                                                        </div>

                                                        <div class="col-md-12">
                                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.Description, new { @class = "tinymce", type = "textarea", format = "text" })

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <div class="pull-right paddA10">
                                                            <input type="submit" class="btn btn-info pull-right btn-sm" value="Save">
                                                        </div>
                                                    </div>
                                                    <!--./row-->
                                                </form>
                                            </div><!--./col-md-12-->
                                        </div><!--./row-->
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            }
            using (Html.BeginForm("Homework_evaluation", "HomeWork", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (ViewBag.list11 != null)
                {

                    <div class="container" id="Stud">
                        <div class="modal fade in" id="myModal1" aria-hidden="false" style="display:block; overflow-y:auto" data-backdrop="static" data-keyboard="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content modal-media-content">

                                    <div class="modal-header  modal-media-header">
                                        <h4 class="box-title">
                                            <i class="zmdi zmdi-local-library mr-10">
                                                @SmartSchool.Resources.Resource1.Evaluate_Homework
                                            </i>
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body pt0 pb0">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 paddlr">
                                                    <form id="formadd" method="post" class="ptt10" enctype="multipart/form-data">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="panel panel-default card-view">
                                                                    <div class="panel-wrapper collapse in">
                                                                        <div class="panel-body">
                                                                            <p class="text-danger">@SmartSchool.Resources.Resource1.Homework_already_evaluated__now_you_can_update_evaluation_</p>
                                                                            <div class="row mt-20">
                                                                                <div class="col-sm-12">
                                                                                    <h6 class="text-primary"><span class="center">@SmartSchool.Resources.Resource1.Pending_Students</span> <span class="pull-right center">@SmartSchool.Resources.Resource1.Updated_Students</span></h6>
                                                                                    <select id="pre-selected-options" multiple="" class="col-md-12">
                                                                                        @if (ViewBag.studhome != null)
                                                                                        {
                                                                                            var cc = ViewBag.studhome.Count;
                                                                                            string[] stulists = new string[cc];
                                                                                            int i = 0;

                                                                                            if (ViewBag.stulist != null)
                                                                                            {
                                                                                                foreach (var item in ViewBag.stulist)
                                                                                                {
                                                                                                    stulists[i] = item.student_id;
                                                                                                    i++;
                                                                                                }
                                                                                                foreach (var stlist in ViewBag.studhome)
                                                                                                {
                                                                                                    string userid = stlist.userid;
                                                                                                    if (stulists.Contains(userid))
                                                                                                    {
                                                                                                        <option for="pre-selected-options" selected value="@stlist.userid" name="checkbox_loop">@stlist.firstname</option>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <option for="pre-selected-options" value="@stlist.userid" name="checkbox_loop">@stlist.firstname</option>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                foreach (var stlist in ViewBag.studhome)
                                                                                                {
                                                                                                    <option for="pre-selected-options" value="@stlist.userid" name="checkbox_loop">@stlist.firstname</option>
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                    <br />
                                                                                    <div class="col-md-8">
                                                                                        <div class="form-group">
                                                                                            <label for="pwd">@SmartSchool.Resources.Resource1.Evaluation_Date</label>
                                                                                            @*<input type="datetime" id="submit_date" name="submit_date" class="form-control time">*@
                                                                                            @Html.EditorFor(model => model.evaluation_date, new { htmlAttributes = new { @class = "form-control", Type = "date", @id = "evaluation_date" } })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-5 col-md-4">
                                                                <div class="taskside">
                                                                    <h4>@SmartSchool.Resources.Resource1.Summary</h4>
                                                                    <div class="box-tools pull-right">
                                                                    </div><!-- /.box-tools -->
                                                                    <h5 class="pt0 task-info-created"></h5>

                                                                    <hr class="taskseparator">
                                                                    @if (ViewBag.list11 != null)
                                                                    {
                                                                        foreach (var item in ViewBag.list11)
                                                                        {
                                                                            <div class="task-info task-single-inline-wrap task-info-start-date">

                                                                                <h6>
                                                                                    <label>
                                                                                        <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin task-info task-single-inline-wrap ptt10"></i>
                                                                                        <span>@SmartSchool.Resources.Resource1.SubmissionDate</span>:@(item.submit_date?.ToString("dd/MM/yyyy"))
                                                                                    </label>
                                                                                </h6><br />

                                                                                @*<h5><label><i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin task-info task-single-inline-wrap ptt10"></i><span>Homework Date</span>:@(item.homework_date?.ToString("dd/MM/yyyy"))</label></h5><br />*@
                                                                                <h6>
                                                                                    <label>
                                                                                        <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin task-info task-single-inline-wrap ptt10"></i>
                                                                                        <span>@SmartSchool.Resources.Resource1.HomeWorkDate</span>:@(item.homework_date?.ToString("dd/MM/yyyy"))
                                                                                    </label>
                                                                                </h6><br />
                                                                                <h6>
                                                                                    <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin task-info task-single-inline-wrap ptt10"></i>
                                                                                    <span>@SmartSchool.Resources.Resource1.Evaluation_Date</span>:

                                                                                    @if (ViewBag.newlist != null)
                                                                                    {
                                                                                        foreach (var item1 in ViewBag.newlist)
                                                                                        {
                                                                                            @(item1.evaluationdate?.ToString("dd/MM/yyyy"))

                                                                                        }
                                                                                    }
                                                                                </h6>

                                                                            </div>
                                                                            <br /><br />
                                                                            <div class="task-info task-single-inline-wrap ptt10">
                                                                                @if (item.created_by != null)
                                                                                {
                                                                                    <h><label><span class="even">@SmartSchool.Resources.Resource1.Created_By</span> : @item.created_by </label></h><br />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <h><label><span class="even">@SmartSchool.Resources.Resource1.Modified_By</span> : @item.modified_by </label></h><br />
                                                                                }
                                                                                @if (ViewBag.newlist != null)
                                                                                {
                                                                                    foreach (var item1 in ViewBag.newlist)
                                                                                    {
                                                                                        <h><label><span>@SmartSchool.Resources.Resource1.Evaluated_By</span> : @item1.Evaluated_by</label></h><br />
                                                                                    }
                                                                                }
                                                                                <h> <label><span>@SmartSchool.Resources.Resource1.Class</span>  : @item.Classes</label></h><br />
                                                                                <h><label><span>@SmartSchool.Resources.Resource1.Section</span> : @item.Section</label></h><br />
                                                                                <h><label><span>@SmartSchool.Resources.Resource1.Subject</span> : @item.name</label></h>
                                                                                <br />
                                                                                <h><label><span>Description</span> : @item.Desription</label></h><br />
                                                                                @if (@item.Doc != null)
                                                                                {
                                                                                    <h>
                                                                                        <label>
                                                                                            <span>@SmartSchool.Resources.Resource1.Download</span> : <a href="~/Content/Homework/@item.Doc" download><i class="fa fa-download" aria-hidden="true"></i></a>
                                                                                        </label>
                                                                                    </h>

                                                                                }
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <div class="pull-right paddA10">
                                                            <button type="button" class="btn btn-primary btn-sm" id="btnsaveclick">@SmartSchool.Resources.Resource1.Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
}


<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#myModal1").show();
        });

        $('.close').click(function () {

            $("#myModal1").hide();
            window.location.href = '../../HomeWork/add_homework';
        });
    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").show();
            }
            $('.close').click(function () {

                $("#myModal1").hide();
                window.location.href = '../../HomeWork/add_homework';

            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}


<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>Select Section</option>");
        $.ajax({
            method: 'POST',
            url: '/HomeWork/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id').on('change', function () {
            var ddlsection = $(this).val();
            var ddlclass = $('#class_id').val();
            $('#subject_id').empty();
            $.ajax({
                method: 'POST',
                url: '/HomeWork/callgetsecsub',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsection': ddlsection }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
    });
</script>

<script>
    $('#class_id1').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id1').empty();
        $('#subject_id1').empty();
        $("#section_id1").html("<option value=''>Select Section</option>");
        $.ajax({
            method: 'POST',
            url: '/HomeWork/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id1").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id1").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id1').on('change', function () {
            var ddlsection = $(this).val();
            var ddlclass = $('#class_id1').val();
            $('#subject_id1').empty();
            $.ajax({
                method: 'POST',
                url: '/HomeWork/callgetsecsub',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsection': ddlsection }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id1").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id1").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>

<script type="text/javascript">
    var alldata = [];
    $(document).ready(function () {
        $('#btnsaveclick').on('click', function () {
            var url = window.location.pathname;
            var filldata = {};
            var idurl = url.substring(url.lastIndexOf('/') + 1);
            $.each($("#pre-selected-options option:selected"), function () {
                filldata = new Object();
                var studId = $(this).val();
                filldata.student_id = $(this).val();
                filldata.date = $('#evaluation_date').val();
                filldata.homework_id = idurl;
                alldata.push(filldata);
            });
            if (alldata.length == 0) {
                checkStatus("Please select atleast one Student to Update Evaluation..!");
                return false;
            }
            else {
                $.ajax({
                    url: "/HomeWork/Homework_evaluation",
                    dataType: "json",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'alldata': alldata }),
                    success: function (data) {
                        $.toast({
                            text: 'Homework Evaluation completed..!',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'Succes',
                            hideAfter: 4500,
                            stack: 6
                        });
                        window.location.href = '/HomeWork/add_homework';
                    },
                    error: function (e) {
                        //  alert('error');
                    }
                });
            }
        });
    });
</script>

<script type="text/javascript">
    function checkStatus(getmessage) {
        $.toast({
            text: getmessage,
            position: 'top-right',
            loaderBg: '#fec107',
            icon: 'Succes',
            hideAfter: 6500,
            stack: 6
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#homeworkid").click(function () {
            $("#myModal1").show();
        });
        $('.close').click(function () {

            $("#myModal1").hide();
            window.location.href = '../../HomeWork/add_homework';
        });
    });

</script>

@if (ViewBag.pop11 != null)
{
    string pop = ViewBag.pop11;
    string p = "1";
    if (p.Equals(pop))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").show();
            }
            $('.close').click(function () {

                $("#myModal1").hide();
                window.location.href = '../../HomeWork/add_homework';
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#myModal1").hide();
            }
        </script>
    }
}

<script>
    $(document).ready(function () {
        $('#from').on('change', function () {
            var dateString = document.getElementById("from").value;
            var myDate = new Date(dateString);
            var today = new Date();
            if (myDate >= today) {
                $.toast({
                    text: 'Date should not be less than todays date.',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#from').val('');
            }
            return true;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#to').on('change', function () {
            var dateString = document.getElementById("to").value;
            var myDate = new Date(dateString);
            var today = new Date();
            if (myDate < today) {
                $.toast({
                    text: 'Date should not be less than Homework date.',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#to').val('');
            }
            return true;
        });
    });
</script>


<script>
    $(document).ready(function () {
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var time = d.getHours();
        var min = d.getMinutes();
        var sec = d.getSeconds();
        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));
    });
</script>

