﻿@model SmartSchool.Models.homework_evaluation

@{
    ViewBag.Title = "Deleteevaluation_report";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.homework_evaluation</h4>
                </div>               
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<h3>@SmartSchool.Resources.Resource1.Are_you_sure_you_want_to_delete_this_?</h3>
<div>
    <h4>@SmartSchool.Resources.Resource1.Delete_evaluation_report</h4>
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.homework_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.homework_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.student_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.student_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.date)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.date)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.status)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.status)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.college_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.college_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.branch_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.branch_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.created_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.created_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.modified_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.modified_by)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "evaluation_report")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           
