﻿@model SmartSchool.Models.homework

@{
    ViewBag.Title = "DeleteHomework";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>@SmartSchool.Resources.Resource1.Delete_Homework</h2>

<h3>@SmartSchool.Resources.Resource1.Are_you_sure_you_want_to_delete_this_?</h3>
<div>
    <h4>@SmartSchool.Resources.Resource1.Homework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.class_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homework_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homework_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submit_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submit_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.college_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.college_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branch_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
