﻿@model SmartSchool.Models.homework

@{
    ViewBag.Title = "add_homework";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@{
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });

/**/</script>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Homework</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("EditHomework", "HomeWork", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal-media-content">

                    <div class="modal-header  modal-media-header">
                        <h4 class="box-title"><i class="zmdi zmdi-local-library mr-10">@SmartSchool.Resources.Resource1.Edit_Home_Work</i></h4>
                        <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='/Homework/add_homework'">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body pt0 pb0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 paddlr">
                                    <form id="formadd" method="post" class="ptt10" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-sm-10">
                                                            @Html.DropDownList("class_id", new SelectList(ViewBag.cls, "Value","Text"), "Select", new { @class = "form-control", @required = "requied", id = "class_id" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-sm-10">
                                                            @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", required = "required", id = "section_id" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Subject, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span style="color:red">*</span>
                                                        <div class="col-sm-10">
                                                            @Html.DropDownList("subject_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", @required = "required", id = "subject_id1" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="pwd">@SmartSchool.Resources.Resource1.HomeWorkDate</label>
                                                    <span style="color:red">*</span>
                                                    @Html.EditorFor(model => model.homework_date, new { htmlAttributes = new { @class = "form-control", type = "date", id = "from", @required = "required" } })
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="pwd">@SmartSchool.Resources.Resource1.SubmissionDate</label>
                                                    <span style="color:red">*</span>
                                                    @Html.EditorFor(model => model.submit_date, new { htmlAttributes = new { @class = "form-control", type = "date", id = "to", @required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="pwd">@SmartSchool.Resources.Resource1.Attach_Document</label>
                                                    <input type="file" id="FileUpload" name="FileUpload" />

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(model => model.description, new { @class = "tinymce", type = "textarea", format = "text" })

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <div class="pull-right paddA10">
                                                <input type="submit" class="btn btn-primary pull-right btn-sm" value="Save">
                                            </div>
                                        </div>
                                        <!--./row-->
                                    </form>
                                </div><!--./col-md-12-->
                            </div><!--./row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id').on('change', function () {
            var ddlsection = $(this).val();
            var ddlclass = $('#class_id').val();
            $('#subject_id1').empty();
            $.ajax({
                method: 'POST',
                url: '/HomeWork/callgetsecsub',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsection': ddlsection }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id1").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id1").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
    });
</script>

<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $('#subject_id').empty();
        $("#section_id").html("<option value=''>Select Section</option>");
        $.ajax({
            method: 'POST',
            url: '/HomeWork/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>


