﻿@model SmartSchool.SchoolMasterClasses.evaluation_report
@{
    ViewBag.Title = "evaluation_report";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@{
    var homewordid = ViewBag.listOfhomewordid;
    int length = 0;
    if (homewordid != null)
    {
        length = homewordid.Count;
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Homework</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 12, 69, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm("evaluation_report", "HomeWork", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-users mr-10"></i>@SmartSchool.Resources.Resource1.Evaluation_Report</h6>
                                            <hr class="light-grey-hr" />

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Classes, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls,"Select", new { @class = "form-control", @required = "requied", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.Classes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"),  new { @class = "form-control", required = "required", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("subject_id", new SelectList(string.Empty, "Value", "Text"),  new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-primary btn-sm"  value="Search" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-users mr-10"></i>@SmartSchool.Resources.Resource1.Evaluation_Report_List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel-body">
                                                <div class="table-wrap">
                                                    <div class="table-responsive">
                                                        <div id="example_wrapper" class="dataTables_wrapper">
                                                        </div>

                                                        <table id="example" class="table table-bordered table-hover example dataTable no-footer" role="grid" aria-describedby="example_info">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Subject
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.HomeWorkDate
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.SubmissionDate
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.COMPLETE_INCOMPLETE
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.COMPLETE_
                                                                    </th>
                                                                    <th>@SmartSchool.Resources.Resource1.Evaluated_By</th>
                                                                    <th>@SmartSchool.Resources.Resource1.Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (ViewBag.GetEvaluationReport != null)
                                                                {
                                                                    foreach (var item in ViewBag.GetEvaluationReport)
                                                                    {
                                                                        <tr>

                                                                            <td>
                                                                                <span class="btn btn-xs btn-primary btnEdit btn-sm" title="Click Here to See Details." id="@item.id" onclick="createModal('@Url.Action("getHomeworkEvalutionDataById", "HomeWork" , new { id=item.id })')">@item.name</span>
                                                                            </td>
                                                                            <td>
                                                                                @item.homework_date.ToString("dd/MM/yyyy")
                                                                            </td>
                                                                            <td>
                                                                                @item.submit_date.ToString("dd/MM/yyyy")
                                                                            </td>

                                                                            <td>
                                                                                @item.StudCount/@item.PendingStudCount
                                                                            </td>

                                                                            <td>
                                                                                @item.percentage
                                                                            </td>
                                                                            <td>
                                                                                @item.Evaluated_by
                                                                            </td>
                                                                            <td class="form-group">      
                                                                                @if (rol.can_delete == 1)
                                                                                {
                                                                                    @*<a href="@Url.Action("Deleteevaluation_report", "HomeWork", new { Id = @item.id, onclick = "return confirm('Are you sure wants to delete?');", title = "Delete HomeWork Evaluation Updated." })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                                    @Html.ActionLink(" ", "Deleteevaluation_report", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are you sure you want to delete?');", title = "Revoked Updated HomeWork Evaluation." })

                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" id="modelContent">
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script type="text/javascript">
    function createModal(url) {
        $('#modelContent').empty();
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>


<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $('#subject_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");
        $.ajax({
            method: 'POST',
            url: '/HomeWork/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>


@if (ViewBag.sectionid != null)
{
    <script type="text/javascript">
    var ddlclass = $('#class_id').val();
    if (ddlclass != null) {
        $('#section_id').empty();
        $.ajax({
            type: "POST",
            url: "/HomeWork/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }
                    $("#section_id").val(@ViewBag.sectionid);
                });
            }
        });
    }
    </script>
   
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id').on('change', function () {
            var ddlsection = $(this).val();
            var ddlclass = $('#class_id').val();
            $('#subject_id').empty();
            $.ajax({
                method: 'POST',
                url: '/HomeWork/callgetsecsub',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsection': ddlsection }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
    });
</script>

@if (ViewBag.subjectid != null)
{
    <script type="text/javascript">
            var ddlsection = @ViewBag.sectionid;
            var ddlclass = $('#class_id').val();
            $('#subject_id').empty();
            $.ajax({
                method: 'POST',
                url: '/HomeWork/callgetsecsub',
                datatype: "Json",
                data: { 'ddlclass': ddlclass, 'ddlsection': ddlsection },
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                         $('#subject_id').val(@ViewBag.subjectid);
                    });
                }
            });
    </script>
    ViewBag.subjectid = null;
     ViewBag.sectionid = null;
}


