﻿@model IEnumerable<SmartSchool.SchoolMasterClasses.evaluation_report>

<div class="modal-header modal-media-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 class="modal-title" id="myModalLabel">@SmartSchool.Resources.Resource1.HomeWork_Evaluation_Report</h5>
</div>
<div class="modal-body">
    <div class="modal-body pt0 pb0" id="evaluation_details">
        <div class="row row-eq">
            <div class="col-lg-8 col-md-8 col-sm-8 paddlr">
                <!-- general form elements -->
                <form id="evaluation_data" method="post" class="ptt10" style="min-height: 500px;">
                    @*@foreach (var lang in ViewBag.lang)
                        {
                            <div class="download_label" style="color:black">@SmartSchool.Resources.Resource1.HomeWork_Evaluation_Report <span>@lang</span> </div>
                        }*@
                    <br />
                    <div class="table-responsive mailbox-messages slimScrollBar">
                        <div id="modaltable_wrapper" class="dataTables_wrapper no-footer">
                            <div class="pull-right">
                            </div>
                            <table id="example4" class="table table-striped table-bordered table-hover example dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="modaltable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="modaltable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Admission Number: activate to sort column descending" style="width: 269px;">@SmartSchool.Resources.Resource1.Admission_Number</th>
                                        <th class="sorting" tabindex="0" aria-controls="modaltable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 125px;">@SmartSchool.Resources.Resource1.Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="modaltable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 126px;">@SmartSchool.Resources.Resource1.Status</th>
                                    </tr>
                                </thead>

                                @if (Model != null)
                                {
                                    foreach (var items in Model)
                                    {
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td>@items.admission_no</td>
                                                <td>@items.FirstName @items.LastName</td>
                                                @if (@items.homework_id > 0)
                                                {
                                                    <td><span class="label label-success">@SmartSchool.Resources.Resource1.Completed</span> </td>
                                                }
                                                else
                                                {
                                                    <td><span class="label label-danger">@SmartSchool.Resources.Resource1.Pending</span></td>
                                                }
                                            </tr>
                                        </tbody>
                                    }
                                }
                            </table><div class="dataTables_info" id="modaltable_info" role="status" aria-live="polite"></div>
                            <div class="dataTables_paginate paging_simple_numbers" id="modaltable_paginate"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-eq">
                <div class="taskside">
                    <h4>@SmartSchool.Resources.Resource1.Summary</h4>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->

                    <hr class="taskseparator">

                    @if (Model != null)
                    {
                        foreach (var items in Model.Take(1))
                        {
                            <div class="task-info task-single-inline-wrap task-info-start-date">
                                <h5>
                                    <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin"></i>
                                    <span class="font-12">
                                        @SmartSchool.Resources.Resource1.HomeWorkDate : <span>@items.homework_date.Value.ToString("dd-MM-yyyy")</span>
                                    </span>
                                </h5>
                            </div>
                            <div class="task-info task-single-inline-wrap task-info-start-date">
                                <h5>
                                    <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin"></i>
                                    <span class="font-12">
                                        @SmartSchool.Resources.Resource1.SubmissionDate: <span style="color:black">@items.submit_date.Value.ToString("dd-MM-yyyy")</span>
                                    </span>
                                </h5>
                            </div>
                            <div class="task-info task-single-inline-wrap task-info-start-date">
                                <h5>
                                    <i class="fa task-info-icon fa-fw fa-lg fa-calendar-plus-o pull-left fa-margin"></i>
                                    <span class="font-12 bold">
                                        @SmartSchool.Resources.Resource1.Evaluation_Date:
                                        @if (items.stringDate != "Evaluation Pending Yet")
                                        {
                                            <span>@Convert.ToDateTime(items.stringDate).ToString("dd-MM-yyyy")</span>
                                        }
                                        else
                                        {
                                            <span>@items.stringDate</span>
                                        }

                                    </span>
                                </h5>
                            </div>
                            var ev = items.Evaluated_by == null ? "Evaluation Pending Yet" : items.Evaluated_by;
                            <div class="task-info task-single-inline-wrap ptt10">
                                <label><span>@SmartSchool.Resources.Resource1.Created_By</span> : @items.created_by </label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Assigned_By</span> : @items.Assigned_By</label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Evaluated_By</span> : @ev </label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Class</span> : @items.class_name</label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Section</span> :@items.Section</label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Subject</span> : @items.name</label><br />
                                <label><span>@SmartSchool.Resources.Resource1.Description</span> : @items.Description<br></label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@SmartSchool.Resources.Resource1.Close</button>
</div>
