﻿@model SmartSchool.Models.book

@{
    ViewBag.Title = "Booklist";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Library</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>@SmartSchool.Resources.Resource1.Book_List</h6>
                                        <hr />
                                        <center>
                                            <table class="table table-striped m-b-0">
                                                <thead>
                                                    <tr style="color:black">
                                                        <th>@SmartSchool.Resources.Resource1.Book_Title</th>
                                                        <th>@SmartSchool.Resources.Resource1.Book_Number</th>
                                                        <th>@SmartSchool.Resources.Resource1.ISBN_Number</th>
                                                        <th>@SmartSchool.Resources.Resource1.Publisher </th>
                                                        <th>@SmartSchool.Resources.Resource1.Author </th>
                                                        <th>@SmartSchool.Resources.Resource1.Subject </th>
                                                        <th>@SmartSchool.Resources.Resource1.Rack_Number </th>
                                                        <th>@SmartSchool.Resources.Resource1.Quantity </th>
                                                        <th>@SmartSchool.Resources.Resource1.Available </th>
                                                        <th>@SmartSchool.Resources.Resource1.Book_Price </th>
                                                        <th>@SmartSchool.Resources.Resource1.Post_Date </th>
                                                        <th>@SmartSchool.Resources.Resource1.Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.Bookdetails != null)
                                                    {
                                                        foreach (var item in ViewBag.Bookdetails)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @item.book_title
                                                                </td>
                                                                <td>
                                                                    @item.book_no
                                                                </td>
                                                                <td>
                                                                    @item.isbn_no
                                                                </td>
                                                                <td>
                                                                    @item.publish
                                                                </td>
                                                                <td>
                                                                    @item.author
                                                                </td>
                                                                <td>
                                                                    @item.subject
                                                                </td>
                                                                <td>
                                                                    @item.rack_no
                                                                </td>
                                                                <td>
                                                                    @item.qty
                                                                </td>
                                                                <td>
                                                                    @item.available
                                                                </td>
                                                                <td>
                                                                    @item.perunitcost
                                                                </td>
                                                                <td>
                                                                    @item.postdate.ToString("dd/MM/yyyy")
                                                                </td>

                                                                <td class="form-group">
                                                                    @if (rol.can_edit == 1)
                                                                    {
                                                                        <a href="@Url.Action("EditBooklist", "Library", new { Id = @item.bid })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                    }
                                                                    @if (rol.can_delete == 1)
                                                                    {
                                                                        @Html.ActionLink(" ", "DeleteBooklist", new { Id = @item.bid }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                        @*<a href="@Url.Action("DeleteBooklist", "Library", new { Id = @item.bid },new { onclick = "return confirm('Are sure wants to delete?');"  })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
                $(document).ready(function () {
                    $('#class_id').on('change', function () {

                        var ddlclass = $(this).val();
                        $('#section_id').empty();
                        $("#section_id").html("<option value=''>--Select Section--</option>");
                        $.ajax({
                            method: 'POST',
                            url: '/Academics/callgetsec',
                            contentType: "application/json; charset=utf-8",
                            datatype: "Json",
                            data: JSON.stringify({ 'ddlclass': ddlclass }),
                            success: function (data) {

                                $.each(data, function (index, row) {

                                    $("#section_id").append("<option value='" + row.section_id + "'>" + row.section + "</option > ");
                                });

                            }
                        });
                    });
                });
</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}