﻿@model SmartSchool.Models.book_issues

@{
    ViewBag.Title = "Book_Issue";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("Book_Issue", "Library", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Library</h4>
                                </div>
                                <div class="pull-right">
                                    <input type="button" class="btn btn-info" value="Back To Library" onclick="location.href='@Url.Action("Library_Member", "Library")'" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-horizontal">*@

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <section class="content">
                    <div class="row">
                        @if (ViewBag.BookIsuue != null)
                        {
                            foreach (var item in ViewBag.BookIsuue)
                            {
                                <div class="col-md-3">
                                    <div class="panel panel-default card-view">
                                        <div class="box box-primary">
                                            <div class="box-body box-profile">

                                                <h3 class="profile-username text-center">@item.FirstName @item.LastName</h3>
                                                <ul class="list-group list-group-unbordered">
                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Member_id</b> <a class="pull-right text-aqua">@item.member_id</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Library_Card_number</b> <a class="pull-right text-aqua">@item.library_card_no</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Admission_Number</b> <a class="pull-right text-aqua">@item.AdmissionNumber</a>
                                                    </li>

                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Gender</b> <a class="pull-right text-aqua">@item.Gender</a>
                                                    </li>

                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Member_Type</b> <a class="pull-right text-aqua">@item.member_type</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>@SmartSchool.Resources.Resource1.Mobile_Number</b> <a class="pull-right text-aqua">@item.MobileNumber</a>
                                                    </li>

                                                </ul>
                                                <input type="hidden" value="@item.member_id" id="member_id" name="member_id" />
                                                <input type="hidden" value="@item.member_type" id="member_type" name="member_type" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-md-9">
                            <div class="panel panel-default card-view">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">@SmartSchool.Resources.Resource1.Issue_Book</h3>
                                    </div><!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">

                                        <input type="hidden" name="ci_csrf_token" value="">
                                        @*<input id="member_id" name="member_id" type="hidden" class="form-control date" value="2">*@

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.Label(@SmartSchool.Resources.Resource1.Subject, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-10">
                                                        @*@Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.DropDownList("bid", (IEnumerable<SelectListItem>)ViewBag.getSubject, " -- Select Subject --", new { @class = "form-control" })
                                                        @*@Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })*@
                                                        @*@Html.Label("", htmlAttributes: new { @class = "form-control", @id= "bkcount" })*@
                                                        @SmartSchool.Resources.Resource1.Available_Books : <label id="bkcount" class="control-labe"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.return_date, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.return_date, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                                        @Html.ValidationMessageFor(model => model.return_date, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            @*<label id="bookcount" class="form-control" />*@

                                        </div>

                                        <br /><br />
                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-info pull-right">@SmartSchool.Resources.Resource1.Save</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-wrap">
                                                <div class="form-body">
                                                    <h6 class="txt-dark capitalize-font"><i class="fa fa-users mr-10"></i>@SmartSchool.Resources.Resource1.Book_Issue</h6>
                                                    <hr class="light-grey-hr" />
                                                    @*<div class="panel panel-default card-view mt-50">
                                                        <div class="panel-wrapper collapse in">*@
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">
                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-striped table-bordered table-hover example dataTable no-footer dtr-inline" role="grid" aria-describedby="example_info">
                                                                    <thead>
                                                                        @*<tr role="row"><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 184px;" aria-label="Book Title: activate to sort column ascending">Book Title</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 179px;" aria-label="Book Number: activate to sort column ascending">Book Number</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 148px;" aria-label="Issue Date: activate to sort column ascending">Issue Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 160px;" aria-label="Return Date: activate to sort column ascending">Return Date</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 74px;" aria-label="Action: activate to sort column ascending">Action</th></tr>*@
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Book_Title</th>
                                                                            <th>@SmartSchool.Resources.Resource1.Book_Number</th>
                                                                            <th>@SmartSchool.Resources.Resource1.issue_date</th>
                                                                            <th>@SmartSchool.Resources.Resource1.return_date</th>
                                                                            <th>@SmartSchool.Resources.Resource1.Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (ViewBag.GetBookIssue != null)
                                                                        {
                                                                            foreach (var item in ViewBag.GetBookIssue)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @item.subject
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.book_no
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.issue_date.ToString("dd/MM/yyyy")
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.return_date.ToString("dd/MM/yyyy")
                                                                                    </td>

                                                                                    <td>
                                                                                        <label data-toggle="modal" data-target="#responsive-modal">
                                                                                            <input type="hidden" value="@item.bid" name="bid" />
                                                                                            <input type="hidden" value="@item.subject" name="subject" />
                                                                                            <input type="hidden" value="@item.book_no" name="book_no" />
                                                                                            <i class="fa fa-mail-reply"></i>
                                                                                        </label>
                                                                                    </td>

                                                                                </tr>
                                                                            }
                                                                        }

                                                                    </tbody>

                                                                </table>
                                                                @*<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">@SmartSchool.Resources.Resource1.Records__1_to_2_of_2</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous"><i class="fa fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next"><i class="fa fa-angle-right"></i></a></div>*@
                                                            </div><!-- /.table -->
                                                        </div><!-- /.mail-box-messages -->

                                                    </div><!-- /.box-body -->
                                                    @*</div>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

            using (Html.BeginForm("returnbookhide", "Library", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title">@SmartSchool.Resources.Resource1.Confirm_Return</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.return_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.return_date, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                        @Html.ValidationMessageFor(model => model.return_date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (rol.can_add == 1)
                            {
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@SmartSchool.Resources.Resource1.Close</button>
                                    <input type="submit" class="btn btn-danger" value="Save" />
                                </div>
                            }
                        </div>
                    </div>
                    @Html.Hidden("mtype", (object)ViewBag.mtype)
                    @Html.Hidden("bsubject", (object)ViewBag.bsubject)
                    @Html.Hidden("bid", (object)ViewBag.bid)
                </div>
            }
        }
    }

}


<script>
                $(".fa-mail-reply").on("click", function () {
                    var v = $('#member_type').val();
                    var v1 = $(this).closest("td").find("input[name='subject']").val();
                    var v2 = $(this).closest("td").find("input[name='bid']").val();
                    $('#mtype').val(v);
                    $('#bsubject').val(v1);
                    $('#bid').val(v2);
                    //alert(v);
                });
</script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}


<script type="text/javascript">
                $(document).ready(function () {
                    $('#bid').on('change', function (data) {

                        var bid = $(this).find(":selected").val();

                        $.ajax({
                            method: 'POST',
                            url: '/Library/BookAvailable',
                            contentType: "application/json; charset=utf-8",
                            datatype: "Json",
                            data: JSON.stringify({ 'bid': bid }),
                            success: function (responce) {

                                $('#bkcount').text(responce);


                            }
                        });
                    });
                });
</script>