﻿@model SmartSchool.Models.book

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Book</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("Book", "Library", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            @*<div class="form-horizontal">*@
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>@SmartSchool.Resources.Resource1.Add_Book</h6>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Book_Title, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.book_title, new { htmlAttributes = new { @class = "form-control", id = "book_title" } })
                                                            @Html.ValidationMessageFor(model => model.book_title, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Book_Number, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">

                                                            @*@Html.Editor("book_no", new { htmlAttributes = new { @class = "form-control", @required = "required" } })*@

                                                            <input type="hidden" id="AutoBookNo" value="@ViewBag.book_no" />
                                                            <input type="text" class="form-control" id="bookno" />
                                                            @Html.ValidationMessageFor(model => model.book_no, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.ISBN_Number, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.isbn_no, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.isbn_no, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @*@Html.DropDownList("ddlaplicant", (IEnumerable<SelectListItem>)ViewBag.sub, " -- Select Subject --", new { @class = "form-control", @required = "required" })*@
                                                            @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
                                                            <input type="hidden" id="ddlaplicanttext" name="ddlaplicant" value="ddlaplicant" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Rack_Number, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @*@Html.EditorFor(model => model.rack_no, new { htmlAttributes = new { @class = "form-control", @required = "required" } })*@
                                                            @Html.DropDownListFor(model => model.rack_no, new SelectList(new[]{"please select Rack number","1",
            "2", "3","4","5","6","7","8","9","10"}), new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.rack_no, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.publish, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.publish, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.publish, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Quantity, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Per_Unit_Cost, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.perunitcost, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.perunitcost, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.postdate, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.postdate, new { htmlAttributes = new { @class = "form-control", Type = "date", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.postdate, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.available, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.available, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.available, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" id="btnsave" class="btn btn-info" value="Save" />
                                                    </div>
                                                    @*<div class="pull-left">
                                                            <input type="button" class="btn btn-info" value="Back to List" />
                                                        </div>*@
                                                </div>
                                            }
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
                $(document).ready(function () {
                    $('#ddlaplicant').on('change', function (data) {

                        var subject = $(this).find("option:selected").text();

                        $.ajax({
                            method: 'POST',
                            url: '/Library/bknumber',
                            contentType: "application/json; charset=utf-8",
                            datatype: "Json",
                            data: JSON.stringify({ 'subject': subject }),
                            success: function (responce) {

                                if (responce != '') {
                                    $('#bookno').val(responce);
                                }
                                else {
                                    //alert($('#AutoBookNo').val());
                                    $('#bookno').val($('#AutoBookNo').val());
                                }

                            }
                        });
                    });
                });
</script>

<script type="text/javascript">
                $(function () {
                    $("#ddlaplicant").on("change", function
                    {
                        $("#ddlaplicant").val($(this).text());
                    });
                });
</script>
<script>
                $(document).ready(function () {

                    $("#btnsave").click(function () {



                        if (document.getElementById("book_title").value == "0") {

                            $.toast({
                                //heading: '2 new messages',
                                text: 'Please Enter Book Title',
                                position: 'top-left',
                                loaderBg: '#fec107',
                                icon: 'warning',
                                hideAfter: 3500,
                                stack: 6
                            });
                            return false;
                        }


                    });
                });
</script>
