﻿@model SmartSchool.Models.libarary_members

@{
    ViewBag.Title = "deleteMember";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;">@SmartSchool.Resources.Resource1.Delete_Member</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<h3>@SmartSchool.Resources.Resource1.Are_you_sure_you_want_to_delete_this_?</h3>
<div>
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.library_card_no)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.library_card_no)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.member_type)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.member_type)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.member_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.member_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.is_active)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.is_active)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.created_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.created_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.updated_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.updated_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.created_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.created_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.modified_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.modified_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.InstitutionDetail.college_name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InstitutionDetail.college_name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.libarary_members1.library_card_no)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.libarary_members1.library_card_no)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.libarary_members2.library_card_no)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.libarary_members2.library_card_no)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "Student")
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}