﻿@model SmartSchool.Models.book

@{
    ViewBag.Title = "EditBooklist";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Library</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("EditBooklist", "Library", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                @*<div class="form-horizontal">*@
                                <h4>@SmartSchool.Resources.Resource1.Edit_book</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.bid)
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Book_Title, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.book_title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.book_title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Book_Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.book_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.book_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.ISBN_Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.isbn_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.isbn_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Subject, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Rack_Number, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.rack_no, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.rack_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Publish, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.publish, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.publish, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Author, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Quantity, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Per_Unit_Cost, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.perunitcost, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.perunitcost, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Post_Date, htmlAttributes: new { @class = "control-label col-md-3" })

                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.postdate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "postdate" } })
                                                @Html.ValidationMessageFor(model => model.postdate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Available, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.available, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.available, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                @*<div class="form-group">
                                        @Html.Label("IsActive", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                <div class="form-group">

                                    <div class="pull-right">
                                        <input type="submit" id="btnsave" class="btn btn-info" value="Save" />
                                    </div>
                                    <div class="pull-left btn btn-info">
                                        @Html.ActionLink("Back to List", "Booklist")
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("postdate").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select Date',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });
</script>





@*<div>
        @Html.ActionLink("Back to List", "Booklist")
    </div>*@
