﻿@model SmartSchool.Models.libarary_members

@{

    ViewBag.Title = "Library_Member";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @*<div class="form-horizontal">*@


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h4 style="color:#f742aa; ">
                                        @SmartSchool.Resources.Resource1.Library
                                    </h4>
                                    <hr />
                                </div>
                                @*<div class="pull-right">
                                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                    </div>*@
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-14">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">
                                    @SmartSchool.Resources.Resource1.Member
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <center>
                                    <table class="table table-striped m-b-0">
                                        <tr>
                                            <th>@SmartSchool.Resources.Resource1.Member_id</th>
                                            <th>@SmartSchool.Resources.Resource1.Library_Card_number</th>
                                            <th>@SmartSchool.Resources.Resource1.Admission_Number</th>
                                            <th>@SmartSchool.Resources.Resource1.Name</th>
                                            <th>@SmartSchool.Resources.Resource1.Member_Type</th>
                                            <th>@SmartSchool.Resources.Resource1.Phone</th>
                                            <th>@SmartSchool.Resources.Resource1.Action</th>
                                        </tr>

                                        @if (ViewBag.LibraryMember != null)
                                        {
                                            foreach (var item in ViewBag.LibraryMember)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.member_id
                                                    </td>
                                                    <td>
                                                        @item.library_card_no
                                                    </td>
                                                    <td>
                                                        @item.admission_no
                                                    </td>
                                                    <td>
                                                        @item.name @item.surname

                                                    </td>
                                                    <td>
                                                        @item.member_type
                                                    </td>
                                                    <td>
                                                        @item.contact_no
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Book_Issue", "Library", new { Id = @item.member_type })">
                                                            <i class="fa fa-sign-out"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}