﻿@model SmartSchool.Models.student

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@{
    var pins = @ViewBag.pins;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;">@SmartSchool.Resources.Resource1.Book</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            @*<div class="form-horizontal">*@
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>@SmartSchool.Resources.Resource1.Add_Student</h6>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Class, htmlAttributes: new { @class = "control-label col-ml-3" })
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br /><br />  <br /><br />  <br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" id="btnsearch" class="btn btn-info" value="Search" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-14">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">
                                    @SmartSchool.Resources.Resource1.Student
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <center>
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Member_id
                                                    </th>
                                                    <th>@SmartSchool.Resources.Resource1.Library_Card_number</th>
                                                    <th>@SmartSchool.Resources.Resource1.Admission_Number</th>
                                                    <th>@SmartSchool.Resources.Resource1.Student_name</th>
                                                    <th>@SmartSchool.Resources.Resource1.Class </th>
                                                    <th>@SmartSchool.Resources.Resource1.Father_Name</th>
                                                    <th>@SmartSchool.Resources.Resource1.Date_Of_Birth</th>
                                                    <th>@SmartSchool.Resources.Resource1.Gender</th>
                                                    <th>@SmartSchool.Resources.Resource1.Mobile_Number</th>
                                                    <th>@SmartSchool.Resources.Resource1.Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.studentdeatils != null)
                                                {
                                                    foreach (var item in ViewBag.studentdeatils)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (item.member_id != null)
                                                                {
                                                                    @item.member_id
                                                                }
                                                                else
                                                                {
                                                                    <b style="color:red;font-weight:800">--</b>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.library_card_no != null)
                                                                {
                                                                    @item.library_card_no
                                                                }
                                                                else
                                                                {
                                                                    <b style="color:red;font-weight:800">--</b>
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.AdmissionNumber
                                                            </td>
                                                            <td>
                                                                @item.FirstName @item.LastName
                                                            </td>
                                                            <td>
                                                                @item.Class
                                                            </td>
                                                            <td>
                                                                @item.FatherName
                                                            </td>
                                                            <td>
                                                                @item.DateOfBirth
                                                            </td>
                                                            <td>
                                                                @item.Gender
                                                            </td>
                                                            <td>
                                                                @item.MobileNumber
                                                            </td>
                                                            <td>
                                                                <input type="hidden" value="@item.member_type" id="user_ids" name="user_ids" />
                                                                <input type="hidden" value="@item.AdmissionNumber" id="AdmissionNumber" name="AdmissionNumber" />
                                                                @if (item.member_types == null)
                                                                {
                                                                    <label data-toggle="modal" data-target="#responsive-modal"><input type="hidden" value="@item.member_type" id="@item.member_type" name="@item.member_type" /><i class="fa fa-plus" data_toggle="tooltip" title="Add Membership" data_placement="top"></i></label>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("deleteMember", "Library", new { delete_id = @item.member_types })"><span class="fa fa-mail-reply" data_toggle="tooltip" title="Surrender Membership" data_placement="top" ></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                        </div>
</center>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title">@SmartSchool.Resources.Resource1.Library</h5>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    @Html.Label(@SmartSchool.Resources.Resource1.Id_Card_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.Editor("card_no", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" id="card_no"  />*@
                                        @Html.ValidationMessage("card_no", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (rol.can_add == 1)
                            {
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@SmartSchool.Resources.Resource1.Close</button>
                                    <button type="submit" id="btnsearch" class="btn btn-danger">@SmartSchool.Resources.Resource1.Save</button>
                                    @*@Html.ActionLink("Add To Cart", "Student", new { @type = "submit" })*@
                                </div>
                            }
                        </div>
                    </div>
                    @Html.Hidden("user_id", (object)ViewBag.user_id)
                    @Html.Hidden("AdmissionNumber", (object)ViewBag.AdmissionNumber)
                </div>

            }
        }
    }
}
<script src="~/MasterTemplate/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(".fa-plus").on("click", function () {
        var v = $(this).closest("td").find("input[name='user_ids']").val();
        var v1 = $(this).closest("td").find("input[name='AdmissionNumber']").val();
        $('#user_id').val(v);
        $('#AdmissionNumber').val(v1);
        var prefx = 'smartstu';
        $.ajax({
            method: 'GET',
            url: '/Library/pingenerate',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: { prefix: prefx },
            success: function (response) {
                $('#card_no').val(response);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#btnsearch").click(function () {



            if (document.getElementById("class_id").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select class',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });
</script>