﻿@model SmartSchool.Models.student

@{
    /**/

    ViewBag.Title = "Teacher";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@{
    var pins = @ViewBag.pins;
}

@*@using (Html.BeginForm())
    {*@
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Library</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                <div class="col-md-14">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">
                                    @SmartSchool.Resources.Resource1.Staff_Member_List
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <center>
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Member_id
                                                    </th>
                                                    <th>@SmartSchool.Resources.Resource1.Library_Card_number</th>
                                                    <th>@SmartSchool.Resources.Resource1.Staff_Name</th>
                                                    <th>@SmartSchool.Resources.Resource1.Email </th>
                                                    <th>@SmartSchool.Resources.Resource1.Date_Of_Birth </th>
                                                    <th>@SmartSchool.Resources.Resource1.Phone </th>
                                                    <th>@SmartSchool.Resources.Resource1.Action </th>
                                                </tr>
                                                </thead>
                                            <tbody>
                                                @if (ViewBag.TeacherDetails != null)
                                                {
                                                    foreach (var item in ViewBag.TeacherDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (item.member_id != null)
                                                                {
                                                                    @item.member_id
                                                                }
                                                                else
                                                                {
                                                                    <b style="color:red;font-weight:800">--</b>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.library_card_no != null)
                                                                {
                                                                    @item.library_card_no
                                                                }
                                                                else
                                                                {
                                                                    <b style="color:red;font-weight:800">--</b>
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.name @item.surname
                                                            </td>
                                                            <td>
                                                                @item.email
                                                            </td>
                                                            <td>
                                                                @if (item.dob != null)
                                                                {
                                                                    @item.dob.ToString("dd/MM/yyyy")
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.contact_no
                                                            </td>
                                                            <td>
                                                                <input type="hidden" value="@item.emp_id" id="@item.emp_id" name="@item.emp_id" />
                                                                <input type="hidden" value="@item.id" id="@item.id" name="staffid" />
                                                                @if (item.member_type == null)
                                                                {
                                                                    <label data-toggle="modal" data-target="#responsive-modal"><input type="hidden" value="@item.member_type" id="@item.member_type" name="@item.member_type" /><i class="fa fa-plus"></i></label>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("delMember", "Library", new { del_id = @item.member_type })"><span class="fa fa-mail-reply"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        </div>
</center>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title">@SmartSchool.Resources.Resource1.Library</h5>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    @Html.Label(@SmartSchool.Resources.Resource1.Id_Card_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.Editor("card_no", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessage("card_no", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (rol.can_add == 1)
                            {
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@SmartSchool.Resources.Resource1.Close</button>
                                    <button type="submit" id="btnsearch" class="btn btn-danger">Save</button>
                                    @*@Html.ActionLink("Add To Cart", "Student", new { @type = "submit" })*@
                                </div>
                            }
                        </div>
                    </div>
                    @Html.Hidden("emp_id", (object)ViewBag.emp_id)
                    @Html.Hidden("id", (object)ViewBag.id)

                </div>
            }
        }
    }
}

<script src="~/MasterTemplate/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(".fa-plus").on("click", function () {
        var v = $(this).closest("td").find("input[type='hidden']").val();
        var v1 = $(this).closest("td").find("input[name='staffid']").val();
        $('#emp_id').val(v);
        $('#id').val(v1);

        var prefx = 'Staff';
        $.ajax({
            method: 'GET',
            url: '/Library/pingenerate',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: { prefix: prefx },
            success: function (response) {

                $('#card_no').val(response);

            }
        });
        //alert(v);
    });
</script>


