﻿<!DOCTYPE html>

<html>
<head>
    <script src="~/MasterTemplate/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <style type="text/css">
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>

    <style>
        #area-chart,
        #line-chart,
        #bar-chart,
        #stacked,
        #pie-chart {
            min-height: 250px;
        }
    </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @using System.Linq;
    @using SmartSchool.Models;
    @using SmartSchool.Interfaces;
    @using SmartSchool.SchoolMasterClasses;

    @{
        ISessionStore sessionStore = new SessionClass();
        get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
        SmartSchool.SchoolMasterClasses.ModulesAccess mm = new SmartSchool.SchoolMasterClasses.ModulesAccess();
        <title>@listData.School_name</title>
    }

    <meta name="description" content="Grandin is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Grandin Admin, Grandinadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Images/logo1.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap Switches CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="~/MasterTemplate/vendors/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />

    <link href="~/MasterTemplate/vendors/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Data table CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- vector map CSS -->
    <link href="~/MasterTemplate/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />

    <!-- Tablesaw table CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/filament-tablesaw/dist/tablesaw.css" rel="stylesheet" type="text/css" />


    <!-- Toast CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Colorpicker CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />




    <!-- select2 CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- Fancy-Buttons CSS -->
    <link href="~/MasterTemplate/dist/css/fancy-buttons.css" rel="stylesheet" type="text/css">



    <!-- bootstrap-select CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap-tagsinput CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap-touchspin CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

    <!-- multi-select CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />



    <!-- Bootstrap Datetimepicker CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Daterangepicker CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />


    <!-- switchery css  -->
    <link href="~/MasterTemplate/vendors/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/MasterTemplate/vendors/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!--alerts CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

    <link href="~/MasterTemplate/vendors/bower_components/x-editable/dist/jquery-editable/jquery-ui-datepicker/css/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

    <!-- Calendar CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet" type="text/css" />

    <!-- Morris Charts CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/morris.js/morris.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/MasterTemplate/dist/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/MasterTemplate/CustomCss/CustomCss.css" rel="stylesheet" />

</head>
<body>
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    @{
        if (listData.ApplicationLogo != null)
        {
            var path = Server.MapPath("~/Content/Logo/" + @listData.ApplicationLogo);
            if (File.Exists(path))
            {
                var ll = Convert.ToBase64String(File.ReadAllBytes(path));
                <label id="pdfTitle" hidden="hidden">@ll</label>
            }

        }
    }
    @{
        <!-- /Preloader -->
        <div class="wrapper theme-6-active pimary-color-pink">
            <!-- Top Menu Items -->
            <nav class="navbar navbar-inverse navbar-fixed-top" style="background:#ffffff;border-bottom:1px solid black">
                <div class="mobile-only-brand pull-left" style="background:#ffffff; ">

                    <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-10 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu" style="color:cyan"></i></a>

                    <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
                    <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
                    <form id="search_form" class="top-nav-search collapse pull-left" style="padding-top:unset">
                        <div class="input-group">
                            <img src="~/Content/Logo/@listData.ApplicationLogo" width="400" height="70" />
                            @*<span class="input-group-btn">
                                    <button type="button" class="btn  btn-default" data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
                                </span>*@
                        </div>
                    </form>
                </div>
                <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                    <ul class="nav navbar-right top-nav pull-right">
                        <li>
                            <a href="#"><i class="zmdi zmdi-account top-nav-icon" style="color:turquoise"></i><i style=""> @listData.current_user_name</i></a>
                        </li>


                        <li class="dropdown auth-drp">
                            <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="~/Content/Profile/Staff/@listData.person_logo" title="LogOut" height="55" width="55" alt="Userlogo" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                            <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                                @*<li>
                                        <a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-card"></i><span>my balance</span></a>
                                    </li>
                                    <li>
                                        <a href="inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
                                    </li>
                                    <li class="divider"></li>*@
                                <li class="text-center a11y-sm">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="zmdi zmdi-power" style="color:red"></i>
                                            <span>Log Out</span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /Top Menu Items -->
            <!-- Left Sidebar Menu -->
            <div class="fixed-sidebar-left" style="top:76px">
                <ul class="nav navbar-nav side-nav nicescroll-bar" style="background:#ffffff">

                    <!-- User Profile -->
                    <li>
                        <div class="user-profile text-center">
                            <a href="/Admin/Index"><img src="~/Images/logo1.jpg" alt="user_auth" class="user-auth-img img-square" /></a>
                        </div>
                    </li>
                    <!-- /User Profile -->
                    <li class="navigation-header">
                        <span>Main</span>
                        <i class="zmdi zmdi-more"></i>
                    </li>

                    <li>
                        <a class="active" href="#" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right">@*<i class="zmdi zmdi-caret-down"></i>*@</div><div class="clearfix"></div></a>
                    </li>

                    @{
                        SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
                        int[] modNames = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,20 };
                        string[] append_fa_styles = new string[] { "fa fa-institution", "fa fa-user-plus", "fa fa-money", "fa fa-rupee", "fa fa-credit-card", "fa fa-calendar", "fa fa-map-o", "fa fa-mortar-board", "fa fa-sitemap", "fa fa-soundcloud", "fa fa-download", "fa fa-home", "fa fa-book", "fa fa-newspaper-o", "fa fa-empire", "fa fa-bar-chart", "fa fa-gears", "fa fa-tasks", "fa fa-tasks", "fa fa-tasks" };
                        dynamic getmodname = null;

                        foreach (var items in modNames)
                        {
                            getmodname = (from k in dbcontext.permission_group where k.id == items select k).ToList();
                            var getmodules = mm.RoleModulesAccess(listData.roleid, items, listData.CollegeID, listData.BranchID);
                            if (getmodules != null)
                            {
                                <li>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr_@items"><div class="pull-left"><i class="@append_fa_styles[items - 1].ToString()" style="font-size:12px;color:#6e23c7"></i><span class="right-nav-text" style="color:black">@SmartSchool.Resources.Resource1.ResourceManager.GetString(getmodname[0].name)</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                                    <ul id="app_dr_@items" class="collapse collapse-level-1">
                                        @foreach (var moditem in getmodules)
                                        {
                                            if (moditem.id == 16)
                                            {
                                                switch (moditem.form_nam)
                                                {
                                                    case "StudentReport":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Student")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "GuardianReport":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Student")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "StudentAdmissionList":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Student")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "logindetailreport":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Student")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;

                                                    case "feesstatement":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "FeesCollection")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "balancefeereport":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "FeesCollection")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "Transaction_report":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "FeesCollection")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>

                                                        break;
                                                    case "AttendanceReport":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Attendance")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "MarksRegister":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Examination")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>


                                                        break;
                                                    case "staffattendance":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "HumanResource")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "evaluation_report":
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "HomeWork")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                        break;
                                                    case "":
                                                        break;

                                                }
                                            }
                                            else
                                            {
                                                if (moditem.can_view == 1)
                                                {
                                                    if (moditem.cat_name.Contains("Roles Permissions"))
                                                    {
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", "Roles")" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="show">
                                                            <a href="@Url.Action(moditem.can_view == 1 ? moditem.form_nam : "", getmodname[0].controller_name)" id="liside1" onmouseover="coloChangeove(this)" onmouseout="coloChangeot(this)">@SmartSchool.Resources.Resource1.ResourceManager.GetString(@moditem.cat_name.Trim())</a>
                                                        </li>
                                                    }
                                                }
                                            }
                                        }

                                    </ul>
                                </li>
                            }
                        }
                    }

                    <li><hr class="light-grey-hr mb-10" /></li>
                </ul>
            </div>
            <!-- /Left Sidebar Menu -->
            <!-- Right Sidebar Menu -->
            <div class="fixed-sidebar-right">
                <ul class="right-sidebar">
                    <li>
                        <div class="tab-struct custom-tab-1">
                            <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                                <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">chat</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" id="messages_tab_btn" role="tab" href="#messages_tab" aria-expanded="false">messages</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">todo</a></li>
                            </ul>
                            <div class="tab-content" id="right_sidebar_content">
                                <div id="chat_tab" class="tab-pane fade active in" role="tabpanel">
                                    <div class="chat-cmplt-wrap">
                                        <div class="chat-box-wrap">
                                            <div class="add-friend">
                                                <a href="javascript:void(0)" class="inline-block txt-grey">
                                                    <i class="zmdi zmdi-more"></i>
                                                </a>
                                                <span class="inline-block txt-dark">users</span>
                                                <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                                <div class="clearfix"></div>
                                            </div>
                                            <form role="search" class="chat-search pl-15 pr-15 pb-15">
                                                <div class="input-group">
                                                    <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
                                                    </span>
                                                </div>
                                            </form>
                                            <div id="chat_list_scroll">
                                                <div class="nicescroll-bar">
                                                    <ul class="chat-list-wrap">
                                                        <li class="chat-list">
                                                            <div class="chat-body">
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Clay Masse</span>
                                                                            <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                                        </div>
                                                                        <div class="status away"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user1.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Evie Ono</span>
                                                                            <span class="time block truncate txt-grey">Unity is strength</span>
                                                                        </div>
                                                                        <div class="status offline"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user2.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Madalyn Rascon</span>
                                                                            <span class="time block truncate txt-grey">Respect yourself if you would have others respect you.</span>
                                                                        </div>
                                                                        <div class="status online"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user3.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Mitsuko Heid</span>
                                                                            <span class="time block truncate txt-grey">I’m thankful.</span>
                                                                        </div>
                                                                        <div class="status online"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Ezequiel Merideth</span>
                                                                            <span class="time block truncate txt-grey">Patience is bitter.</span>
                                                                        </div>
                                                                        <div class="status offline"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user1.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Jonnie Metoyer</span>
                                                                            <span class="time block truncate txt-grey">Genius is eternal patience.</span>
                                                                        </div>
                                                                        <div class="status online"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user2.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Angelic Lauver</span>
                                                                            <span class="time block truncate txt-grey">Every burden is a blessing.</span>
                                                                        </div>
                                                                        <div class="status away"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user3.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Priscila Shy</span>
                                                                            <span class="time block truncate txt-grey">Wise to resolve, and patient to perform.</span>
                                                                        </div>
                                                                        <div class="status online"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)">
                                                                    <div class="chat-data">
                                                                        @*<img class="user-img img-circle" src="../img/user4.png" alt="user" />*@
                                                                        <div class="user-data">
                                                                            <span class="name block capitalize-font">Linda Stack</span>
                                                                            <span class="time block truncate txt-grey">Our patience will achieve more than our force.</span>
                                                                        </div>
                                                                        <div class="status away"></div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-chat-box-wrap">
                                            <div class="recent-chat-wrap">
                                                <div class="panel-heading ma-0">
                                                    <div class="goto-back">
                                                        <a id="goto_back" href="javascript:void(0)" class="inline-block txt-grey">
                                                            <i class="zmdi zmdi-chevron-left"></i>
                                                        </a>
                                                        <span class="inline-block txt-dark">ryan</span>
                                                        <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-more"></i></a>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body pa-0">
                                                        <div class="chat-content">
                                                            <ul class="nicescroll-bar pt-20">
                                                                <li class="friend">
                                                                    <div class="friend-msg-wrap">
                                                                        @*<img class="user-img img-circle block pull-left" src="../img/user.png" alt="user" />*@
                                                                        <div class="msg pull-left">
                                                                            <p>Hello Jason, how are you, it's been a long time since we last met?</p>
                                                                            <div class="msg-per-detail text-right">
                                                                                <span class="msg-time txt-grey">2:30 PM</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </li>
                                                                <li class="self mb-10">
                                                                    <div class="self-msg-wrap">
                                                                        <div class="msg block pull-right">
                                                                            Oh, hi Sarah I'm have got a new job now and is going great.
                                                                            <div class="msg-per-detail text-right">
                                                                                <span class="msg-time txt-grey">2:31 pm</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </li>
                                                                <li class="self">
                                                                    <div class="self-msg-wrap">
                                                                        <div class="msg block pull-right">
                                                                            How about you?
                                                                            <div class="msg-per-detail text-right">
                                                                                <span class="msg-time txt-grey">2:31 pm</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </li>
                                                                <li class="friend">
                                                                    <div class="friend-msg-wrap">
                                                                        @*<img class="user-img img-circle block pull-left" src="../img/user.png" alt="user" />*@
                                                                        <div class="msg pull-left">
                                                                            <p>Not too bad.</p>
                                                                            <div class="msg-per-detail  text-right">
                                                                                <span class="msg-time txt-grey">2:35 pm</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="input-group">
                                                            <input type="text" id="input_msg_send" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
                                                            <div class="input-group-btn emojis">
                                                                <div class="dropup">
                                                                    <button type="button" class="btn  btn-default  dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-mood"></i></button>
                                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                                        <li>
                                                                            <a href="javascript:void(0)">
                                                                                Action
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:void(0)">
                                                                                Another action
                                                                            </a>
                                                                        </li>
                                                                        <li class="divider"></li>
                                                                        <li><a href="javascript:void(0)"> Separated link</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="input-group-btn attachment">
                                                                <div class="fileupload btn  btn-default">
                                                                    <i class="zmdi zmdi-attachment-alt"></i>
                                                                    <input type="file" class="upload">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="messages_tab" class="tab-pane fade" role="tabpanel">
                                    <div class="message-box-wrap">
                                        <div class="msg-search">
                                            <a href="javascript:void(0)" class="inline-block txt-grey">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>
                                            <span class="inline-block txt-dark">messages</span>
                                            <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-search"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="set-height-wrap">
                                            <div class="streamline message-box nicescroll-bar">
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item unread-message">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Clay Masse</span>
                                                            <span class="inline-block font-11  pull-right message-time">12:28 AM</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject"> message sent via your monster market profile</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsu messm quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user1.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Evie Ono</span>
                                                            <span class="inline-block font-11  pull-right message-time">1 Feb</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject">Pogody theme support</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user2.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Madalyn Rascon</span>
                                                            <span class="inline-block font-11  pull-right message-time">31 Jan</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject">Congratulations from design nominees</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item unread-message">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user3.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Ezequiel Merideth</span>
                                                            <span class="inline-block font-11  pull-right message-time">29 Jan</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject"> item support message</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item unread-message">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user4.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Jonnie Metoyer</span>
                                                            <span class="inline-block font-11  pull-right message-time">27 Jan</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject">Help with beavis contact form</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Priscila Shy</span>
                                                            <span class="inline-block font-11  pull-right message-time">19 Jan</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject">Your uploaded theme is been selected</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="sl-item">
                                                        @*<div class="sl-avatar avatar avatar-sm avatar-circle">
                                                                <img class="img-responsive img-circle" src="../img/user1.png" alt="avatar" />
                                                            </div>*@
                                                        <div class="sl-content">
                                                            <span class="inline-block capitalize-font   pull-left message-per">Linda Stack</span>
                                                            <span class="inline-block font-11  pull-right message-time">13 Jan</span>
                                                            <div class="clearfix"></div>
                                                            <span class=" truncate message-subject"> A new rating has been received</span>
                                                            <p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="todo_tab" class="tab-pane fade" role="tabpanel">
                                    <div class="todo-box-wrap">
                                        <div class="add-todo">
                                            <a href="javascript:void(0)" class="inline-block txt-grey">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>
                                            <span class="inline-block txt-dark">todo list</span>
                                            <a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="set-height-wrap">
                                            <!-- Todo-List -->
                                            <ul class="todo-list nicescroll-bar">
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-default">
                                                        <input type="checkbox" id="checkbox01" />
                                                        <label for="checkbox01">Record The First Episode</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-pink">
                                                        <input type="checkbox" id="checkbox02" />
                                                        <label for="checkbox02">Prepare The Conference Schedule</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-warning">
                                                        <input type="checkbox" id="checkbox03" checked />
                                                        <label for="checkbox03">Decide The Live Discussion Time</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="checkbox04" checked />
                                                        <label for="checkbox04">Prepare For The Next Project</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-danger">
                                                        <input type="checkbox" id="checkbox05" checked />
                                                        <label for="checkbox05">Finish Up AngularJs Tutorial</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                                <li class="todo-item">
                                                    <div class="checkbox checkbox-purple">
                                                        <input type="checkbox" id="checkbox06" checked />
                                                        <label for="checkbox06">Finish Infinity Project</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <hr class="light-grey-hr" />
                                                </li>
                                            </ul>
                                            <!-- /Todo-List -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /Right Sidebar Menu -->
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid pt-25">
                    @RenderBody()
                    @if (TempData["message"] != null)
                    {
                        <script type="text/javascript">
                $(document).ready(function() {
                var tempdata = '@TempData["message"]';
                $.toast({
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 5000,
                stack: 6
                });
                });
                        </script>
                        TempData.Clear();
                    }
                    @RenderSection("webcamIntegrationScripts", required: false)
                </div>
            </div>
            @*<footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>2018 &copy; Grandin. Pampered by Hencework</p>
                        </div>
                    </div>
                </footer>*@
        </div>
    }

    <script type="text/javascript">
        function coloChangeove(ov) {
            ov.style.color = '#4287f5';
        }
        function coloChangeot(ot) {
            ot.style.color = '';
        }
    </script>



    <!-- JavaScript -->
    <!-- jQuery -->
    @*Ordered starts*@


    <!-- Bootstrap Core JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/MasterTemplate/dist/js/dataTables-data.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/MasterTemplate/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/MasterTemplate/dist/js/export-table-data.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/MasterTemplate/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Calender JavaScripts -->
    <script src="~/MasterTemplate/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/MasterTemplate/vendors/jquery-ui.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/MasterTemplate/dist/js/fullcalendar-data.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/MasterTemplate/dist/js/morris-data.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- Switchery JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/switchery/dist/switchery.min.js"></script>



    @*Ordered Ends *@

    <script src="~/MasterTemplate/vendors/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>

    <!-- Typeahead.js Plugin JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>

    <!-- Typeahead.js Init JavaScript -->

    <script src="~/MasterTemplate/dist/js/typeahead-js-data.js"></script>

    <!-- Tinymce JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/tinymce/tinymce.min.js"></script>

    <!-- Tinymce Wysuhtml5 Init JavaScript -->
    <script src="~/MasterTemplate/dist/js/tinymce-data.js"></script>

    <!-- simpleWeather JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="~/MasterTemplate/dist/js/simpleweather-data.js"></script>

    <!-- Progressbar Animation JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>


    <!-- Toast JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- EChartJS JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
    <script src="~/MasterTemplate/vendors/echarts-liquidfill.min.js"></script>

    <!-- Bootstrap Colorpicker JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- Moment JavaScript -->
    <script type="text/javascript" src="~/MasterTemplate/vendors/bower_components/moment/min/moment-with-locales.min.js"></script>

    <!-- Select2 JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/select2/dist/js/select2.full.min.js"></script>

    <!-- Form Advance Init JavaScript -->
    <script src="~/MasterTemplate/dist/js/form-advance-data.js"></script>



    <!-- Bootstrap Select JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Tagsinput JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

    <!-- Bootstrap Touchspin JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Multiselect JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/multiselect/js/jquery.multi-select.js"></script>

    <!-- Bootstrap Switch JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/MasterTemplate/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/MasterTemplate/dist/js/toast-data.js"></script>

    <script src="~/MasterTemplate/dist/js/sweetalert-data.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap-table JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/filament-tablesaw/dist/tablesaw.js"></script>
    <script src="~/MasterTemplate/dist/js/tablesaw-data.js"></script>
    <script src="~/MasterTemplate/dist/js/dashboard-data.js"></script>
    <!-- Init JavaScript -->
    <script src="~/MasterTemplate/dist/js/init.js"></script>


    <!-- Bootstrap Datetimepicker JavaScript -->
    <script type="text/javascript" src="~/MasterTemplate/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/MasterTemplate/dist/js/jquery.slimscroll.js"></script>

    <!-- Form Picker Init JavaScript -->
    <script src="~/MasterTemplate/dist/js/form-picker-data.js"></script>
</body>
</html>



