﻿@model SmartSchool.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="exampleModalLabel1">Forgot Password</h5>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Email address</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter email", type = "email", required = "email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-rounded pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-rounded pull-left">Reset</button>
            </div>
    </div>
    
}
