﻿@using SmartSchool.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage1.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid bgImageClass">
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30" style="background-color:rgba(0, 0, 0, 0.2)">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center mb-10" style="color:#ffffff">Sign in to SmartSchool</h3>
                                    <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                                </div>
                                <div class="form-wrap">

                                    <div class="form-group">
                                        <label class="control-label mb-10 " style="color:white;font-weight:bold" for="exampleInputEmail_2">Email address</label>

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email", style = "border-radius:20px;" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="pull-left control-label mb-10" style="color:white;font-weight:bold" for="exampleInputpwd_2">Password</label>

                                        <div class="clearfix"></div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter pwd", style = "border-radius:20px;" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="text-center">
                                        <small>
                                            <span class="capitalize-font block mb-10 pull-right font-12" style="cursor:pointer;color:white;font-weight:bold" onclick="createModal('@Url.Action("ForgotPasswordModel", "Account" )')">forgot password?</span>
                                        </small>
                                    </div>

                                    <div class="form-group text-left">
                                        <button type="submit" class="btn btn-primary  btn-rounded">sign in</button>
                                    </div>
                                    @if (TempData["message"] != null)
                                    {
                                        <label style="color:red">@TempData["message"].ToString()</label>
                                        TempData.Clear();
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content colorforModal" id="modelContent">
            @*this code continue in modal, view name is ForgotPasswordModel.cshtml*@
        </div>
    </div>
</div>


<script type="text/javascript">
    function createModal(url) {
        caches: false;
        Cache: false;
        $('#modelContent').empty();
        var name = $('#Email').val();
        $('#modelContent').load(url + "?name=" + name);
        $('#exampleModal').modal('show');
        return false;
    }
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                heading: 'Message',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 5000,
                     stack: 6
                 });
        });
    </script>
    TempData.Clear();
}
