﻿@using SmartSchool.Models
@model SmartSchool.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Account/Shared/Account_LayoutPage1.cshtml";
}

@*<h2>@ViewBag.Title.</h2>*@
@* Function Begin Here*@
@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>*@
    @*<hr />*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Create a new account</h3>
                                    <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                                </div>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.RoleID, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.RoleID, (IEnumerable<SelectListItem>)ViewBag.RolesList, "Select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RoleID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        @*<div class="col-md-offset-2 col-md-10">*@
                                        <input type="submit" id="btnsub" class="btn btn bg-primary btn btn-rounded" value="Register" />
                                        @*</div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnsub").click(function (e) {
            if (document.getElementById("RoleID").value == "") {

                alert("Please Select Role");
                e.preventDefault();
                //$.toast({
                //    //heading: '2 new messages',
                //    text: 'Please Select Role',
                //    position: 'top-right',
                //    loaderBg: '#fec107',
                //    icon: 'warning',
                //    hideAfter: 3500,
                //    stack: 6
                //});
                //return false;
            }
        });
    });
</script>