﻿@{
    Layout = "~/Views/Account/Shared/_AccountLayoutPage1.cshtml";
}

<div class="wrapper box-layout pa-0">

    <!-- Main Content -->
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid bgImageClass">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Reset Password</h3>
                                </div>
                                <div class="form-wrap">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p>
                                                Your password has been reset Successfully..! Please Login.
                                            </p>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="button" class="btn btn-primary btn-rounded" id="clickme">Click here to Log In</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>

    </div>
    <!-- /Main Content -->
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#clickme').on('click', function () {
            window.location.href = '/Account/Login';
        });
    });
</script>
