﻿@model SmartSchool.Models.income

@{
    ViewBag.Title = "Addincome";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Income</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 4, 27, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm("Addincome", "Income", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add Income</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Income Head  </label>
                                                        @Html.DropDownListFor(Model => Model.inc_head_id, (IEnumerable<SelectListItem>)ViewBag.selectedincomehead as SelectList, new { @class = "form-control", required = "required", id = "ddlih" })
                                                        @Html.ValidationMessageFor(m => m.inc_head_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name</label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtname" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Invoice Number </label>
                                                        @Html.EditorFor(model => model.invoice_no, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtin" } })
                                                        @Html.ValidationMessageFor(m => m.invoice_no, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date </label>
                                                        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date", id = "date" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Amount </label>
                                                        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtamount", type = "number" } })
                                                        @Html.ValidationMessageFor(m => m.amount, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Attach Document</label>
                                                        <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required", id = "txtdescription" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Income List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>

                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Invoice Number
                                                        </th>

                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Date

                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Income Head</th>
                                                        <th>@SmartSchool.Resources.Resource1.Amount</th>


                                                        <th>@SmartSchool.Resources.Resource1.Action </th>


                                                    </tr>
                                                <thead>
                                                <tbody>
                                                    @{int slno = 0;}
                                                    @foreach (var item in ViewBag.Addincomelist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>

                                                            <td>
                                                                @item.Invoice_no
                                                            </td>

                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                            </td>
                                                            <td>
                                                                @item.Inc_head_id
                                                            </td>
                                                            <td>
                                                                @item.Amount
                                                            </td>

                                                            <td>
                                                                @if (@item.Documents != null)
                                                                {
                                                                    <a href="~/Content/Addincome/@item.Documents" download>  <i class="fa fa-download" aria-hidden="true"></i></a>
                                                                }
                                                                @if (rol.can_add == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Editincome", new { id = item.Iid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Deleteincome", new { id = item.Iid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>


                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '/' +
                (('' + month).length < 2 ? '0' : '') + month + '/' +
                (('' + day).length < 2 ? '0' : '') + day;
            $('#date').val(moment(output).format("YYYY-MM-DD"));

        });
</script>
<script>
        $(document).ready(function () {

            $("#btnsave").click(function () {

                //var clc = document.getElementById("ddlih").value=="0"
                //alert(clc);

                if (document.getElementById("ddlih").value == "0") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please select income head ',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                else if (document.getElementById("txtname").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please enter name  ',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                else if (document.getElementById("txtin").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please enter invoice number',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                else if (document.getElementById("date").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please select date',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                else if (document.getElementById("txtamount").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please enter amount',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                else if (document.getElementById("txtdescription").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'please enter description',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
            });
        });
</script>
