﻿@model SmartSchool.Models.income

@{
    ViewBag.Title = "Editincome";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Edit Income</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.iid)

                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Income Head  </label>
                                            @Html.DropDownListFor(Model => Model.inc_head_id, (IEnumerable<SelectListItem>)ViewBag.selectedincomehead as SelectList, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.inc_head_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Name</label>
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Invoice Number </label>
                                            @Html.EditorFor(model => model.invoice_no, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.invoice_no, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Date </label>
                                            @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Amount </label>
                                            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Status </label>
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.is_active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-info" />
                                    </div>
                                </div>

                            </form>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Addincome")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

