﻿@model SmartSchool.Models.AddClass

@{
    ViewBag.Title = "Add_class";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("Add_class", "Academics", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <div class="form-horizontal">
                                                <h6 class="txt-dark capitalize-font"><i class="fa fa-plus-square mr-10"></i>@SmartSchool.Resources.Resource1.AddClass</h6>
                                                <hr />
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.ClassName, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.class_name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                                @Html.ValidationMessageFor(model => model.class_name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-2 ">
                                                            <div class="pull-left">
                                                                <input type="submit" value="Save" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="form-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <h6 class="txt-dark capitalize-font"><i class="fa fa-list mr-10"></i>@SmartSchool.Resources.Resource1.Class_List</h6>
                                                <hr />
                                                <table id="example" class="table table-hover display  pb-30">
                                                    <thead>
                                                        <tr>
                                                            <th>@SmartSchool.Resources.Resource1.ClassName</th>
                                                            @*<th>Action</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (ViewBag.getclassname != null)
                                                        {
                                                            foreach (var item in ViewBag.getclassname)
                                                            {
                                                                <tr>
                                                                    <td>@item.class_name</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
