﻿@model SmartSchool.Models.AddClass



@{
    /**/

    ViewBag.Title = "AddClass";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable.cshtml", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@{
    SmartSchool.SchoolMasterClasses.ModulesAccess mm = new SmartSchool.SchoolMasterClasses.ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    //var role_id = UserManager.        Roles.GetRolesForUser(User.Identity.Name);
    dynamic sesval = null;
    int college_id = 0, branch_id = 0;
    string role_id = null;
    if (Session["sessiondata"] != null)
    {
        sesval = Session["sessiondata"];
        role_id = sesval[0];
        college_id = Convert.ToInt32(sesval[1]);
        branch_id = Convert.ToInt32(sesval[2]);
    }
    else
    {
        Html.Action("Login", "Account");
    }
    var getrolesacc = mm.RoleAccess(role_id, 8, 46, college_id, branch_id);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Add Classes
                                            </h6>


                                            <hr class="light-grey-hr" />


                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @*<div class="form-group">
                                                    @Html.LabelFor(model => model.college_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.college_id, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.college_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.branch_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.branch_id, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.branch_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.created_at, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.created_at, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.modified_at, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.modified_at, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.modified_at, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.created_by, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.created_by, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.created_by, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.modified_by, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.modified_by, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.modified_by, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>*@
                                            <div class="row">


                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.ClassName", htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span class="txt-danger">*</span>
                                                        <div class="col-md-10">
                                                            @*@Html.EditorFor(model => model.classes, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.addcls, " -- Select Class --", new { @class = "form-control", @clsid = "item.Class_Name", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.classes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span class="txt-danger">*</span>
                                                        <div class="col-md-12">
                                                            @*@Html.EditorFor(model => model.section, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })*@
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.clas1, " -- Select Section --", new { @class = "form-control", @reuired = "required" })
                                                            @*<div>
                                                                    <div class="dropdown dropup docs-options">
                                                                        <button type="button" class="btn btn-success btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" data-placement="top" aria-expanded="true">
                                                                            Select Sections
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="toggleOptions">
                                                                            <li role="presentation">
                                                                                <label class="checkbox-inline">

                                                                                    @if (ViewBag.clas1 != null)
                                                                                    {
                                                                                        foreach (var item in ViewBag.clas1)
                                                                                        {
                                                                                            <input type="checkbox" name="responsive" id="@item.id">
                                                                                            <option value="@item.id">@item.section1</option>


                                                                                        }
                                                                                    }
                                                                                </label>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-5">
                                                    @Html.Label("Section", htmlAttributes: new { @class = "control-label col-md-0" })
                                                    <div class="panel panel-default card-view">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <p class="text-muted">Select Sections</p>
                                                                <div class="pills-struct mt-40">
                                                                    <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_12">
                                                                        <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="home_tab_12" href="#home_12">Section</a></li>*@
                                                @*<li role="presentation" class=""><a data-toggle="tab" id="profile_tab_12" role="tab" href="#profile_12" aria-expanded="false">Individual</a></li>
                                                    <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_22" role="tab" href="#profile_22" aria-expanded="false">Class</a></li>*@

                                                @*</ul>
                                                    <div class="tab-content" id="myTabContent_12">
                                                        <div id="home_12" class="tab-pane fade active in" role="tabpanel">
                                                            <div class="col-md-6">
                                                                <div class="panel panel-default card-view">
                                                                    <div class="form-group">
                                                                        <div class="panel-body">
                                                                            <p class="text-muted">Select Sections: </p>

                                                                            <div class="col-sm-12">

                                                                                @if (ViewBag.clas1 != null)
                                                                                {
                                                                                    foreach (var item in ViewBag.clas1)
                                                                                    {
                                                                                <div class="checkbox checkbox-info checkbox-circle">
                                                                                    <input id="section_id" type="checkbox" alt="Student" name="checkbox_sms_loop">

                                                                                    <label for="checkbox_sms1">
                                                                                        @item.section1


                                                                                    </label>
                                                                                </div>
                                                                                            }*@


                                                @*<div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox_sms2" type="checkbox" alt="Parent" name="checkbox_sms_loop">
                                                        <label for="checkbox_sms2"> Parent </label>
                                                    </div>
                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox_sms3" type="checkbox" alt="Teacher" name="checkbox_sms_loop">
                                                        <label for="checkbox_sms3"> Teacher </label>
                                                    </div>
                                                    <div class="checkbox checkbox-info checkbox-circle">
                                                        <input id="checkbox_sms4" type="checkbox" alt="Others" name="checkbox_sms_loop">
                                                        <label for="checkbox_sms4"> Others </label>
                                                    </div>*@
                                                @*</div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                @*<div id="profile_12" class="tab-pane fade" role="tabpanel">
                                                        <label>Select Recipient</label>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="dropdown open">
                                                                     Single button
                                                                    <button class="btn btn-info dropdown-toggle" id="select_sms_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:240px">
                                                                        <span id="selected_sms">Choose option</span>
                                                                        <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu" id="dropdown_sms">
                                                                        <li><a href="" id="Student">Student</a></li>
                                                                        <li><a href="" id="Parent">Parent</a></li>
                                                                        <li><a href="" id="Staff">Staff</a></li>
                                                                        <li><a href="" id="Others">Others</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <select class="form-control select2" id="sselect2id_sms"></select>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>*@
                                                @*<div id="profile_22" class="tab-pane fade " role="tabpanel">
                                                        <div class="form-group mb-0">
                                                            <label class="control-label mb-10">Select Class</label>
                                                            <select class="select2 select2-multiple" multiple="multiple" id="sel_mul_class_sms" data-placeholder="Choose" data->
                                                                <option value="1">Class I</option>
                                                                <option value="2">Class II</option>
                                                                <option value="3">Class III</option>
                                                                <option value="4">Class IV</option>
                                                                <option value="5">Class V</option>
                                                                <option value="6">Class VI</option>

                                                            </select>
                                                        </div>
                                                    </div>*@
                                                @*</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>*@
                                            </div>
                                            <br />
                                            <br>
                                            <br />
                                            @if(rol.can_add == 1)
                                            {
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-info" value="Save" />

                                                </div>
                                                @*<div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>*@
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="fa fa-times mr-10"></i>@SmartSchool.Resources.Resource1.Class List
                                            </h6>

                                            <hr class="light-grey-hr" />

                                            @*<div class="panel panel-default card-view mt-50">

                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">*@
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">


                                                        <table id="example" class="table table-hover display pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Class
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Section
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Action
                                                                    </th>


                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @foreach (var item in ViewBag.classlist)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.class1
                                                                        </td>
                                                                        <td>
                                                                            @item.section1
                                                                        </td>

                                                                        @*<td class="form-group">
                                                                                @Html.ActionLink("Edit", "UpdateClass", new { Id = @item.id }, new { @class = "text-inverse pr-10 zmdi zmdi-edit txt-warning" }) |

                                                                                @Html.ActionLink("Delete", "DeleteClass", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger" })
                                                                            </td>*@
                                                                        <td class="form-group">
                                                                            <a href="@Url.Action("UpdateClass", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                            @if (rol.can_delete == 1)
                                                                            {
                                                                            @*<a href="@Url.Action("DeleteClass", "Academics", new { Id = @item.id, onclick = "return confirm('Are sure wants to delete?');" })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                            @Html.ActionLink("   ", "DeleteClass", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                            }

                                                                        </td>


                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>
                        </div>
                    </div>*@
            }
            }
        }
    }
            @if (TempData["message"] != null)
            {
                <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });


        });

                </script>
            }