﻿@model SmartSchool.SchoolMasterClasses.AddClassTimetable

@{
    ViewBag.Title = "AddClassTimetable";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("timetbl", "Academics")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 42, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("AddClassTimetable", "Academics", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Search criteria</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.addcls , "Select" ,new { @class = "form-control", @required = "required", id = "class_id" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), "Select Section ", new { @class = "form-control", id = "section_id" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.subjects, htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("subject_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", @required = "required", id = "subject_id" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <i class="fa fa-users"></i><h6 class="panel-title txt-dark ">@SmartSchool.Resources.Resource1.Class Timetable</h6>
                                </div>
                                <div class="pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover" id="tabledata">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Day
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Start_Time
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.End_Time
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Room_Number
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @{
                                                        int k = 1, WDO = 1;
                                                        int i = 20;
                                                        int j = 1;
                                                        string[] week_days = new string[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
                                                        foreach (var dayss in week_days)
                                                        {
                                                            var dor = WDO++;
                                                            <tr>
                                                                <td>
                                                                    @dayss

                                                                </td>
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <label class="control-label mb-10 text-left"></label>
                                                                                <div>

                                                                                    <div class='input-group date' id='datetimepicker_@i'>
                                                                                        <input type='text' class="form-control" id="monstart" />
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-clock-o"></span>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <label class="control-label mb-10 text-left"></label>
                                                                                <div>
                                                                                    @{
                                                                                        i = i + k;
                                                                                    }

                                                                                    <div class="input-group date" id="datetimepicker_@i">
                                                                                        <input type="text" class="form-control" id="monend" />
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-clock-o"></span>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">

                                                                            <div class="col-md-12">
                                                                                <input type='text' class="form-control" id="room_mon_@j" placeholder="Room Number" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="hidden">
                                                                    @dor
                                                                </td>
                                                            </tr>
                                                            i++;
                                                            j++;
                                                        }
                                                    }
                                            </table>
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="button" class="btn btn-info" value="Save" id="btnsave" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $('#subject_id').empty();
        $.ajax({
            method: 'POST',
            url: '/Academics/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $('#section_id').empty();
                $("#section_id").html("<option value=''>Select Section</option>");
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    var ddlclass = $('#class_id').val();
    if (ddlclass != null) {
        var ddlsection = $('input[name="sectionVal"]').val();
        $('#section_id').empty();
        var div_data = "";
        $.ajax({
            type: "POST",
            url: "/Academics/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $('#section_id').empty();
                $("#section_id").html("<option value=''>Select Section</option>");
                $.each(data, function (i, obj) {
                    if (obj.section_id == ddlsection) {
                        ne = 'selected';
                    } else {
                        ne = "";
                    }
                    div_data += "<option value='" + obj.Value + "' " + ne + " >" + obj.Text + "</option>";
                });

                $('#section_id').append(div_data);

            }
        });
    }
    //});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id').on('change', function () {
            var ddlsection = $(this).val();
            var ddlclass = $('#class_id').val();
            $('#subject_id').empty();
             $("#subject_id").html("<option value=''>Select Subject</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/getTeacherSubjects',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsection': ddlsection }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>


<script type="text/javascript">
    var day_nam = null;
    var day_order = null;
    var start_time = [];
    var end_time = [];
    var rn = [];
    var allval = new Array();

    var mergeVal = {};
    $(document).ready(function (e) {
        $('#btnsave').on('click', function () {
            var ddlsub = $('#subject_id').val();
            var ddlcls = $('#class_id').val();
            var ddlsec = $('#section_id').val();
            $("#tabledata tbody tr").each(function (i) {
                mergeVal = new Object();
                mergeVal.day_name = $.trim($(this).find("td:eq(0)").html());
                mergeVal.start_time = $.trim($(this).find("td:eq(1) input[type='text']").val());
                mergeVal.end_time = $.trim($(this).find("td:eq(2) input[type='text']").val());
                mergeVal.room_no = $.trim($(this).find("td:eq(3) input[type='text']").val());
                mergeVal.day_order = $.trim($(this).find("td:eq(4)").html());
                if (mergeVal.start_time != "" && mergeVal.end_time != "" && mergeVal.room_no != "") {
                    allval.push(mergeVal);
                }
            });
            $.ajax({
                url: "/Academics/AddClassTimetable",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'allval': allval, 'end_time': end_time, 'rn': rn, 'ddlsub': ddlsub, 'ddlcls': ddlcls, 'ddlsec': ddlsec }),
                success: function (response) {
                    if (response == "Data Saved Successfully") {
                        validateSuccess(response);
                    }
                    else if (response == "Please Fill up the Table..?") {
                        validate(response);
                    }
                    else if (response == "Choose Class, Section and Subject") {
                        validate(response);
                    }
                    else if (response == "Please Fill up the Table..?") {
                        validate(response);
                    }
                },
                error: function (e) {
                    alert("Fail");
                }
            });
            allval = [];
        });
    });
</script>

<script type="text/javascript">
    function validate(mess) {
        $.toast({
            text: mess,
            position: 'top-right',
            loaderBg: '#fec107',
            icon: 'warning',
            hideAfter: 4000,
            stack: 6
        });
    }
</script>
<script type="text/javascript">
    function validateSuccess(mess) {
        $.toast({
            text: mess,
            position: 'top-right',
            loaderBg: '#fec107',
            icon: 'success',
            hideAfter: 4000,
            stack: 6
        });
    }
</script>



