﻿@model SmartSchool.Models.section
@{
    ViewBag.Title = "AddSection";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable.cshtml", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 47, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-plus-square mr-10"></i>@SmartSchool.Resources.Resource1.Add_Section</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })                               
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Section_Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <span class="txt-danger">*</span>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.section1, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                        @Html.ValidationMessageFor(model => model.section1, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>                                          
                                        </div>
                                        <br />
                                        <br>
                                        <br />
                                        @if (rol.can_add == 1)
                                        {
                                            <div class="for ==1m-group">
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-info" value="Save" />
                                                </div>
                                            </div>

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-list mr-10"></i>@SmartSchool.Resources.Resource1.Section_List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="table-wrap">
                                                <div class="table-responsive">
                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                        <table id="example" class="table table-hover display pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Section
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Action
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in ViewBag.sectiondata)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.section1
                                                                        </td>
                                                                        <td class="form-group">
                                                                            <a href="@Url.Action("UpdateSection", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>

                                                                            @if (rol.can_delete == 1)
                                                                            {
                                                                                @*<a href="@Url.Action("DeleteSection", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                                @Html.ActionLink("   ", "DeleteSection", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                            }
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}



