﻿@model SmartSchool.Models.subject

@{
    ViewBag.Title = "AddSubjects";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 45, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Add Subjects</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="col-md-4">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            @*Theory:   @Html.RadioButton("Gender", "Theory", @checked = "checked")
                                                                Practical: @Html.RadioButton("Gender", "Practical")*@
                                                            <div class="form-group mb-30">

                                                                <div class="radio radio-info">
                                                                    <input type="radio" name="type1" value="Theory" checked>
                                                                    <label for="type">
                                                                        @SmartSchool.Resources.Resource1.Theory
                                                                    </label>
                                                                </div>
                                                                <div class="radio radio-info">
                                                                    <input type="radio" name="type1" value="Practicle">
                                                                    <label for="type1">
                                                                        @SmartSchool.Resources.Resource1.Practicle
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br>
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        @Html.Hidden("Type", (object)ViewBag.type)
                                                        <input type="submit" id="btnSubmit" class="btn btn-info" value="Save" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-list mr-10"></i> @SmartSchool.Resources.Resource1.Subject List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="table-wrap">
                                                <div class="table-responsive">
                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                        <table id="example" class="table table-hover display pb-30">
                                                            <thead>
                                                                <tr>

                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Subject
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Subject Code
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Type
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Action
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in ViewBag.subjectdata)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.name
                                                                        </td>
                                                                        <td>
                                                                            @item.code
                                                                        </td>
                                                                        <td>
                                                                            @item.type
                                                                        </td>
                                                                        <td class="form-group">
                                                                            @if (rol.can_edit == 1)
                                                                            {
                                                                                <a href="@Url.Action("EditSubject", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                            }
                                                                            @if (rol.can_delete == 1)
                                                                            {
                                                                                @*<a href="@Url.Action("DeleteSubject", "Academics", new { Id = @item.id,onclick="return Confirm('Are You Sure Want to Delete?');" })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                                @Html.ActionLink(" ", "DeleteSubject", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>
                    </div>*@
            }
        }
    }
}

<script src="~/MasterTemplate/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $("#btnSubmit").on("click", function () {
        var v = $("input[type='radio']:checked").val();
        //var v1 = $(this).closest("td").find("input[name='radio2']").val();
        $('#Type').val(v);

        //alert(v);
    });
</script>