﻿@model SmartSchool.SchoolMasterClasses.AssignClassteacher

@{
    /**/

    ViewBag.Title = "AssignClassTeacher";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 42, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm("AssignClassTeacher", "Academics", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.AssignClassteacher</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.classes, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("staff_id", (IEnumerable<SelectListItem>)ViewBag.teacher, new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <h6> @SmartSchool.Resources.Resource1.Class teacher List</h6>
                                            <br />
                                            <br />
                                            <table id="example" class="table table-hover display  pb-30">
                                                <thead>
                                                    <tr>
                                                        <th> @SmartSchool.Resources.Resource1.Class</th>
                                                        <th> @SmartSchool.Resources.Resource1.Section</th>
                                                        <th> @SmartSchool.Resources.Resource1.Class Teacher</th>
                                                        <th> @SmartSchool.Resources.Resource1.Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.AssignClsTeacher)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.classes
                                                            </td>
                                                            <td>
                                                                @item.section
                                                            </td>
                                                            <td>
                                                                @item.name

                                                            <td class="form-group">
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    <a href="@Url.Action("EditAssignClassTeacher", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    <a href="@Url.Action("DeleteAssignClassTeacher", "Academics", new { Id = @item.id, onclick = "return Confirm('Are You Sure Want to Delete?');" })"><span class="zmdi zmdi-delete txt-danger"></span></a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "AssignClassTeacher")
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $('#section_id').empty();
                    $("#section_id").html("<option value=''>Select Section</option>");
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>
