﻿@model SmartSchool.SchoolMasterClasses.AssignSubject

@{
    ViewBag.Title = "AssignSubject";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 43, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            @*<div class="form-horizontal">*@
                                            <h4> @SmartSchool.Resources.Resource1.AssignSubject</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("class_id", new SelectList(ViewBag.cls, "Value", "Text"), "Select", new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.classes, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Teacher", htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("Staff_id", new List<SelectListItem>(), new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.end_time, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.subjects, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("subject_id", new List<SelectListItem>(), new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.subjects, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                            <br /><br /><br />
                                            <br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <div class="table-wrap">
                                               
                                                    <h4>@SmartSchool.Resources.Resource1.AssignSubject</h4>
                                                    <hr />
                                                    <div class=" table-responsive">

                                                        <table id="example" class="table table-hover display  pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>@SmartSchool.Resources.Resource1.Class</th>
                                                                    <th>@SmartSchool.Resources.Resource1.Section</th>
                                                                    <th>@SmartSchool.Resources.Resource1.Subject</th>
                                                                    <th>@SmartSchool.Resources.Resource1.TeacherName</th>
                                                                    <th>@SmartSchool.Resources.Resource1.Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (ViewBag.GetTeacherSubject != null)
                                                                {
                                                                    foreach (var item in ViewBag.GetTeacherSubject)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.Classes</td>
                                                                            <td>@item.Section</td>
                                                                            <td>@item.name</td>
                                                                            <td>@item.Teacher_name</td>
                                                                            <td class="form-group">
                                                                                @*<a href="@Url.Action("EditAssignClassTeacher", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                    |*@
                                                                                @if (rol.can_delete == 1)
                                                                                {
                                                                                    <a href="@Url.Action("DeleteAssignSubject", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-delete txt-danger" data_toggle="tooltip" title="Delete" data_placement="top" }></span></a>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $('#Staff_id').empty();
            $("#section_id").html("<option value=''>--Select Section--</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                }
            });
        });
    });
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#section_id').on('change', function () {
                var ddlsection = $(this).val();
                var ddlclass = $('#class_id').val();
                $('#Staff_id').empty();
                $("#Staff_id").html("<option value=''>Select Teacher</option>");
                $.ajax({
                    method: 'POST',
                    url: '/Academics/getTeacher',
                    contentType: "application/json; charset=utf-8",
                    datatype: "Json",
                    data: JSON.stringify({ 'ddlsection': ddlsection, 'ddlclass': ddlclass }),
                    success: function (data) {
                        $.each(data, function (index, row) {
                            $("#Staff_id").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                        });

                    }
                });
            });
        });
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Staff_id').on('change', function () {
            var ddlsection = $('#section_id').val();
            var ddlclass = $('#class_id').val();
            var stafid = $('#Staff_id').val();
            $('#subject_id').empty();
            $("#subject_id").html("<option value=''>Select Subject</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/getTeacherSubjects',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlsection': ddlsection, 'ddlclass': ddlclass, 'ddlstafid': stafid}),
                success: function (data) {
                    $.each(data, function (index, row) {
                        $("#subject_id").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                    });

                }
            });
        });
    });
</script>

