﻿@model SmartSchool.Models.class_teacher

@{
    ViewBag.Title = "DeleteAssignClassTeacher";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h4>class_teacher</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.class_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.class_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.staff_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.staff_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.section_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.section_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.college_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.college_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.branch_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.branch_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.created_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.created_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.modified_at)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.modified_at)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.created_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.created_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.modified_by)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.modified_by)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.is_active)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.is_active)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "AssignClassTeacher")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}