﻿@model SmartSchool.Models.class_teacher

@{
    ViewBag.Title = "EditAssignClassTeacher";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <div class="form-horizontal">
                                    <h4>Class Teacher</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id)

                                    <div class="form-group">
                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.cls, " -- Select Class --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.section_id, (IEnumerable<SelectListItem>)ViewBag.clas1, " -- Select Section --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Teacher", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.staff_id, (IEnumerable<SelectListItem>)ViewBag.teacher, " -- Select Teacher --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.staff_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-info" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (index, row) {

                        $("#section_id").append("<option value='" + row.section_id + "'>" + row.section + "</option > ");
                    });

                }
            });
        });
    });
</script>


<div>
    @Html.ActionLink("Back to List", "AssignClassTeacher")
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });


        });
    </script>
}