﻿@model SmartSchool.SchoolMasterClasses.AssignClassteacher

@{
    ViewBag.Title = "EditAssignClassTeachers";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>EditAssignClassTeachers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>AssignClassteacher</h6>
                                <hr class="light-grey-hr" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.classes, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.classes, "", new { @class = "text-danger" })*@
                                                @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.clas, " -- Select Class --", new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">                                                
                                                @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">                                                
                                                @Html.DropDownList("staff_id", (IEnumerable<SelectListItem>)ViewBag.teacher, " -- Select Teacher --", new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <h6>Class teacher List</h6>
                                <br />
                                <br />
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Class Teacher</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.AssignClsTeacher)
                                        {
                                            <tr>
                                                <td>
                                                    @item.classes
                                                </td>
                                                <td>
                                                    @item.section
                                                </td>
                                                <td>
                                                    @item.name

                                                <td class="form-group">
                                                    <a href="@Url.Action("EditAssignClassTeacher", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                    |
                                                    <a href="@Url.Action("DeleteAssignClassTeacher", "Academics", new { Id = @item.id,onclick="return Confirm('Are You Sure Want to Delete?');" })"><span class="zmdi zmdi-delete txt-danger"></span></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AssignClassTeacher")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (index, row) {

                        $("#section_id").append("<option value='" + row.section_id + "'>" + row.section + "</option > ");
                    });

                }
            });
        });
    });
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'warning',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}

