﻿@model SmartSchool.Models.class_sections

@{
    ViewBag.Title = "Map Class Section";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 46, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Map_Class_Section
                                            </h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.ClassName", htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span class="txt-danger">*</span>
                                                        <div class="col-md-10">
                                                            @*@Html.EditorFor(model => model.classes, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.addcls, "Select Class", new { @class = "form-control", @clsid = "item.Class_Name", @required = "required" })                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <span class="txt-danger">*</span>
                                                        <div class="col-md-12">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.clas1, "Select Section", new { @class = "form-control", @reuired = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br>
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" />

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="fa fa-list mr-10"></i>@SmartSchool.Resources.Resource1.Class_List
                                            </h6>
                                            <hr class="light-grey-hr" />
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">


                                                        <table id="example" class="table table-hover display pb-30">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Class
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Section
                                                                    </th>
                                                                    <th>
                                                                        @SmartSchool.Resources.Resource1.Action
                                                                    </th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @foreach (var item in ViewBag.classlist)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.class1
                                                                        </td>
                                                                        <td>
                                                                            @item.section1
                                                                        </td>
                                                                        <td class="form-group">
                                                                            <a href="@Url.Action("update_class_section", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                            @if (rol.can_delete == 1)
                                                                            {
                                                                                @*<a href="@Url.Action("DeleteClass", "Academics", new { Id = @item.id, onclick = "return confirm('Are sure wants to delete?');" })"><span class="zmdi zmdi-delete txt-danger"></span></a>*@
                                                                                @Html.ActionLink("   ", "delete_class_section", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger", onclick = "return confirm('Are sure wants to delete?');" })
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
