﻿@model SmartSchool.SchoolMasterClasses.Promote

@{
    /**/

    ViewBag.Title = "Promote";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    var getrolesacc = mm.RoleAccess(listData.roleid, 8, 44, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Promote Students</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @Html.DropDownList("class_id1", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id1" })
                                                        @Html.ValidationMessageFor(model => model.classes, "", new { @class = "error" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @Html.DropDownList("section_id1", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id1" })
                                                        @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <br />
                                            <br>
                                            <br />
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-info" id="btn_search" value="Search" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view" id="div_ps_l_id">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-times mr-10"></i>@SmartSchool.Resources.Resource1.Promote Students</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">

                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-8">
                                                                                @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.year, "Select", new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                                            <div class="col-10">
                                                                                @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                                                @Html.ValidationMessageFor(model => model.classes, "", new { @class = "error" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                                            <div class="col-10">
                                                                                @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                                                @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <div id="example_wrapper" cla
                                                                     ss="dataTables_wrapper">
                                                                    <table id="example" class="table table-hover display pb-30">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Admission_Number
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Student_name
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.FatherName
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Date Of Birth
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Current Result
                                                                                </th>
                                                                                <th>
                                                                                    @SmartSchool.Resources.Resource1.Next Session Status
                                                                                </th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (ViewBag.studentlist != null)
                                                                            {
                                                                                foreach (var item in ViewBag.studentlist)
                                                                                {

                                                                                    <tr>
                                                                                        <input type="hidden" value="@item.id" name="studentid">
                                                                                        <input type="hidden" value="@item.AdmissionNumber" name="AdmissionNumber" />
                                                                                        <td>
                                                                                            @item.AdmissionNumber
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.FirstName
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.FatherName
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.DateOfBirth
                                                                                        </td>
                                                                                        <td class="form-group">
                                                                                            <div class="radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="studentpass_@item.AdmissionNumber" value="Pass">
                                                                                                    @SmartSchool.Resources.Resource1.Pass
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="studentpass_@item.AdmissionNumber" value="Fail" checked="checked">
                                                                                                    @SmartSchool.Resources.Resource1.Fail
                                                                                                </label>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="form-group">

                                                                                            <div class="radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="continueORleave_@item.AdmissionNumber" checked="checked" value="continue">
                                                                                                    @SmartSchool.Resources.Resource1.Continue
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="continueORleave_@item.AdmissionNumber" value="leave">
                                                                                                    @SmartSchool.Resources.Resource1.Leave
                                                                                                </label>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>

                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <br />
                                                                    <br />
                                                                    <br />
                                                                    @if (rol.can_add == 1)
                                                                    {
                                                                        <div class="form-group">
                                                                            <div class="pull-right">
                                                                                <input type="button" id="save_btn" class="btn btn-info" value="Promote" />

                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#save_btn').on('click', function () {

            var hh = $('#year option:selected').text();
            if ($('#year').val() != "" && $('#class_id').val() != "" && $('#section_id').val() != "") {
                var allStudents = new Array();
                $("#example tbody tr").each(function (i) {
                    var student = {};
                    var adno = $(this.closest('tr')).find("input[name='AdmissionNumber']").val();
                    student.id = $(this.closest('tr')).find("input[name='studentid']").val();
                    student.admission = $(this.closest('tr')).find("input[name='AdmissionNumber']").val();
                    student.passORfail = $(this).find("input[name='studentpass_" + adno + "']:checked").val();
                    student.continueORleave = $(this).find("input[name='continueORleave_" + adno + "']:checked").val();
                    allStudents.push(student);
                });
                $.ajax({
                    url: "/Academics/Promote",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'allStudents': allStudents, 'promoteyear': $('#year option:selected').text(), 'clsid': $('#class_id').val(), 'secid': $('#section_id').val() }),
                    success: function (response) {
                        if (response > 0) {
                            if (response > 1) {
                                $.toast({
                                    heading: 'Success',
                                    text: response + ' Students Successfully Promoted..!',
                                    position: 'top right',
                                    loaderBg: '#fec107',
                                    icon: 'success',
                                    hideAfter: 4000,
                                    stack: 6
                                });
                            }
                            else {
                                $.toast({
                                    heading: 'Success',
                                    text: response + ' Student Successfully Promoted..!',
                                    position: 'top right',
                                    loaderBg: '#fec107',
                                    icon: 'success',
                                    hideAfter: 4000,
                                    stack: 6
                                });
                            }

                        }
                        else {
                            $.toast({
                                heading: 'Warning',
                                text: 'No Students Found..?',
                                position: 'top right',
                                loaderBg: '#fec107',
                                icon: 'Warning',
                                hideAfter: 4000,
                                stack: 6
                            });
                        }
                    },
                    error: function (e) {
                        $.toast({
                            heading: 'Warning',
                            text: 'Something Went Wrong..Try Again.',
                            position: 'top right',
                            loaderBg: '#fec107',
                            icon: 'Warning',
                            hideAfter: 4000,
                            stack: 6
                        });
                    }
                });
            }
            else {
                $.toast({
                    heading: 'Warning',
                    text: 'Please Select Year, Class & Section to Promote..!',
                    position: 'top right',
                    loaderBg: '#fec107',
                    icon: 'Warning',
                    hideAfter: 4000,
                    stack: 6
                });
            }
        });
    });
</script>
<script>
    $('#class_id1').on('change', function () {

        var ddlclass = $(this).val();
        $('#section_id1').empty();
        $("#section_id1").html("<option value=''>Select</option>");
        $.ajax({
            method: 'POST',
            url: '/Academics/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id1").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id1").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");

            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
    });
</script>