﻿@model SmartSchool.SchoolMasterClasses.AddClassTimetable

@{
    ViewBag.Title = "timetbl";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable", "Academics")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("timetbl", "Academics", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Search Timetable</h6>

                                <hr class="light-grey-hr" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.clas, new { @class = "form-control", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" id="btnserach" value="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <div class="box box-info" id="timetable">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-users"></i>@SmartSchool.Resources.Resource1.Class Timetable</h3>
                                    </div>

                                    <div class="box-body">
                                        <div class="row print">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-4 col-md-4">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">
                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>
                                                    <table id="example" class="table table-bordered example dataTable no-footer data dtr-inline" role="gridcell" aria-describedby="example_info" style="width: 1098px;">

                                                        <thead>
                                                            <tr role="row">
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Class
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Subject
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Monday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Tuesday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Wednesday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Thursday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Friday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Saturday
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Sunday
                                                                </th>
                                                            </tr>

                                                        </thead>

                                                        <tbody>

                                                            @if (ViewBag.getname != null)
                                                            {
                                                                int i = 0;
                                                                foreach (var lan in ViewBag.getname)
                                                                {
                                                                    <tr>
                                                                        @if (i == 0)
                                                                        {
                                                                            <td>@ViewBag.cls_id</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                        <td>@lan</td>
                                                                        @foreach (var item in ViewBag.Gettimetable)
                                                                        {
                                                                            if (lan == item.name)
                                                                            {
                                                                                <td class="text text-center vertical">
                                                                                    <div class="attachment-block clearfix">
                                                                                        <strong class="text-green">@item.start_time</strong>
                                                                                        <b class="text text-center">-</b>
                                                                                        <strong class="text-green">@item.end_time</strong><br>
                                                                                        <strong class="text-green">Room Number:@item.room_no</strong>
                                                                                    </div>
                                                                                </td>
                                                                            }
                                                                        }
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"></div>
                                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous"><i class="fa fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next"><i class="fa fa-angle-right"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>--Select Section--</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                }
            });
        });
        $('#class_ids').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_ids').empty();
            $("#section_ids").html("<option value=''>--Select Section--</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>
