﻿@model SmartSchool.Models.class_sections

@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable.cshtml", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Add Classes</h6>
                                <hr class="light-grey-hr" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.ClassName", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <span class="txt-danger">*</span>
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.classes, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.addcls, " -- Select Class --", new { @class = "form-control", @reuired = "required", @clsid = "item.Class_Name" })
                                                @*@Html.ValidationMessageFor(model => model.classes, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("section_id", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <span class="txt-danger">*</span>
                                            <div class="col-md-12">
                                                @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.clas1, " -- Select Section --", new { @class = "form-control", @reuired = "required" })
                                            </div>
                                        </div>
                                    </div>

                                </div>                  
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" />

                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("AddClass", "Academics")'" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


