﻿@model SmartSchool.Models.@class

@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable.cshtml", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Add Classes</h6>


                                <hr class="light-grey-hr" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)



                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.ClassName", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <span class="txt-danger">*</span>
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.classes, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.addcls, " -- Select Class --", new { @class = "form-control", @reuired = "required", @clsid = "item.Class_Name" })
                                                @*@Html.ValidationMessageFor(model => model.classes, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("section_id", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <span class="txt-danger">*</span>
                                            <div class="col-md-12">
                                                @*@Html.EditorFor(model => model.section, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })*@
                                                @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.clas1, " -- Select Section --", new { @class = "form-control", @reuired = "required" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="form-group">
                                    @Html.Label("Section", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <span class="txt-danger">*</span>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.section_id, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })

                                        @Html.DropDownList("", (IEnumerable<SelectListItem>)ViewBag.clas1, new { @class = "form-control",id="section_id", Value= "section_id" })

                                       


                                    </div>
                                </div>*@
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" />

                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("AddClass", "Academics")'" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="fa fa-times mr-10"></i>@SmartSchool.Resources.Resource1.Class List</h6>

                                <hr class="light-grey-hr" />

                                @*<div class="panel panel-default card-view mt-50">

                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">*@
                                <div class="table-wrap">
                                    <div class="table-responsive">

                                        <div id="example_wrapper" class="dataTables_wrapper">


                                            <table id="example" class="table table-hover display pb-30">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Class
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Section
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Action
                                                        </th>


                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @if(ViewBag.classlist != null)
                                                    {

                                                    foreach (var item in ViewBag.classlist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.classes
                                                            </td>
                                                            <td>
                                                                @item.section1
                                                            </td>

                                                            @*<td class="form-group">
                    @Html.ActionLink("Edit", "UpdateClass", new { Id = @item.id }, new { @class = "text-inverse pr-10 zmdi zmdi-edit txt-warning" }) |

                    @Html.ActionLink("Delete", "DeleteClass", new { Id = @item.id }, new { @class = "text-inverse zmdi zmdi-delete txt-danger" })
                </td>*@
                                                            <td class="form-group">
                                                                <a href="@Url.Action("UpdateClass", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                |
                                                                <a href="@Url.Action("DeleteClass", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-delete txt-danger model_img"></span></a>
                                                            </td>


                                                        </tr>
                                                    }}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


