﻿@model SmartSchool.Models.section

@{
    ViewBag.Title = "UpdateSection";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Academics</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Add" onclick="location.href='@Url.Action("AddClassTimetable.cshtml", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-Search mr-10"></i>@SmartSchool.Resources.Resource1.Edit_Section</h6>
                                <hr class="light-grey-hr" />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.SectionName", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <span class="txt-danger">*</span>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.section1, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.section1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Save" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("AddSection", "Academics")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="fa fa-times mr-10"></i>@SmartSchool.Resources.Resource1.Section_List</h6>
                                <hr class="light-grey-hr" />
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                            <table id="example" class="table table-hover display pb-30">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Section
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.sectiondata)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @item.section1
                                                            </td>
                                                            <td class="form-group">
                                                                <a href="@Url.Action("UpdateSection", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-edit txt-warning"></span></a>
                                                                |
                                                                <a href="@Url.Action("DeleteSection", "Academics", new { Id = @item.id })"><span class="zmdi zmdi-delete txt-danger model_img"></span></a>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                }
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


