﻿@model SmartSchool.Models.certificate
@{
    ViewBag.Title = "certificate";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa-fa fa-newspaper-o"></i>Certificate</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>





@using (Html.BeginForm("certificate", "Certificate", FormMethod.Post, new { ImageFile = "ImageFile", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })   
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Add Student Certificate</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-7">Certificate Name *</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.certificate_name, new { htmlAttributes = new { @class = "form-control", id = "certificate_id" } })
                                                @Html.ValidationMessageFor(model => model.certificate_name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-7">Header Left Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.left_header, new { htmlAttributes = new { @class = "form-control", id = "left_header_id" } })

                                                @Html.ValidationMessageFor(model => model.left_header, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-8">Header Center Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.center_header, new { htmlAttributes = new { @class = "form-control", id = "center_header_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.center_header, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">


                                            <label class="control-label col-md-7">Header Right Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.right_header, new { htmlAttributes = new { @class = "form-control", id = "right_header_id" } })


                                                @Html.ValidationMessageFor(model => model.right_header, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-6">Body Text *</label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.certificate_text, new { htmlAttributes = new { @class = "form-control", id = "certificate_text_id" , style = "width:250px"} })

                                                @Html.ValidationMessageFor(model => model.certificate_text, "", new { @class = "text-danger" })
                                                <label>[name] [dob] [present_address] [guardian] [created_at] [admission_no] [roll_no] [class] [section] [gender] [admission_date] [category] [cast] [father_name] [mother_name] [religion] [email] [phone]</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-7">Footer Left Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.left_footer, new { htmlAttributes = new { @class = "form-control", id = "left_footer_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.left_footer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-7">Footer Center Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.center_footer, new { htmlAttributes = new { @class = "form-control", id = "center_footer_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.center_footer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-7">Footer Right Text</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.right_footer, new { htmlAttributes = new { @class = "form-control", id = "right_footer_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.right_footer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-7">Certificate Design</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.header_height, new { htmlAttributes = new { @class = "form-control", placeholder = "Header Height", id = "header_height_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.header_height, "", new { @class = "text-danger" })

                                                @Html.EditorFor(model => model.footer_height, new { htmlAttributes = new { @class = "form-control", placeholder = "Footer Height", id = "footer_height_id" } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.footer_height, "", new { @class = "text-danger" })

                                                @Html.EditorFor(model => model.content_height, new { htmlAttributes = new { @class = "form-control", placeholder = "Body Height", id = "    " } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.content_height, "", new { @class = "text-danger" })

                                                @Html.EditorFor(model => model.content_width, new { htmlAttributes = new { @class = "form-control", placeholder = "Body Width", id = "  " } })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.content_width, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        
                                            <label class="control-label col-md-10">Background Image</label>
                                            <div class="col-md-10">
                                                <input type="file" id="ImageFile" name="ImageFile" placeholder="Upload Image" accept="image/*" required="required" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">

                                            @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                            <label class="control-label col-md-6">Student Photo</label>
                                            <div class="col-md-10">
                                                <input type="checkbox" name="checkboxs" id="stupho" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                <br />
                                                @Html.EditorFor(model => model.enable_image_height, new { htmlAttributes = new { @class = "form-control", id = "txtphoto", placeholder = "Photo Height", style = "display:none" } })
                                                @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" id="btnsave" value="Add" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student Certificate List</h6>
                                <hr class="light-grey-hr" />
                                <div class="panel panel-default card-view mt-50">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>
                                                    <table id="example" class="table table-hover display  pb-30">
                                                        <thead>
                                                            <tr>


                                                                <th>
                                                                    Certificate Name
                                                                </th>
                                                                <th>
                                                                    Background Image
                                                                </th>
                                                                <th>
                                                                    Action
                                                                </th>


                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            @foreach (var item in ViewBag.studentlist)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.certificate_name
                                                                    </td>
                                                                    <td>

                                                                        @if (@item.background_image != "")
                                                                        {
                                                                            <img src="~/Content/Certificate/Background/" alt="Sample Image" width="200px" height="200px" />
                                                                        }

                                                                    </td>

                                                                    <td>
                                                                        <a href='#' class='btn btn-info' onclick='GetDetails(@item.id)'><span class='glyphicon glyphicon-edit'></span> Edit</a>


                                                                        <a href='#' class='btn btn-danger' onclick='Delete(@item.id)'><span class='glyphicon glyphicon-delete'></span> Delete</a>


                                                                    </td>


                                                                </tr>
                                                            }

                                                        </tbody>


                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                @*<div class="form-group">
                                    <div class="pull-right">
                                    <input type="submit" class="btn btn-info" value="Create" onclick="location.href='@Url.Action("Action", "Admin")'" />
                                    </div>
                                    <div class="pull-left">
                                    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" style="color:blue; font-weight:bolder">Edit Certificate</h5>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm(new { action = "EditCustomer1", controller = "FeesCollection", id = Model.code }))*@

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">

                            <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">CertificateName*</label>
                                        <div class="col-md-10">


                                            <input type="text" class="form-control" id="txtname" name="Certificate Name" placeholder="Certificate Name" required="">


                                            @Html.ValidationMessageFor(model => model.certificate_name, "", new { @class = "text-danger" })


                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">HeaderLeftText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txleftheader" name="Header Left Text" placeholder="Header Left Text">

                                            @Html.ValidationMessageFor(model => model.left_header, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">HeaderCenterText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txccenterheader" name="Header Center Text" placeholder="Header Center Text">

                                            @Html.ValidationMessageFor(model => model.center_header, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">HeaderRightText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txrightheader" name="Header Right Text" placeholder="Header Right Text">

                                            @Html.ValidationMessageFor(model => model.right_header, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">BodyText*</label>
                                        <div class="col-md-10">
                                            @*<input type="text" class="form-control" id="txbody" name="" placeholder="">*@
                                            <textarea class="form-control" id="txbody"></textarea>

                                            @Html.ValidationMessageFor(model => model.certificate_text, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">FooterLeftText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txleftfooter" name="FooterLeftText" placeholder="FooterLeftText">

                                            @Html.ValidationMessageFor(model => model.left_footer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">FooterCenterText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txccenterfooter" name="FooterCenterText" placeholder="FooterCenterText">

                                            @Html.ValidationMessageFor(model => model.center_footer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">FooterRightText</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txrightfooter" name="FooterRightText" placeholder="FooterRightText">

                                            @Html.ValidationMessageFor(model => model.right_footer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">CertificateDesign</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txheaderheight" name="Header Height" placeholder="Header Height">

                                            @Html.ValidationMessageFor(model => model.header_height, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6"></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txfooterheight" name="Footer Height" placeholder="Footer Height">

                                            @Html.ValidationMessageFor(model => model.footer_height, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6"></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txbodyheight" name="Body Height" placeholder="Body Height">

                                            @Html.ValidationMessageFor(model => model.content_height, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6"></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txbodywidth" name="Body Width" placeholder="Body Width">

                                            @Html.ValidationMessageFor(model => model.content_width, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">

                                        @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-6">Student Photo</label>
                                        <div class="col-md-10">
                                            <input type="checkbox" name="checkboxs" id="stupho1" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                            <br />
                                            <input type="text" class="form-control" id="txtstuphoto" name="Photo Height" placeholder="Photo Height" width="100px">

                                            @*@Html.EditorFor(model => model.enable_image_height, new { htmlAttributes = new { @class = "form-control", id = "txtphoto", placeholder = "Photo Height", style = "display:none" } })*@
                                            @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" onclick="Update()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>


                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/Certificate/EditCertificate",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.certificate_name);
                $('#txleftheader').val(response.left_header);

                $('#txccenterheader').val(response.center_header);
                $('#txrightheader').val(response.right_header);
                $('#txbody').val(response.certificate_text);
                $('#txleftfooter').val(response.left_footer);
                $('#txccenterfooter').val(response.center_footer);
                $('#txrightfooter').val(response.right_footer);
                $('#txheaderheight').val(response.header_height);
                $('#txfooterheight').val(response.footer_height);
                $('#txbodyheight').val(response.content_height);
                $('#txbodywidth').val(response.content_width);
                $('#stupho1').val(response.enable_student_image);
                $('#txtstuphoto').val(response.enable_image_height);
                var check = response.enable_student_image;
                if (check == 1) {
                    //   $('#stupho1').prop('checked', true);
                    //$("#stupho1").prop("checked", true);
                    //$('#stupho1').attr('checked', 'checked');
                    //   var ischecked =  $('input[name=checkboxs]').prop('checked', $('#stupho1').prop('checked'));
                    //  $('input:checkbox[name=checkboxs]').attr('checked', true);

                    $('#stupho1').trigger('click');
                }

                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function Update() {

        var empObj = {

            //id: $('#feeid').val(),
            //Name: $('#txtname').val(),

            //lefthead: $('#txleftheader').val();
            //centerhead: $('#txccenterheader').val();
            //righthead: $('#txrightheader').val();
            //body: $('#txbody').val();
            //leftfoot: $('#txleftfooter').val(response.left_footer);
            //centerfoot: $('#txccenterfooter').val(response.center_footer);
            //rightfoot: $('#txrightfooter').val(response.right_footer);
            //headerheight: $('#txheaderheight').val(response.header_height);
            //footerheight: $('#txfooterheight').val(response.footer_height);
            //bodyheight: $('#txbodyheight').val(response.content_height);
            //bodywidth: $('#txbodywidth').val(response.content_width);

        };


        var id = $('#feeid').val();
        var Name = $('#txtname').val();

        var lefthead = $('#txleftheader').val();
        var centerhead = $('#txccenterheader').val();
        var righthead = $('#txrightheader').val();
        var body = $('#txbody').val();
        var leftfoot = $('#txleftfooter').val();
        var centerfoot = $('#txccenterfooter').val();
        var rightfoot = $('#txrightfooter').val();
        var headerheight = $('#txheaderheight').val();
        var footerheight = $('#txfooterheight').val();
        var bodyheight = $('#txbodyheight').val();
        var bodywidth = $('#txbodywidth').val();
        $.ajax({
            url: "/Certificate/EditCertificateupdate",
            data: JSON.stringify({ 'values': id, 'name': Name, 'lefthead': lefthead, 'centerhead': centerhead, 'righthead': righthead, 'body': body, 'leftfoot': leftfoot, 'centerfoot': centerfoot, 'rightfoot': rightfoot, 'headerheight': headerheight, 'footerheight': footerheight, 'bodyheight': bodyheight, 'bodywidth': bodywidth }), //passing the data to back end

            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                alert("Records Updated");
                window.location.reload();
                $('#responsive-modal').modal('hide');
                $('#feeid').val("");
                $('#date').val("");

                $('#Description').val("");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Certificate/DeleteCertificate/",
                data: JSON.stringify({ 'id': ID }),
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    swal("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#stupho').change(function () {

            if (this.checked) {
                $('#txtphoto').css('display', 'block');
            }
            else {
                $('#txtphoto').css('display', 'none');
            }
        });
    });

</script>

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("certificate_id").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'certificate_Name field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


            if (document.getElementById("left_header_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'left_header field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("center_header_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'center_header field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("right_header_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'right_header field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            //if (document.getElementById("certificate_text_id").value == "") {
            //    $.toast({
            //        //heading: '2 new messages',
            //        text: 'certificate_text field is required',
            //        position: 'top-right',
            //        loaderBg: '#fec107',
            //        icon: 'warning',
            //        hideAfter: 3500,
            //        stack: 6
            //    });
            //    return false;
            //}
            if (document.getElementById("left_footer_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'left_footer field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("center_footer_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'center_footer field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("right_footer_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'right_footer field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("header_height_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'header_height field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("footer_height_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'footer_height field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("content_height_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'content_height field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            
            if (document.getElementById("content_width_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'content_width_id field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
              if (document.getElementById("ImageFile").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Upload File ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>