﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "Generateidcard";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Certificate</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Generateidcard", "Certificate", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Select Criteria</h6>
                                <hr class="light-grey-hr" />                                                        <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Class *</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Class, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", id = "class_id1" })
                                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Section</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Section, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })
                                                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                ID Card *
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Idcard, (IEnumerable<SelectListItem>)ViewBag.viewbagidcardlist, new { @class = "form-control", id = "Idcard_id" })
                                                @Html.ValidationMessageFor(model => model.Idcard, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" id="btnsave" value="Search" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student List</h6>
                                <hr class="light-grey-hr" />
                                <div class="panel panel-default card-view mt-50">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>
                                                    <table id="example" class="table table-hover display  pb-30">
                                                        <thead>
                                                            <tr>
                                                                @*<th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>*@
                                                                <th>SI NO</th>
                                                                <th>
                                                                    Admission Number
                                                                </th>
                                                                <th>
                                                                    Student Name
                                                                </th>
                                                                <th>
                                                                    Class
                                                                </th>
                                                                <th>
                                                                    Father Name
                                                                </th>

                                                                <th>
                                                                    Date of Birth
                                                                </th>
                                                                <th>
                                                                    Gender
                                                                </th>
                                                                <th>
                                                                    Category
                                                                </th>
                                                                <th>
                                                                    Mobile Number
                                                                </th>
                                                                <th>Action</th>

                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            @{
                                                                int sno = 0;
                                                            }
                                                            @foreach (var item in ViewBag.studentlist)
                                                            {
                                                                <tr>
                                                                    @*<td><input type="checkbox" name="ID" value=" @item.admission_no" class="custom-checkbox chkCheckBoxId" /></td>*@
                                                                    <td>
                                                                        @{ sno++; }
                                                                        @sno
                                                                    </td>
                                                                    <td>
                                                                        @item.AdmissionNumber
                                                                    </td>

                                                                    <td>
                                                                        @item.FirstName
                                                                    </td>
                                                                    <td>
                                                                        @item.Class
                                                                    </td>

                                                                    <td>
                                                                        @item.FatherName
                                                                    </td>
                                                                    <td>
                                                                        @item.DateOfBirth
                                                                    </td>

                                                                    <td>
                                                                        @item.Gender
                                                                    </td>
                                                                    <td>
                                                                        @item.Category
                                                                    </td>

                                                                    <td>
                                                                        @item.MobileNumber
                                                                    </td>

                                                                    <td>
                                                                        <a href='#' class='btn btn-info' onclick='GetDetails(@item.Idcard,@item.AdmissionNumber)'><span class='glyphicon glyphicon-edit'></span> Generate Idcard</a>

                                                                    </td>

                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id1').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");

            $.ajax({
                method: 'POST',
                url: '/Certificate/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }

            });
        });
    });
</script>
<script type="text/javascript">
    function GetDetails(id, admno) {
        var PID = id;

        function FetchPdfDocument(UrlToPdf) {
            $('#ifPdfReport').remove();
            $(document.body).append('<IFRAME id="ifPdfReport" style="display:none;">');
            $('iframe#ifPdfReport').attr('src', UrlToPdf);
            // $('#ifPdfReport').load(function () { });
        }

        $.ajax({
            type: 'POST',
            //dataType: 'json',
            url: "/Certificate/GenerateIdcardnew",
            data: { 'values': PID, 'admissno': admno },
            beforeSend: function (xhr) {
            },
            success: function (d) {
                if (d.success) {
                    window.location = "/Certificate/DownloadFileIdcard" + "?fName=" + d.fName;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("XMLHttpRequest=" + XMLHttpRequest.responseText + "\ntextStatus=" + textStatus + "\nerrorThrown=" + errorThrown);
                alert("XMLHttpRequest=" + XMLHttpRequest.responseText + "\ntextStatus=" + textStatus + "\nerrorThrown=" + errorThrown);
            }
        });
    }


    function Update() {

        var id = $('#feeid').val();
        var Name = $('#txtname').val();

        var lefthead = $('#txleftheader').val();
        var centerhead = $('#txccenterheader').val();
        var righthead = $('#txrightheader').val();
        var body = $('#txbody').val();
        var leftfoot = $('#txleftfooter').val();
        var centerfoot = $('#txccenterfooter').val();
        var rightfoot = $('#txrightfooter').val();
        var headerheight = $('#txheaderheight').val();
        var footerheight = $('#txfooterheight').val();
        var bodyheight = $('#txbodyheight').val();
        var bodywidth = $('#txbodywidth').val();
        $.ajax({
            url: "/Certificate/EditCertificateupdate",
            data: JSON.stringify({ 'values': id, 'name': Name, 'lefthead': lefthead, 'centerhead': centerhead, 'righthead': righthead, 'body': body, 'leftfoot': leftfoot, 'centerfoot': centerfoot, 'rightfoot': rightfoot, 'headerheight': headerheight, 'footerheight': footerheight, 'bodyheight': bodyheight, 'bodywidth': bodywidth }), //passing the data to back end

            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                alert("Records Updated");
                window.location.reload();
                $('#responsive-modal').modal('hide');
                $('#feeid').val("");
                $('#date').val("");

                $('#Description').val("");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Certificate/DeleteCertificate/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTable').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {
        $("#btnsave").click(function () {
            if (document.getElementById("class_id1").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            } if (document.getElementById("Idcard_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Select Id Card',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
