﻿@model SmartSchool.Models.id_card
@{
    ViewBag.Title = "studentidcard";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Certificate</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 14, 77, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("studentidcard", "Certificate", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Add Student ID Card</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-7">BackgroundImage</label>
                                                        <div class="col-md-10">
                                                            @*<input type="file" id="ImageFile" name="ImageFile" placeholder="Upload Image" accept="image/*" required="required" />*@

                                                            <input type="file" id="ImageFile" name="ImageFile" placeholder="Upload Image" accept="image/*" required="required" class="form-control" multiple />


                                                            @Html.ValidationMessageFor(model => model.background, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Logo</label>
                                                        <div class="col-md-10">
                                                            <input type="file" id="ImageFile1" name="ImageFile" placeholder="Upload Image" accept="image/*" required="required" class="form-control" multiple />

                                                            @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-7">Signature</label>
                                                        <div class="col-md-10">
                                                            <input type="file" id="ImageFile2" name="ImageFile" placeholder="Upload Image" accept="image/*" required="required" class="form-control" multiple />

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.sign_image, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">School Name *</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.school_name, new { htmlAttributes = new { @class = "form-control" } })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.school_name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Address / Phone / Email *</label>
                                                        <div class="col-md-10">
                                                            @Html.TextAreaFor(model => model.school_address, new { htmlAttributes = new { @class = "form-control" } })

                                                            @*@Html.EditorFor(model => model.admission_no, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.school_address, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">ID Card Title *</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                        <label class="control-label col-md-6">Header Color</label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.header_color, new { htmlAttributes = new { @class = "form-control" } })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.header_color, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        Admission Number<input type="checkbox" name="checkboxs" id="chkadmn" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />


                                                        @*Admission Number<input type="checkbox" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />*@
                                                        Student Name <input type="checkbox" name="chkstname" value="1" id="chkstname" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Class<input type="checkbox" name="chkclass" value="1" id="chkclass" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Father Name<input type="checkbox" name="chkfatnam" value="1" id="chkfatnam" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Mother Name<input type="checkbox" name="chkmtnam" value="1" id="chkmtnam" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Student Address <input type="checkbox" name="chkstuaddr" value="1" id="chkstuaddr" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Phone<input type="checkbox" name="chkphn" value="1" id="chkphn" class="js-switch js-switch-1" data-color="#76c880" data-size="small" /><br />
                                                        Date Of Birth<input type="checkbox" name="chkdob" value="1" id="chkdob" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Blood Group<input type="checkbox" name="chkbg" value="1" id="chkbg" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />


                                                    </div>


                                                </div>


                                            </div>
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-info" value="Add" />
                                                </div>
                                                <div class="pull-left">
                                                    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student ID Card List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>


                                                                            <th>
                                                                                ID Card Title
                                                                            </th>
                                                                            <th>
                                                                                Background Image
                                                                            </th>
                                                                            <th>
                                                                                Action
                                                                            </th>


                                                                        </tr>

                                                                    </thead>

                                                                    <tbody>
                                                                        @if (ViewBag.studentlist != null)
                                                                        {
                                                                            foreach (var item in ViewBag.studentlist)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @item.title
                                                                                    </td>

                                                                                    <td>

                                                                                        @if (@item.background != "")
                                                                                        {
                                                                                            <img src="~/Content/Certificate/@item.background" alt="Sample Image" width="200px" height="200px" />
                                                                                        }

                                                                                    </td>


                                                                                    <td>
                                                                                        <a href='#' class='btn btn-info' onclick='GetDetails(@item.id)'><span class='glyphicon glyphicon-edit'></span> Edit</a>


                                                                                        <a href='#' class='btn btn-danger' onclick='Delete(@item.id)'><span class='glyphicon glyphicon-delete'></span> Delete</a>

                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden="hidden" style="display: block; " data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title" style="color:blue; font-weight:bolder">Edit Student Id Card</h5>
                        </div>
                        <div class="modal-body">
                            @*@using (Html.BeginForm(new { action = "EditCustomer1", controller = "FeesCollection", id = Model.code }))*@

                            @using (Html.BeginForm("EditStdentidupdate", "Certificate", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <div class="form-horizontal">

                                        <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">BackgroundImage</label>
                                                    <div class="col-md-10">
                                                        <input type="file" id="ImageFile1" name="ImageFile1" placeholder="Upload Image" onchange="fileSelect(this)" accept="image/*" required="required" class="inputField" multiple />

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">Logo</label>
                                                    <div class="col-md-10">
                                                        <input type="file" id="ImageFile2" name="ImageFile2" placeholder="Upload Image" accept="image/*" required="required" class="inputField" multiple />

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">Signature</label>
                                                    <div class="col-md-10">
                                                        <input type="file" id="ImageFile3" name="ImageFile3" placeholder="Upload Image" accept="image/*" required="required" class="form-control" multiple />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">SchoolName *</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txtname" name="School Name *" placeholder="School Name *" required="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">Header Color</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txheadercolour" name="Header Color" placeholder="Header Color">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">IDCardTitle *</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txtitle" name="ID Card Title *" placeholder="ID Card Title *">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6">Address/Phone/ Email</label>
                                                    <div class="col-md-10">
                                                        @*<input type="text" class="form-control" id="txbody" name="" placeholder="">*@
                                                        <textarea class="form-control" id="txtaddress"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">

                                                    @*@Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-4" })*@

                                                    <div class="col-md-10">

                                                        @*<input type="checkbox" name="stupho1" id="stupho1" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                            <br />*@
                                                        Admission Number<input type="checkbox" name="checkboxs" id="chkadmn1" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />


                                                        @*Admission Number<input type="checkbox" value="1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />*@
                                                        Student Name <input type="checkbox" name="chkstname" value="1" id="chkstname1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Class<input type="checkbox" name="chkclass" value="1" id="chkclass1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Father Name<input type="checkbox" name="chkfatnam" value="1" id="chkfatnam1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Mother Name<input type="checkbox" name="chkmtnam" value="1" id="chkmtnam1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Student Address <input type="checkbox" name="chkstuaddr1" value="1" id="chkstuaddr1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Phone<input type="checkbox" name="chkphn" value="1" id="chkphn1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Date Of Birth<input type="checkbox" name="chkdob" value="1" id="chkdob1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />
                                                        Blood Group<input type="checkbox" name="chkbg" value="1" id="chkbg1" class="js-switch js-switch-1" data-color="#76c880" data-size="small" />



                                                        @*@Html.EditorFor(model => model.enable_image_height, new { htmlAttributes = new { @class = "form-control", id = "txtphoto", placeholder = "Photo Height", style = "display:none" } })*@
                                                        @*@Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" onclick="Update()">Update</button>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>
<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/Certificate/EditStdentdccard",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.school_name);
                $('#txtaddress').val(response.school_address);
                $('#txheadercolour').val(response.header_color);
                $('#txtitle').val(response.title);
                $('#stupho1').val(response.enable_admission_no);
                $('#txtstuphoto').val(response.enable_image_height);
                var checkadm = response.enable_admission_no;
                if (checkadm == 1) {
                    $('#chkadmn1').trigger('click');
                }
                var checkstna = response.enable_student_name;
                if (checkstna == 1) {
                    $('#chkstname1').trigger('click');
                }

                var checkcls = response.enable_class;
                if (checkcls == 1) {
                    $('#chkclass1').trigger('click');
                }

                var checkfat = response.enable_fathers_name;
                if (checkcls == 1) {
                    $('#chkfatnam1').trigger('click');
                }

                var checkmat = response.enable_mothers_name;
                if (checkmat == 1) {
                    $('#chkmtnam1').trigger('click');
                }

                var checkadr = response.enable_address;
                if (checkadr == 1) {
                    $('#chkstuaddr1').trigger('click');
                }

                var checkpho = response.enable_phone;
                if (checkpho == 1) {
                    $('#chkphn1').trigger('click');
                }

                var checkdob = response.enable_dob;
                if (checkdob == 1) {
                    $('#chkdob1').trigger('click');
                }

                var checkbg = response.enable_blood_group;
                if (checkbg == 1) {
                    $('#chkbg1').trigger('click');
                }

                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }

    function Update() {
        var empObj = {
        };
        var id = $('#feeid').val();
        var Name = $('#txtname').val();
        var addrs = $('#txtaddress').val();
        var headclr = $('#txheadercolour').val();
        var title = $('#txtitle').val();

        if ($('#chkadmn1').is(':checked')) {
            var chkadms = $('#chkadmn1').val();
        }
        else {
            var chkadms = 0;
        }
        if ($('#chkstname1').is(':checked')) {
            var chkstname = $('#chkstname1').val();
        }
        else {
            var chkstname = 0;
        }
        if ($('#chkclass1').is(':checked')) {

            var chkcls = $('#chkclass1').val();
        }
        else {
            var chkcls = 0;
        }
        if ($('#chkfatnam1').is(':checked')) {

            var chkfat = $('#chkfatnam1').val();
        } else {
            var chkfat = 0;
        }
        if ($('#chkmtnam1').is(':checked')) {

            var chkmat = $('#chkmtnam1').val();
        } else {
            var chkmat = 0;
        }
        if ($('#chkstuaddr1').is(':checked')) {

            var chkstadr = $('#chkstuaddr1').val();
        } else {
            var chkstadr = 0;
        }
        if ($('#chkphn1').is(':checked')) {

            var chkphone = $('#chkphn1').val();
        }
        else {
            var chkphone = 0;
        }
        if ($('#chkdob1').is(':checked')) {
            var chkdob = $('#chkdob1').val();
        }
        else {
            var chkdob = 0;
        }
        if ($('#chkbg1').is(':checked')) {
            var chkbdgp = $('#chkbg1').val();
        }
        else {
            var chkbdgp = 0;
        }
        $.ajax({
            url: "/Certificate/EditStdentidupdate",
            data: JSON.stringify({ 'values': id, 'name': Name, 'addrs': addrs, 'headclr': headclr, 'title': title, 'chkadms': chkadms, 'chkstname': chkstname, 'chkcls': chkcls, 'chkfat': chkfat, 'chkmat': chkmat, 'chkstadr': chkstadr, 'chkphone': chkphone, 'chkdob': chkdob, 'chkbdgp': chkbdgp, 'files': filename }), //passing the data to back end

            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                alert("Records Updated");
                window.location.reload();
                $('#responsive-modal').modal('hide');
                $('#feeid').val("");
                $('#date').val("");
                $('#Description').val("");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Certificate/DeleteStudentIdcard/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#stupho').change(function () {
            if (this.checked) {
                $('#txtphoto').css('display', 'block');
            }
            else {
                $('#txtphoto').css('display', 'none');
            }
        });
    });

</script>



