﻿.bgImageClass {
    background-image: url('/Images/loginBackground.jpg');
}
.colorforModal {
    background-image: url('/Images/images.jpg');
    background-repeat:no-repeat;
    background-position:right;
}

.widthofBanner{
    width:400px;
}


.labelTextcss {
    font-weight: 600;
    color: red;
    text-transform:uppercase;
    font-size:small;
}

.buttonload {
    background-color: #0094ff; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
    background-image: url('/Images/images.jpg');
}

