﻿@model SmartSchool.Models.staff_leave_request

@{
    ViewBag.Title = "AddLeaveRequest";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-10">
        <h5 class="txt-dark">@SmartSchool.Resources.Resource1.Approve_Leave_Request</h5>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 col-md-push-7 mt-10">
        <div class="pills-struct">
            <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                <li><a data-toggle="modal" id="addappointment" data-target="#responsive-modal2" class="nav-pills nav-pill-rounded fa fa-plus-square">@SmartSchool.Resources.Resource1.Add_Leave_Request</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 9, 53, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                </div>
                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Staff
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Leave_Type 
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.LEAVE_FROM
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.LEAVE_TO
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Leave_Days
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Applied_Date
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Status
                                            </th>
                                            <th>
                                                @SmartSchool.Resources.Resource1.Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.leaveList != null)
                                        {
                                            foreach (var item in ViewBag.leaveList)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.name
                                                    </td>
                                                    <td>
                                                        @item.leavetype
                                                    </td>

                                                    <td>
                                                        @item.leave_from.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @item.leave_to.ToString("dd-MM-yyyy")
                                                    </td>

                                                    <td>
                                                        @item.leave_days
                                                    </td>
                                                    <td>
                                                        @item.date.ToString("dd-MM-yyyy")
                                                    </td>

                                                    <td>
                                                        @if (@item.status == "pending")
                                                        {
                                                            <small class='label label-warning'>@item.status</small>
                                                        }
                                                        else if (@item.status == "approve")
                                                        {
                                                            <small class='label label-success'>@item.status</small>
                                                        }
                                                        else
                                                        {
                                                            <small class='label label-danger'>@item.status</small>
                                                        }
                                                    </td>


                                                    <td>

                                                        <a href="#leavedetails" onclick="getRecord(@item.id)" role="button" class="mr-10" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing"><i class="fa fa-reorder"></i></a>
                                                        <a data-toggle="modal" onclick="editRecord(@item.id)" role="button" data-target="#responsive-modal2"><i class="fa fa-pencil"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="responsive-modal2" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Add_Details</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("AddLeaveRequest", "HumanResource", FormMethod.Post, new { ImageFile = "doc", date1 = "date1", date2 = "date2", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    @*<input type="hidden" name="id" id="id">*@

                                    <div class="row">

                                        <div class="col-md-6">
                                            <input type="hidden" name="id" id="id">


                                            @Html.Label("Role", htmlAttributes: new { @class = "control-label " })
                                            <span class="txt-danger">*</span>

                                            @Html.DropDownList("roll_id", (IEnumerable<SelectListItem>)ViewBag.roll_id, @SmartSchool.Resources.Resource1.Select, new { @class = "form-control", id = "roll_id" })


                                        </div>
                                        <div class="col-md-6">

                                            @Html.Label("Name", htmlAttributes: new { @class = "control-label" })


                                            @*@Html.DropDownList("staff_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })*@
                                            @Html.DropDownListFor(Model => Model.staff_id, new SelectList(string.Empty, "Value", "Text"), @SmartSchool.Resources.Resource1.Select, new { @class = "form-control", id = "staff_id" })

                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">

                                        <div class="col-md-6">


                                            @Html.Label("Apply Date", htmlAttributes: new { @class = "control-label " })


                                            <input type="date" id="date" name="date" class="form-control" />


                                        </div>
                                        <div class="col-md-6">


                                            @Html.Label("Leave Type", htmlAttributes: new { @class = "control-label" })
                                            <span class="txt-danger">*</span>

                                            @Html.DropDownListFor(model => model.leave_type_id, (IEnumerable<SelectListItem>)ViewBag.leaveType, @SmartSchool.Resources.Resource1.Select, new { @class = "form-control", id = "leave_type_id" })

                                        </div>



                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">

                                            @Html.Label("Leave From", htmlAttributes: new { @class = "control-label" })
                                            @*<span class="txt-danger">*</span>*@
                                            @*<input type="date" id="leaveDate" name="leaveDate" class="form-control" />*@
                                            <input type="date" id="date1" name="date1" class="form-control" />

                                        </div>
                                        <div class="col-md-6">

                                            @Html.Label("Leave To", htmlAttributes: new { @class = "control-label" })
                                            @*<span class="txt-danger">*</span>*@
                                            @*<input type="date" id="leaveDate" name="leaveDate" class="form-control" />*@
                                            <input type="date" id="date2" name="date2" class="form-control" />

                                        </div>

                                    </div>
                                    <br />

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.Label("Leave Days", htmlAttributes: new { @class = "control-label pl-15" })
                                                <span class="text-danger">*</span>
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.leave_days, new { htmlAttributes = new { @class = "form-control span4", Type = "number", id = "leave_days", @min = "1" } })
                                                    @Html.ValidationMessageFor(model => model.leave_days, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            @Html.Label("Note", htmlAttributes: new { @class = "control-label" })
                                            <span class="txt-danger">*</span>
                                            @Html.TextAreaFor(model => model.admin_remark, new { @class = "form-control", style = "width: 100%; resize: none ", id = "admin_remark" })



                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">

                                        <div class="col-md-6">

                                            @Html.Label("Reason", htmlAttributes: new { @class = "control-label" })
                                            <span class="txt-danger">*</span>
                                            @Html.TextAreaFor(model => model.employee_remark, new { @class = "form-control", style = "width: 100%; resize: none", id = "employee_remark" })
                                            @Html.ValidationMessageFor(model => model.employee_remark, "", new { @class = "text-danger" })


                                        </div>
                                        <div class="col-md-6">

                                            @Html.Label("Attache File", htmlAttributes: new { @class = "control-label" })

                                            <input type="file" id="doc" name="doc" class="form-control dropify" data-height="50" />

                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">

                                            @Html.Label("Status", htmlAttributes: new { @class = "control-label" })
                                            <div class="form-control border-none">
                                                <label class="radio-inline">
                                                    <input type="radio" value="pending" name="status" checked>@SmartSchool.Resources.Resource1.Pending
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" value="approve" name="status">@SmartSchool.Resources.Resource1.Approve
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" value="disapprove" name="status">@SmartSchool.Resources.Resource1.Disapprove
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <br />




                                    <div class="row">
                                        <div class="form-actions mt-10 col-md-6">
                                            <button type="submit" class="btn btn-success  mr-10" id="btnsub">@SmartSchool.Resources.Resource1.Save</button>
                                            <button type="button" class="btn btn-default clr" data-dismiss="modal">@SmartSchool.Resources.Resource1.Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="leavedetails" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog2 modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">@SmartSchool.Resources.Resource1.Details</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">

                                <div class="col-md-12 table-responsive">
                                    <table class="table mb-0 table-hover">
                                        <tr>
                                            <th class="txt-dark" width="15%">@SmartSchool.Resources.Resource1.Name</th>
                                            <td width="40%"><span id='name'></span></td>
                                            <th class="txt-dark" width="15%">@SmartSchool.Resources.Resource1.STAFF_ID</th>
                                            <td width="30%">
                                                <span id="employee_id"></span>
                                                <span class="text-danger"></span>
                                            </td>

                                        </tr>
                                        <tr>

                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Submitted_by</th>
                                            <td><span id="appliedby"></span></td>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Leave_Type</th>
                                            <td>
                                                <span id="leave_type"></span>
                                                <input id="leave_request_id" name="leave_request_id" placeholder="" type="hidden" class="form-control" />
                                                <span class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.LEAVE_FROM</th>
                                            <td>
                                                <span id='leave_from'></span>
                                            </td> @*- <label> </label><span id='leave_to'> </span> (<span id='days'></span>)*@
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.LEAVE_TO</th>
                                            <td>
                                                <span id='leave_to'></span>
                                            </td>



                                        </tr>
                                        <tr>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Leave_Days</th>
                                            <td>
                                                <span id='days'></span>
                                            </td>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Reason</th>
                                            <td><span id="remark"> </span></td>

                                        </tr>
                                        <tr>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Apply_Date</th>
                                            <td><span id="applied_date"></span></td>
                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Note</th>
                                            <td colspan="3">
                                                <div id="reason">
                                                    <textarea class="form-control" style="resize: none;" rows="2" id="detailremark" name="detailremark" placeholder=""></textarea>
                                                    <span class="text-danger"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>

                                            <th class="txt-dark">@SmartSchool.Resources.Resource1.Status</th>
                                            <td>
                                                <label class="radio-inline">
                                                    <input type="radio" value="pending" name="dstatus" checked>@SmartSchool.Resources.Resource1.Pending
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" value="approve" name="dstatus">@SmartSchool.Resources.Resource1.Approve
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" value="disapprove" name="dstatus">@SmartSchool.Resources.Resource1.Disapprove
                                                </label>
                                                <span class="text-danger"></span>
                                            </td>

                                        </tr>




                                    </table>
                                    <button type="button" class="btn btn-success submit_schsetting pull-right mt-10" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing">@SmartSchool.Resources.Resource1.Save</button>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
        }
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#responsive-modal2").hide();
            $("#addappointment").click(function () {
                $("#responsive-modal2").show();
                var d = new Date();

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = d.getFullYear() + '/' +
                    (('' + month).length < 2 ? '0' : '') + month + '/' +
                    (('' + day).length < 2 ? '0' : '') + day;
                $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));

            });
            $('.close').click(function () {

                $("#responsive-modal2").hide();
                window.location.href = "../../HumanResource/AddLeaveRequest";

            });

            $('.clr').click(function () {

                $("#responsive-modal2").hide();
                window.location.href = "../../HumanResource/AddLeaveRequest";

            });

        });
        /*Custom daterangepicker*/
        $('.daterangecustom').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-info',
            cancelClass: 'btn-default'
        });
    </script>
    <script>
        $(function () {

            $('#roll_id').change(function () {

                $('#staff_id').empty();
                var value1 = $('#roll_id').val();

                $.ajax({
                    type: "POST",
                    url: "/HumanResource/GetStaff",
                    contentType: "application/json; charset=utf-8",
                    datatype: "Json",
                    data: JSON.stringify({ 'roleid': value1 }),
                    success: function (data) {

                        $.each(data, function (index, row) {

                            $("#staff_id").append("<option value='" + row.id + "'>" + row.name + " (" + row.employee_id + ")</option > ");
                        });

                    }
                });
            });
        });

    </script>
    <script>

        function getRecord(id) {
            $('input:radio[name=status]').attr('checked', false);

            $.ajax({
                url: '/HumanResource/leaveRecord',
                type: 'POST',
                data: { id: id },
                dataType: "json",
                success: function (result) {

                    $('input[name="leave_request_id"]').val(result.id);
                    $('#employee_id').html(result.staff_id);
                    $('#name').html(result.name);
                    $('#leave_from').html(moment(result.leave_from).format("DD-MM-YYYY"));
                    $('#leave_to').html(moment(result.leave_to).format("DD-MM-YYYY"));
                    $('#leave_type').html(result.leavetype);
                    $('#days').html(result.leave_days + ' Leave Days');
                    $('#remark').html(result.employee_remark);
                    $('#applied_date').html(moment(result.date).format("DD-MM-YYYY"));
                    $('#appliedby').html(result.applied_by);
                    $("#detailremark").text(result.admin_remark);
                    if (result.status == 'approve') {

                        $('input:radio[name=dstatus]')[1].checked = true;

                    } else if (result.status == 'pending') {
                        $('input:radio[name=dstatus]')[0].checked = true;

                    } else if (result.status == 'disapprove') {
                        $('input:radio[name=dstatus]')[2].checked = true;

                    }
                }
            });
            $('#leavedetails').modal({
                show: true,
                backdrop: 'static',
                keyboard: false
            });
        }

        $('.submit_schsetting').click(function (e) {


            $.ajax({
                url: '/HumanResource/leaveStatus',
                type: 'post',
                data: { 'status': $("input[name='dstatus']:checked").val(), 'admin_remark': $('#detailremark').val(), 'id': $('#leave_request_id').val() },
                dataType: 'json',
                success: function (data) {

                    if (data != 0) {

                        window.location.reload(true);
                    }
                }
            });
        });
        function addLeave() {
            $('input:radio[name=status]').attr('checked', false);
            $('input[type=text]').val('');
            $('input[type=date]').val('');
            $('textarea[name="employee_remark"]').text('');
            $('textarea[name="admin_remark"]').text('');
            $('#roll_id').val('');
            $('input:radio[name=status]')[0].checked = true;
            $('#staff_id').empty();
            $("#staff_id").html("<option value=''>Select</option>");

            /*Custom daterangepicker*/
            $('.daterangecustom').daterangepicker({
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-info',
                cancelClass: 'btn-default'
            });


        }
        function setEmployeeName(role, id = '') {
            //alert(id);
            var ne = "";
            $('#staff_id').empty();
            $("#staff_id").html("<option value=''>Select</option>");

            var div_data = "";
            $.ajax({
                type: "POST",
                url: "/HumanResource/GetStaff",
                data: { 'roleid': role },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        if (obj.id == id) {
                            ne = 'selected';
                        } else {
                            ne = "";
                        }

                        div_data += "<option value='" + obj.id + "' " + ne + " >" + obj.name + " " + obj.surname + " " + "(" + obj.employee_id + ")</option>";
                    });

                    $('#staff_id').append(div_data);

                }
            });


        }
        function editRecord(id) {

            var leave_from = '05/01/2018';
            var leave_to = '05/10/2018';

            $('textarea[name="employee_remark"]').text('');

            $('textarea[name="admin_remark"]').text('');
            $('input:radio[name=status]').attr('checked', false);
            $('#staff_id').empty();
            //var base_url = 'http://smartschoolsystem.org/';
            $.ajax({
                url: '/HumanResource/leaveRecord',
                type: 'POST',
                data: { id: id },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    //alert(result.roleid);
                    leave_from = new Date(parseInt(result.leave_from.substr(6)));
                    leave_to = new Date(parseInt(result.leave_to.substr(6)));
                    var date = new Date(parseInt(result.date.substr(6)));
                    //var jsDate = new Date(leave_to); //Date object


                    setEmployeeName(result.roleid, result.staff_id);
                    //getLeaveTypeDDL(result.staff_id, result.lid);
                    $('select[name="roll_id"] option[value="' + result.roleid + '"]').attr("selected", "selected");
                    $('input[name="date"]').val(moment(result.date).format("YYYY-MM-DD"));
                    $('input[name="date1"]').val(moment(result.leave_from).format("YYYY-MM-DD"));
                    $('input[name="filename"]').val(result.document_file);
                    $('input[name="date2"]').val(moment(result.leave_to).format("YYYY-MM-DD"));
                    $('select[name="leave_type_id"] option[value="' + result.leave_type_id + '"]').attr("selected", "selected");
                    $('input[name="id"]').val(id);
                    $('#leave_days').val(result.leave_days);
                    $('textarea[name="employee_remark"]').text(result.employee_remark);
                    $('textarea[name="admin_remark"]').text(result.admin_remark);

                    if (result.status == 'approve') {

                        $('input:radio[name=status]')[1].checked = true;

                    } else if (result.status == 'pending') {
                        $('input:radio[name=status]')[0].checked = true;

                    } else if (result.status == 'disapprove') {
                        $('input:radio[name=status]')[2].checked = true;

                    }

                    $('.daterangecustom').daterangepicker({
                        startDate: leave_from,
                        endDate: leave_to
                    });
                }
            });          
        }
    </script>


    <script>
        if (document.getElementById("date").value != "") {
            var dateString = document.getElementById("date").value;
            var myDate = new Date(dateString);
            var today = new Date();
            if (myDate > today) {
                $.toast({
                    text: 'Date should not be greater than todays date.',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            return true;
        }



    </script>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
        </script>
    }
    @if (TempData["result"] != null)
    {
        <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["result"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
        </script>
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(btnsub).click(function () {
                // alert(document.getElementById("roll_id".value))
                // alert("hi")
                if (document.getElementById("roll_id").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Role is required field',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("leave_type_id").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'LeaveType is required field',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("employee_remark").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Reason is required field',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("admin_remark").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'Note is required field',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                if (document.getElementById("leave_days").value == "") {
                    $.toast({
                        //heading: '2 new messages',
                        text: 'LeaveDays is required field',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }


            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#date').change(function () {

                if (document.getElementById("date").value != "") {
                    var dateString = document.getElementById("date").value;
                    var myDate = new Date(dateString);
                    var today = new Date();
                    //  alert('')
                    if (myDate < today) {
                        $.toast({
                            text: 'Date should not be greater than todays date.',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        $('#date').val('');
                    }
                    return true;
                }
            });
        });
    </script>
    <script type="text/javascript">
    $('#leave_days').change(function () {
       
        var selection = $('#leave_days').val();
        var staffid = $("#staff_id").val();
        var leave_type_id = $("#leave_type_id").val();
        if (selection.length > 0) {
            $.post("/HumanResource/Getleavedays", { leave_days: selection, staff_id: staffid,leaveType: leave_type_id },
        function (data) {
         if(data>0)ss
        {
         $.toast({
                    //heading: '2 new messages',
                    text: ' Leavedays should not be greater than the alloted leaves and aAllotedleaves '+data,
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });

        @* alert('Changed!');*@
             $('#leave_days').val('');
        }

        })
        }
    });
    </script>
