﻿@model SmartSchool.Models.staff

@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Human_Resource</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("AddStaff", "HumanResource", FormMethod.Post, new { ImageFile = "photo", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><span class="fa fa-user mr-10"></span>@SmartSchool.Resources.Resource1.Basic</h6>
                                            <hr class="light-grey-hr" />                                                        <div class="row">


                                                <div class="row">
                                                    @*<div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.Label("@SmartSchool.Resources.Resource1.StaffID ", htmlAttributes: new { @class = "control-label pl-20" })
                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.employee_id, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.staffid, id = "employee_id", @readonly = "true" } })
                                                                @Html.ValidationMessageFor(model => model.employee_id, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(SmartSchool.Resources.Resource1.KGID_Employee_Number, htmlAttributes: new { @class = "control-label pl-20" })
                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.kgid_employee_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.kgid_employee_no, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(SmartSchool.Resources.Resource1.Roles, htmlAttributes: new { @class = "control-label pl-20" })

                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.roll_id, (IEnumerable<SelectListItem>)ViewBag.roll_id, "Select Role", new { @class = "form-control", id = "roll_id" })
                                                                @Html.ValidationMessageFor(model => model.roll_id, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Designation, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.designation, (IEnumerable<SelectListItem>)ViewBag.designation,"Select Designation", htmlAttributes: new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">

                                                            @Html.Label(@SmartSchool.Resources.Resource1.Department, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @*@Html.DropDownListFor(model => model.department, department, "-- Select Department --", htmlAttributes: new { @class = "form-control" })*@
                                                                @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.department, "Select Department", new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.FirstName, htmlAttributes: new { @class = "control-label pl-15" })
                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                                                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.LastName, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Father_Name, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.father_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.father_name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.MotherName, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.mother_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.mother_name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @{
                                                                List<SelectListItem> gender = new List<SelectListItem>();
                                                                gender.Add(new SelectListItem
                                                                {
                                                                    Text = "Male",
                                                                    Value = "Male"
                                                                });
                                                                gender.Add(new SelectListItem
                                                                {
                                                                    Text = "Female",
                                                                    Value = "Female",

                                                                });
                                                            }
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Gender, htmlAttributes: new { @class = "control-label pl-15" })
                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.gender, gender, "Select Gender", htmlAttributes: new { @class = "form-control", id = "gender" })
                                                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @{
                                                                List<SelectListItem> maritalStatus = new List<SelectListItem>();
                                                                maritalStatus.Add(new SelectListItem
                                                                {
                                                                    Text = "Single",
                                                                    Value = "Single"
                                                                });
                                                                maritalStatus.Add(new SelectListItem
                                                                {
                                                                    Text = "Married",
                                                                    Value = "Married",

                                                                });
                                                                maritalStatus.Add(new SelectListItem
                                                                {
                                                                    Text = "Widowed",
                                                                    Value = "Widowed",

                                                                });
                                                                maritalStatus.Add(new SelectListItem
                                                                {
                                                                    Text = "Separated",
                                                                    Value = "Separated",

                                                                });
                                                                maritalStatus.Add(new SelectListItem
                                                                {
                                                                    Text = "Not Specified",
                                                                    Value = "Not Specified",

                                                                });
                                                            }
                                                            @Html.Label(@SmartSchool.Resources.Resource1.marital_status, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.marital_status, maritalStatus,"Select Marital Status", htmlAttributes: new { @class = "form-control" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                      
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Email, htmlAttributes: new { @class = "control-label pl-20" })
                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "email", @type = "email" } })
                                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Date_Of_Birth, htmlAttributes: new { @class = "control-label pl-15" })
                                                            @*<span class="text-danger">*</span>*@
                                                            <div class="col-md-10">
                                                                <input type="date" id="dob" name="dob" class="form-control" required />
                                                                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label("@SmartSchool.Resources.Resource1.Date Of Joining", htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                <input type="date" id="date_of_joining" name="date_of_joining" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Phone, htmlAttributes: new { @class = "control-label pl-15" })

                                                            <span class="text-danger">*</span>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.contact_no, new { htmlAttributes = new { @class = "form-control", id = "contact_no", Type = "number" } })
                                                                @Html.ValidationMessageFor(model => model.contact_no, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Emergency_Number, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.emergency_contact_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.emergency_contact_no, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Photo, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @*<input type="file" id="photo" name="photo" />*@
                                                                <input type="file" id="photo" name="photo" class="form-control" data-height="50" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.CurrentAddress, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.local_address, new { @class = "form-control", style = "width: 100%; " })
                                                                @Html.ValidationMessageFor(model => model.local_address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.permanent_address, new { @class = "form-control", style = "width: 100%; " })
                                                                @Html.ValidationMessageFor(model => model.permanent_address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Qualification, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.qualification, new { @class = "form-control", style = "width: 100%; " })
                                                                @Html.ValidationMessageFor(model => model.qualification, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Work_Experience, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.work_exp, new { @class = "form-control", style = "width: 100%; " })
                                                                @Html.ValidationMessageFor(model => model.work_exp, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label(@SmartSchool.Resources.Resource1.Note, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-10">
                                                                @Html.TextAreaFor(model => model.note, new { @class = "form-control", style = "width: 100%; " })
                                                                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel-group accordion-struct accordion-style-1" id="accordion_2" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default card-view">
                                            <div class="panel-heading" role="tab" id="heading_10">
                                                <a role="button" class="panel-title txt-dark" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_10" aria-expanded="false"><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div>@SmartSchool.Resources.Resource1.Add</a>
                                            </div>
                                            <div id="collapse_10" role="tabpanel" class="panel-collapse collapse">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <div class="form-wrap">
                                                            <div class="form-body card-view mt-15">

                                                                <h6 class="txt-dark capitalize-font"><span class="fa fa-info mr-10"></span>@SmartSchool.Resources.Resource1.Leave</h6>
                                                                <br />

                                                                <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                                    <thead>
                                                                        <tr></tr>
                                                                    </thead>
                                                                    <tbody id="filltext">
                                                                        @if (ViewBag.leavelists != null)
                                                                        {
                                                                            foreach (var item in ViewBag.leavelists)
                                                                            {
                                                                                <tr>
                                                                                    <td>

                                                                                        <label class="align-text-top txt-dark">@item.type</label>
                                                                                        <div>
                                                                                            <input type="text" name="leaves" id="leavess" />
                                                                                            <input type="hidden" name="lids" value="@item.id" />
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            }

                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <div class="form-wrap">
                                                            <div class="form-body card-view mt-15">

                                                                <h6 class="txt-dark capitalize-font"><span class="fa fa-bank mr-10"></span>@SmartSchool.Resources.Resource1.Bank_Account_Details</h6>
                                                                <br />

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">

                                                                            @Html.Label(@SmartSchool.Resources.Resource1.account_title, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.account_title, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.account_title, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.Account_Number, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.bank_account_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.bank_account_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.BankName, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.bank_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.bank_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.IFSCCode, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.ifsc_code, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.ifsc_code, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.Bank_Branch_Name, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.bank_branch, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.bank_branch, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.Aadhaar_Number, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.aadhar_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.aadhar_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <div class="form-wrap">
                                                            <div class="form-body card-view mt-15">

                                                                <h6 class="txt-dark capitalize-font"><span class="fa fa-cloud-upload mr-10"></span>@SmartSchool.Resources.Resource1.Upload_Documents</h6>
                                                                <br />

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.resume, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="resume" name="resume" class="form-control" data-height="50" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.joining_letter, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="joining_letter" name="joining_letter" class="form-control dropify" data-height="50" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            @Html.Label(@SmartSchool.Resources.Resource1.Other_Documents, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="other_document_file" name="other_document_file" class="form-control dropify" data-height="50" />

                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /Row -->
                            @if (rol.can_add == 1)
                            {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" id="btnsub" value="Save" class="btn btn-info pull-right" />
                                            <input type="button" value="Back To List" onclick="location.href='@Url.Action("StaffIndex", "HumanResource")'" class="btn btn-info" />
                                        </div>
                                    </div>                                  
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}


<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));

    });
</script>

<script>
    if (document.getElementById("date").value != "") {
        var dateString = document.getElementById("date").value;
        var myDate = new Date(dateString);
        var today = new Date();
        if (myDate > today) {
            $.toast({
                text: 'Date should not be greater than todays date.',
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });
            return false;
        }
        return true;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $(btnsub).click(function () {

             if (document.getElementById("kgid_employee_no").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Role is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("roll_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Role is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("name").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'First Name required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("gender").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Gender required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("contact_no").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Phonenumber required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("dob").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Date of Birth is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("email").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Email is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("contact_no").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'contact_no is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("leavess").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'leaves required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>

<script type="text/javascript">
    $('#email').change(function () {
       
        var selection = $('#email').val();
        if (selection.length > 0) {
            $.post("/HumanResource/GetemailId", { email: selection },
        function (data) {
         if(data=="True")
        {
         $.toast({
                    //heading: '2 new messages',
                    text: ' This Email is already Exists ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });

        @* alert('Changed!');*@
             $('#email').val('');
        }

        })
        }
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $cf = $('#contact_no');
        $cf.blur(function (e) {
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g, '');
            if (phone.length != 10) {
                alert('Phone number must be 10 digits.');

                $('#contact_no').val('');
            }
        });
    });
</script>
<script type="text/javascript">
    $('#leavess').change(function () {
      
        var days = $('#leavess').val();
        if (days.length > 0) {
            $.post("/HumanResource/Getalloted", { leavess: days },
                function (data) {
                    if (data == "True")
        {
         $.toast({
             //heading: '2 new messages',
             text: ' Alloted leaves should  be greater than 0',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });

        @* alert('Changed!');*@
                        $('#leavess').val('');
        }

        })
        }
    });
</script>