﻿@model SmartSchool.Models.department

@{
    ViewBag.Title = "department";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Human_Resource</h4>
                </div>
                <div class="pull-right">
                    @*<input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 9, 56, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-add mr-10"></i>@SmartSchool.Resources.Resource1.Add_Department</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <span class="txt-danger">*</span>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.department_name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.department_name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Save" />
                                                    </div>
                                                    @*<div class="pull-left">
                                                            <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                        </div>*@
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-list mr-10"></i>@SmartSchool.Resources.Resource1.Department_List</h6>
                                            <hr class="light-grey-hr" />
                                            @*<div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">*@
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>
                                                    <table id="example" class="table table-hover display  pb-30">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Name
                                                                </th>

                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Action
                                                                </th>


                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            @if (ViewBag.deplist != null)
                                                            {
                                                                foreach (var item in ViewBag.deplist)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @item.department_name
                                                                        </td>


                                                                        <td>
                                                                            @if (rol.can_edit == 1)
                                                                            {
                                                                                @Html.ActionLink(" ", "departmentedit", new { id = item.id }, new { @class = "fa fa-edit font-22 txt-warning", data_toggle = "tooltip", @title = "Edit" })
                                                                            }
                                                                            @if (rol.can_delete == 1)
                                                                            {
                                                                                @Html.ActionLink(" ", "departmentdelete", new { id = item.id }, new { @class = "fa fa-trash font-22 txt-danger model_img ml-10", data_toggle = "tooltip", @title = "Delete" })
                                                                            }
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>


                                                    </table>
                                                </div>
                                            </div>
                                            @*</div>
                                                    </div>
                                                </div>*@


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="successAlert"></span>
            }
        }
    }
}


