﻿@model IEnumerable<SmartSchool.Models.staff>

@{
    ViewBag.Title = "StaffIndex";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mt-10">
        <h5 class="txt-dark"> @SmartSchool.Resources.Resource1.Staff_Directory</h5>
    </div>
    <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12 col-md-push-4 mt-10">
        <div class="pills-struct">
            <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">

                <li> @Html.ActionLink(" Add Staff", "AddStaff", "HumanResource", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>

                <li> @Html.ActionLink(" Staff Attendance", "StaffAttendance", "HumanResource", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>

                <li> @Html.ActionLink(" Leaves", "Leaves", "HumanResource", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>

                <li> @Html.ActionLink("Staff Credentials ", "StaffLoginCredentials", "HumanResource", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>

            </ul>
        </div>
    </div>
</div>
<hr />

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row mt-50">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Roles, htmlAttributes: new { @class = "control-label  pl-20" })
                                                        <span class="text-danger">*</span>
                                                        <div class="col-md-12">
                                                            @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.roll_id, "Select", new { @class = "form-control" })

                                                            <button type="submit" id="btnsub" class="btn btn-info fa fa-search mt-15 pull-right"> Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Search_By_Keyword, htmlAttributes: new { @class = "control-label col-md-6" })
                                                        <div class="col-md-12">
                                                            <input type="text" id="search" name="search" class="form-control" placeholder="Search by StaffID or Name.." />
                                                            <button type="submit" class="btn btn-info fa fa-search mt-15 pull-right"> Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view mt-50">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <div id="example_wrapper" class="dataTables_wrapper">
                                    </div>
                                    <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.STAFF_ID
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Name
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Role
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Department
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Designation
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Mobile_Number
                                                </th>
                                                <th>
                                                    @SmartSchool.Resources.Resource1.Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.stafflist != null)
                                            {
                                                foreach (var item in ViewBag.stafflist)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.employee_id
                                                        </td>
                                                        <td>

                                                            <a href="@Url.Action("StaffProfile", "HumanResource", new { id = item.id })" data-toggle="tooltip" , title="Click to view details">@item.name</a>

                                                        </td>
                                                        <td>
                                                            @item.rolename
                                                        </td>
                                                        <td>
                                                            @item.department
                                                        </td>
                                                        <td>
                                                            @item.designation
                                                        </td>
                                                        <td>
                                                            @item.contact_no
                                                        </td>
                                                        <td>
                                                            @if (rol.can_edit == 1)
                                                            {
                                                                @Html.ActionLink(" ", "EditStaff", new { id = item.id }, new { @class = "fa fa-edit font-22 txt-warning", data_toggle = "tooltip", @title = "Edit" })
                                                            }
                                                            @if (rol.can_delete == 1)
                                                            {
                                                                @Html.ActionLink(" ", "DeleteStaff", new { id = item.id }, new { @class = "fa fa-trash font-22 txt-danger model_img ml-10", data_toggle = "tooltip", @title = "Delete", onclick = "return confirm('Are you sure you wish to delete this record?');" })

                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/dist/js/toast-data.js"></script>

@if (TempData["messages"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["messages"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["result"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/dist/js/toast-data.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(btnsub).click(function () {
            // alert("hi")
            if (document.getElementById("Role").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Role is required field',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });
</script>