﻿@{
    ViewBag.Title = "StaffTimetableDisplay";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <!-- Basic Table -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Time Table</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        @*<p class="text-muted">Create style tables by wrapping any table with class <code>table  table-striped table-bordered</code> in <code>color-bg-table</code> class.</p>*@
                        
                        <div class="table-wrap mt-40">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>(08:00 AM-09:00 AM)</th>
                                            <th>(09:00 AM-10:00 AM)</th>
                                            <th>(10:00 AM-11:00 AM)</th>
                                            <th>(11:00 AM-12:00 AM)</th>
                                            <th>(12:00 PM-01:00 PM)</th>
                                            <th>(Lunch Break)</th>
                                            <th>(02:00 PM-03:00 PM)</th>
                                            <th>(03:00 PM-04:00 PM)</th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        @*@{
                                            string dname = null;
                                            foreach (var ls in ViewBag.wDaysTimet)
                                            {
                                                dname = ls.day_name;
                                                                                <tr>
                                                                                    @foreach (var ls in ViewBag.wDaysTimet)
                                                                                    {
                                                                                    @if (ls.day_name != dname)
                                                                                    {

                                                                                        <td></td>

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>  </td>
                                                                                    }
                                                                                </tr>
                                            }
                                        }*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Basic Table -->
    }
</div>

