﻿@model SmartSchool.Models.staff_attendance

@{
    ViewBag.Title = "staffattendance";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Human_Resource</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                <hr class="light-grey-hr" />

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Role, htmlAttributes: new { @class = "control-label col-ml-3" })
                                            <small class="req" style="color:red">*</small>
                                            <div class="col-10">
                                                @Html.DropDownList(@SmartSchool.Resources.Resource1.roleid, (IEnumerable<SelectListItem>)ViewBag.roll_id, "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Month, htmlAttributes: new { @class = "control-label col-ml-3" })
                                            <small class="req" style="color:red">*</small>
                                            <div class="col-10">
                                                @{
                                                    List<SelectListItem> month = new List<SelectListItem>();

                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Select Month",
                                                        Value = "0",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Jan",
                                                        Value = "1",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Feb",
                                                        Value = "2",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Mar",
                                                        Value = "3",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "April",
                                                        Value = "4",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "May",
                                                        Value = "5",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "June",
                                                        Value = "6",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "July",
                                                        Value = "7",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Aug",
                                                        Value = "8",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Sep",
                                                        Value = "9",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Oct",
                                                        Value = "10",


                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Nov",
                                                        Value = "11",
                                                    });
                                                    month.Add(new SelectListItem
                                                    {
                                                        Text = "Dec",
                                                        Value = "12",
                                                    });
                                                }
                                                @Html.DropDownList("month", month, htmlAttributes: new { @class = "form-control", id = "month" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.Label(@SmartSchool.Resources.Resource1.Year, htmlAttributes: new { @class = "control-label col-ml-3" })
                                            <small class="req" style="color:red">*</small>
                                            <div class="col-10">
             
                                                @Html.DropDownList("Year", Enumerable.Range(2010, DateTime.Now.Year - 1972).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "-- Year --", htmlAttributes: new { @class = "form-control" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" id="btnSearch" class="btn btn-info" value="Search" />
                                    </div>

                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-grid mr-10"></i>@SmartSchool.Resources.Resource1.View_Staff_List</h6>
                                <div class="pull-right">
                                    <b>
                                        Present: <b class="text text-success">P</b>
                                    </b>
                                    &nbsp;&nbsp;
                                    <b>
                                    </b>
                                    &nbsp;&nbsp;
                                    <b>
                                        Late: <b class="text text-warning">L</b>
                                    </b>
                                    &nbsp;&nbsp;
                                    <b>
                                        Absent: <b class="text text-danger">A</b>
                                    </b>
                                    &nbsp;&nbsp;
                                    <b>
                                        Holiday: HL
                                    </b>
                                    &nbsp;&nbsp;
                                    <b>
                                        Half Day: <b class="text text-warning">F</b>
                                    </b>

                                </div>
                                <hr class="light-grey-hr" />

                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                </div>

                                            <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info">

                                                <thead>
                                                    <tr role="row">
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Staff_Name
                                                        </th>
                                                        <th><span data-toggle="tooltip" title="" data-original-title="Gross Present Percentage(%)">%</span></th>
                                                        <th>
                                                            <span data-toggle="tooltip" title="" data-original-title="Total Present">
                                                                @SmartSchool.Resources.Resource1.P
                                                            </span>
                                                        </th>
                                                        <th>
                                                            <span data-toggle="tooltip" title="" data-original-title="Total Late">
                                                                @SmartSchool.Resources.Resource1.L
                                                            </span>
                                                        </th>
                                                        <th >
                                                            <span data-toggle="tooltip" title="" data-original-title="Total Absent">
                                                                @SmartSchool.Resources.Resource1.A
                                                            </span>
                                                        </th>
                                                        <th >
                                                            <span data-toggle="tooltip" title="" data-original-title="Total Holiday">
                                                                @SmartSchool.Resources.Resource1.HL
                                                            </span>
                                                        </th>
                                                        <th>
                                                            <span data-toggle="tooltip" title="" data-original-title="Total Half Day">
                                                                @SmartSchool.Resources.Resource1.F
                                                            </span>
                                                        </th>
                                                        <th>@SmartSchool.Resources.Resource1.Action</th>
                                                    </tr>
                                                </thead>

                                                @{
                                                    double pc = 0;
                                                    double Lc = 0;
                                                    double Lc1 = 0;
                                                    double pc1 = 0;
                                                    double percentagess = 0;
                                                    if (ViewBag.count != null)
                                                    {
                                                        foreach (var item in ViewBag.count)
                                                        {
                                                            <tbody>
                                                                <tr role="row" class="even">
                                                                    <th class="tdclsname" tabindex="0">
                                                                        <a href="#" , id="#myModal" style="color:#635bd6">@item.Name </a>@*</span>*@

                                                                        <div class="fee_detail_popover" style="display: none">Admission No: @*@item.AdmissionNumber*@</div>
                                                                    </th>


                                                                    <th>
                                                                        <label class="label label-danger ">
                                                                            @{
                                                                                double dayss = System.DateTime.DaysInMonth(ViewBag.selyear, ViewBag.month);
                                                                                if (item.present != null)
                                                                                {

                                                                                    pc = @item.present + item.late;
                                                                                    Lc = item.halfday;
                                                                                    Lc1 = (Lc / 2);
                                                                                    pc1 = pc + Lc1;

                                                                                    percentagess = Math.Round((pc1 / dayss) * 100, 2);
                                                                                }
                                                                            }

                                                                            @percentagess

                                                                        </label>
                                                                    </th>
                                                                    <th>@item.present</th>
                                                                    <th>@item.late</th>
                                                                    <th>@item.absent</th>

                                                                    <th>@item.holiday</th>
                                                                    <th>@item.halfday</th>

                                                                    @*<td> @Html.ActionLink(" ", "Attlist", new { stdid = item.id, month = ViewBag.month, class_id = ViewBag.cls, section_id = ViewBag.sec, year = ViewBag.yer }, new { @class = "fa fa-reorder", id = "stuattid" })</td>*@
                                                                    <td>
                                                                        <a data-toggle="modal" onclick="editoperation(@item.id)" role="button" data-target="#myModal"><i class="fa fa-reorder" data-toggle="tooltip" title="Click to view details"></i><text style="color:blue"> @SmartSchool.Resources.Resource1.Click_to_view_details</text></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        }
                                                    }
                                                }
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;overflow-y:scroll" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="myModalLabel">@SmartSchool.Resources.Resource1.Staff_Attendance_Report </h5><br />


                    <div class="row" style="text-align:center;color:red">
                        <b>
                            Name:&nbsp; <span id="name"></span> 
                            &nbsp;&nbsp; &nbsp;&nbsp; year: <span id="yearsel"></span>
                        </b>
                    </div>


                </div>
                <table id="exampless" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info" border="1">
                    <thead>
                        <tr>
                            <th>
                                @SmartSchool.Resources.Resource1.Sl_No
                            </th>
                            <th>
                                @SmartSchool.Resources.Resource1.Date
                            </th>

                            <th>
                                @SmartSchool.Resources.Resource1.Attendance
                            </th>
                        </tr>
                    </thead>
                    <tbody id="bodyList"></tbody>
                </table>             
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  
   

    <script>
        $(document).ready(function () {
            $("#myModal1").hide();
            $("#Btnsearch").click(function () {

                //alert($('input[name="attendendence_id"]').val());
                var clc = document.getElementById("month").value
                //alert(clc);

            });
        });
    </script>

  
    <script type="text/javascript">
        $(document).ready(function (e) {

            $("#stuattid").click(function () {
                $("#myModal").show();
            });

            $('.close').click(function () {

                $("#myModal1").hide();
                //window.location.href = '../../Attendance/attendance_report';
            });
        });

    </script>

    <script type="text/javascript">
        function editoperation(id) {
            $("#bodyList").html('');
            mnth = $('#month').val();
            yr = $('#Year').val();
            //alert(mnth);
            var list = "";
            $.ajax({
                url: '/HumanResource/Attlist',
                type: 'POST',
                data: { id: id, month: mnth, year: yr },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $.each(result, function (index, row) {
                        var sl = index + 1;
                        $('#name').html(result[0].Name);
                        $('#yearsel').html(yr);
                        $("#bodyList").append("<tr><td>" + sl + "</td><td>" + moment(row.date).format("DD-MM-YYYY") + "</td><td>" + row.type + "</td></tr>");

                    });
                }
            });
            $("#myModal1").show();
            $("<div></div>").css({ height: "350px", overflow: "auto" });

        }
    </script>

}