﻿@model SmartSchool.Models.staff_attendance

@{
    ViewBag.Title = "staffattendance";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Human_Resource</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 9, 51, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            @*<div class="form-horizontal">*@
                                            @*<h4>Stud_attendance_cls_sec</h4>
                                                <hr />*@
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label(@SmartSchool.Resources.Resource1.Role, htmlAttributes: new { @class = "control-label pl-20" })
                                                        <span class="text-danger">*</span>
                                                        <div class="col-md-12">
                                                            @Html.DropDownList("roleid", (IEnumerable<SelectListItem>)ViewBag.roll_id, "Select", new { @class = "form-control" })


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label pl-20" })
                                                        <span class="text-danger">*</span>
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", type = "date", id = "date" } })
                                                            @*<input type="text" id="datepicker" />*@

                                                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" id="btnSearch" class="btn btn-info" value="Search" />
                                                    </div>

                                                </div>
                                            }
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (ViewBag.staff_a != null)
                {

                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-grid mr-10"></i>@SmartSchool.Resources.Resource1.List</h6>
                                                <hr class="light-grey-hr mb-10" />

                                                @if (TempData["result"].ToString() == "0")
                                                {
                                                    <div class="box-body">
                                                        <div class="alert alert-info">@SmartSchool.Resources.Resource1.No_staff_available_with_this_role</div>
                                                    </div>
                                                }



                                                @if (TempData["result"].ToString() != "0")
                                                {
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>

                                                            <div class="mailbox-controls">

                                                                <span class="button-checkbox">
                                                                    <button type="button" class="btn btn-sm btn-primary" data-color="primary">@SmartSchool.Resources.Resource1.Mark_As_Holiday</button>
                                                                    <input type="checkbox" id="checkbox1" class="hidden" name="holiday" value="5" />
                                                                </span>


                                                                <div class="pull-right">
                                                                    <button type="button" id="save_btn" name="search" value="saveattendence" class="btn btn-primary btn-sm pull-right checkbox-toggle">
                                                                        <i class="fa fa-save"></i>@SmartSchool.Resources.Resource1.Save_Attendance
                                                                    </button>
                                                                </div>

                                                            </div>


                                                            <table class="table table-hover display dataTable" id="attendance" role="grid" aria-describedby="example_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Sl_No
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.STAFF_ID
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Name
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Role
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Attendance
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Note
                                                                        </th>
                                                                        @*<th>
                                                                                Action
                                                                            </th>*@

                                                                    </tr>
                                                                </thead>






                                                                <tbody>
                                                                    @{
                                                                        int sno = 0;
                                                                    }

                                                                    @foreach (var item in ViewBag.staff_a)
                                                                    {
                                                                        <tr>


                                                                            <td>
                                                                                <input type="hidden" value="@item.id" name="staffid">
                                                                                <input type="hidden" value="@item.aid" name="attendendence_id" />
                                                                                <input type="hidden" value="@item.atype_id" name="holidayid">

                                                                                @{ sno++; }
                                                                                @sno
                                                                            </td>
                                                                            <td>
                                                                                @item.employee_id
                                                                            </td>
                                                                            <td>
                                                                                @item.name @item.surname
                                                                            </td>
                                                                            <td>
                                                                                @item.rolename
                                                                            </td>

                                                                            <td>

                                                                                @foreach (var attd in ViewBag.attd_list)
                                                                                {
                                                                                    var check = "";
                                                                                    if (attd.id == item.atype_id)
                                                                                    {
                                                                                        check = "Checked";
                                                                                    }
                                                                                    //else if (item.atype_id == "5")
                                                                                    //{
                                                                                    //    check = "";
                                                                                    //}
                                                                                    else if (attd.type == "P")
                                                                                    {
                                                                                        check = "Checked";
                                                                                    }
                                                                                    <div class="radio radio-info radio-inline">
                                                                                        <input type="radio" id="@attd.type-@item.id" value="@attd.id" @check name="stu-@item.id" />
                                                                                        <label for="@attd.type-@item.id">
                                                                                            @attd.key_value
                                                                                        </label>

                                                                                    </div>
                                                                                }


                                                                            </td>
                                                                            <td>
                                                                                <input type="text" id="note-@item.id" value="@item.remark" />
                                                                            </td>



                                                                        </tr>
                                                                    }
                                                                </tbody>



                                                            </table>

                                                        </div>
                                                    </div>

                                                    <br />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            }
        }
    }
}
<script>
    $(document).ready(function () {

        $("#btnSearch").click(function () {
            $('input[name="attendendence_id"]').val(null);
            //alert($('input[name="attendendence_id"]').val());


            if (document.getElementById("roleid").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Role field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("date").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Date field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("date").value != "") {
                var dateString = document.getElementById("date").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'Date should not be greater than todays date.',
                        position: 'center',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }


        });
    });
</script>

<script type="text/javascript">



    $(document).ready(function (e) {

        $('#checkbox1').change(function () {

            if (this.checked) {
                var returnVal = confirm("Are you sure?");
                $(this).prop("checked", returnVal);

                $("input[type=radio]").attr('disabled', true);


            } else {
                $("input[type=radio]").attr('disabled', false);
                $("input[type=radio][value='1']").attr("checked", "checked");

            }

        });

        $('#save_btn').on('click', function () {
            var allStaff = new Array();
            var holiday = '';
            if ($("input[name='holiday']:checked")) {
                holiday = $("input[name='holiday']:checked").val();

            }

            $("#attendance tbody tr").each(function (i) {

                var staff = {};

                staff.staff_id = $(this).find("td:eq(0) input[name='staffid']").val();
                staff.id = $(this).find("td:eq(0) input[name='attendendence_id']").val();
                staff.staff_attendance_type_id = $(this).find("td:eq(4) input[type='radio']:checked").val();
                staff.remark = $(this).find("td:eq(5) input[type='text']").val();
                staff.date = $('#date').val();
                allStaff.push(staff);


            });
            $.ajax({
                url: "/HumanResource/SaveAttendance",
                type: "post",
                contentType: "application/json; charset=utf-8",
                // dataType: "json",
                async: false,
                data: JSON.stringify({ 'allStaff': allStaff, 'holiday': holiday }),
                success: function (response) {
                    if (response != 0) {
                        $.toast({
                            //heading: '2 new messages',
                            text: 'Attendance saved',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'success',
                            hideAfter: 3500,
                            stack: 6
                        });


                    }
                    window.location.href = "/HumanResource/staffattendance";

                },
                error: function (e) {
                    alert("Fail");
                }
            });
        });

        var attid = $('input[name="attendendence_id"]').val();

        if (attid > 0) {
            talert('Attendance Already Submitted You Can Edit Record');

        }

        function talert(labeltext) {
            $.toast({
                //heading: '2 new messages',
                text: labeltext,
                position: 'center',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });
        }
    });
</script>

<script type="text/javascript">
    $(function () {


        var ch = '';
        ch = $('input[name="holidayid"]').val();
        if (ch == 5) {

            $("input[type=radio]").attr('disabled', true);

            $('#checkbox1').prop('checked', true);


        }
        else {

            $("input[type=radio]").attr('disabled', false);
        }


        $('.button-checkbox').each(function () {
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');
                $button.data('state', (isChecked) ? "on" : "off");
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);
                if (isChecked) {
                    $button
                        .removeClass('btn-success')
                        .addClass('btn-' + color + ' active');
                } else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-primary');
                }
            }

            function init() {
                updateDisplay();
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>

@*<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('input[type="date"]').val(moment(output).format("YYYY-MM-DD"));

    });
            </script>*@

