﻿
@{
    ViewBag.Title = "StaffLoginCredentials";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> <i class="fa fa-calendar-check-o"></i>  @SmartSchool.Resources.Resource1.View_Staff_List</h4>
                </div>
                <div class="pull-right">
                    <ul role="tablist" class="nav nav-pills nav-pills-rounded" id="myTabs_11">
                        <li> @Html.ActionLink("Back", "StaffIndex", "HumanResource", null, new { @class = "nav-pills nav-pill-rounded fa fa-list-alt" })</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <a href="~/Views/HumanResource/StaffLoginCredentials.cshtml"></a>
            <div class="table-wrap">
                <div class="table-responsive">
                    <div id="example_wrapper" class="dataTables_wrapper">
                    </div>
                    <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th>
                                    @SmartSchool.Resources.Resource1.ID
                                </th>
                                <th>
                                    @SmartSchool.Resources.Resource1.Name
                                </th>
                                <th>
                                    @SmartSchool.Resources.Resource1.Email
                                </th>
                                <th>
                                    @SmartSchool.Resources.Resource1.Password
                                </th>
                                <th>
                                    @SmartSchool.Resources.Resource1.Role
                                </th>
                                <th>
                                    @SmartSchool.Resources.Resource1.Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.stafflistc != null)
                            {
                                foreach (var item in ViewBag.stafflistc)
                                {
                            <tr>
                                <td>
                                    @item.SlNo
                                </td>

                                <td>
                                    @item.StaffName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Password
                                </td>
                                <td>
                                    @item.RoleName
                                </td>
                                <td>
                                    <button type="button" id="UpdateCredential" title="Update Credentials" class="btn btn-danger small" value="Update Credentials">  @SmartSchool.Resources.Resource1.Update_Credentials</button>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#example tbody tr td button").click(function () {
        var email = $.trim($(this).closest("tr").find("td:eq(2)").html());
        var Password = $.trim($(this).closest("tr").find("td:eq(3)").html());
        var rolename = $.trim($(this).closest("tr").find("td:eq(4)").html());

        $.ajax({
            method: 'POST',
            url: '/HumanResource/UpdateStudentCredentials',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'Email': email, 'Password': Password, 'rolename': rolename }),
            success: function (data) {
                if (data == "Success") {
                    $.toast({
                        text: 'Credentials Updated Successfully..!',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'success',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
                else {
                     $.toast({
                        text: data,
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            }
        });
    });
</script>