﻿@model SmartSchool.SchoolMasterClasses.Stud_attendance
@{
    ViewBag.Title = "attendance_by_date";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 class="txt-info">@SmartSchool.Resources.Resource1.Attendance </h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 6, 34, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-face mr-10"></i>@SmartSchool.Resources.Resource1.Attendance_By_Date</h6>
                                            <hr class="light-grey-hr" />

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select",new { @class = "form-control", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.classes, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "select section ", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", Type = "date", id = "datePic" } })
                                                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" id="Btnsearch" class="btn btn-info" value="Search" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to Main" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <div>
                                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-grid mr-10"></i>@SmartSchool.Resources.Resource1.View_Student_List</h6>
                                                </div>

                                            </div>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">

                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">
                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info" title="Student Attendance Status">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Sl_No
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Admission_Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.RollNumber
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.FirstName
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Attendance
                                                                            </th>

                                                                        </tr>
                                                                    </thead>
                                                                    @if (ViewBag.stud_a != null)
                                                                    {
                                                                        int sno = 0;
                                                                        <tbody>
                                                                            @foreach (var item in ViewBag.stud_a)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @{sno++;}
                                                                                        @sno
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.AdmissionNumber
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.RollNumber
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.FirstName  @item.LastName
                                                                                    </td>

                                                                                    <td class="media-middle" style="">
                                                                                        @if (item.attendance == "Present")
                                                                                        {
                                                                                            <small class="label label-success">
                                                                                                @item.attendance
                                                                                            </small>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <small class="label label-danger">
                                                                                                @item.attendance
                                                                                            </small>
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script>
    $(document).ready(function () {
        $("#Btnsearch").click(function () {
            var clc = document.getElementById("class_id").value
            //alert(clc);
            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select class ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                $('#clc').focus();
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select section  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("datePic").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select date ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("datePic").value != "") {
                var dateString = document.getElementById("datePic").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'please  select Date not greater than todays date ',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#example').prop('title', 'Student Attendance Status of ' + $("#class_id option:selected").text() + ',' + $("#section_id option:selected").text() + ' and Date - ' + $("#datePic").val() + '');

        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Attendance/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>


