﻿@model SmartSchool.SchoolMasterClasses.attendance_report

@{
    ViewBag.Title = "attendance_report";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Attendance_Report</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 6, 35, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-assignment-o mr-10"></i>@SmartSchool.Resources.Resource1.Student_Attendance_Report</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            @*< class="row">*@
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.classes, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls,"Select", new { @class = "form-control", id = "class_id" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @*@Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.cls1, "Select", new { @class = "form-control", id = "section_id" })*@
                                                        @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @Html.DropDownList("Year", new SelectList(ViewBag.year), "Select Year", htmlAttributes: new { @class = "form-control", id = "Year" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                    <div class="col-10">
                                                        @{
                                                            List<SelectListItem> month = new List<SelectListItem>();

                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Select Month",
                                                                Value = "0",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Jan",
                                                                Value = "1",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Feb",
                                                                Value = "2",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Mar",
                                                                Value = "3",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "April",
                                                                Value = "4",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "May",
                                                                Value = "5",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "June",
                                                                Value = "6",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "July",
                                                                Value = "7",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Aug",
                                                                Value = "8",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Sep",
                                                                Value = "9",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Oct",
                                                                Value = "10",


                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Nov",
                                                                Value = "11",
                                                            });
                                                            month.Add(new SelectListItem
                                                            {
                                                                Text = "Dec",
                                                                Value = "12",
                                                            });
                                                        }
                                                        @Html.DropDownList("month", month, htmlAttributes: new { @class = "form-control", id = "month" })
                                                    </div>
                                                </div>
                                            </div>

                                            <br /><br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" id="Btnsearch" value="Search" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-grid mr-10"></i>@SmartSchool.Resources.Resource1.View_Student_List</h6>
                                            <div class="pull-right">
                                                <b>
                                                    @SmartSchool.Resources.Resource1.Present_: <b class="text text-success">@SmartSchool.Resources.Resource1.P</b>
                                                </b>
                                                &nbsp;&nbsp;
                                                <b>
                                                </b>
                                                &nbsp;&nbsp;
                                                <b>
                                                    @SmartSchool.Resources.Resource1.Late_ <b class="text text-warning">@SmartSchool.Resources.Resource1.L</b>
                                                </b>
                                                &nbsp;&nbsp;
                                                <b>
                                                    @SmartSchool.Resources.Resource1.Absent_: <b class="text text-danger">@SmartSchool.Resources.Resource1.A</b>
                                                </b>
                                                &nbsp;&nbsp;
                                                <b>
                                                    @SmartSchool.Resources.Resource1.Holiday__H:
                                                </b>
                                                &nbsp;&nbsp;
                                                <b>
                                                    @SmartSchool.Resources.Resource1.Half_Day_: <b class="text text-warning">@SmartSchool.Resources.Resource1.HD</b>
                                                </b>

                                            </div>
                                            <hr class="light-grey-hr" />
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>
                                                            <table id="example" class="table table-hover display pb-30 dataTable" role="grid" aria-describedby="example_info">

                                                                <thead>
                                                                    <tr role="row">
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Student_name
                                                                        </th>
                                                                        <th><span data-toggle="tooltip" title="" data-original-title="Gross Present Percentage(%)">%</span></th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" title="" data-original-title="Total Present">
                                                                                @SmartSchool.Resources.Resource1.P
                                                                            </span>
                                                                        </th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" title="" data-original-title="Total Late">
                                                                                @SmartSchool.Resources.Resource1.L
                                                                            </span>
                                                                        </th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" title="" data-original-title="Total Absent">
                                                                                @SmartSchool.Resources.Resource1.A
                                                                            </span>
                                                                        </th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" title="" data-original-title="Total Holiday">
                                                                                @SmartSchool.Resources.Resource1.HL
                                                                            </span>
                                                                        </th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" title="" data-original-title="Total Half Day">
                                                                                @SmartSchool.Resources.Resource1.HD
                                                                            </span>
                                                                        </th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                @{
                                                                    double pc = 0;
                                                                    double Lc = 0;
                                                                    double Lc1 = 0;
                                                                    double pc1 = 0;
                                                                    double percentagess = 0;
                                                                    if (ViewBag.count != null)
                                                                    {
                                                                        <tbody>
                                                                            @foreach (var item in ViewBag.count)
                                                                            {
                                                                                <tr role="row" class="even">
                                                                                    <th class="tdclsname" tabindex="0">
                                                                                        <a href="#" id="#myModal" style="color:#635bd6">@item.FirstName @item.LastName </a>
                                                                                    </th>
                                                                                    <th>
                                                                                        <label class="label label-danger ">
                                                                                            @{
                                                                                                double dayss = System.DateTime.DaysInMonth(ViewBag.selyear, ViewBag.month);
                                                                                                if (item.present != null)
                                                                                                {

                                                                                                    pc = @item.present + item.late;
                                                                                                    Lc = item.halfday;
                                                                                                    Lc1 = (Lc / 2);
                                                                                                    pc1 = pc + Lc1;

                                                                                                    percentagess = Math.Round((pc1 / dayss) * 100, 2);
                                                                                                }
                                                                                            }
                                                                                            @percentagess
                                                                                        </label>
                                                                                    </th>
                                                                                    <th>@item.present</th>
                                                                                    <th>@item.late</th>
                                                                                    <th>@item.absent</th>
                                                                                    <th>@item.holiday</th>
                                                                                    <th>@item.halfday</th>

                                                                                    <td>
                                                                                        <a data-toggle="modal" onclick="editoperation('@item.user_id')" role="button" data-target="#myModal"><i class="fa fa-reorder"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    }
                                                                }
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;overflow-y:scroll" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 class="modal-title" id="myModalLabel">@SmartSchool.Resources.Resource1.Student_Attendance_Report </h5><br />
                                <div class="row" style="text-align:center;color:red">
                                    <b>

                                        @SmartSchool.Resources.Resource1.Name:&nbsp; <span id="fname"></span> <span id="lname"></span>
                                        &nbsp;&nbsp;Roll No:&nbsp; <span id="rno"></span> &nbsp;&nbsp; @SmartSchool.Resources.Resource1.Year: <span id="yearsel"></span>
                                    </b>
                                </div>
                            </div>
                            <table id="exampless" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info" border="1">
                                <thead>
                                    <tr>
                                        <th>
                                            @SmartSchool.Resources.Resource1.Sl_No
                                        </th>
                                        <th>
                                            @SmartSchool.Resources.Resource1.Date
                                        </th>

                                        <th>
                                            @SmartSchool.Resources.Resource1.Remark
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyList"></tbody>
                            </table>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            }
        }
    }
}

<script>
    $(document).ready(function () {
        $("#Btnsearch").click(function () {
            var clc = document.getElementById("class_id").value
            if (clc == "") {
                $.toast({
                    heading: 'Message',
                    text: 'please select class ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                $('#clc').focus();
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    heading: 'Message',
                    text: 'please select section  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("month").value == "0") {
                $.toast({
                    heading: 'Message',
                    text: 'please select Month ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("Year").value == "") {
                $.toast({
                    heading: 'Message',
                    text: 'please select Year ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#example').prop('title', 'Student Attendance Status of ' + $("#class_id option:selected").text() + ',' + $("#section_id option:selected").text() + ', Year-' + $("#Year option:selected").text() + ' and Month- ' + $("#month option:selected").text() + '');

        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Attendance/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#myModal1").hide();
        $("#Btnsearch").click(function () {
            var clc = document.getElementById("month").value;
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#stuattid").click(function () {
            $("#myModal").show();
        });
        $('.close').click(function () {
            $("#myModal1").hide();
        });
    });

</script>

<script type="text/javascript">
    function editoperation(id) {
        $("#bodyList").empty();
        clas = $('#class_id').val();
        sec = $('#section_id').val();
        mnth = $('#month').val();
        yr = $('#Year').val();
        //alert(mnth);
        var list = "";
        $.ajax({
            url: '/Attendance/Attlist',
            type: 'POST',
            data: { id: id, class_id: clas, section_id: sec, month: mnth, year: yr },
            dataType: "json",
            success: function (result) {

                $.each(result, function (index, row) {
                    var sl = index + 1;
                    $('#fname').html(result[0].FirstName);
                    $('#lname').html(result[0].LastName);
                    $('#rno').html(result[0].RollNumber);
                    $('#yearsel').html(result[0].Year);
                    $("#bodyList").append("<tr><td>" + sl + "</td><td>" + moment(row.date).format("DD-MM-YYYY") + "</td><td>" + row.type + "</td></tr>");

                });
            }
        });
        $("#myModal1").show();
        $("<div></div>").css({ height: "350px", overflow: "auto" });

    }
</script>
