﻿@model SmartSchool.SchoolMasterClasses.Stud_attendance
@{
    ViewBag.Title = "Student_attendance";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";

}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Attendance</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();

    var getrolesacc = mm.RoleAccess(listData.roleid, 6, 33, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-graduation-cap mr-10"></i>@SmartSchool.Resources.Resource1.Student Attendance</h6>
                                            <hr class="light-grey-hr" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Class", htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls," Select", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.classes, "", new { @class = "error" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.Label("@SmartSchool.Resources.Resource1.Section", htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-ml-4" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", type = "date" } })


                                                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br /><br /><br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" id="Btnsearch" class="btn btn-info" value="Search" />
                                                    </div>

                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (ViewBag.stud_a != null)
                {
                    <input type="hidden" value="@ViewBag.classid" name="classVal" />
                    <input type="hidden" value="@ViewBag.sectionid" name="sectionVal" />
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-grid mr-10"></i>@SmartSchool.Resources.Resource1.Student_List</h6>
                                                <hr class="light-grey-hr mb-10" />

                                                @if (TempData["result"].ToString() == "0")
                                                {
                                                    <div class="box-body">
                                                        <div class="alert alert-info">@SmartSchool.Resources.Resource1.No_student_admitted_in_this_Class_Section</div>
                                                    </div>
                                                }

                                                @if (TempData["result"].ToString() != "0")
                                                {
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>
                                                            <div class="mailbox-controls">
                                                                <span class="button-checkbox">
                                                                    <button type="button" class="btn btn-sm btn-primary" data-color="primary">@SmartSchool.Resources.Resource1.Mark_As_Holiday</button>
                                                                    <input type="checkbox" id="checkbox1" class="hidden" name="holiday" value="5" />
                                                                </span>

                                                                <div class="pull-right">
                                                                    <button type="button" id="save_btn" name="search" value="saveattendence" class="btn btn-primary btn-sm pull-right checkbox-toggle">
                                                                        <i class="fa fa-save"></i>@SmartSchool.Resources.Resource1.Save_Attendance
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <br/>

                                                            <table class="table table-hover display dataTable" id="example" role="grid" aria-describedby="example_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Sl_No
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Admission_Number
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.RollNumber
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Name
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Attendance
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Note
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int sno = 0;
                                                                    }

                                                                    @foreach (var item in ViewBag.stud_a)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="hidden" value="@item.user_id" name="studentid">
                                                                                <input type="hidden" value="@item.aid" name="attendendence_id" />
                                                                                <input type="hidden" value="@item.atype_id" name="holidayid">

                                                                                @{ sno++; }
                                                                                @sno
                                                                            </td>
                                                                            <td>
                                                                                @item.AdmissionNumber
                                                                            </td>
                                                                            <td>
                                                                                @item.RollNumber
                                                                            </td>
                                                                            <td>
                                                                                @item.FirstName  @item.LastName
                                                                            </td>

                                                                            <td>

                                                                                @foreach (var attd in ViewBag.attd_list)
                                                                                {
                                                                                    var check = "";
                                                                                    if (attd.id == item.atype_id)
                                                                                    {
                                                                                        check = "Checked";
                                                                                    }

                                                                                    else if (attd.type == "P")
                                                                                    {
                                                                                        check = "Checked";
                                                                                    }
                                                                                    <div class="radio radio-info radio-inline">
                                                                                        <input type="radio" id="@attd.type-@item.id" value="@attd.id" @check name="stu-@item.user_id" />
                                                                                        <label for="@attd.type-@item.id">
                                                                                            @attd.key_value
                                                                                        </label>

                                                                                    </div>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" id="note-@item.id" value="@item.remark" />
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
}

<script>
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Attendance/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
        var attid = $('input[name="attendendence_id"]').val();
        if (attid > 0) {
            talert('Attendance Already Submitted You Can Edit Record');
        }
        function talert(labeltext) {
            $.toast({
                //heading: '2 new messages',
                text: labeltext,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });
        }
    });
</script>


@if (ViewBag.sectionid != null)
{
    <script type="text/javascript">
    var ddlclass = $('#class_id').val();
    if (ddlclass != null) {
        $('#section_id').empty();
        $.ajax({
            type: "POST",
            url: "/Attendance/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }
                    $("#section_id").val(@ViewBag.sectionid);
                });
            }
        });
    }
    </script>
    ViewBag.sectionid = null;
}


<script>
    $(document).ready(function () {

        $("#Btnsearch").click(function () {
            $('input[name="attendendence_id"]').val(null);
            var clc = document.getElementById("class_id").value;

            if (clc == "") {
                $.toast({
                    heading: 'Message',
                    text: 'Class field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    heading: 'Message',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("date").value == "") {
                $.toast({
                    heading: 'Message',
                    text: 'Date field is required.',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 4500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("date").value != "") {
                var dateString = document.getElementById("date").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'Date should not be greater than todays date.',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function (e) {
        $('#checkbox1').change(function () {
            if (this.checked) {
                var returnVal = confirm("Are you sure?");
                $(this).prop("checked", returnVal);

                $("input[type=radio]").attr('disabled', true);

            } else {
                $("input[type=radio]").attr('disabled', false);
                $("input[type=radio][value='1']").attr("checked", "checked");
            }
        });

        $('#save_btn').on('click', function () {
            var submit = 0;

            if (++submit > 1) {
                alert('This sometimes takes a few seconds - please be patient.');
                return false;
            }
            else {
                var allStudents = new Array();
                var holiday = '';
                if ($("input[name='holiday']:checked")) {
                    holiday = $("input[name='holiday']:checked").val();
                }
                $("#example tbody tr").each(function (i) {

                    var student = {};

                    student.student_session_id = $(this).find("td:eq(0) input[name='studentid']").val();
                    student.id = $(this).find("td:eq(0) input[name='attendendence_id']").val();
                    student.attendence_type_id = $(this).find("td:eq(4) input[type='radio']:checked").val();
                    student.remark = $(this).find("td:eq(5) input[type='text']").val();
                    student.date = $('#date').val();
                    allStudents.push(student);
                });
                $.ajax({
                    url: "/Attendance/SaveAttendance",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    // dataType: "json",
                    async: false,
                    data: JSON.stringify({ 'allStudnts': allStudents, 'holiday': holiday }),
                    success: function (response) {
                        if (response != 0) {
                            $.toast({
                                heading: 'Message',
                                text: 'Attendance saved',
                                position: 'top-right',
                                loaderBg: '#fec107',
                                icon: 'success',
                                hideAfter: 4500,
                                stack: 6
                            });
                        }
                        window.location.href = "/Attendance/Student_attendance";
                    },
                    error: function (e) {
                        alert("Fail");
                    }
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        var ch = '';
        ch = $('input[name="holidayid"]').val();
        if (ch == 5) {
            $("input[type=radio]").attr('disabled', true);
            //$('input[name="holiday"]').attr('checked', 'checked');
            $('#checkbox1').prop('checked', true);
            //$("input[type=checkbox]").prop('checked', !$("input[type=checkbox]").is(':checked'));
        }
        else {

            $("input[type=radio]").attr('disabled', false);
        }

        $('.button-checkbox').each(function () {
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');
                $button.data('state', (isChecked) ? "on" : "off");
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);
                if (isChecked) {
                    $button
                        .removeClass('btn-success')
                        .addClass('btn-' + color + ' active');
                } else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-primary');
                }
            }
            function init() {
                updateDisplay();
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>



