﻿@model SmartSchool.SchoolMasterClasses.StudentInformation

@{
    ViewBag.Title = "Bookissue";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 class="txt-info capitalize-font">  <i class="fa fa-book"></i> Books</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>Library  Book Issued Details</h6>
                            <hr />
                            <center>
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr style="color:black">
                                            <th>
                                                Book Title
                                            </th>

                                            <th>Book Number </th>
                                            <th>Subject </th>
                                            <th>Issue Date </th>

                                            <th>Post Date </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Bookdetails != null)
                                        {
                                            foreach (var item in ViewBag.Bookdetails)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.book_title
                                                    </td>
                                                    <td>
                                                        @item.book_no

                                                    <td>
                                                        @item.SubName
                                                    </td>
                                                    <td>
                                                        @item.issue_date.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @item.return_date.ToString("dd/MM/yyyy")
                                                    </td>


                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


