﻿@model SmartSchool.Models.book
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>Library  Book</h6>
                            <hr />
                            <center>
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr style="color:black">
                                            <th>
                                                Book Title
                                            </th>

                                            <th>Publisher </th>
                                            <th>Author </th>
                                            <th>Subject </th>
                                            <th>Rack Number </th>
                                            <th>Qty </th>

                                            <th>Book Price </th>
                                            <th>Post Date </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Bookdetails != null)
                                        {
                                            foreach (var item in ViewBag.Bookdetails)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.book_title
                                                    </td>
                                                    <td>
                                                        @item.publish

                                                    <td>
                                                        @item.author
                                                    </td>
                                                    <td>
                                                        @item.subject
                                                    </td>
                                                    <td>
                                                        @item.rack_no
                                                    </td>
                                                    <td>
                                                        @item.qty
                                                    </td>

                                                    <td>
                                                        @item.perunitcost
                                                    </td>
                                                    <td>
                                                        @item.postdate.ToString("dd/MM/yyyy")
                                                    </td>


                                                </tr>
                                            }
                                        }
                                        </tbody>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

