﻿
@{
    ViewBag.Title = "ClassTimetable";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>Class Timetable</h6>
                            <hr />
                            <center>
                                <table id="example" class="table table-bordered example dataTable no-footer dtr-inline" role="grid" aria-describedby="example_info" style="width: 1098px;">

                                    <thead>
                                        <tr role="row">
                                            <th>
                                                Subject
                                            </th>
                                            <th>
                                                Monday
                                            </th>
                                            <th>
                                                Tuesday
                                            </th>
                                            <th>
                                                Wednesday
                                            </th>
                                            <th>
                                                Thursday
                                            </th>
                                            <th>
                                                Friday
                                            </th>
                                            <th>
                                                Saturday
                                            </th>
                                            <th>
                                                Sunday
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var lan in ViewBag.getname)
                                        {
                                            <tr>

                                                <th>@lan</th>

                                                @foreach (var item in ViewBag.Gettimetable)
                                                {
                                                    if (lan == item.name)
                                                    {
                                                        <td class="text text-center vertical">
                                                            <div class="attachment-block clearfix">
                                                                <strong class="text-green">@item.start_time</strong>
                                                                <b class="text text-center">-</b>
                                                                <strong class="text-green">@item.end_time</strong><br>
                                                                <strong class="text-green">Room Number:@item.room_no</strong>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"></div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous"><i class="fa fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next"><i class="fa fa-angle-right"></i></a></div>

                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

