﻿@model SmartSchool.Classes.Exam_schedulesdata
@{
    ViewBag.Title = "Examschedule";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

@*@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
}*@



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Examinations </h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Exam Schedule List</h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper">
                            </div>
                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr>
                                        <th>
                                            Sl No.
                                        </th>
                                        <th>
                                            Exam Name
                                        </th>
                                        <th>
                                            Class Name
                                        </th>
                                        <th>
                                            Section Name
                                        </th>
                                        <th>
                                            Subject Name
                                        </th>
                                        <th>
                                            Date of Exam
                                        </th>

                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Room Number</th>
                                        <th>Full Marks</th>
                                        <th>Passing Marks</th>

                                    </tr>
                                <thead>
                                <tbody>
                                    @{ int slno = 0;}
                                    @foreach (var item in ViewBag.examschedulelist)
                                    {
                                        <tr>
                                            <td>
                                                @{ slno++;}
                                                @slno
                                            </td>
                                            <td>
                                                @item.ExamName
                                            </td>
                                            <td>
                                                @item.ClassName
                                            </td>
                                            <td>
                                                @item.SectionName
                                            </td>
                                            <td>
                                                @item.SubjectName
                                            </td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date_of_exam))
                                            </td>
                                            <td>
                                                @item.Start_to
                                            </td>
                                            <td>
                                                @item.End_from
                                            </td>
                                            <td>
                                                @item.Room_no
                                            </td>
                                            <td>
                                                @item.Full_marks
                                            </td>
                                            <td>
                                                @item.Passing_marks
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
          
            <script>
                $(document).ready(function () {

                    $(function () {
                        $("#btnsave").button().click(function () {
                            class_id = $("#class_id").val();
                            section_id = $("#section_id").val();
                            $.ajax({
                                type: "GET",
                                url: 'Examination/ExamscheduleDetails',
                                data: JSON.stringify({ 'section_id': section_id, 'class_id': class_id }),
                                success: function (data) {
                                    if (data) {

                                        //$('#gender').val(data[0].gender);
                                        //$('#address').val(data[0].address);

                                    }
                                }
                            });
                        });
                    });
                })
            </script>
