﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "getfees";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 class="txt-info capitalize-font">  <i class="fa fa-user-plus"></i> My Profile </h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                @foreach (var item in ViewBag.studentdetails)
                {<input type="text" class="form-control" maxlength="11" id="studentid" style="visibility:hidden"
                        value="@item.UserName" />
                    <table class="table mb-0" id="Studentlist">
                        <tr>
                            <td rowspan="5">
                                @if (@item.StudentPhoto != "")
                                {
                                    <img src="~/Content/Profile/@item.StudentPhoto" alt="Sample Image" width="200px" height="200px" />
                                }
                            </td>

                        </tr>
                        <tr>

                            <td>Name: </td>
                            <td> @item.FirstName</td>
                            <td></td>

                            <td>Class Section:</td>
                            <td> @item.Class (@item.Section)</td>
                        </tr>
                        <tr>

                            <td>Father Name	:</td>
                            <td> @item.FatherName</td>
                            <td></td>
                            <td>AdmissionNumber:</td>
                            <td> @item.AdmissionNumber</td>
                        </tr>
                        <tr>

                            <td>Mobile Number:</td>
                            <td> @item.MobileNumber</td>
                            <td></td>
                            <td>Roll Number:</td>
                            <td> @item.RollNumber</td>
                        </tr>
                        <tr>

                            <td>Category:</td>
                            <td> @item.Category</td>
                            <td></td>
                            <td>RTE:</td>
                            <td> @item.RTE</td>
                        </tr>
                    </table>


                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@{
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    string feetype = null;
    string stuid = null;
    double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
}
<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student List</h6>
                            <hr class="light-grey-hr" />
                            <div class="panel panel-default card-view mt-10">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">

                                                @*<div id="example_wrapper" class="dataTables_wrapper ">
                                                    </div>*@
                                                <table id="example" class="table table-hover display  pb-30">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Fees Group
                                                            </th>
                                                            <th>
                                                                Fees Code
                                                            </th>

                                                            <th>
                                                                Due Date
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Amount (Rs.)
                                                            </th>

                                                            @*<th>
                                                                Payment Id
                                                            </th>*@
                                                            <th>
                                                                Payment Modes
                                                            </th>
                                                            <th>
                                                                Payment Dates
                                                            </th>
                                                            <th>
                                                                Discount (Rs.)
                                                            </th>
                                                            <th>
                                                                Fine (Rs.)
                                                            </th>
                                                            <th>
                                                                Balance(Rs.)
                                                            </th>
                                                            <th>
                                                                Paid(Rs.)
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    @{

                                                        if (ViewBag.StuFeePaidDetails != null)
                                                        {
                                                            decimal Mval = 0;
                                                            foreach (var item in ViewBag.StuFeePaidDetails)
                                                            {
                                                                int? ids = item.sfdID, colgid = item.college_id, brnchid = item.branch_id;
                                                                Mval = item.AmtAssigned - Convert.ToDecimal(item.amount_detail);
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            @item.name
                                                                        </td>
                                                                        <td>
                                                                            @item.type
                                                                        </td>
                                                                        <td>
                                                                            @Convert.ToDateTime(item.due_date).ToShortDateString()
                                                                        </td>
                                                                        @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                        {
                                                                            <td>
                                                                                <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                            </td>

                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <input type="button" class="btn btn-danger btn-sm" value="UnPaid" />
                                                                            </td>
                                                                        }

                                                                        <td>
                                                                            @item.AmtAssigned
                                                                        </td>

                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Dates listed below"></i>Mode
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Discounts listed below"></i>Date
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Fines listed below"></i>Discont
                                                                        </td>
                                                                        <td>
                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Fines listed below"></i>Fine
                                                                        </td>

                                                                        <td>
                                                                            @Mval
                                                                        </td>
                                                                        <td>
                                                                            @item.amount_detail
                                                                        </td>
                                                                       
                                                                            @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                            {
                                                                            <td>
                                                                                <input type="button" class="btn btn-success btn-sm" value="Print" alt="Print" onclick="print(this);" />
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='#' class='btn btn-info' onclick='GetDetails(@item.fee_groups_id,"@item.student_session_id",@item.feetype_id)'><span class='glyphicon glyphicon-plus'></span> Pay</a>
                                                                            </td>
                                                                        }
                                                                            




                                                                        </tr>
                                                                   


                                                                    </tbody>

                                                                    if (item.sfdID != null)
                                                                    {
                                                                        var getDetails = (from fda in dbcontext.fee_deposit_amountdetails
                                                                                          join sfd in dbcontext.student_fees_deposite on fda.dpid equals sfd.id
                                                                                          where sfd.id == ids && sfd.college_id == colgid && sfd.branch_id == brnchid
                                                                                          select new { fda.id, fda.dpid, fda.amount, fda.amount_discount, fda.payment_mode, fda.date }).ToList();
                                                                        foreach (var lp in getDetails)
                                                                        {
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        <img src="~/Content/Symbol/table-arrow.png" />
                                                                                    </td>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        @lp.amount
                                                                                    </td>
                                                                                    <td>
                                                                                        @lp.payment_mode
                                                                                    </td>
                                                                                    <td>
                                                                                        @lp.date.Value.ToShortDateString()
                                                                                    </td>

                                                                                    <td>
                                                                                        @lp.amount_discount
                                                                                    </td>
                                                                                    <td></td>
                                                                                    <td>

                                                                                    </td>
                                                                                    @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                                    {
                                                                                        <td>
                                                                                            <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                                        </td>

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>
                                                                                            <input type="button" class="btn btn-primary btn-sm" value="Partial" />
                                                                                        </td>
                                                                                    }
                                                                                </tr>
                                                                            </tbody>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />*@

<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");

    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>


<script type="text/javascript">
    function print(element) {
        var studentid = $('#studentid').val();
        var printWindow = window.open('', '', 'height=400,width=400');
        printWindow.document.write('<html><head><title>Smart School</title>');
        var divToPrint1 = document.getElementById("Studentlist");
        var divToPrint = document.getElementById("example");

        printWindow.document.write(divToPrint1.outerHTML);
        printWindow.document.write("<br>");

        printWindow.document.write(divToPrint.outerHTML);


        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>

<script type="text/javascript">
    function getpaidamnt(feetypeid) {

        var studentid = $('#studentid').val();
        var feetypeid = $('#txtfeetypeid').val();

        $.ajax({
            type: "POST",
            url: "/FeesCollection/Getpaidamntdetals",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': feetypeid, 'Stuid': studentid }), //passing the data to back end
            dataType: "json",
            success: function (response) {
                $('#txtfeety').val(response.sum);
                $('#lblstuid').val(response.sum);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>

<script type="text/javascript">
    var Discountdiffamount = 0;
    function GetDetails(id, bal, feetypeid) {
        var PID = id;
        var studentid = $('#studentid').val();
        var feetypeiddetails = feetypeid;

        $.ajax({
            type: "POST",
            url: "/FeesCollection/Collectfees",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID, 'Stuid': studentid, 'balance': bal }), //passing the data to back end
            dataType: "json",
            success: function (response) {


                $('#feeid').val(PID);

                $("#txtname").val(moment(response.today).format("YYYY-MM-DD"));

                $.each(response.ddd, function () {
                    for (i = 0; i < response.ddd.length; i++) {

                        var checkval = response.ddd[i].Value;
                        var checktext = response.ddd[i].Text;
                        $("#sselect2id").append("<option value=" + checkval + ">" + checktext + "</option>");
                    }
                });
                $('#txdescrip').val(response.amount);
                Discountdiffamount = response.amount;
                $('#feetypeid').val(feetypeiddetails);
                if (response.amount == "") {
                    $.toast({
                        //heading: 'Message',
                        text: 'Please Contact Administor to make Payment.',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4500,
                        stack: 6
                    });
                }
                else {

                    $('#responsive-modal').modal('show');
                }
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }
    function GetSelectedTextValue(sselect2id) {
        var selectedText = sselect2id.options[sselect2id.selectedIndex].innerHTML;
        var selectedValue = $("select#sselect2id option").filter(":selected").val();

        $.ajax({
            url: "/FeesCollection/Collectfeesdisccountvalue",

            data: JSON.stringify({ 'values': selectedValue }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (response) {
                $('#txdist').val(response.amount);
                var dsam = response.amount;
                var amtttt = Discountdiffamount - dsam;
                $('#txdescrip').val(amtttt);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Update() {
        $('#responsive-modal').modal('hide');
        var empObj = {
            Fid: $('#feeid').val(),
            date: $('#txtname').val(),
            Description: $('#txdescrip').val(),
        };
        var ppid = $('#feeid').val();
        var datte = $('#txtname').val();
        var amout = $('#txdescrip').val();
        var dis = $('#txdist').val();


        var dis = $('#txdist').val() != "" ? $('#txdist').val() : "0";

        var fine = $('#txfine').val() != "" ? $('#txfine').val() : "0";

        var note = $('#txnte').val() != "" ? $('#txnte').val() : "note";

        var rGrp = $("input[name=payment]");
        var checkedRadio = rGrp.filter(":checked");
        var Mde = (checkedRadio.val());

        var discountid = $("select#sselect2id option").filter(":selected").val();

        var feegroupid = $('#fegrp').val();
        var studentid = $('#studentid').val();
        var feetypeid = $('#feetypeid').val();

        $("#responsive-modal").css("display", "none");
        $.ajax({
            url: "/FeesCollection/Collectfeesupdate",
            data: JSON.stringify({ 'values': ppid, 'dat': datte, 'amt': amout, 'discount': dis, 'fineamt': fine, 'Nte': note, 'Mode': Mde, 'disid': discountid, 'feegrpid': feegroupid, 'stuid': studentid, 'feetypeid': feetypeid }), //passing the data to back end
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                swal("Records Updated");
                //alert("Records Updated");
                window.location.reload();

                $('#feeid').val("");
                $('#date').val("");
                $('#Description').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Delete(ID, inv) {
        var ans = confirm("Are you sure you want to delete this Record?");
        var studentid = $('#studentid').val();
        if (ans) {
            $.ajax({
                url: "/FeesCollection/DeleteFeeAmount/",
                data: JSON.stringify({ 'stuids': studentid, 'dpid': ID, 'inv': inv }), //passing the data to back end

                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    swal("Records Deleted");
                    //alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>





