﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "homework";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Home Work</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-primary btn-sm" value="Home" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0">
                    <div class="col-lg-12 pb-10">
                        <div class="table-wrap panel-wrapper collapse in">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                </div>
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr>
                                            <th>
                                                Class
                                            </th>
                                            <th>
                                                Section
                                            </th>

                                            <th>
                                                Subject
                                            </th>
                                            <th>
                                                Homework Date
                                            </th>
                                            <th>
                                                Submission Date
                                            </th>
                                            <th>Download File</th>
                                            <th>
                                                Evaluation Date
                                            </th>
                                            <th>
                                                Evaluated By
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.studentdetails)
                                        {
                                            <input type="text" class="form-control" id="txtfeemastrd" style="visibility:hidden"
                                                   value="@item.AdmissionNumber" />
                                            <tr>
                                                <td>
                                                    @item.Class
                                                </td>
                                                <td>
                                                    @item.Section
                                                </td>
                                                <td>
                                                    @item.SubName
                                                </td>
                                                <td>
                                                    @item.homework_date
                                                </td>
                                                <td>
                                                    @item.HomeworkSubmissiondate
                                                </td>
                                                <td>
                                                    @if (@item.Documents1 != "")
                                                    {
                                                        <a href="~/Content/Homework/@item.Documents1" download>  <i class="fa fa-download" aria-hidden="true" title="Download File"></i></a>
                                                    }
                                                </td>
                                                <td>
                                                    @item.HomeworkEvaluationdate
                                                </td>
                                                <td>
                                                    @item.Evaluated_by
                                                </td>
                                                @if (@item.Status == "True")
                                                {
                                                    <td><span class="label label-success">Completed</span> </td>
                                                }
                                                else
                                                {
                                                    <td><span class="label label-danger">Incomplete</span> </td>
                                                }
                                                <td class="form-group" title="Details">
                                                    <span class="fa fa-list" title="Click Here to See Details." id="@item.id" onclick="createModal('@Url.Action("getHomeworkEvalutionDataById", "User" , new { id=item.id })')"></span>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>

<script type="text/javascript">
    function createModal(url) {
        $('#modelContent').empty();
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>













