﻿@model SmartSchool.Models.Google_meet_Class

@{
    ViewBag.Title = "JoinMeeting";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> <i class="fa fa-money"></i>Meeting Details</h4>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Meetings  List</h6>
                            <hr class="light-grey-hr" />
                            <div class="panel panel-default card-view mt-50">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            @*<button type="button" id="sendsms" class="btn btn-danger pull-right" value="Send SMS">Send SMS</button>*@
                                            <table id="example" class="table table-hover display  pb-30">

                                                <thead>
                                                    <tr>
                                                        <th>
                                                            SL NO
                                                        </th>
                                                        <th>
                                                            Class Name
                                                        </th>
                                                        <th>
                                                            Section Name
                                                        </th>
                                                        <th>
                                                            Subject Name
                                                        </th>
                                                        <th>
                                                           Meeting Date
                                                        </th>
                                                        <th>
                                                            Meeting Time
                                                        </th>

                                                        <th>
                                                           Action
                                                        </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{
                                                        int sno = 0;
                                                    }
                                                    @foreach (var item in ViewBag.meetingdetails)
                                                    {
                                                    <tr>
                                                        <td>
                                                            @{ sno++; }
                                                            @sno
                                                        </td>
                                                        <td>
                                                            @item.Class
                                                        </td>
                                                        <td>
                                                            @item.Section
                                                        </td>
                                                        <td>
                                                            @item.SubName
                                                        </td>

                                                        <td>
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Meetingdate))
                                                        </td>
                                                        <td>
                                                            @item.MeetingTime
                                                        </td>
                                                        <td>

                                                                <a href="@item.MeetingLink" target="_blank" rel="noopener noreferrer"><i class="btn btn-info" value="Create" id="btnsave">Join Meeting</i></a>
                                                           
                                                        </td>
                                                    </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
