﻿
@{
    ViewBag.Title = "marklist";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-map-o"></i>Examinations</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@{
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    string feetype = null;
    string stuid = null;
    double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
}
<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>Report Card</h6>
                            <hr />
                            <center>

                               

                                <table id="example" class="table table-hover display  pb-30">
                                    @*@if (ViewBag.marklist != null)
                                    {
                                        foreach (var item1 in ViewBag.marklist)
                                        {
                                            var ggg = item1.eid;
                                            var ga = item1.name;


                                            {


                                                var students = dbcontext.Database.SqlQuery<SmartSchool.SchoolMasterClasses.Subjectdetailsstudent>("SELECT  distinct name as SubjectName ,full_marks as Fullmarks,passing_marks as Minmarks, get_marks as Get_marks  FROM  students as a inner join class_sections as b on b.class_id = a.class_id and b.section_id = a.section_id inner join teacher_subjects as c on b.id = c.class_section_id inner join subjects as d on d.id = c.subject_id inner join exam_schedules as e  on e.class_id = a.class_id and e.section_id = a.section_id and b.id = e.teacher_subject_id inner join exam_results as f  on e.esid = f.exam_schedule_id and user_id = student_id  where user_id = 'smartstu6' and e.exam_id='"+@ggg+"' ").ToList();
                                                ViewBag.marklistst = students;
                                            }
                                    <h1>@ga</h1>*@
                                            <thead>
                                                <tr style="color:black">
                                                    <th>
                                                        Subject
                                                    </th>

                                                    <th>Full Marks </th>
                                                    <th>Passing Marks </th>
                                                    <th>Obtain Marks </th>

                                                    <th>Result </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.marklist != null)
                                                {
                                                    foreach (var item in ViewBag.marklist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.SubjectName
                                                            </td>
                                                            <td>
                                                                @item.Fullmarks

                                                            <td>
                                                                @item.Minmarks
                                                            </td>
                                                            <td>
                                                                @item.Get_marks
                                                            </td>
                                                            @if (@item.Minmarks >= @item.Get_marks)
                                                            {

                                                                <td>
                                                                    <input type="button" class="btn btn-success" value="Pass" />
                                                                </td>
                                                            }

                                                            else if (@item.Minmarks < @item.Get_marks)
                                                            {
                                                                <td>
                                                                    <input type="button" class="btn btn-danger" value="Fail" />
                                                                </td>
                                                            }
                                                        </tr>
                                                           }
                                                        }
                                            </tbody>
                                        @*}
                                    }*@
                                    
                                        </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


