﻿
@{
    ViewBag.Title = "notification";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 class="txt-info capitalize-font"> <i class="fa fa-envelope"></i> Notice Board</h4>

                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />
                </div>  
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-body">
                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-notifications mr-10"></i>Notice Board</h6>
                        <hr class="light-grey-hr" />
                        @if (ViewBag.isn != null)
                        {
                            foreach (var items in ViewBag.isn)
                            {



                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="panel panel-default card-view panel-refresh">
                                        <div class="refresh-container">
                                            <div class="la-anim-1"></div>
                                        </div>
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <small class="font-13">
                                                    <i class="fa fa-info-circle" style="color:deeppink"></i> <text style="color:black"> @items.title</text>
                                                </small>
                                                @*<small class="panel-title txt-dark">@items.title</small>*@
                                            </div>
                                            <div class="pull-right">
                                                <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_@items.id" aria-expanded="false">
                                                    <i class="zmdi zmdi-chevron-down" style="color:#f742aa"></i>
                                                    <i class="zmdi zmdi-chevron-up" style="color:#f742aa"></i>
                                                </a>
                                                <a href="#" class="pull-left inline-block full-screen mr-15">
                                                    <i class="zmdi zmdi-fullscreen" data-toggle="tooltip" data-placement="top" style="color:#f742aa" data-original-title="Expand Message"></i>
                                                </a>
                                                @*<a class="pull-left inline-block close-panel" href="@Url.actio("notice_boardss", "Communicate", new { id = items.id })" data-effect="fadeOut">
                                                        <i class="zmdi zmdi-close"></i>
                                                    </a>*@

                                                @*@Html.ActionLink(" ", "notice_board_delete", new { edit = "edit", id = items.id }, new { @class = "pull-left inline-block close-panel zmdi zmdi-edit", title = "Edit Message", style = "Color:#f742aa" })

                                                @Html.ActionLink(" ", "notice_board_delete", new { id = items.id }, new { @class = "pull-left inline-block close-panel zmdi zmdi-close", title = "Delete Message", style = "Color:#f742aa" })*@
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="collapse_@items.id" class="panel-wrapper collapse">
                                            <div class="panel-body font-16 weight-600 txt-dark">
                                                <p>@items.message</p> <br />
                                                @*<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-notifications mr-10"></i>Notice Board</h6>*@
                                                <small class="font-13"><i class="fa fa-calendar" style="color:deeppink"></i> Publish Date : @Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.publish_date))</small><br />
                                                <small class="font-13"><i class="fa fa-calendar" style="color:deeppink"></i> Notice Date  : @Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.date))</small><br />
                                                <small class="font-13">
                                                    <i class="fa fa-user-md" style="color:deeppink"></i> Created By        : @items.created_by
                                                </small><br />

                                                <small class="font-15">
                                                    <i class="fa fa-info" style="color:cyan"></i> Message Displaying To  :
                                                </small><br />

                                                @if (items.visible_student == true)
                                                {
                                                    <small class="font-13">
                                                        <i class="fa fa-user" style="color:deeppink"></i> Student
                                                    </small><br />
                                                }
                                                @if (items.visible_staff == true)
                                                {
                                                    <small class="font-13">
                                                        <i class="fa fa-user" style="color:deeppink"></i> Staff
                                                    </small><br />
                                                }
                                                @if (items.visible_parent == true)
                                                {
                                                    <small class="font-13">
                                                        <i class="fa fa-user" style="color:deeppink"></i> Parent
                                                    </small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="panel panel-default  card-view">

                                        <div class="panel-heading bg-primary" role="tab" id="heading_@items.mid" style="height:40px; color:white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">




                                            <div class="pull-right">
                                                <i class="fa fa-calendar"></i> Date : @items.created_at.ToString("dd MMM yyyy")
                                            </div>
                                            <div class="pull-left">
                                                @items.title <img src="~/Images/read_one.png" />

                                            </div>
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_@items.mid" href="#collapse_@items.mid" aria-expanded="true">

                                            </a>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="collapse_@items.mid" class="panel-collapse collapse in" role="tabpanel">
                                            <div class="panel-body pa-15">
                                                @items.message1
                                            </div>
                                        </div>
                                    </div>*@
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
