﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "Studentdashboard";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> My Profile </h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-12">
        <div class="panel panel-default card-view  pa-0 bg-gradient">
            <div class="panel-wrapper collapse in">
                <div class="panel-body  pa-0">
                    <div class="profile-box">
                        <div class="social-info" @*style="border-bottom: 1px solid rgba(33, 33, 33, 0.05);"*@>
                            @*<div class="row">
                                    <div class="col-xs-4 text-center">

                                        <span class="counts-text block txt-light">
                                            @Html.ActionLink(" ", "StaffPass", new { id = Html.DisplayFor(model => model.AdmissionNumber) }, new { @class = "fa fa-key font-22 txt-primary", data_toggle = "tooltip", @title = "Change Password" })
                                        </span>
                                    </div>


                                </div>*@


                        </div>
                        <div class="profile-cover-pic" style="min-height: 70px;">
                            @*<div class="fileupload btn btn-default">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                                <div class="profile-image-overlay"></div>*@
                        </div>

                        <div class="profile-info text-center">
                            <div class="profile-img-wrap">
                                @if (ViewBag.studentdetails.StudentPhoto == null || ViewBag.studentdetails.StudentPhoto == "Click Here to take a SnapShot..!")
                                {
                                    <img class="" src="~/Content/Content/no_image.png" width="130" height="130" alt="User profile picture">

                                }
                                else
                                {
                                    <img class="inline-block mb-10" src="~/Content/Profile/@Html.DisplayFor(model => model.StudentPhoto)" alt="user" />
                                }


                            </div>
                            <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-warning">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
                            <h6 class="block capitalize-font pb-20 txt-light">@Html.DisplayFor(model => model.Class)</h6>
                        </div>
                        <div class="row" txt-align:center>
                            <div class="col-xs-0 text-center">
                                @*<span class="counts block head-font txt-light"><span class="counter-anim">345</span></span>*@
                                <span class="counts-text block txt-light">
                                    <input type="hidden" id="staffId" name="staffId" value="@Html.DisplayFor(model => model.AdmissionNumber)" />
                                    <a data-toggle="modal" title="Change Password" onclick="getCode('@Html.DisplayFor(model => model.user_id)');" role="button" data-target="#responsive-modal23"><i class="fa fa-key font-22 txt-primary text-align:center"></i></a>

                                </span>
                            </div>
                        </div>
                        <div class="box box-primary" style='background-color:#f0dddd;'>
                            <div class="box-body box-profile">
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item listnoback">
                                        <b class="txt-dark">Admission Number</b> <span class="pull-right text-aqua">@Html.DisplayFor(model => model.AdmissionNumber)</span>
                                    </li>
                                    <li class="list-group-item listnoback">
                                        <b class="txt-dark">Roll Number</b> <span class="pull-right text-aqua">@Html.DisplayFor(model => model.RollNumber)</span>
                                    </li>

                                    <li class="list-group-item listnoback">
                                        <b class="txt-dark">Class</b> <span class="pull-right text-aqua">@Html.DisplayFor(model => model.Class)</span>
                                    </li>

                                    <li class="list-group-item listnoback">
                                        <b class="txt-dark">Section</b> <span class="pull-right text-aqua">@Html.DisplayFor(model => model.Section)</span>
                                    </li>

                                    <li class="list-group-item listnoback">
                                        <b class="txt-dark">RTE</b> <span class="pull-right text-aqua">@Html.ValueFor(model => model.RTE)</span>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        @*<div class="social-info">

                                <button class="btn btn-info btn-block btn-anim mt-0 mb-0" onclick="location.href='@Url.Action("EditStaff", "HumanResource", new {id = @Html.DisplayFor(model => model.AdmissionNumber) })'"><i class="fa fa-pencil"></i><span class="btn-text">edit profile</span></button>

                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0">
                    <div class="tab-struct custom-tab-1">
                        <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                            <li class="active" role="presentation"><a data-toggle="tab" id="profile_tab_8" role="tab" href="#profile_8" aria-expanded="false"><span>profile</span></a></li>
                            <li role="presentation" class="next"><a aria-expanded="true" data-toggle="tab" role="tab" id="follo_tab_8" href="#leave_8"><span>Fees</span></a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="photos_tab_8" role="tab" href="#photos_8" aria-expanded="false"><span>Exam</span></a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="earning_tab_8" role="tab" href="#earnings_8" aria-expanded="false"><span>documents</span></a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="settings_tab_8" role="tab" href="#settings_8" aria-expanded="false"><span>timeline</span></a></li>

                        </ul>
                        <div class="tab-content" id="myTabContent_8">
                            <div id="profile_8" class="tab-pane fade active in" role="tabpanel">
                                <div class="col-lg-12">


                                    <div class="table-wrap card-view">
                                        <div class="table-responsive">

                                            <table class="table table-hover mb-15">
                                                <thead>
                                                    <tr style="background :#ececed; color:#000;">
                                                        <th colspan="2" class=""><h6 class="txt-dark capitalize-font">Basic Information</h6></th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <th class="txt-dark">Contact No</th>
                                                        <td>@Html.DisplayFor(model => model.MobileNumber)</td>

                                                    </tr>
                                                    @*<tr>
                                                            <th class="txt-dark">Emergency Contact No</th>
                                                            <td>@Html.DisplayFor(model => model.MobileNumber)</td>

                                                        </tr>*@
                                                    <tr>
                                                        <th class="txt-dark">Email</th>
                                                        <td>@Html.DisplayFor(model => model.Email)</td>

                                                    </tr>
                                                    <tr>
                                                        <th class="txt-dark">Gender</th>
                                                        <td>@Html.DisplayFor(model => model.Gender)</td>

                                                    </tr>
                                                    <tr>
                                                        <th class="txt-dark">Date of Birth</th>
                                                        <td>

                                                            @Html.ValueFor(model => model.DateOfBirth, "{0:dd-MM-yyyy}")
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        @*<th class="txt-dark">Marital Status</th>
                                                            //  <td>@Html.DisplayFor(model => model.ma)</td>*@

                                                    </tr>
                                                    <tr>
                                                        <th class="txt-dark">Father Name</th>
                                                        <td>@Html.DisplayFor(model => model.FatherName)</td>

                                                    </tr>
                                                    <tr>
                                                        <th class="txt-dark">Mother Name</th>
                                                        <td>@Html.DisplayFor(model => model.MotherName)</td>

                                                    </tr>
                                                    <tr>
                                                        <th class="txt-dark">GuardianName</th>
                                                        <td>@Html.DisplayFor(model => model.GuardianName)</td>

                                                    </tr>
                                                    @*<tr>
                                                            <th class="txt-dark">Work Experience</th>
                                                            <td>@Html.DisplayFor(model => model.work_exp)</td>

                                                        </tr>
                                                        <tr>
                                                            <th class="txt-dark">Note</th>
                                                            <td>@Html.DisplayFor(model => model.note)</td>

                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="panel-group accordion-struct accordion-style-1 mb-0" id="accordion_2" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default card-view">
                                                <div class="panel-heading bg-primary" role="tab" id="heading_10">
                                                    <a role="button" class="panel-title txt-light" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_10" aria-expanded="false"><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div>View More Details</a>
                                                </div>


                                                <div id="collapse_10" role="tabpanel" class="panel-collapse collapse">



                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="form-wrap">
                                                                <div class="form-body card-view mt-15">

                                                                    <div class="table-responsive">

                                                                        <table class="table table-hover mb-15">
                                                                            <thead>
                                                                                <tr style="background :#ececed; color:#000;">
                                                                                    <th colspan="2" class=""><h6 class="txt-dark capitalize-font">Address</h6></th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="txt-dark">Current Address</td>
                                                                                    <td>@Html.DisplayFor(model => model.CurrentAddress)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Permanent Address</th>
                                                                                    <td>@Html.DisplayFor(model => model.PermanentAddress)</td>

                                                                                </tr>


                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="form-wrap">
                                                                <div class="form-body card-view mt-15">

                                                                    <div class="table-responsive">

                                                                        <table class="table table-hover mb-15">
                                                                            <thead>
                                                                                <tr style="background :#ececed; color:#000;">
                                                                                    <th colspan="2" class=""><h6 class="txt-dark capitalize-font">Parent / Guardian Details</h6></th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td rowspan="4">

                                                                                        <img src="~/Content/Profile/@Html.DisplayFor(model => model.StudentPhoto)" alt="user" width="120" height="120" />

                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Father Name</td>
                                                                                    <td>@Html.DisplayFor(model => model.FatherName)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Father Phone</th>
                                                                                    <td>@Html.DisplayFor(model => model.FatherPhone)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Father Occupation</th>
                                                                                    <td>@Html.DisplayFor(model => model.FatherOccupation)</td>


                                                                                </tr>
                                                                                <tr>
                                                                                    <td rowspan="4">

                                                                                        <img src="~/Content/Profile/@Html.DisplayFor(model => model.StudentPhoto)" alt="user" width="120" height="120" />

                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td class="txt-dark">Mother  Name</td>
                                                                                    <td>@Html.DisplayFor(model => model.MotherName)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Mother  Phone</th>
                                                                                    <td>@Html.DisplayFor(model => model.MotherPhone)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Mother Occupation</th>
                                                                                    <td>@Html.DisplayFor(model => model.MotherOccupation)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td rowspan="6">

                                                                                        <img src="~/Content/Profile/@Html.DisplayFor(model => model.StudentPhoto)" alt="user" width="120" height="120" />

                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Guardian   Name</td>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianName)</td>

                                                                                </tr>

                                                                                <tr>
                                                                                    <td class="txt-dark">Guardian Email</td>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianEmail)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Guardian Relation</td>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianRelation)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Guardian   Phone</th>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianPhone)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Guardian  Occupation</th>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianOccupation)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Guardian  Address</th>
                                                                                    <td>@Html.DisplayFor(model => model.GuardianAddress)</td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="form-wrap">
                                                                <div class="form-body card-view mt-15">

                                                                    <div class="table-responsive">

                                                                        <table class="table table-hover mb-15">
                                                                            <thead>
                                                                                <tr style="background :#ececed; color:#000;">
                                                                                    <th colspan="2" class=""><h6 class="txt-dark capitalize-font">Miscellaneous Details</h6></th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="txt-dark">Blood Group</td>
                                                                                    <td>@Html.DisplayFor(model => model.BloodGroup)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Student House</td>
                                                                                    <td>@Html.DisplayFor(model => model.StudentHouse)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Height</td>
                                                                                    <td>@Html.DisplayFor(model => model.Height)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Weight</td>
                                                                                    <td>@Html.DisplayFor(model => model.Weight)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">As on Date	</td>
                                                                                    <td>@Html.DisplayFor(model => model.AsonDate)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Previous School Details	</td>
                                                                                    <td>@Html.DisplayFor(model => model.PreviousSchoolDetails)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Aadhaar Number	</td>
                                                                                    <td>@Html.DisplayFor(model => model.AadhaarNumber)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="txt-dark">Caste Certificate Number	</td>
                                                                                    <td>@Html.DisplayFor(model => model.CasteCertificateNumber)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">Bank Name</th>
                                                                                    <td>@Html.DisplayFor(model => model.BankName)</td>

                                                                                </tr>

                                                                                <tr>
                                                                                    <th class="txt-dark">Bank Account Number</th>
                                                                                    <td>@Html.DisplayFor(model => model.BankAccountNumber)</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="txt-dark">IFSC Code</th>
                                                                                    <td>@Html.DisplayFor(model => model.IFSCCode)</td>

                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /Row -->
                            </div>

                            <div id="leave_8" class="tab-pane fade" role="tabpanel">

                                @using SmartSchool.Models;
                                @{
                                    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
                                    string feetype = null;
                                    string stuid = null;
                                    double totalpaid = 0, totalbal = 0, balance = 0, discount = 0, totaldiscount = 0, totalfine = 0;
                                }
                                <div class="panel panel-default card-view">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="form-wrap">
                                                        <div class="form-body">
                                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Student List</h6>
                                                            <hr class="light-grey-hr" />
                                                            <div class="panel panel-default card-view mt-10">
                                                                <div class="panel-wrapper collapse in">
                                                                    <div class="panel-body">
                                                                        <div class="table-wrap">
                                                                            <div class="table-responsive">

                                                                                @*<div id="example_wrapper" class="dataTables_wrapper ">
                                                                                    </div>*@
                                                                                <table id="example" class="table table-hover display  pb-30">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                Fees Group
                                                                                            </th>
                                                                                            <th>
                                                                                                Fees Code
                                                                                            </th>

                                                                                            <th>
                                                                                                Due Date
                                                                                            </th>
                                                                                            <th>
                                                                                                Status
                                                                                            </th>
                                                                                            <th>
                                                                                                Amount (Rs.)
                                                                                            </th>

                                                                                            @*<th>
                    Payment Id
                </th>*@
                                                                                            <th>
                                                                                                Payment Modes
                                                                                            </th>
                                                                                            <th>
                                                                                                Payment Dates
                                                                                            </th>
                                                                                            <th>
                                                                                                Discount (Rs.)
                                                                                            </th>
                                                                                            <th>
                                                                                                Fine (Rs.)
                                                                                            </th>
                                                                                            <th>
                                                                                                Balance(Rs.)
                                                                                            </th>
                                                                                            <th>
                                                                                                Paid(Rs.)
                                                                                            </th>
                                                                                            <th>
                                                                                                Action
                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    @{

                                                                                        if (ViewBag.StuFeePaidDetails != null)
                                                                                        {
                                                                                            decimal Mval = 0;
                                                                                            foreach (var item in ViewBag.StuFeePaidDetails)
                                                                                            {
                                                                                                int? ids = item.sfdID, colgid = item.college_id, brnchid = item.branch_id;
                                                                                                Mval = item.AmtAssigned - Convert.ToDecimal(item.amount_detail);
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @item.name
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.type
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @Convert.ToDateTime(item.due_date).ToShortDateString()
                                                                                                        </td>
                                                                                                        @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                                                        {
                                                                                                            <td>
                                                                                                                <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                                                            </td>

                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>
                                                                                                                <input type="button" class="btn btn-danger btn-sm" value="UnPaid" />
                                                                                                            </td>
                                                                                                        }

                                                                                                        <td>
                                                                                                            @item.AmtAssigned
                                                                                                        </td>

                                                                                                        <td>
                                                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Dates listed below"></i>Mode
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Discounts listed below"></i>Date
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Fines listed below"></i>Discont
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <i class="glyphicon glyphicon-circle-arrow-down" style="color:#635bd6" title="Fines listed below"></i>Fine
                                                                                                        </td>

                                                                                                        <td>
                                                                                                            @Mval
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.amount_detail
                                                                                                        </td>

                                                                                                        @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                                                        {
                                                                                                            <td>
                                                                                                                <input type="button" class="btn btn-success btn-sm" value="Print" alt="Print" onclick="print(this);" />
                                                                                                            </td>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>
                                                                                                                <a href='#' class='btn btn-info' onclick='GetDetails(@item.fee_groups_id,"@item.student_session_id",@item.feetype_id)'><span class='glyphicon glyphicon-plus'></span> Pay</a>
                                                                                                            </td>
                                                                                                        }





                                                                                                    </tr>



                                                                                                </tbody>

                                                                                                if (item.sfdID != null)
                                                                                                {
                                                                                                    var getDetails = (from fda in dbcontext.fee_deposit_amountdetails
                                                                                                                      join sfd in dbcontext.student_fees_deposite on fda.dpid equals sfd.id
                                                                                                                      where sfd.id == ids && sfd.college_id == colgid && sfd.branch_id == brnchid
                                                                                                                      select new { fda.id, fda.dpid, fda.amount, fda.amount_discount, fda.payment_mode, fda.date }).ToList();
                                                                                                    foreach (var lp in getDetails)
                                                                                                    {
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td></td>
                                                                                                                <td></td>
                                                                                                                <td>
                                                                                                                    <img src="~/Content/Symbol/table-arrow.png" />
                                                                                                                </td>
                                                                                                                <td></td>
                                                                                                                <td>
                                                                                                                    @lp.amount
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                    @lp.payment_mode
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                    @lp.date.Value.ToShortDateString()
                                                                                                                </td>

                                                                                                                <td>
                                                                                                                    @lp.amount_discount
                                                                                                                </td>
                                                                                                                <td></td>
                                                                                                                <td>
                                                                                                                </td>
                                                                                                                @if (item.AmtAssigned <= Convert.ToDecimal(item.amount_detail))
                                                                                                                {
                                                                                                                    <td>
                                                                                                                        <input type="button" class="btn btn-success btn-sm" value="Paid" />
                                                                                                                    </td>

                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <td>
                                                                                                                        <input type="button" class="btn btn-primary btn-sm" value="Partial" />
                                                                                                                    </td>
                                                                                                                }
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="photos_8" class="tab-pane fade" role="tabpanel">
                                <div class="panel panel-default card-view">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="form-wrap">
                                                        <div class="form-body">
                                                            <h6 class="txt-dark capitalize-font"><i class="fa fa-book mr-10"></i>Report Card</h6>
                                                            <hr />
                                                            <center>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr style="color:black">
                                                                            <th>
                                                                                Subject
                                                                            </th>

                                                                            <th>Full Marks </th>
                                                                            <th>Passing Marks </th>
                                                                            <th>Obtain Marks </th>

                                                                            <th>Result </th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (ViewBag.marklist != null)
                                                                        {
                                                                            foreach (var item in ViewBag.marklist)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @item.SubjectName
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Fullmarks

                                                                                    <td>
                                                                                        @item.Minmarks
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Get_marks
                                                                                    </td>
                                                                                    @if (@item.Minmarks >= @item.Get_marks)
                                                                                    {

                                                                                        <td>
                                                                                            <input type="button" class="btn btn-success" value="Pass" />
                                                                                        </td>
                                                                                    }

                                                                                    else if (@item.Minmarks < @item.Get_marks)
                                                                                    {
                                                                                        <td>
                                                                                            <input type="button" class="btn btn-danger" value="Fail" />
                                                                                        </td>
                                                                                    }
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                    @*}
                                                                        }*@

                                                                </table>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div id="earnings_8" class="tab-pane fade" role="tabpanel">
                                <div class="pull-right">
                                    <input type="button" class="btn btn-info" value="Upload Documents" onclick="GetDetailsdocs()" />
                                </div>

                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>Name</th>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.studentlistdocs != null)
                                        {

                                            foreach (var item in ViewBag.studentlistdocs)
                                            {
                                                <input type="text" class="form-control" id="stuiddoc" name="stuiddoc" value="@item.UserName" placeholder="ID" hidden="hidden" style="visibility:hidden" />

                                                <tr>


                                                    <td>@item.Title1</td>
                                                    <td>@item.Documents1</td>

                                                    <td>

                                                        <a href="~/Content/Profile/Documents/@item.Documents1" download>  <i class="fa fa-download font-22 txt-primary" aria-hidden="true" , data_toggle="tooltip" title="Download"></i></a> |
                                                        <a href='#' onclick='Delete()'><i class="fa fa-trash font-22 txt-danger" , data_toggle="tooltip" title="Delete"> </i> </a>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div id="settings_8" class="tab-pane fade" role="tabpanel">
                                <div class="col-md-12">


                                    <div class="pull-right">

                                        <input type="button" class="btn btn-info" value="Add" onclick="GetTime()" />

                                    </div> @if (ViewBag.studentlisttimeline != null)
                                    {

                                        foreach (var item in ViewBag.studentlisttimeline)

                                        {
                                            @*<li>@item.Date</li>
                                                <i class="fa fa-list-alt bg-blue"></i>
                                                <h1>@item.description</h1>*@
                                            <div class="col-md-12">
                                                <h5 style="color:blue"> @item.Date</h5>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-2">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="sl-content">
                                                            <p class="inline-block"><span class="capitalize-font txt-danger mr-8 weight-500">@item.Title1</span></p>
                                                            <span class="block txt-grey font-12 capitalize-font">@item.Desription</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="~/Content/Profile/Documents/" download>  <i class="fa fa-download font-22 txt-primary" aria-hidden="true" , data_toggle="tooltip" title="Download"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Add Timeline</h5>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm(new { action = "EditCustomer1", controller = "FeesCollection", id = Model.code }))*@

                @*// @using (Html.BeginForm(new { action = "addtimeline", controller = "Student" },FormMethod.Post, new { enctype = "multipart/form-data" } ))*@
                @using (Html.BeginForm("addtimeline", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.UserName, new { @id = "feeid" })

                            <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-6">Title *</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txtname" name="Title" placeholder="Title" required="required">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-6">Date</label>
                                        <div class="col-md-10">
                                            <input type="date" class="form-control" id="txtdate" name="Date" placeholder="Date" required="required">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-8">Description</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txtdesc" name="Description" placeholder="Description">

                                        </div>

                                    </div>
                                </div>
                            </div><div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                        <label class="control-label col-md-8">Attach Document</label>
                                        <div class="col-md-10">


                                            <input type="file" class="form-control" id="txtfile" name="Description" placeholder="Description">

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" id="btnsave1" onclick="Update()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</div>
<div id="responsive-modal1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Add Documents</h5>

            </div>
            <div class="modal-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.AdmissionNumber, new { @id = "feeid" })

                            @*<input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">*@
                            <div class="row">
                                <div class="col-md-8">

                                    <div class="form-group">
                                        <label class="control-label col-md-8">Title</label>
                                        <div class="col-md-10">

                                            <input type="text" class="form-control" id="txTitle" name="Title" placeholder="Title" required="required">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Attach Document</label>
                                        <div class="col-md-10">
                                            <input type="file" class="form-control" id="txtfileDoc" name="Description" placeholder="Description">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" id="btnsave1" onclick="Update1()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<div id="responsive-modal23" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Change Password</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="Code" id="Code">
                                    @*<div class="col-md-6">*@
                                    <div class="form-group">
                                        @Html.Label("Email", htmlAttributes: new { @class = "control-label pl-15" })
                                        @*<span class="text-danger">*</span>*@
                                        <div class="col-md-12">
                                            <input type="email" name="Email" id="Email" class="form-control" />
                                        </div>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    @*<div class="col-md-6">*@
                                    <div class="form-group">
                                        @Html.Label("Password", htmlAttributes: new { @class = "control-label pl-15" })
                                        <span class="text-danger">*</span>
                                        <div class="col-md-12">
                                            <input type="password" name="Password" id="Password" class="form-control" />
                                        </div>
                                        @*</div>*@
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("ConfirmPassword", htmlAttributes: new { @class = "control-label pl-15" })
                                        <span class="text-danger">*</span>
                                        <div class="col-md-12">
                                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
                                            @*@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @id = "txtpass" } })
                                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-actions mt-10 col-md-12">
                                    <button type="button" class="btn btn-success  mr-10" onclick="resetPassword();"> Save</button>
                                    <button type="button" class="btn btn-default clr" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
        $("#responsive-modal1").css("display", "none");

    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
        $("#responsive-modal1").css("display", "none");
    }

</script>

<script type="text/javascript">

    function GetTime() {
        $('#responsive-modal').modal('show');
    }
    function GetDetailsdocs() {
        $('#responsive-modal1').modal('show');

    }
    function Update() {

        var empObj = {
            id: $('#feeid').val(),
            Name: $('#txtname').val(),

        };
        var id = $('#feeid').val();
        var Name = $('#txtname').val();
        var desc = $('#txtdesc').val();
        var date1 = $('#txtdate').val();
        // var file1 = $('#txtfile').val();
        var file1 = $("#txtfile").get(0);
        var file_name = $("#txtfile").val();
        var fileName = $("#txtfile").val();
        var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
        var file_data = $("#txtfile").prop("files")[0];

        var str = $("file_data").serialize();
        //  var file1 = fileData.append(files[0].name, files[0]);
        $.ajax({
            url: "/Student/addtimeline",
            data: JSON.stringify({
                'id': id, 'CAT': Name, 'desc': desc, 'date1': date1, 'File1': fileName
            }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                swal("Timeline Added")
                window.location.reload();
                $('#responsive-modal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function Update1() {
        var id = $('#feeid').val();
        var Name = $('#txTitle').val();

        var file1 = $("#txtfileDoc").get(0);
        var file_name = $("#txtfileDoc").val();
        var fileName = $("#txtfileDoc").val();
        var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
        var file_data = $("#txtfileDoc").prop("files")[0];
        var str = $("file_data").serialize();
        //  var file1 = fileData.append(files[0].name, files[0]);
        $.ajax({
            url: "/User/addDoc",
            data: JSON.stringify({
                'id': id, 'CAT': Name, 'File1': fileName
            }),
            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                swal("File Uploaded")
                window.location.reload();
                $('#responsive-modal1').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete() {
        var studentidsibnew = $('#stuiddoc').val();
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Student/Deletedoc/",
                data: JSON.stringify({ 'studentidsibnew': studentidsibnew }), //passing the data to back end
                type: "POST",
                contentType: "application/json;charset=utf-8",
                //  data: '{eid: ' + ppid + '}',
                dataType: "json",

                success: function (result) {
                    swal("Records Deleted");
                    //alert("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>

<script>
    function getCode(userId) {
        $.ajax
            ({
                url: '/User/GetCode',
                type: 'GET',
                data: { userId: userId },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $('#Code').val(result.Result);
                }
            });
    }
    function resetPassword() {
          if (document.getElementById("Email").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter EmailID',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
               
                return false;
        }
         else if (document.getElementById("Password").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter New Password  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
               
                return false;
        }
        else if (document.getElementById("ConfirmPassword").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Confirm Password  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
               
                return false;
        }


        var data = Object();
        data.id = $('#staffId').val();
        data.Code = $('#Code').val();
        data.Email = $('#Email').val();
        data.Password = $('#Password').val();
        data.ConfirmPassword = $('#ConfirmPassword').val();
        $.ajax
            ({
                url: '/User/ResetPassword',
                type: 'POST',
                data: { model: data },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result == true) {
                        $("#responsive-modal23").hide();
                        $.toast({
                            //heading: '2 new messages',
                            text: 'Password changed successfully.',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        return false;
                    }
                    else {
                        $.toast({
                            //heading: '2 new messages',
                            text: 'Password should contain minimun 6 characters least one Capital, one small and one digit.',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        return false;
                    }
                }
            });
    }
</script>
<script type="text/javascript">
    $('#ConfirmPassword').change(function () {
        var selection = $('#ConfirmPassword').val();
        var Password = $('#Password').val();
        if (selection.length > 0) {
            $.post("/User/Getconfirmpassword", { ConfirmPassword: selection, Password: Password },
                function (data) {
                    if (data == "True") {
                        $.toast({
                            //heading: '2 new messages',
                            text: ' The ConfirmPassword should be same as  Entered Password ',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        $('#ConfirmPassword').val('');
                    }
                })
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#responsive-modal23").hide();
        $("#responsive-modal23").click(function () {
            $("#responsive-modal23").show();
        });
        $('.close').click(function () {
            $("#responsive-modal23").hide();
        });
        $('.clr').click(function () {
            $("#responsive-modal23").hide();
        });
    });
</script>
