﻿@model SmartSchool.Models.StudentResult

@{
    ViewBag.Title = "StudentQuizResult";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<style>
    .btn-group,
    .btn-group-vertical {
        position: relative;
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "> <i class="fa fa-money"></i> Test Result</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Back To List" onclick="location.href='@Url.Action("StudentDashBoard", "User")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default card-view">
    <div class="panel-wrapper collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-wrap">
                        <div class="form-body">
                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>Test Results List</h6>
                            <hr class="light-grey-hr" />
                            <div class="panel panel-default card-view mt-50">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            @*<button type="button" id="sendsms" class="btn btn-danger pull-right" value="Send SMS">Send SMS</button>*@
                                            <table id="example" class="table table-hover display  pb-30">

                                                <thead>
                                                    <tr>
                                                        <th>
                                                            SL NO
                                                        </th>
                                                        <th>
                                                            Class Name
                                                        </th>
                                                        <th>
                                                            Subject Name
                                                        </th>
                                                        <th>
                                                            Total Marks
                                                        </th>
                                                        <th>
                                                            Scored Marks
                                                        </th>

                                                        <th>
                                                            Quiz Taken Date
                                                        </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{
                                                        int sno = 0;
                                                    }
                                                    @foreach (var item in ViewBag.StudentQuizResult)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ sno++; }
                                                                @sno
                                                            </td>
                                                            <td>
                                                                @item.classes
                                                            </td>
                                                            <td>
                                                                @item.name
                                                            </td>
                                                            <td>
                                                                @item.TotalMarks
                                                            </td>
                                                            <td>
                                                                @item.ScoredMarks
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
