﻿
@{
    ViewBag.Title = "Syllabus";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 class="txt-info capitalize-font">  <i class="fa fa-download"></i> Download Center</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Studentdashboard", "User")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-lg-12 col-xs-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0">
                    <div class="col-lg-12 pb-10">
                        <h6 class="txt-dark capitalize-font">Syllabus List</h6>
                        <br />
                        <div class="table-wrap panel-wrapper collapse in">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">
                                </div>
                                <table id="example" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Type
                                            </th>

                                            <th>
                                                Date
                                            </th>

                                            <th>
                                                Action
                                            </th>


                                        </tr>

                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.studentdetails)
                                        {

                                            @*<input type="text" class="form-control" maxlength="11" id="fegrp" style="visibility:hidden"
                            value="@item.id" />*@

                                            <input type="text" class="form-control" id="txtfeemastrd" style="visibility:hidden"
                                                   value="@item.SubName" />
                                            <tr>
                                                <td>@item.SubName</td>
                                                <td>
                                                    @item.Title1

                                                    @*@item.fegroupid: @item.PropertyType = @item.GetValue(ViewBag.studentlist)*@
                                                </td>
                                                <td>
                                                    @item.Date
                                                </td>

                                                <td>

                                                    <a href="~/Content/Content/@item.File" download>  <i class="fa fa-download" aria-hidden="true"></i></a>
                                                </td>


                                            </tr>
                                        }

                                    </tbody>


                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

