﻿
@{
    ViewBag.Title = "AngularTest";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">


<body>

    <script src="~/Scripts/angular.min.js"></script>

    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
    </div>

</body>
</html>

