﻿@model SmartSchool.Models.InstitutionDetail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>InstitutionDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.college_id)

        @Html.HiddenFor(model => model.branch_id)

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">

                        <div >
                           
                                <h4 style="color:#f742aa; font-weight:bolder ; ">Institution Details</h4>
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <form class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.college_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.college_name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.college_name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.branch_description, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.branch_description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.branch_description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.branch_address, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.branch_address, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.branch_address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.place, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.place, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.place, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.pin_code, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.pin_code, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.pin_code, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.phone_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.phone_no, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.phone_no, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Edit" class="btn btn-info" />
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
