﻿@model SmartSchool.Models.InstitutionDetail

@{
    ViewBag.Title = "InstitutionDetailsView";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


@if (ViewBag.result != null)
{
    <script>
        alert("@ViewBag.result");
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div>
                        <center>
                            <h4 class="pull-left" style="color:#f742aa">@SmartSchool.Resources.Resource1.Institution Details</h4>
                        </center>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.College Name", htmlAttributes: new { @class = "col-sm-6 control-label" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-university"></i></div>
                                                        @Html.EditorFor(model => model.college_name, new { htmlAttributes = new { @class = "form-control",required = "required", placeholder = "College Name" } })
                                                        @Html.ValidationMessageFor(model => model.college_name, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.College ID", htmlAttributes: new { @class = "col-sm-6 control-label" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                                        @Html.EditorFor(model => model.college_id, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "College ID"} })
                                                        @Html.ValidationMessageFor(model => model.college_id, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Branch Name", htmlAttributes: new { @class = "col-sm-6 control-label" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-code-fork"></i></div>
                                                        @Html.EditorFor(model => model.branch_description, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Branch Name" } })
                                                        @Html.ValidationMessageFor(model => model.branch_description, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Branch ID", htmlAttributes: new { @class = "col-sm-6 control-label" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                                        @Html.EditorFor(model => model.branch_id, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Branch ID" } })
                                                        @Html.ValidationMessageFor(model => model.branch_id, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.Label("@SmartSchool.Resources.Resource1.Branch Address", htmlAttributes: new { @class = "col-sm-6 control-label" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-map"></i></div>
                                                        @Html.EditorFor(model => model.branch_address, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Branch Address" } })
                                                        @Html.ValidationMessageFor(model => model.branch_address, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.place, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                                        @Html.EditorFor(model => model.place, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Place" } })
                                                        @Html.ValidationMessageFor(model => model.place, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "City" } })
                                                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-align-center"></i></div>
                                                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "State" } })
                                                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Country" } })
                                                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.pin_code, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-pinterest"></i></div>
                                                        @Html.EditorFor(model => model.pin_code, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Pin" } })
                                                        @Html.ValidationMessageFor(model => model.pin_code, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.phone_no, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                        @Html.EditorFor(model => model.phone_no, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Phone" } })
                                                        @Html.ValidationMessageFor(model => model.phone_no, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-mail-reply"></i></div>
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Email" } })
                                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-wikipedia-w"></i></div>
                                                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Website" } })
                                                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-fax"></i></div>

                                                        @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Fax" } })
                                                        @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <input type="submit" value="Save" class="btn btn-info pull-right" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <h4 style="color:#f742aa">@SmartSchool.Resources.Resource1.Institution Details List</h4>
                <div class="panel-body">
                    <div class="col-md-12">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tr>

                                    <th>
                                        @SmartSchool.Resources.Resource1.College Name
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.College ID
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Branch ID
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Branch Address
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Place
                                    </th>

                                    <th>
                                        @SmartSchool.Resources.Resource1.City
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.State
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Email
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Phone
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Website
                                    </th>
                                    <th>
                                        @SmartSchool.Resources.Resource1.Options
                                    </th>

                                </tr>

                                @foreach (var item in ViewBag.institutedetailsist)
                                {
                                    <tr>

                                        <td>
                                            @item.college_name
                                        </td>
                                        <td>
                                            @item.college_id
                                        </td>
                                        <td>
                                            @item.branch_id
                                        </td>
                                        <td>
                                            @item.branch_address
                                        </td>
                                        <td>
                                            @item.place
                                        </td>

                                        <td>
                                            @item.city
                                        </td>
                                        <td>
                                            @item.state
                                        </td>

                                        <td>
                                            @item.email
                                        </td>
                                        <td>
                                            @item.phone_no
                                        </td>

                                        <td>
                                            @item.website
                                        </td>
                                        @if (item.branch_id == 1)
                                        {
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.college_id, branh_id = item.branch_id }) | <input type="button" value="Add Branch" onclick="add_branch(@item.college_id, @item.branch_id)" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.college_id, branh_id = item.branch_id })
                                            </td>
                                        }
                                    </tr>
                                }

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function add_branch(clgid, brhid) {
        $.ajax({
            url: '/SuperAdmin/editajax',
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            async: false,
            data: JSON.stringify({ 'clgid': clgid, 'brhid': brhid }),
            success: function (response) {
                $('#college_name').val(response.lid[0].college_name).prop("readonly", true);
                $('#college_id').val(response.lid[0].college_id).prop("readonly", true);
                $('#branch_id').val((response.lid[0].branch_id) + 1).prop("readonly", true);
                $('#branch_description').focus();
            },
            error: function (e) {
                alert('fail');
            }
        });


    };

</script>


