﻿
@{
    ViewBag.Title = "ImageCapture";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@section webcamIntegrationScripts{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src='<%=ResolveUrl("~/jsfiles/jquery.webcam.js") %>' type="text/javascript"></script>
}

<h2>ImageCapture</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <form id="form1" runat="server">

                <br />
                <button id="btnCapture" title="Capture Image" OnClientClick="return Capture();" BackColor="#FF9933" />
                <br />
                <br />
                <br />
                <table border="1">
                    <tr>
                        <td>
                            Live Image From WebCam<br />
                            <div id="Camera"></div>
                        </td>
                        <td>
                            Captured Image<br />

                            <img id="imgCapture" Style="visibility: hidden; width: 320px;  height: 240px" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var pageUrl = '<%=ResolveUrl("~/ImageCapture") %>';
    $(function () {
        jQuery("#Camera").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: '<%=ResolveUrl("~/jsfiles/jscam.swf") %>',
            debug: function (type, status) {
                //$('#Status').append(type + ": " + status + '<br /><br />');
            },
            onSave: function (data) {
                $.ajax({
                    type: "POST",
                    url: pageUrl + "/GetCapturedImage",
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        $("[id*=imgCapture]").css("visibility", "visible");
                        $("[id*=imgCapture]").attr("src", r.d);
                        alert("Live Image Captured Successfully");
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            },
            onCapture: function () {
                webcam.save(pageUrl);
            }
        });
    });
    function Capture() {
        webcam.capture();
        return false;
    }
</script>
