﻿@model SmartSchool.Models.AddClass
@{
    ViewBag.Title = "playVideos";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<style>
    .width {
        width: 125px;
    }

    .txtcolor {
        color: deepskyblue;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.View Video's Section</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <div class="">
                        <div class="col-lg-3 col-md-4 file-directory pa-0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="file-manager">
                                        <div class="mt-20 mb-20 ml-15 mr-15">
                                            <div class="fileupload btn btn-success btn-anim btn-block">
                                                <i class="fa fa-upload"></i><span class="btn-text">Upload files</span>
                                                <input type="file" class="upload">
                                            </div>
                                        </div>
                                        <div class="pl-15 mb-30">
                                            <a href="#" class="file-control active">All Videos</a>

                                        </div>

                                        <h6 class="mb-10 pl-15">Filter</h6>
                                        <ul class="folder-list mb-30">
                                            <li><a href="#"><i class="zmdi zmdi-search-for"></i><b class="txtcolor">CLASSES</b></a></li>
                                            <li class="active">

                                                <i class="zmdi zmdi-select-all"></i> @Html.DropDownListFor(model => model.class_name, new SelectList(ViewBag.classlist, "Value", "Text"), "Select", new { @class = "width" })

                                            </li>

                                            <li><a href="#"><i class="zmdi zmdi-search-for"></i><b class="txtcolor">SUBJECTS</b></a></li>
                                            <li><i class="zmdi zmdi-select-all"></i> @Html.DropDownList("subject_id", new List<SelectListItem>(), new { @class = "width" })</li>

                                        </ul>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 file-sec pt-20">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row" id="contentHolder">

                                        @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
            <div class="file">
                <a href="#">
                    <div class="icon">
                        <video src="~/Content/Videos/videoplayback.mp4" id="vi1" controls="controls" width="179" height="120"></video>
                    </div>
                    <div class="file-name">
                        Monica's birthday.mpg4
                        <br>
                        <span>Added: Fab 18, 2016</span>
                    </div>
                </a>
            </div>
        </div>*@
                                        @*@if (ViewBag.getVideos != null)
                                        {
                                            foreach (var item in ViewBag.getVideos)
                                            {
                                        <div class="col-sm-4 col-md-4 col-xs-12">
                                            <div class="title">Name</div>
                                            <div class="video-frame">
                                                <video style="width:100%; height:auto;" controls>
                                                    <source src="/Content/Videos/(@item.Folder+"@item.filepath) type="video/mp4" />
                                                </video>
                                            </div>
                                        </div>
                                            }
                                        }*@
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row" id="contentHolder">

                                        @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                                            <div class="file">
                                                <a href="#">
                                                    <div class="icon">
                                                        <video src="~/Content/Videos/videoplayback.mp4" id="vi1" controls="controls" width="179" height="120"></video>
                                                    </div>
                                                    <div class="file-name">
                                                        Monica's birthday.mpg4
                                                        <br>
                                                        <span>Added: Fab 18, 2016</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#class_name').on('change', function () {
            var ddlclass = $(this).val();
            $('#subject_id').empty();
            $("#subject_id").html("<option value=''>Select Subject</option>");
            $.ajax({
                method: 'POST',
                url: '/VideoSection/getSubjects',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#subject_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#subject_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#subject_id').on('change', function () {
            $("#contentHolder").empty();
            var ddlsubject_id = $(this).val();
            var ddlclass = $('#class_name').val();
            var ddlText = $('#class_name option:selected').text().replace(/[^0-9]/gi, '');
            var intclassid = parseInt(ddlText, 10);
            var appendclassidSub = intclassid + $('#subject_id option:selected').text();
            $.ajax({
                method: 'POST',
                url: '/VideoSection/getVideos',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlsubid': ddlsubject_id, 'ddlclass': ddlclass }),
                success: function (data) { 
                    if (data == 0) {

                       // $("#contentHolder").append("<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box'><div class='file'><div class='file-name'> " + NoDataAvailable + " <br></div></div></div>");
                        $.toast({
                         
                            text: 'No Videos available for this Class and Subject',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        return false;                     
                    }
                    
                    else {
                        $.each(data, function (i) {
                           var src1 = '/Content/Videos/'; 
                            var src2 ='';                                                  
                            if (src1 + data[i].Folder) {
                                src2 = src1 + data[i].Folder;                                
                                if (src2 != null) {
                                    $("#contentHolder").append("<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box'><div class='file'><a href='#'><div class='icon' > <video src='/Content/Videos/"+ data[i].Folder +"/"+ data[i].filepath + ".mp4' controls='controls' width='179' height='120'></video><div class='file-name'> " + data[i].title + " <br></div></div></a></div></div>");
                                }  
                            }                            
                        });
                    }
                }
            });
        });
    });
</script>

