﻿@model SmartSchool.SchoolMasterClasses.StudentInformation
@{
    ViewBag.Title = "student_report";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Reports</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h4 style="color:#f742aa; font-weight:bold"><i class="zmdi zmdi-account mr-10"></i>@SmartSchool.Resources.Resource1.Student Report</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">

                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-wrap">
                                                <div class="form-body">
                                                    <hr class="light-grey-hr" />
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.Class, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "----Select Category----", new { @class = "form-control", required = "required" })

                                                                    @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.Section, (IEnumerable<SelectListItem>)ViewBag.viewbagsectionlist, "----Select Category----", new { @class = "form-control", required = "required" })

                                                                    @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.viewbagsectionlist, "----Select Category----", new { @class = "form-control", required = "required" })

                                                                    @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.Section, new List<SelectListItem>                  { new SelectListItem{Text="Male", Value="Male"},
                        new SelectListItem{Text="Female", Value="Female"}}, "Please select", new { @class = "form-control", required = "required" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.RTE, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.RTE, new List<SelectListItem>                  { new SelectListItem{Text="Yes", Value="Yes"},
                              new SelectListItem{Text="No", Value="No"}}, "Please select", new { @class = "form-control", required = "required" })
                                                                    @Html.ValidationMessageFor(model => model.RTE, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (rol.can_add == 1)
                                                        {
                                                            <div class="col-md-3">
                                                                <label></label>
                                                                <div class="form-group">
                                                                    <input type="submit" name="Submit" value="Search" class="btn btn-info" />
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <hr class="light-grey-hr" />


                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="panel panel-default card-view">
                                                        <div class="panel-heading">
                                                            <div class="pull-left">
                                                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Student Report List</h6>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="table-wrap">
                                                                    <div class="table-responsive">
                                                                        <table id="example" class="table table-hover display  pb-30">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.Section)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.AdmissionNumber)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.FirstName)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.FatherName)
                                                                                    </th>

                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.DateOfBirth)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.Gender)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.Category)
                                                                                    </th>

                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.MobileNumber)
                                                                                    </th>

                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.NationalIdentificationNumber)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.LocalIdentificationNumber)
                                                                                    </th>
                                                                                    <th>
                                                                                        @Html.DisplayNameFor(model => model.RTE)
                                                                                    </th>

                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>

                                                                                @foreach (var item in ViewBag.studentlist)
                                                                                {
                                                                                    <tr>
                                                                                        <td>
                                                                                            @item.Section
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.AdmissionNumber
                                                                                        </td>

                                                                                        <td>
                                                                                            @item.FirstName
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.FatherName
                                                                                        </td>

                                                                                        <td>
                                                                                            @item.DateOfBirth
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.Gender
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.Category
                                                                                        </td>

                                                                                        <td>
                                                                                            @item.MobileNumber
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.NationalIdentificationNumber
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.LocalIdentificationNumber
                                                                                        </td>
                                                                                        <td>
                                                                                            @item.RTE
                                                                                        </td>

                                                                                        @*<td>
                                                                                                @Html.ActionLink("Edit", "Edit", new { id = item.AdmissionNumber }) |
                                                                                                @Html.ActionLink("Details", "Details", new { id = item.AdmissionNumber }) |
                                                                                                @Html.ActionLink("Delete", "Delete", new { id = item.AdmissionNumber })
                                                                                            </td>*@
                                                                                    </tr>
                                                                                }

                                                                            </tbody>


                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}







