﻿@model IEnumerable<SmartSchool.Models.fee_deposit_amountdetails>


@{
    ViewBag.Title = "Transaction_report";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("Transaction_report", "Report", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <h5 style="color:#f742aa; font-weight:bold">@SmartSchool.Resources.Resource1.Report</h5>

                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">

                                    <h5 style="color:#f742aa; font-weight:bold">@SmartSchool.Resources.Resource1.Search Transaction</h5>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="form-wrap">

                                                    <div class="form-body">
                                                        <hr class="light-grey-hr" />

                                                        @using (Html.BeginForm("Transaction_report", "Report", FormMethod.Get, new { fromDate = "fromDate", toDate = "toDate " }))
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.Label("@SmartSchool.Resources.Resource1.From Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                                                        <div class="col-md-10">
                                                                            <input type="date" id="fromDate" name="fromDate" class="form-control col-md-4 " required="required" />

                                                                            @*@Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control", @required = "required",type="Date" } })*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.Label("@SmartSchool.Resources.Resource1.To Date", htmlAttributes: new { @class = "control-label col-md-3" })
                                                                        <div class="col-md-10">
                                                                            <input type="date" id="toDate" name="toDate" class="form-control col-md-4" required="required" />
                                                                            @*@Html.Editor("toDate", new { htmlAttributes = new { @class = "form-control", @required = "required", type = "Date" } })*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="pull-right">
                                                                    <input type="submit" id="btnsearch" class="btn btn-info" value="Search" onclick="location.href='@Url.Action("Transaction_report", "Report")'" />
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*< br />*@
                    @*<br />*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Transaction Report: <text style="color:red">@ViewBag.datedisplay</text></h6>

                                                <div class="row">
                                                    <div class="tab-struct custom-tab-1 mt-40">
                                                        <ul role="tablist" class="nav nav-tabs" id="myTabs_7">
                                                            @*<li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">All</a></li>*@

                                                            <li role="presentation" class="">
                                                                <a data-toggle="tab" id="myTabDrop_7" role="tab" href="#Supplier1" aria-expanded="true">@SmartSchool.Resources.Resource1.Fee Collection Details</a>
                                                            </li>
                                                            <li role="presentation" class="">
                                                                <a data-toggle="tab" id="myTabDrop_8" role="tab" href="#Supplier2" aria-expanded="true">@SmartSchool.Resources.Resource1.Income Details</a>
                                                            </li>
                                                            <li role="presentation" class="">
                                                                <a data-toggle="tab" id="myTabDrop_7" role="tab" href="#Supplier3" aria-expanded="true">@SmartSchool.Resources.Resource1.Expense Details</a>
                                                            </li>

                                                        </ul>

                                                        <div class="tab-content" id="myTabContent_7">
                                                            @*Fee Details*@
                                                            <div id="Supplier1" class="tab-pane fade " role="tabpanel">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-wrapper collapse in">
                                                                        <div class="panel-body">
                                                                            <div class="table-wrap mt-25">
                                                                                <div class="table-responsive">
                                                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                                                    </div>
                                                                                    <table id="example1" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info" border="1">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Payment ID
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Date
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Name
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Class
                                                                                                </th>

                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Fee Type
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Mode
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Amount (Rs.)
                                                                                                </th>


                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Discount (Rs.)
                                                                                                </th>


                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Fine (Rs.)
                                                                                                </th>

                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Total (Rs.)
                                                                                                </th>

                                                                                            </tr>
                                                                                        </thead>
                                                                                        @*<tfoot>

                                                                                                <tr class="box box-solid total-bg">
                                                                                                    <td class="text-right" colspan="7">Total :Rs.</td>
                                                                                                    <th>Total Amount :@ViewBag.total</th>
                                                                                                    <th>Total Discount :@ViewBag.Dictotal</th>
                                                                                                    <th>Total Fine :@ViewBag.finetotal</th>
                                                                                                    <th>Total Amount :</th>
                                                                                                </tr>

                                                                                            </tfoot>*@
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th>Total Amount : @ViewBag.total </th>
                                                                                                <th>RS :@ViewBag.Dictotal </th>
                                                                                                <th>RS : :@ViewBag.finetotal</th>
                                                                                                <th>Rs : @ViewBag.alltotal </th>
                                                                                            </tr>
                                                                                        </tfoot>

                                                                                        <tbody>
                                                                                            @{
                                                                                                double tot = 0;
                                                                                                if (ViewBag.feedetails != null)
                                                                                                {
                                                                                                    foreach (var item in ViewBag.feedetails)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                @item.id
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Date.ToString("dd/MM/yyyy")
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Name
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Class
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Feetype
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.mode
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.amount
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Discount
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.fine
                                                                                                            </td>

                                                                                                            @{
                                                                                                                double am = @item.amount;
                                                                                                                double dis = Convert.ToDouble(@item.Discount);
                                                                                                                double fn = Convert.ToDouble(@item.fine);

                                                                                                                double min = am - dis;
                                                                                                                tot = min + fn;
                                                                                                            }



                                                                                                            <td>
                                                                                                                @tot
                                                                                                            </td>

                                                                                                        </tr>


                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </tbody>

                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*IPD*@
                                                            <div id="Supplier2" class="tab-pane fade " role="tabpanel">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-wrapper collapse in">
                                                                        <div class="panel-body">
                                                                            <div class="table-wrap mt-25">
                                                                                <div class="table-responsive">
                                                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                                                    </div>
                                                                                    <table id="example2" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info" border="1">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Income Id
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Date
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Income Head
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Name
                                                                                                </th>

                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Invoice Number
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Amount (Rs.)
                                                                                                </th>
                                                                                            </tr>

                                                                                        </thead>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th>Total Amount :   @ViewBag.tot</th>
                                                                                                <th>
                                                                                                    @*@Model.Sum(i => i.IPDAmount)*@

                                                                                                </th>

                                                                                            </tr>
                                                                                        </tfoot>
                                                                                        <tbody>
                                                                                            @{ if (ViewBag.incmm != null)
                                                                                                {
                                                                                                    foreach (var item in ViewBag.incmm)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                @item.id
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Date
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Expense_Head
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Name
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.InvoiceNo
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                @item.Amount
                                                                                                            </td>


                                                                                                        </tr>

                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*Bloodbank*@
                                                            <div id="Supplier3" class="tab-pane fade " role="tabpanel">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-wrapper collapse in">
                                                                        <div class="panel-body">
                                                                            <div class="table-wrap mt-25">
                                                                                <div class="table-responsive">
                                                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                                                    </div>
                                                                                    <table id="example3" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info" border="1">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Expense Id
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Date
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Expense Head
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Name
                                                                                                </th>

                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Invoice Number
                                                                                                </th>
                                                                                                <th>
                                                                                                    @SmartSchool.Resources.Resource1.Amount (Rs.)
                                                                                                </th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>
                                                                                                <th></th>

                                                                                                <th>@SmartSchool.Resources.Resource1.Total Amount : </th>
                                                                                                <th>
                                                                                                    @*@Model.Sum(i => i.Amount)*@
                                                                                                    @ViewBag.tot1
                                                                                                </th>

                                                                                            </tr>
                                                                                        </tfoot>
                                                                                        <tbody>

                                                                                            @if (ViewBag.exprep != null)
                                                                                            {
                                                                                                foreach (var item in ViewBag.exprep)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @item.id
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Date
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Expense_Head
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Name
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.InvoiceNo
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Amount
                                                                                                        </td>


                                                                                                    </tr>

                                                                                                }
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#btnsearch").click(function () {



            if (document.getElementById("fromDate").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select FromDate',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("toDate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select ToDate',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>





<script>
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress", function (e) {
        time = new Date().getTime();
    });

    function refresh() {
        if (new Date().getTime() - time >= 60000)
            window.location.reload(true);
        else
            setTimeout(refresh, 10000);
    }

    setTimeout(refresh, 10000);
</script>




















