﻿@model SmartSchool.Models.content

@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Download_Center</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm("Content", "DownloadCenter", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Upload_Content</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Title</label>
                                                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Content_Type</label>
                                                        @Html.DropDownListFor(Model => Model.type, (IEnumerable<SelectListItem>)ViewBag.selectedct as SelectList, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(m => m.type, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <br />

                                                <div class="col-md-12">
                                                    <label class="form-group">@SmartSchool.Resources.Resource1.AVAILABLE_FOR</label><br />
                                                    @Html.CheckBox("Admin")@SmartSchool.Resources.Resource1.All_Super_Admin<br />
                                                    @Html.CheckBox("Student")@SmartSchool.Resources.Resource1.Student<br />


                                                </div>

                                                <div>
                                                    <div class="col-md-12">


                                                        <div class="form-group">
                                                            @Html.CheckBox("Allclasses")@SmartSchool.Resources.Resource1.Available_For_All_classes
                                                            <br />
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class</label>
                                                            @Html.DropDownListFor(Model => Model.class_id, (IEnumerable<SelectListItem>)ViewBag.selectedclass, "Select", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section</label>
                                                            @Html.DropDownListFor(m => m.cls_sec_id, new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", id = "cls_sec_id" })
                                                            @Html.ValidationMessageFor(m => m.cls_sec_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                                        <input type="date" id="udate" name="udate" class="form-control" required="required" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Video Link</label>
                                                        @Html.EditorFor(model => model.videopathlink, new { htmlAttributes = new { @class = "form-control" } })
                                    
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Content_file</label>
                                                        <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>


                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">
                                    @SmartSchool.Resources.Resource1.Content_List
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.CONTENT_TITLE
                                                        </th>
                                                        <th>@SmartSchool.Resources.Resource1.Type</th>
                                                        <th>@SmartSchool.Resources.Resource1.Date</th>
                                                        <th>@SmartSchool.Resources.Resource1.Super_Admin</th>
                                                        <th>@SmartSchool.Resources.Resource1.Students</th>
                                                        <th>@SmartSchool.Resources.Resource1.For_All_classes</th>
                                                        <th>@SmartSchool.Resources.Resource1.Class</th>
                                                        <th>@SmartSchool.Resources.Resource1.Action </th>
                                                    </tr>
                                                <thead>
                                                <tbody>
                                                    @{ int slno = 0;}
                                                    @foreach (var item in ViewBag.Syllabuslist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>
                                                            <td>
                                                                @item.Title
                                                            </td>
                                                            <td>
                                                                @item.Contentname
                                                            </td>
                                                            <td>
                                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                            </td>
                                                            <td>
                                                                @item.Allsuperadmin
                                                            </td>
                                                            <td>
                                                                @item.Student
                                                            </td>
                                                            <td>
                                                                @item.Forallclasses
                                                            </td>
                                                            <td>
                                                                @item.Class
                                                            </td>
                                                            <td>

                                                                <a href="~/Content/Content/@item.FilePath" download>  <i class="fa fa-download" aria-hidden="true"></i></a>
                                                            </td>

                                                            <td>

                                                                @*@Html.ActionLink(" ", "EditContent", new { id = item.Cid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })*@
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "Deletecontent", new { id = item.Cid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on('change', '#Allclasses', function () {
            if ($(this).prop('checked')) {
                $('#class_id').attr('disabled', 'disabled');
                $('#cls_sec_id').attr('disabled', 'disabled');
            } else {
                $('#class_id').removeAttr('disabled');
                $('#cls_sec_id').removeAttr('disabled');
            }
        });

        $("#btnsave").click(function () {

            var clc = document.getElementById("title").value
            //alert(clc);

            if (clc == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the title',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#call dureation').focus();
                return false;
            }
            else if (document.getElementById("type").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select type  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#type').focus();
                return false;
            }

            else if (document.getElementById("udate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select the date  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#udate').focus();
                return false;
            }
            else if (document.getElementById("note").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the Description  ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                $('#note').focus();
                return false;
            }

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#cls_sec_id').empty();
            $("#cls_sec_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/DownloadCenter/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (index, row) {

                        $("#cls_sec_id").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                    });

                }
            });
        });
    });
</script>
@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["result"]';

            $.toast({

                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 3500,
                     stack: 6
                 });
        });
    </script>
}
<script>
    $(document).ready(function () {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        $('#udate').val(moment(output).format("YYYY-MM-DD"));

    });
</script>


