﻿@model SmartSchool.Models.content

@{
    ViewBag.Title = "EditContent";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Edit_Content</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cid)
                            <form>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.CONTENT_TITLE</label>
                                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Content_Type</label>
                                            @Html.DropDownListFor(Model => Model.type, (IEnumerable<SelectListItem>)ViewBag.selectedct as SelectList, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.type, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class</label>
                                            @Html.DropDownListFor(Model => Model.class_id, (IEnumerable<SelectListItem>)ViewBag.selectedclass as SelectList, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.class_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Section</label>
                                            
                                            @Html.ValidationMessageFor(m => m.cls_sec_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Description</label>
                                            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Status</label>
                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(m => m.is_active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                        
                              

                               


                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-info" />
                                    </div>
                                </div>


                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Content")
</div>

