﻿@model SmartSchool.Models.content

@{
    ViewBag.Title = "Other";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Download_Center</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="col-md-14">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">
                                @SmartSchool.Resources.Resource1.Other_Download_List
                            </h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Sl_No.
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.CONTENT_TITLE
                                                    </th>
                                                    <th>@SmartSchool.Resources.Resource1.Type</th>
                                                    <th>@SmartSchool.Resources.Resource1.Date</th>
                                                    <th>@SmartSchool.Resources.Resource1.AVAILABLE_FOR</th>
                                                    <th>@SmartSchool.Resources.Resource1.Action </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int slno = 0; }
                                                @foreach (var item in ViewBag.Syllabuslist)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{slno++;}
                                                            @slno
                                                        </td>
                                                        <td>
                                                            @item.Title
                                                        </td>


                                                        <td>
                                                            @item.Contentname
                                                        </td>
                                                        <td>
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                        </td>
                                                        <td>
                                                            @item.Available
                                                        </td>


                                                        <td>
                                                            <a href="~/Content/Content/@item.FilePath" download>  <i class="fa fa-download" aria-hidden="true"></i></a>
                                                            @if (rol.can_delete == 1)
                                                            {
                                                                @Html.ActionLink(" ", "DeleteAssignment", new { id = item.Cid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete" })
                                                            }
                                                        </td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
}

