﻿@model SmartSchool.Models.exam

@{
    /**/

    ViewBag.Title = "Exam";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 36, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {


            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add Exam</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name </label>
                                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Note</label>
                                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(m => m.note, "", new { @class = "text-danger" })
                                                    </div>
                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Exam List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>
                                                        <th>@SmartSchool.Resources.Resource1.Action</th>
                                                    </tr>
                                                <thead>
                                                <tbody>
                                                    @{ int slno = 0;}
                                                    @foreach (var item in ViewBag.Examlist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>
                                                            <td>
                                                                @item.name
                                                            </td>


                                                            <td>
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "EditExam", new { id = item.eid }, new { @class = "fa fa-edit font-22 txt-warning mr-10", data_toggle = "tooltip", @title = "Edit" })
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    @Html.ActionLink(" ", "DeleteCategory", new { id = item.eid }, new { @class = "fa fa-trash font-22 txt-danger", data_toggle = "tooltip", @title = "Delete", onclick = "return confirm('Are sure wants to delete?');" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script>
    $(document).ready(function () {
        $("#btnsave").click(function () {
            var clc = document.getElementById("name").value
            if (document.getElementById("name").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>


