﻿@model SmartSchool.Classes.Exam_schedulesdata

@{
    ViewBag.Title = "Examschedule";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa;" class="glyphicon glyphicon-edit">@SmartSchool.Resources.Resource1.Examinations </h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Schedule Details" onclick="location.href='@Url.Action("ExamscheduleDetails", "Examination")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 37, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Exam_Schedule</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class</label>
                                                    @Html.DropDownListFor(Model => Model.Class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "Select", new { @class = "form-control", id = "class_id" })
                                                    @Html.ValidationMessageFor(m => m.Class_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section</label>
                                                    @Html.DropDownList("section_id", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", id = "section_id" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Subject</label>
                                                    @Html.DropDownListFor(Model => Model.Teacher_subject_id, new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Teacher_subject_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Exam_Group</label>
                                                    @Html.DropDownListFor(Model => Model.exam_group_id, (IEnumerable<SelectListItem>)ViewBag.selectedIAGROUP as SelectList, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.exam_group_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="catDiv">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Exam_Category</label>
                                                    @Html.DropDownListFor(Model => Model.Exam_id, (IEnumerable<SelectListItem>)ViewBag.selectedexam as SelectList, new { @class = "form-control", name = "examdropdown" })
                                                    @Html.ValidationMessageFor(m => m.Exam_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Full_Marks</label>
                                                    @Html.EditorFor(model => model.Full_marks, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(m => m.Full_marks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Passingmarks</label>
                                                    @Html.EditorFor(model => model.Passing_marks, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(m => m.Passing_marks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @*<input type="button" id="btnNew" class="fa fa-plus  font-22 txt-info mr-10 mt-20" />*@
                                                    @*@Html.ActionLink(" ", "Studentdashboard", new { id = item.AdmissionNumber }, new { @class = "fa fa-reorder font-22 txt-info mr-10", data_toggle = "tooltip", @title = "View" })*@
                                                    <button type="button" class="btn btn-sm btn-info btn-icon-anim btn-square mt-30" title="Click here to Add more Categories" id="btnNew"><i class="icon-plus"></i></button>
                                                    <button type="button" class="btn btn-sm btn-info btn-icon-anim btn-square mt-30" title="Click here to Remove the Categories" id="btnMinus"><i class="fa fa-minus"></i></button>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Room</label>
                                                    @Html.EditorFor(model => model.Room_no, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(m => m.Room_no, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Date</label>
                                                    <input type="date" id="Examdate" name="Examdate" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Start_Time</label>
                                                    <input type="time" id="stime" name="stime" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">@SmartSchool.Resources.Resource1.End_Time</label>
                                                    <input type="time" id="etime" name="etime" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                @if (rol.can_add == 1)
                                                {
                                                    <div class="form-group">

                                                        <input type="button" value="Save" id="btnsave" class="btn btn-info mt-20" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<!-- Row -->

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var cunt = 0;
    $('#btnNew').click(function () {
        var ele = $(this).closest('#catDiv').clone(true);
        $(this).closest('#catDiv').after(ele);
        cunt++;
    });

    $('#btnMinus').click(function () {
        var dc = $('#Exam_id').length;
        if (cunt != 0) {
            $(this).closest('#catDiv').remove();
            cunt--;
        }
        else {
            checkData("Please add Full Marks and Passing Marks for at least one Category...!");
        }
    });



</script>

<script>
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value='0'>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Examination/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });

        var ddlclass = $('#class_id').val();
        if (ddlclass != null) {
            var ddlsection = $('input[name="sectionVal"]').val();
            $('#section_id').empty();
            $("#section_id").html("<option value='0'>Select</option>");

            var div_data = "";
            $.ajax({
                type: "POST",
                url: "/Examination/callgetsec",
                data: { 'ddlclass': ddlclass },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        if (obj.section_id == ddlsection) {
                            ne = 'selected';
                        } else {
                            ne = "";
                        }
                        div_data += "<option value='" + obj.section_id + "' " + ne + " >" + obj.section + "</option>";
                    });

                    $('#section_id').append(div_data);

                }
            });
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#section_id').on('change', function () {
            var ddlsection = $('#section_id').val();
            var ddlclass = $('#class_id').val();
            // var stafid = $('#Staff_id').val();
            $('#Teacher_subject_id').empty();
            $("#Teacher_subject_id").html("<option value='0'>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Examination/Ddlsubject',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlsection': ddlsection, 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (index, row) {
                        $("#Teacher_subject_id").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                    });

                }
            });
        });
    });
</script>
<script>
    $('#btnsave').click(function () {
        var eachVal = true;
        var dataCollection = new Object();
        var clasid = $('#class_id').val();
        if (clasid == 0) {
            checkData("Please select Class..!");
            return false;
        }
        var secid = $('#section_id').val();
        if (secid == 0) {
            checkData("Please select Section..!");
            return false;
        }
        var subjectid = $('#Teacher_subject_id').val();
        if (subjectid == 0 || subjectid == null) {
            checkData("Please select Subject..!");
            return false;
        }
        var egroupid = $('#exam_group_id').val();
        if (egroupid == 0 || subjectid == null) {
            checkData("Please select Exam Group..!");
            return false;
        }
        var ecatid = [];
        var fmarks = [];
        var pmarks = [];
        $('select[name="Exam_id"]').each(function () {
            event.preventDefault();
            var eid = $(this).val();
            if (eid == 0 || eid == null) {
                checkData("Please select Category..!");
                eachVal = false;
                return false;
            }
            ecatid.push($(this).val());
        });
        if (eachVal == false) {
            return false;
        }
        $('input[name="Full_marks"]').each(function () {
            event.preventDefault();
            var fm = $(this).val();
            if (fm == 0 || fm == null) {
                checkData("Please enter Full Marks..!");
                eachVal = false;
                return false;
            }
            fmarks.push($(this).val());
        });
        if (eachVal == false) {
            return false;
        }
        $('input[name="Passing_marks"]').each(function () {
            event.preventDefault();
            var pm = $(this).val();
            if (pm == 0 || pm == null) {
                checkData("Please enter Pass Marks..!");
                eachVal = false;
                return false;
            }
            pmarks.push($(this).val());
        });
        if (eachVal == false) {
            return false;
        }
        var rnumber = $('#Room_no').val();
        if (rnumber == 0 || rnumber == null) {
            checkData("Please enter Room Number..!");
            return false;
        }
        var edate = $('#Examdate').val();
        if (edate == 0 || edate == null) {
            checkData("Please select Exam Date..!");
            return false;
        }
        var stime = $('#stime').val();
        if (stime == 0 || stime == null) {
            checkData("Please Enter Start Time..!");
            return false;
        }
        var etime = $('#etime').val();
        if (etime == 0 || etime == null) {
            checkData("Please Enter End Time..!");
            return false;
        }
        dataCollection.clasid = clasid;
        dataCollection.secid = secid;
        dataCollection.subjectid = subjectid;
        dataCollection.egroupid = egroupid;
        dataCollection.ecatid = ecatid;
        dataCollection.fmarks = fmarks;
        dataCollection.pmarks = pmarks;
        dataCollection.rnumber = rnumber;
        dataCollection.edate = edate;
        dataCollection.stime = stime;
        dataCollection.etime = etime;
        var CollectionArray = [];
        CollectionArray.push(dataCollection);

        $.ajax({
            method: 'POST',
            url: '/Examination/SaveExamSchedule',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'CollectionArray': CollectionArray }),
            success: function (data) {
                $.toast({
                    text: data,
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'success',
                    hideAfter: 5500,
                    stack: 6
                });
                //  window.location.reload();
            }
        });
    });

    function checkData(retval) {
        $.toast({
            text: retval,
            position: 'top-right',
            loaderBg: '#fec107',
            icon: 'warning',
            hideAfter: 4500,
            stack: 6
        });
    }
</script>

@if (TempData["result"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {

            var tempdata = '@TempData["result"]';
            $.toast({
                text: tempdata,
                     position: 'top-right',
                     loaderBg: '#fec107',
                     icon: 'success',
                     hideAfter: 5500,
                     stack: 6
                 });
        });
    </script>
}






