﻿@model SmartSchool.Classes.Exam_schedulesdata

@{
    ViewBag.Title = "ExamscheduleDetails";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 38, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="form-wrap mt-40">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.ClassName</label>
                                                            @Html.DropDownListFor(Model => Model.Class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "Select", new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section_Name</label>
                                                            @Html.DropDownListFor(Model => Model.Section_id, new SelectList(ViewBag.sections, "Value", "Text"), "Select", new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                        @if (rol.can_add == 1)
                                                        {
                                                            <div class="form-group">
                                                                <div class="pull-right">
                                                                    <input type="submit" value="Search" id="btnsave" class="btn btn-info" />
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Exam_Schedule_List</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dataTables_wrapper">
                                        </div>
                                        <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Sl_No.
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Exam_Category
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.ClassName
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Section_Name
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Subject_Name
                                                    </th>
                                                    <th>
                                                        @SmartSchool.Resources.Resource1.Date_Of_exam
                                                    </th>

                                                    <th>@SmartSchool.Resources.Resource1.Start_Time</th>
                                                    <th>@SmartSchool.Resources.Resource1.End_Time</th>
                                                    <th>@SmartSchool.Resources.Resource1.Room</th>
                                                    <th>@SmartSchool.Resources.Resource1.Full_Marks</th>
                                                    <th>@SmartSchool.Resources.Resource1.Passingmarks</th>

                                                </tr>
                                            <thead>
                                            <tbody>
                                                @{ int slno = 0;}
                                                @foreach (var item in ViewBag.examschedulelist)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{ slno++;}
                                                            @slno
                                                        </td>
                                                        <td>
                                                            @item.ExamName
                                                        </td>
                                                        <td>
                                                            @item.ClassName
                                                        </td>
                                                        <td>
                                                            @item.SectionName
                                                        </td>
                                                        <td>
                                                            @item.SubjectName
                                                        </td>
                                                        <td>
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date_of_exam))
                                                        </td>
                                                        <td>
                                                            @item.Start_to
                                                        </td>
                                                        <td>
                                                            @item.End_from
                                                        </td>
                                                        <td>
                                                            @item.Room_no
                                                        </td>
                                                        <td>
                                                            @item.Full_marks
                                                        </td>
                                                        <td>
                                                            @item.Passing_marks
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#Class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#Section_id').empty();
            $("#Section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Examination/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#Section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#Section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>










