﻿@model SmartSchool.Models.IAGroupMaster
@{
    ViewBag.Title = "IAGroupMaster";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 36, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {


            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-4">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Add Exam</h6>
                                </div>

                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">

                                    <div class="form-wrap mt-40">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Name </label>
                                                        @Html.EditorFor(model => model.Ianame, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.Ianame, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Mark </label>
                                                        @Html.EditorFor(model => model.maxmarks, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.maxmarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Passingmarks </label>
                                                        @Html.EditorFor(model => model.passingmaxmarks, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                        @Html.ValidationMessageFor(m => m.passingmaxmarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">

                                                    @if (rol.can_add == 1)
                                                    {
                                                        <div class="pull-right">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Save" id="btnsave" class="btn btn-info" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-8">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Exam_List</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <div id="example_wrapper" class="dataTables_wrapper">
                                            </div>
                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" title="Exam List" aria-describedby="example_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Sl_No.
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Name
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Mark
                                                        </th>
                                                        <th>
                                                            @SmartSchool.Resources.Resource1.Passingmarks
                                                        </th>

                                                        <th>@SmartSchool.Resources.Resource1.Action</th>

                                                    </tr>
                                                <thead>
                                                <tbody>
                                                    @{ int slno = 0;}
                                                    @foreach (var item in ViewBag.Examlist)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @{ slno++;}
                                                                @slno
                                                            </td>
                                                            <td>
                                                                @item.Ianame
                                                            </td>
                                                            <td>
                                                                @item.maxmarks
                                                            </td>
                                                            <td>
                                                                @item.passingmaxmarks
                                                            </td>

                                                            <td>
                                                                @if (rol.can_edit == 1)
                                                                {
                                                                    <a href='#' onclick='GetDetails(@item.Iagid)'><span class='fa fa-edit font-22 txt-primary mr-10'></span> </a>
                                                                }
                                                                @if (rol.can_delete == 1)
                                                                {
                                                                    <a href='#' onclick='Delete(@item.Iagid)'><span class='fa fa-trash font-22 txt-danger'></span> </a>
                                                                }
                                                            </td>



                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit_Exam</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(new { action = "IAGroupMaster", controller = "Exam" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Name</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txtname" name="Name" placeholder="Name">
                                            @Html.ValidationMessageFor(model => model.Ianame, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txtmaxmarks" name="maxmarks" placeholder="maxmarks">
                                            @Html.ValidationMessageFor(model => model.maxmarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="txtpassingmaxmarks" name="passingmaxmarks" placeholder="passingmaxmarks">
                                            @Html.ValidationMessageFor(model => model.passingmaxmarks, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" id="btnsave1" onclick="Update()">@SmartSchool.Resources.Resource1.Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">@SmartSchool.Resources.Resource1.Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }
</script>


<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/Examination/Editiagroupdisplay",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.Ianame);
                $('#txtmaxmarks').val(response.maxmarks);
                $('#txtpassingmaxmarks').val(response.passingmaxmarks);

                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function Update() {

        var empObj = {

            id: $('#feeid').val(),
            Name: $('#txtname').val(),

        };
        var id = $('#feeid').val();
        var Name = $('#txtname').val();
        var maxmarks = $('#txtmaxmarks').val();
        var passingmaxmarks = $('#txtpassingmaxmarks').val();

        $.ajax({
            url: "/Examination/Editiagroup",
            data: JSON.stringify({
                'id': id, 'Ianame': Name, 'maxmarks': maxmarks, 'passingmaxmarks': passingmaxmarks
            }),
            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                swal("Records Updated")
                window.location.reload();
                $('#responsive-modal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Examination/Deleteiagroup/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    swal("Records Deleted")
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {

            var clc = document.getElementById("Ianame").value
            //alert(clc);

            if (document.getElementById("Ianame").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please enter the name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>




