﻿@model SmartSchool.Models.exam_results


@{
    ViewBag.Title = "Marksregister";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@if (TempData["result"] != null)
{
    <script>
        alert("@TempData["result"]");
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 39, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                    </div>

                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="form-wrap mt-40">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Exam Name</label>
                                                            @Html.DropDownListFor(Model => Model.exam_schedule_id, (IEnumerable<SelectListItem>)ViewBag.selectedexam as SelectList, new { @class = "form-control", required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Class Name</label>
                                                            @Html.DropDownList("classid", (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", required = "required", id = "classid" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section Name</label>
                                                            @Html.DropDownList("sectionid", new SelectList(string.Empty, "Value", "Text"), "select section name", new { @class = "form-control", required = "required", id = "sectionid" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        @if (rol.can_add == 1)
                                        {
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" value="Search" class="btn btn-info" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="panel panel-default card-view">
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Exam List</h6>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-wrapper collapse in">
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="button" value="Save" id="btnsave" class="btn btn-info" />
                                                    <label class="pull-left" id="errormsg"></label>
                                                </div>
                                            </div>
                                            @{
                                                int sno = 0;
                                                int i = 0;
                                                string[] marksArray = null;
                                                int sujectCount = 0;
                                                if (ViewBag.stu != null)
                                                {
                                                    marksArray = new string[ViewBag.stu.Count];
                                                    foreach (var itms in ViewBag.stu)
                                                    {
                                                        marksArray[i] = itms.StudentID;
                                                        i++;
                                                    }
                                                }
                                            }
                                            <div class="panel-body">
                                                <center>
                                                    @if (ViewBag.sub_count != null)
                                                    {
                                                        <input type="hidden" value="@ViewBag.sub_count" id="subcount" />
                                                    }
                                                    @if (ViewBag.subjects != null && ViewBag.Studentmarks != null)
                                                    {

                                                        <input type="hidden" name="sectionVal" value="@TempData["sectionid"]" />
                                                        <table class="table table-striped m-b-0" id="tabledata">

                                                            <tr>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Sl_No.
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Admission_Number
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.RollNumber
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Student
                                                                </th>


                                                                @foreach (var sub in ViewBag.subjects)
                                                                {
                                                                    sujectCount = ViewBag.subjects.Count;
                                                                    <th>
                                                                        @sub.SubjectName
                                                                        (Th:@sub.Minmarks / @sub.Maxmarks)

                                                                    </th>
                                                                    ViewBag.subMaxmarks = sub.Maxmarks;
                                                                }

                                                            </tr>
                                                            @foreach (var item in ViewBag.Studentmarks)
                                                            {
                                                                sujectCount = ViewBag.subjects.Count;
                                                                <tr>
                                                                    <td>
                                                                        @{ sno++; }
                                                                        @sno
                                                                    </td>
                                                                    <td>
                                                                        @item.admission_no
                                                                    </td>
                                                                    <td>
                                                                        @item.roll_no
                                                                    </td>
                                                                    <td>
                                                                        <input type="hidden" value="@item.user_id" name="studentid">
                                                                        @item.firstname
                                                                    </td>

                                                                    @foreach (var sub in ViewBag.stu)
                                                                    {
                                                                        if (sub.Get_marks == null)
                                                                        {
                                                                            <td>
                                                                                <input type="hidden" value="@sub.Esid" name="esid">
                                                                                <input type="checkbox" id="isNews" name="absent" />
                                                                                @*@Html.TextBoxFor(m => m.get_marks, new { style = "width:80px" })*@
                                                                                <input type="number" id="newsSource" name="marks" value="@sub.Get_marks" style="width:80px" />
                                                                            </td>
                                                                        }
                                                                        else if (sub.StudentID == item.user_id)
                                                                        {
                                                                            <td>
                                                                                @if (sub.Get_marks != 0)
                                                                                {
                                                                                    <input type="hidden" value="@sub.Esid" name="esid">
                                                                                    <input type="checkbox" id="isNews" name="absent" />
                                                                                    @*@Html.TextBoxFor(m => m.get_marks, new { style = "width:80px" })*@
                                                                                    <input type="number" name="marks" id="newsSource" value="@sub.Get_marks" style="width:80px" />
                                                                                }
                                                                                else if (sub.Get_marks == 0)
                                                                                {
                                                                                    <input type="hidden" value="@sub.Esid" name="esid">
                                                                                    <input type="checkbox" name="absent" checked />
                                                                                    @*@Html.TextBoxFor(m => m.get_marks, new { style = "width:80px" })*@
                                                                                    <input type="number" name="marks" value="@sub.Get_marks" style="width:80px" />
                                                                                }
                                                                            </td>
                                                                        }
                                                                        else if (!marksArray.Contains((string)item.user_id) && sujectCount != 0)
                                                                        {
                                                                            <td>
                                                                                <input type="hidden" value="@sub.Esid" name="esid">
                                                                                <input type="checkbox" name="absent" />
                                                                                @*@Html.TextBoxFor(m => m.get_marks, new { style = "width:80px" })*@
                                                                                <input type="number" name="marks" value="0" style="width:80px" />
                                                                            </td>
                                                                            sujectCount--;
                                                                        }
                                                                    }
                                                                </tr>
                                                            }
                                                        </table>
                                                    }
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
}
<script>

    $(document).ready(function () {

        $('#classid').on('change', function () {

            var ddlclass = $(this).val();
            $('#sectionid').empty();
            $("#sectionid").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Examination/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#sectionid").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#sectionid").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });

        var ddlclass = $('#classid').val();
        if (ddlclass != null) {
            var ddlsection = $('input[name="sectionVal"]').val();
            $('#sectionid').empty();
            $("#sectionid").html("<option value=''>Select</option>");

            var div_data = "";
            $.ajax({
                type: "POST",
                url: "/Examination/callgetsec",
                data: { 'ddlclass': ddlclass },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        if (obj.section_id == ddlsection) {
                            ne = 'selected';
                        } else {
                            ne = "";
                        }
                        div_data += "<option value='" + obj.Value + "' " + ne + " >" + obj.Text + "</option>";
                    });

                    $('#sectionid').append(div_data);

                }
            });
        }
    });
</script>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            var maxmarks = @ViewBag.subMaxmarks;
            //iterate through each textboxes and add keyup
            //handler to trigger sum event
            $('[name="marks"]').each(function () {
                $(this).on('blur', function () {
                    var enteredmarks = $(this).val();
                    if (enteredmarks > maxmarks) {
                        $(this).css('border-color', 'red');
                        $.toast({
                            text: 'Entered Marks must be less then MaxMarks',
                            position: 'top-right',
                            loaderBg: '#fec107',
                            icon: 'warning',
                            hideAfter: 3500,
                            stack: 6
                        });
                        return false;
                    }
                    else {
                        $(this).css('border-color', '');
                    }
                });
            });
            $('input[name="absent"]').on('change', function () {
                if (this.checked) {
                    $(this).closest('td').find("input[type=number]").prop('disabled', true);
                }
                else {
                    $(this).closest('td').find("input[type=number]").prop('disabled', false);
                }
            });
        });
</script>

<script type="text/javascript">
    var get_mark = [];
    var start_time = [];
    var end_time = [];
    var rn = [];
    var allval = new Array();
    var mergeVal = {};
    var j = 4;
    $(document).ready(function (e) {
        var ddlclass = $('#classid').val();
        if (ddlclass != null) {
            Getsection(ddlclass);
        }

        function Getsection(classVal) {
            var ddlsection = $('input[name="sectionVal"]').val();
            $('#sectionid').empty();
            $("#sectionid").html("<option value=''>Select</option>");
            var div_data = "";
            $.ajax({
                method: 'POST',
                url: '/Examination/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': classVal }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                   // $('#sectionid').append(div_data);

                }
            });
        }
        $('#classid').on('change', function () {

            var ddlclass = $(this).val();
            Getsection(ddlclass);

        });
        $('#btnsave').on('click', function () {
            var examid = $('#exam_schedule_id :selected').val();
            var classid = $('#classid :selected').val();
            var sectionid = $('#sectionid :selected').val();
            var count = parseInt($('#subcount').val());
            $("#tabledata tbody tr").each(function (i) {
                if (i == 0) {
                }
                else {
                    mergeVal = new Object();
                    get_mark = new Array();
                    get_esids = new Array();
                    mergeVal.Student_id = $(this).find("td:eq(3) input[name='studentid']").val();
                    for (var k = 4; k < count + 4; k++) {
                        if ($(this).find("td:eq(" + k + ") input[type='checkbox']").is(':checked')) {
                            get_mark.push(0);
                            get_esids.push($(this).find("td:eq(" + k + ") input[name='esid']").val());
                        }
                        else {
                            get_mark.push($(this).find("td:eq(" + k + ") input[type='number']").val());
                            get_esids.push($(this).find("td:eq(" + k + ") input[name='esid']").val())
                        }
                    }
                    mergeVal.Get_marks = get_mark;
                    mergeVal.Get_esids = get_esids;
                    mergeVal.Examid = examid;
                    mergeVal.Classid = classid;
                    mergeVal.Sectionid = sectionid;
                    allval.push(mergeVal);
                }
            });
            $.ajax({
                url: "/Examination/Marksregister_new",
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify(allval),
                success: function (response) {
                    alert("Data saved successfully");
                },
                error: function (e) {
                    alert("Something went wrong!, please contact admin");
                }
            });
        });
    });
</script>




