﻿@model SmartSchool.Classes.StudentAddmissionDetails
@{
    ViewBag.Title = "Marksrentrysubject";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 style="color:#f742aa; "><i class="fa fa-edit"> </i>@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 13, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Class</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "Select", new { @class = "form-control", id = "class_id", required = "required" })

                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Section</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.section_id, new SelectList(ViewBag.sections, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id", required = "required" })

                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Subject</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.subject_id, new SelectList(ViewBag.subjects, "Value", "Text"), "Select", new { @class = "form-control", id = "Subjectid", required = "required" })

                                                            @Html.ValidationMessageFor(model => model.subject_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Exam</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.Iagroupid, (IEnumerable<SelectListItem>)ViewBag.viewbagdiscntlist, "Select", new { @class = "form-control", id = "Iagroupid", required = "required" })

                                                            @Html.ValidationMessageFor(model => model.Iagroupid, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Date</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
     
                                                            @if (ViewBag.dateofeaxm != null)
                                                            {

                                                                <input type="date" class="form-control" id="dateTime" name="dateTime" onload="DateUpdate();" required="required" value="@ViewBag.dateofeaxm.ToString("yyyy-MM-dd")" />
                                                            }
                                                            else
                                                            {
                                                                <input type="date" class="form-control" id="dateTime" name="dateTime" required="required" placeholder="Select" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form Group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="pull-right" id="divAddLoadbar">
                                <input type="button" value="Save" id="btnsave" class="btn btn-info" />

                                <label class="pull-left" id="errormsg"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Student_List</h6>
                                        <hr class="light-grey-hr" />
                                        <div class="panel panel-default card-view mt-50">
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">


                                                            <table id="example" class="table table-hover display  pb-30" role="grid" aria-describedby="example_info">
                                                                <thead>

                                                                    @if (ViewBag.studentlist != null && ViewBag.Examlist != null)
                                                                    {
                                                                        <tr>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Sl_No.
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Admission_Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.RollNumber
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Student
                                                                            </th>
                                                                            @foreach (var item1 in ViewBag.Examlist)
                                                                            {
                                                                                <th>@item1.Ianame - (Max Marks - <span class="text-danger">@item1.Maxmarks</span>)</th>
                                                                            }
                                                                        </tr>
                                                                    }
                                                                </thead>

                                                                <tbody>
                                                                    @{
                                                                        int sno = 0;
                                                                        int i = 0;
                                                                        string[] marksArray = null;

                                                                        if (ViewBag.Marksslist != null)
                                                                        {
                                                                            marksArray = new string[ViewBag.Marksslist.Count];
                                                                            foreach (var itms in ViewBag.Marksslist)
                                                                            {
                                                                                marksArray[i] = itms.user_id;
                                                                                i++;
                                                                            }
                                                                        }
                                                                    }
                                                                    @if (ViewBag.studentlist != null)
                                                                    {
                                                                        foreach (var item in ViewBag.studentlist)
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    @{ sno++; }
                                                                                    @sno
                                                                                </td>
                                                                                <td>
                                                                                    @item.AdmissionNumber
                                                                                </td>
                                                                                <td>
                                                                                    @item.RollNumber
                                                                                </td>
                                                                                <td>
                                                                                    <input type="hidden" value="@item.user_id" name="studentid">
                                                                                    @item.FirstName
                                                                                </td>
                                                                                @foreach (var item1 in ViewBag.Examlist)
                                                                                {
                                                                                    <td>
                                                                                        <input type="hidden" value="@item1.Iaid" name="esid">
                                                                                        <input type="checkbox" name="absent" />
                                                                                        <input type="number" class="MaxCheckClass" name="marks" id="txtnummarks" value="0" min="0" max="@item1.Maxmarks" onchange="checkMax(this)" style="width:80px" />
                                                                                    </td>
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
@*<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $('#divAddLoadbar').addClass("buttonload");
        });
        $(document).ajaxStop(function () {
            $('#wait').hide();
        });
        $(document).ajaxError(function () {
            $('#wait').hide();
        });
    });
</script>*@

<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    $('#section_id').on('change', function () {

        var ddlclass1 = $(class_id).val();
        var ddlsec = $(section_id).val();
        $('#Subjectid').empty();
        $("#Subjectid").html("<option value=''>Select</option>");
        $.ajax({
            method: 'POST',
            url: '/Examination/Ddlsubject',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({
                'ddlclass': ddlclass1, 'ddlsection': ddlsec
            }),
            success: function (data) {

                $.each(data, function (index, row) {

                    $("#Subjectid").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                });
            }
        });
    });

    $('input[name="absent"]').on('change', function () {
        if (this.checked) {
            $(this).closest('td').find("input[type=number]").prop('disabled', true);
        }
        else {
            $(this).closest('td').find("input[type=number]").prop('disabled', false);
        }
    });

</script>


<script type="text/javascript">
    var get_mark = [];
    var start_time = [];
    var end_time = [];
    var rn = [];
    var allval = new Array();
    var mergeVal = {};
    var j = 4;
    $('#btnsave').on('click', function () {
        event.preventDefault();
        $(this).removeClass('btn btn-info');
        $(this).addClass('buttonload');
        $(this).toggle();
        // var. examid = $('#esid :selected').val();
        var examid = $('#esid').val();
        var classid = $('#class_id :selected').val();
        var sectionid = $('#section_id :selected').val();
        var count = 3;
        $("#example tbody tr").each(function (i) {
            mergeVal = new Object();
            get_mark = new Array();
            get_esids = new Array();
            mergeVal.Student_id = $(this).find("td:eq(3) input[name='studentid']").val();
            for (var k = 4; k < 7; k++) {
                if ($(this).find("td:eq(" + k + ") input[type='checkbox']").is(':checked')) {
                    get_mark.push(0);
                    get_esids.push($(this).find("td:eq(" + k + ") input[name='esid']").val());
                }
                else {
                    get_mark.push($(this).find("td:eq(" + k + ") input[type='number']").val());
                    get_esids.push($(this).find("td:eq(" + k + ") input[name='esid']").val())
                }
            }

            mergeVal.Get_marks = get_mark;
            mergeVal.Get_esids = get_esids;
            mergeVal.Examid = examid;
            mergeVal.Classid = classid;
            mergeVal.Sectionid = sectionid;
            allval.push(mergeVal);
        });
        $.ajax({
            url: "/Examination/Marksregister_new_Subjectwise",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: JSON.stringify(allval),
            success: function (response) {
                alert("Data saved successfully");
            },
            error: function (e) {
                alert("Something went wrong!, please contact admin");
            }
        });
    });

    function checkMax(thisdata) {
        var iVal = parseInt(thisdata.value);
        if (iVal > parseInt(thisdata.max)) {
            AleretToast('Entered value must be less than or equal to Max value..!');
            thisdata.value = 0;
        }
    }

    function AleretToast(data) {
        $.toast({
            //heading: '2 new messages',
            text: data,
            position: 'top-right',
            loaderBg: '#fec107',
            icon: 'warning',
            hideAfter: 4500,
            stack: 6
        });
    }



</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}

