﻿@model SmartSchool.SchoolMasterClasses.StudentMarksDetails

@{
    ViewBag.Title = "Studentmarks";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                @*<div class="pull-right">
                        <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    var getrolesacc = mm.RoleAccess(listData.roleid, 7, 41, listData.CollegeID, listData.BranchID);
   
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                    </div>

                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">

                                        <div class="form-wrap mt-40">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Exam_Name</label>
                                                            @Html.DropDownListFor(Model => Model.Exam_schedule_id, (IEnumerable<SelectListItem>)ViewBag.selectedexam as SelectList, new { @class = "form-control", required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.ClassName</label>
                                                            @Html.DropDownList("classid", (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">@SmartSchool.Resources.Resource1.Section_Name</label>
                                                            @Html.DropDownList("sectionid", new SelectList(string.Empty, "Value", "Text"), "select section name", new { @class = "form-control", required = "required" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>                                       
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <input type="submit" value="Search" class="btn btn-info" />
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="panel panel-default card-view">
                                        <div class="panel-heading">
                                            <h6 class="panel-title txt-dark">@SmartSchool.Resources.Resource1.Admission_Enquiry</h6>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel panel-default card-view">
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <div id="example_wrapper" class="dataTables_wrapper">
                                                            </div>
                                                            <table id="example" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="example_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Sl_No
                                                                        </th>
                                                                        <th>


                                                                            @SmartSchool.Resources.Resource1.Admission_Number
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.RollNumber
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Student ID
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Student
                                                                        </th>
                                                                        <th>@SmartSchool.Resources.Resource1.FatherName</th>
                                                                        @if (ViewBag.subjects != null)
                                                                        {
                                                                            foreach (var sub in ViewBag.subjects)
                                                                            {
                                                                                <th>
                                                                                    @sub.SubjectName
                                                                                    (@sub.Minmarks / @sub.Maxmarks)
                                                                                </th>
                                                                            }
                                                                        }

                                                                        <th>@SmartSchool.Resources.Resource1.Grand</th>
                                                                        <th>@SmartSchool.Resources.Resource1.Percent</th>
                                                                        <th>@SmartSchool.Resources.Resource1.Result</th>

                                                                    </tr>
                                                                <thead>

                                                                <tbody>

                                                                    @{
                                                                        int slno = 0;
                                                                    }
                                                                    @if (ViewBag.stu != null)
                                                                    {
                                                                        double mark = 0;
                                                                        string result = "", Rpass = "Pass";
                                                                        foreach (var item in ViewBag.Studentmarks)
                                                                        {
                                                                            mark = 0;
                                                                            result = "";
                                                                            <tr>

                                                                                <td>
                                                                                    @{slno++;}
                                                                                    @slno
                                                                                </td>


                                                                                <td>
                                                                                    @item.admission_no
                                                                                </td>

                                                                                <td>
                                                                                    @item.roll_no
                                                                                </td>

                                                                                <td>
                                                                                    @item.user_id
                                                                                </td>

                                                                                <td>
                                                                                    @item.firstname
                                                                                </td>

                                                                                <td>
                                                                                    @item.father_name
                                                                                </td>

                                                                                @foreach (var sub in ViewBag.stu)
                                                                                {
                                                                                    if (sub.StudentID == item.user_id)
                                                                                    {

                                                                                        double subm = sub.Get_marks;
                                                                                        mark += subm;
                                                                                        <td>
                                                                                            <input type="hidden" value="@sub.Esid" name="esid">
                                                                                            @*<input type="text" name="marks" value="@sub.Get_marks" style="width:80px" readonly="readonly" />*@
                                                                                            @if (sub.Get_marks == 0)
                                                                                            {
                                                                                                result = "Fail";

                                                                                                <label style="color:red">Abs</label>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @sub.Get_marks

                                                                                            }
                                                                                        </td>
                                                                                    }
                                                                                }
                                                                                <td>
                                                                                    @mark / @ViewBag.subject
                                                                                </td>
                                                                                <td>
                                                                                    @{
                                                                                        double toMarks = @ViewBag.subject;
                                                                                        double percentage = Math.Round((mark / toMarks) * 100, 2);
                                                                                    }
                                                                                    @percentage
                                                                                </td>

                                                                                <td>
                                                                                    @if (result == "Fail")
                                                                                    {
                                                                                        @result
                                                                                    }
                                                                                    else

                                                                                    {
                                                                                        @Rpass
                                                                                    }
                                                                                </td>

                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>


                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        }
    }
}

<script>
    //$(document).ready(function () {
    $('#classid').on('change', function () {
        var ddlclass = $(this).val();
        $('#sectionid').empty();
        $("#sectionid").html("<option value=''>--Select Section--</option>");
        $.ajax({
            method: 'POST',
            url: '/Examination/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#sectionid").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#sectionid").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    var ddlclass = $('#classid').val();
    if (ddlclass != null) {
        var ddlsection = $('input[name="sectionVal"]').val();
        $('#sectionid').empty();
        $("#sectionid").html("<option value=''>--Select Section--</option>");

        var div_data = "";
        $.ajax({
            type: "POST",
            url: "/Examination/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, obj) {
                    if (obj.section_id == ddlsection) {
                        ne = 'selected';
                    } else {
                        ne = "";
                    }
                    div_data += "<option value='" + obj.Value + "' " + ne + " >" + obj.Text + "</option>";
                });

                $('#sectionid').append(div_data);
            }
        });
    }
    //});
</script>





