﻿@model SmartSchool.Classes.StudentAddmissionDetails
@{
    ViewBag.Title = "SubjectwiseIndidualreport";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 style="color:#f742aa; "><i class="fa fa-edit"> </i>@SmartSchool.Resources.Resource1.Examinations</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Consolidated Report" onclick="location.href='@Url.Action("Studentreportcard", "Examination")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 13, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Class</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "Select", new { @class = "form-control", id = "class_id" })

                                                            @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Section</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.section_id, new SelectList(ViewBag.sections, "Value", "Text"), "Select", new { @class = "form-control" })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Subject</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.subject_id, new SelectList(ViewBag.subjects, "Value", "Text"), "Select", new { @class = "form-control", id = "subject_id" })

                                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                            @Html.ValidationMessageFor(model => model.subject_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form Group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Report" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $('#subject_id').empty();
        $("#section_id").html("<option value='0'>Select</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    $('#section_id').on('change', function () {
        var ddlclass1 = $(class_id).val();
        var ddlsec = $(section_id).val();
        $('#subject_id').empty();
        $("#subject_id").html("<option value='0'>Select</option>");

        $.ajax({
            method: 'POST',
            url: '/Examination/Ddlsubject',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({
                'ddlclass': ddlclass1, 'ddlsection': ddlsec
            }),
            success: function (data) {

                $.each(data, function (index, row) {

                    $("#subject_id").append("<option value='" + row.Value + "'>" + row.Text + "</option > ");
                });
            }
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}