﻿@model SmartSchool.Models.category

@{
    ViewBag.Title = "Deletecat";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>Deletecat</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>category</h4>
    <hr />
    <dl class="dl-horizontal">
       
            <dt>
                @Html.DisplayNameFor(model => model.category1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category1, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
      
        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <hr />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
