﻿@model SmartSchool.Models.student


@{
    ViewBag.Title = "disablestudentslist";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Student Information</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 16, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            @if (rol.can_add == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Search" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Disable Student List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Sl_No</th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Class
                                                                                (Section)
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Admission Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Student name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Mobile Number
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Guardian Name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Guardian Relation
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Guardian Phone
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Father Name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Father Phone
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Mother Name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Mother Phone
                                                                            </th>

                                                                        </tr>

                                                                    </thead>

                                                                    <tbody>
                                                                        @{
                                                                            int sno = 0;
                                                                        }
                                                                        @if (ViewBag.studentlist != null)
                                                                        {
                                                                            foreach (var item in ViewBag.studentlist)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @{ sno++; }
                                                                                        @sno
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.AdmissionNumber
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.FirstName
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Class
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.FatherName
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.DateOfBirth
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.Gender
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.MobileNumber
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.MobileNumber
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.MotherName
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.MotherPhone
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");

            $.ajax({
                method: 'POST',
                url: '/Student/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }

            });
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("class_id1").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>

