﻿@model SmartSchool.Models.student

@{
    ViewBag.Title = "Editstudent";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Student Edit</h4>
                </div>
                <div class="pull-right">
                    @*<input type="button" class="b
                        <a href="~/Views/Admin/Editstudent.cshtml">~/Views/Admin/Editstudent.cshtml</a>tn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Editstudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default card-view">
                                            <div class="panel-heading">
                                                <div class="pull-left">
                                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>Student Admission</h6>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="panel-group accordion-struct" id="accordion_1" role="tablist" aria-multiselectable="true">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading  bg-primary activestate" role="tab" id="heading_1">
                                                                <a role="button" class="panel-title txt-light" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_1" aria-expanded="true">Personal Info</a>
                                                            </div>
                                                            <div id="collapse_1" class="panel-collapse collapse in" role="tabpanel">
                                                                <div class="panel-body pa-15">

                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.Label(@SmartSchool.Resources.Resource1.Admission_Number, htmlAttributes: new { @class = "control-label col-md-10" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.admission_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                                    @Html.ValidationMessageFor(model => model.admission_no, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.sts_number, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.sts_number, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.sts_number, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.roll_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.roll_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.roll_no, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                                                <div class="col-10">
                                                                                    @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                                                    @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "error" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                                                <div class="col-10">
                                                                                    @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                                                    @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Medium, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.DropDownListFor(model => model.Medium, new List<SelectListItem> { new SelectListItem { Text = "Select", Value = "0" },
                                                                                                                                              new SelectListItem { Text = "Kannada", Value = "Kannada" },
                                                                                                                                              new SelectListItem { Text = "English", Value = "English" }},
                                                                                                                                              new { @class = "form-control", @required = "required" })
                                                                                    @Html.ValidationMessageFor(model => model.Medium, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="form-group">

                                                                                @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.DropDownListFor(model => model.gender, new List<SelectListItem>                  { new SelectListItem{Text="Male", Value="Male"},
                                        new SelectListItem{Text="Female", Value="Female"}}, "Please select", new { @class = "form-control" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">

                                                                                    @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", Type = "date" } })

                                                                                    @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">


                                                                                    @Html.DropDownListFor(model => model.category_id, (IEnumerable<SelectListItem>)ViewBag.viewbagcatlist, "", new { @class = "form-control" })

                                                                                    @*@Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                    @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.religion, htmlAttributes: new { @class = "control-label col-sm-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.DropDownListFor(model => model.religion, (IEnumerable<SelectListItem>)ViewBag.viewbagreligionlist, new { @class = "form-control", @required = "required" })
                                                                                    @Html.ValidationMessageFor(model => model.religion, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.cast, htmlAttributes: new { @class = "control-label col-sm-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.DropDownListFor(model => model.cast, (IEnumerable<SelectListItem>)ViewBag.viewbagcastelist, new { @class = "form-control", @required = "required" })

                                                                                    @*@Html.EditorFor(model => model.Caste, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                    @Html.ValidationMessageFor(model => model.cast, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.mobileno, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.admission_date, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.admission_date, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                                                                    @Html.ValidationMessageFor(model => model.admission_date, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    <img id="stup" src="~/Content/Profile/@Model.image" class="form-control" />
                                                                                    <input type="file" id="StupostedFile" name="StupostedFile" placeholder="Upload Image" accept="image/*" class="form-control" />
                                                                                    @Html.HiddenFor(model => model.image)
                                                                                    <span style="color:green">@ViewBag.Message</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.blood_group, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.DropDownListFor(model => model.blood_group, (IEnumerable<SelectListItem>)ViewBag.viewbagbloodgrouplist, "", new { @class = "form-control" })
                                                                                    @*@Html.EditorFor(model => model.BloodGroup, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                    @Html.ValidationMessageFor(model => model.blood_group, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        @*<div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.school_house_id, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">

                                                                                    @Html.DropDownListFor(model => model.school_house_id, (IEnumerable<SelectListItem>)ViewBag.viewbagHouselist, "", new { @class = "form-control" })

                                                                                    @Html.EditorFor(model => model.StudentHouse, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                    @*@Html.ValidationMessageFor(model => model.school_house_id, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>*@
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.height, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.height, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.measurement_date, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                                <div class="col-md-10">
                                                                                    @*// @Html.TextBoxFor(model => model.AsonDate, DateTime.Today, new { @class = "datepicker" })*@
                                                                                    @Html.TextBox("AsonDate", DateTime.Today, "{0:dd-MM-yyyy}", new { @readonly = "readonly", @class = "form-control" })
                                                                                    @*@Html.EditorFor(model => model.AsonDate, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "form-control", Type = "date" } })*@
                                                                                    @Html.ValidationMessageFor(model => model.measurement_date, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div class="pull-left">
                                                                                <input type="button" class="btn btn-info" value="Add Sibling" onclick="GetDetails()" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div>
                                                                                @Html.Hidden("lblstuidnew", (object)ViewBag.lblstuidnew)
                                                                            </div>

                                                                            @Html.Label("Sibaling Name", new { @class = "label label-danger ", @id = "lblsiblingvalue", style = "display: none;" })
                                                                            <br />
                                                                            <label id="lblsibling" name="lblsibling" class="label label-danger" style="display: none;"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel-body pa-15">
                                                                    <div class="row">
                                                                        @foreach (var item in ViewBag.studentsiblinglist)
                                                                        {
                                                                            <input type="text" class="form-control" maxlength="11" id="studentidsib" style="visibility:hidden"
                                                                                   value="@item.UserName" />

                                                                            <div class="pull-left"><h4 style="color:#f742aa; ">Sibling</h4></div>
                                                                            <div class="pull-right">
                                                                                <input type="button" class="btn btn-info" value="Remove Sibling" onclick="Delete()" />
                                                                                <br />
                                                                            </div>

                                                                            <table class="table mb-0">
                                                                                <tr>
                                                                                    <td rowspan="5">
                                                                                        @if (@item.StudentPhoto != "")
                                                                                        {
                                                                                            <img src="@item.StudentPhoto" alt="Sample Image" width="200px" height="200px" />
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Name: </td>
                                                                                    <td> @item.FirstName </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Class</td>
                                                                                    <td> @item.Class </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td> Section:</td>
                                                                                    <td> @item.Section</td>
                                                                                <tr>
                                                                                    <td>AdmissionNumber:</td>
                                                                                    <td> @item.AdmissionNumber</td>
                                                                                </tr>

                                                                            </table>

                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading bg-primary" role="tab" id="heading_2">
                                                            <a class="panel-title txt-light" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_2" aria-expanded="false">
                                                                Parent Guardian Detail
                                                            </a>
                                                        </div>
                                                        <div id="collapse_2" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body pa-15">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.father_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.father_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.father_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">

                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.father_phone, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.father_phone, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.father_phone, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.father_occupation, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.father_occupation, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.father_occupation, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.father_pic, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="FatherPhoto" name="FatherPhoto" placeholder="Upload Image" accept="image/*" class="form-control" />
                                                                                @Html.ValidationMessageFor(model => model.father_pic, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.father_aadhaar_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.father_aadhaar_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.father_aadhaar_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.mother_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.mother_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.mother_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.mother_phone, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.mother_phone, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.mother_phone, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.mother_occupation, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.mother_occupation, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.mother_occupation, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.mother_pic, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @*<input type="file" id="ImageFile" name="ImageFile" placeholder="Upload Image" accept="image/*"  class="form-control" multiple />*@

                                                                                <input type="file" id="matpostedFile" name="matpostedFile" placeholder="Upload Image" accept="image/*" class="form-control" />

                                                                                @*@Html.EditorFor(model => model.MotherPhoto, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @*<input type="file" name="matpostedFile" class="form-control" />*@
                                                                                @Html.ValidationMessageFor(model => model.mother_pic, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.mother_aadhaar_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.mother_aadhaar_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.mother_aadhaar_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_relation, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_relation, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_relation, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_email, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_email, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_email, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_pic, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="GuardianPhoto" name="GuardianPhoto" placeholder="Upload Image" accept="image/*" class="form-control" />


                                                                                @*<input type="file" name="gurpostedFile" class="form-control" />*@
                                                                                @*@Html.EditorFor(model => model.GuardianPhoto, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @Html.ValidationMessageFor(model => model.guardian_pic, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_phone, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_phone, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_phone, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_occupation, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_occupation, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_occupation, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.guardian_address, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.guardian_address, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.guardian_address, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading  bg-primary" role="tab" id="heading_3">
                                                            <a class="panel-title txt-light" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_3" aria-expanded="false">Address</a>
                                                        </div>
                                                        <div id="collapse_3" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body pa-15">
                                                                <div class="row">
                                                                    <div class="col-md-6 ">

                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.current_address, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.current_address, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.current_address, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.permanent_address, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.permanent_address, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.permanent_address, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading  bg-primary" role="tab" id="heading_4">
                                                            <a class="panel-title txt-light" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_4" aria-expanded="false"> Miscellaneous Details</a>
                                                        </div>
                                                        <div id="collapse_4" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body pa-15">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.bank_account_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.bank_account_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.bank_account_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.bank_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.bank_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.bank_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.branch_name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.branch_name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.branch_name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.ifsc_code, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.ifsc_code, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.ifsc_code, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.micr_number, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.micr_number, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.micr_number, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.adhar_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.adhar_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.adhar_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.caste_certificate_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.caste_certificate_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.caste_certificate_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.income_certificate_no, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.income_certificate_no, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.income_certificate_no, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.rte, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.DropDownListFor(model => model.rte, new List<SelectListItem>                  { new SelectListItem{Text="Yes", Value="Yes"},
                                          new SelectListItem{Text="No", Value="No"}}, "Please select", new { @class = "form-control", required = "required" })
                                                                                @Html.ValidationMessageFor(model => model.rte, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.gr_number, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.gr_number, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.gr_number, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.previous_school, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.previous_school, new { htmlAttributes = new { @class = "form-control", Type = "textarea" } })
                                                                                @Html.ValidationMessageFor(model => model.previous_school, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-4" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                            </div>

                            <div class="pull-left">
                                <input type="button" class="btn btn-primary btn-sm" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Add Sibling</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.admission_no, new { @id = "feeid" })

                            @*<input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                    <div class="col-10">
                                        @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                        @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "Select", new
                                            {
                                                @class = "form-control",
                                                id = "section_id11",
                                           onchange = "GetSelectedTextValue1(this)"
                                            })

                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.user_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "student_id" })

                                            @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" id="btnsave1" onclick="Update()">Update</button>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id').on('change', function () {
            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Academics/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });

                }
            });
        });
    });
</script>

<script type="text/javascript">
    function GetDetails() {
        $('#responsive-modal').modal('show');
    }

    function GetSelectedTextValue1(section_id11) {
        // var selectedText = section_id11.options[class_id.selectedIndex].innerHTML;
        var selectedValue = $("select#section_id11 option").filter(":selected").val();
        var ddlsec = $("select#section_id11 option").filter(":selected").val();
        var ddlclass = $("select#class_id11 option").filter(":selected").val();
        $('#student_id').empty();
        $("#student_id").html("<option value=''>Select</option>");

        $.ajax({
            method: 'POST',
            url: '/Student/callgetstudent',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass, 'ddlsec': ddlsec }),
            success: function (data) {

                $.each(data, function (index, row) {

                    $("#student_id").append("<option value='" + row.user_id + "'>" + row.firstname + "</option> ");
                });
            }
        });
    }

    function Update() {

        var empObj = {
            id: $('#feeid').val(),
            Name: $('#txtname').val(),
        };
        var id = $('#feeid').val();

        var Name = $("select#student_id option").filter(":selected").val();
        var selectedText = $("select#student_id option").filter(":selected").text();
        $('#responsive-modal').modal('hide');

        $('#lblsibling').text(selectedText);
        $('#lblsibling').css('display', 'block');

        $('#lblstuidnew').val(Name);
        $('#lblstuidnew').css('display', 'block');
        $('#lblstuname').text(selectedText);
        $('#lblstuname').css('display', 'block');
        $('#lblsiblingvalue').css('display', 'block');
        $('#Sibalingid').val(Name);
    }


    function Delete() {
        var studentidsibnew = $('#studentidsib').val();
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Student/DeleteSbling/",

                data: JSON.stringify({ 'studentidsibnew': studentidsibnew }), //passing the data to back end
                type: "POST",
                contentType: "application/json;charset=utf-8",
                //  data: '{eid: ' + ppid + '}',
                dataType: "json",

                success: function (result) {

                    swal("Records Deleted")
                    window.location.reload();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#class_id1').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");

            $.ajax({
                method: 'POST',
                url: '/Student/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {

                    $.each(data, function (index, row) {

                        $("#section_id").append("<option value='" + row.section_id + "'>" + row.section + "</option > ");
                    });

                }

            });
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 4500,
                stack: 6
            });

        });
    </script>
    TempData.Clear();
}
<script>
    $(document).ready(function () {
        $("#btnsave").click(function () {
            if (document.getElementById("txtrollno").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter Roll No ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("class_id1").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            } if (document.getElementById("txtfname").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Enter First Name ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("ddlgender").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Gender field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("dob").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'please select Date ',
                    position: 'center',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("dob").value != "") {
                var dateString = document.getElementById("datePic").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'please  select Date not greater than todays date ',
                        position: 'center',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }

            if (document.getElementById("txtmobno").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Mobile Number is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("txtemail").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Email is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("admsdate").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please select Admission Date ',
                    position: 'center',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            else if (document.getElementById("admsdate").value != "") {
                var dateString = document.getElementById("datePic").value;
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $.toast({
                        text: 'please  select Date not greater than todays date ',
                        position: 'center',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                    return false;
                }
                return true;
            }

            if (document.getElementById("Studentphoto").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Choose Photo ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


            if (document.getElementById("txtcatid").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select Category ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("txtgurdname").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Guardian Name is required ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            if (document.getElementById("txtgurdphone").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Guardian Phone is required ',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }




            if (document.getElementById("txtrte").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select RTE Yes or No',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

            var customers = new Array();
            $("#tabledoc TBODY TR").each(function () {
                var row = $(this);
                var customer = {};
                customer.title = row.find("TD").eq(0).html();
                customer.doc = row.find("TD").eq(1).html();
                customers.push(customer);
            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Student/InsertCustomers",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });

        });
    });
</script>




