﻿@model SmartSchool.Models.category
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top"><b>@Html.DisplayNameFor(model => model.category1):</b></td>
        <td>
            @Html.DisplayFor(model => model.category1)
            <br />
            @Html.DisplayFor(model => model.id),
           
        </td>
    </tr>
</table>
