﻿@model SmartSchool.Models.student
@{
    ViewBag.Title = "studentfee";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<style>
    .button {
        width: 150px;
        text-align: center;
        margin: 0 auto;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">Students Shifting</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">@SmartSchool.Resources.Resource1.Class *</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, "Select", new { @class = "form-control", id = "class_id1" })

                                                @*@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">From Section*</label><div class="col-md-10">
                                                @*@Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })*@
                                                @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })

                                                @*@Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">To Section*</label><div class="col-md-10">
                                                @*@Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "Tosection_id" })*@
                                                @Html.DropDownList("Tosection_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "Tosection_id" })

                                                @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />

                                <div class="form-group">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-info" value="Search" id="btnsave" />
                                    </div>
                                  
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}
@if (ViewBag.studentlist != null)
{
    <input type="hidden" value="@ViewBag.classid" name="classVal" />
    <input type="hidden" value="@ViewBag.sectionid" name="sectionVal" />
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-body">
                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Student List</h6>
                                <hr class="light-grey-hr" />
                                <div class="panel panel-default card-view mt-50">
                                    <div class="panel-wrapper collapse in">
                                        <div class="panel-body">
                                            <div class="table-wrap">
                                                <div class="table-responsive">

                                                    <div id="example_wrapper" class="dataTables_wrapper">
                                                    </div>
                                                    <table id="example" class="table table-hover display  pb-30">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <input type="checkbox" id="checkall" name="checkall" /><span>Check All</span>
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Class
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Section
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.ToSection
                                                                </th>

                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Admission_Number
                                                                </th>
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Student name
                                                                </th>
                                                               
                                                                <th>
                                                                    @SmartSchool.Resources.Resource1.Phone No
                                                               
                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            @foreach (var item in ViewBag.studentlist)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox" name="checkallChild" class="checkallChild" value="@item.id">
                                                                    </td>
                                                                    <td>
                                                                        @item.Class
                                                                    </td>
                                                                    <td>
                                                                        @item.Section
                                                                    </td>
                                                                    <td>
                                                                        @item.Section
                                                                    </td>
                                                                    <td>
                                                                        @item.AdmissionNumber
                                                                    </td>


                                                                    <td>
                                                                        @item.FirstName
                                                                    </td>

                                                                    <td>
                                                                        @item.MobileNumber
                                                                    </td>

                                                                   
                                                                </tr>
                                                            }

                                                        </tbody>


                                                    </table>
                                                    <div class="form-group">
                                                        <div class="pull-right">
                                                            <input type="submit" class="btn btn-info" value="Move" id="btnSendMsg" />
                                                        </div>
                                                       
                                                    </div>
                                                    @*<input type="submit" value="Move" style="position:center" id="btnSendMsg" class="btn btn-primary" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('#class_id1').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");
            $('#Tosection_id').empty();
            $("#Tosection_id").html("<option value=''>Select</option>");
            $.ajax({
                method: 'POST',
                url: '/Student/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                            $("#Tosection_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                            $("#Tosection_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }
                    });
                }
            });
        });
       
        function talert(labeltext) {
            $.toast({
                //heading: '2 new messages',
                text: labeltext,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
            });
            
        }
        
    });
   
</script>

<script type="text/javascript">
    $(function () {
        $("#btnSendMsg").click(function () {

            var count = $("input[name='checkallChild']:checked").length;
            var Tosection = $("#Tosection_id  option:selected");

            if (count == 0) {
                alert('No rows Selected..!')
                return false;
            }

            else if (Tosection.val() == "" || Tosection.val() == 0) {
                alert("Please select ToSection!");
                return false;
            }

            var STRMS = [];
            $('input:checked').each(function () {
                STRMS.push($(this).attr("value"));
            });


            var tosec = $("#Tosection_id option:selected").val();
            if (tosec != 0) {
                $.ajax({
                    type: "POST",
                    url: "/Student/ToSection",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'values': STRMS, 'ToSec': tosec }), //passing the mobile number and template name to back end
                    dataType: "json",
                    success: function (response) {
                        location.reload();
                        alert("Students Moved Sucessfully!");
                        $("#Tosection_id").val(tosec);

                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }
            else {
                return confirm('Please Select ToSection');
            }

            this.disabled = true;
        });
    });
</script>

<script type="text/javascript">

    var id = @TempData["section"];
    var ddlclass = $('#class_id').val();
    if (ddlclass != null) {
        $('#section_id').empty();
        $.ajax({
            type: "POST",
            url: "/Student/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        $("#Tosection_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        $("#Tosection_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }
                    $("#section_id").val(id);

                });
            }
        });
    }
    this.disabled = true;
</script>



<script type="text/javascript">

    $(function () {
        $("#checkall").click(function () {
            $("#checkallChild").removeAttr("checked");

            if ($("input[name='checkallChild']").prop("checked", false)) {
                $("input[name='checkallChild']").prop("checked", this.checked);
            }
            else {
                $("input[name='checkallChild']").removeProp("checked", this.checked);
            }
        });
        $("#checkallChild").click(function () {

            if ($("input[name='checkallChild']").length == $("input[name='checkallChild']:checked").length) {
                $("#checkall").attr("checked", "checked");
            }
            else {
                $("#checkall").removeAttr("checked");
            }
        });
    });
</script>


