﻿@model SmartSchool.Models.student

@{
    ViewBag.Title = "Smslogindetail";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">

                    <h4 style="color:#f742aa; "><i class="fa fa-user-plus"> </i>@SmartSchool.Resources.Resource1.Student Information</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Home!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();
    using (Html.BeginForm())
    {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Class</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Section</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "--Select section--", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                           
                                                <div class="form Group">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-info" value="Search" id="btnsave" />
                                                    </div>
                                                    <div class="pull-left">
                                                        <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                    </div>
                                                </div>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Login Credential Report</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        
                                                        <div class="table-responsive">
                                                            <button type="button" id="sendsms" class="btn btn-danger pull-right" value="Send SMS">Send SMS</button >
                                                            <table id="example" class="table table-hover display  pb-30">

                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <input type="checkbox" id="ckbCheckAll" />
                                                                            <p id="checkBoxes">

                                                                        </th>
                                                                        <th>@SmartSchool.Resources.Resource1.Sl_No</th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Admission_Number
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Student_name
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.User_Name
                                                                        </th>
                                                                        <th>
                                                                            @SmartSchool.Resources.Resource1.Password
                                                                        </th>
                                                                  
                                                                    </tr>

                                                                </thead>

                                                                <tbody>
                                                                    @{
                                                                        int sno = 0;
                                                                    }
                                                                    @foreach (var item in ViewBag.studentlist)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" class="checkBoxClass" id=" @item.AdmissionNumber" value=" @item.AdmissionNumber" />

                                                                            </td>
                                                                            <td>
                                                                                @{ sno++; }
                                                                                @sno
                                                                            </td>
                                                                            <td>
                                                                                @item.AdmissionNumber
                                                                            </td>
                                                                            <td>
                                                                                @item.FirstName
                                                                            </td>
                                                                            <td>
                                                                                @item.Email
                                                                            </td>
                                                                            <td>
                                                                                @item.Password
                                                                            </td>
                                                                       </tr>
                                                                    }

                                                                </tbody>
                                                           </table>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     

            }
        }

       <script type="text/javascript">
      //start
      $('#sendsms').on('click', function () {
          var allStaff = new Array();
          $("#example tbody input[type=checkbox]:checked").each(function () {
              var row = $(this).closest("tr")[0];
              var val3 = $(row).find("td:eq(4)").text();
              var val4 = $(row).find("td:eq(5)").text();
              allStaff.push(
                  {
                      Email: val3,
                      Password: val4
                  }
              );
          });
            $.ajax({
            method: 'POST',
            url: '/Student/SmsStudentCredentials',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'allStaff': allStaff }),
            success: function (data) {
                if (data == "Success") {
                    $.toast({
                        text: 'Credentials Sent Successfully..!',
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'success',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
                else {
                     $.toast({
                        text: data,
                        position: 'top-right',
                        loaderBg: '#fec107',
                        icon: 'warning',
                        hideAfter: 4000,
                        stack: 6
                    });
                }
            }
        });
    });
</script>


<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });

    var ddlclass = $('#class_id').val();
    if (ddlclass != null) {
        var ddlsection = $('input[name="sectionVal"]').val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>--Select Section--</option>");

        var div_data = "";
        $.ajax({
            type: "POST",
            url: "/Student/callgetsec",
            data: { 'ddlclass': ddlclass },
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, obj) {
                    if (obj.section_id == ddlsection) {
                        ne = 'selected';
                    } else {
                        ne = "";
                    }
                    div_data += "<option value='" + obj.Value + "' " + ne + " >" + obj.Text + "</option>";
                });

                $('#section_id').append(div_data);

            }
        });
    }
    //});
</script>

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            if (document.getElementById("class_id").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
    $(document).ready(function () {
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
        });
    });
</script>
