﻿@model SmartSchool.Models.student
@{
    ViewBag.Title = "studentdetails";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Student_Information</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Import Student" onclick="location.href='@Url.Action("Upload", "Student")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 8, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />                       <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("class_id", (IEnumerable<SelectListItem>)ViewBag.cls, "Select", new { @class = "form-control", id = "class_id" })
                                                            @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.Label("Section", htmlAttributes: new { @class = "control-label col-ml-3" })<small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.DropDownList("section_id", (IEnumerable<SelectListItem>)ViewBag.sections, "Select", new { @class = "form-control", id = "section_id" })
                                                            @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <input type="submit" name="Submit" value="Search" class="btn btn-info" id="btnsave" />
                                                </div>
                                                <div class="pull-left">
                                                    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Student Details</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30" title="@SmartSchool.Resources.Resource1.Student_Information">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>@SmartSchool.Resources.Resource1.Sl_No</th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Admission_Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Student_name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Gender
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Date_Of_Birth
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Category
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Mobile_Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Class
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Section
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.FatherName
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.MotherName
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.AadhaarNumber
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.STS_Number
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Action
                                                                            </th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        @{
                                                                            int sno = 0;
                                                                        }
                                                                        @foreach (var item in ViewBag.studentlist)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @{ sno++; }
                                                                                    @sno
                                                                                </td>
                                                                                <td>
                                                                                    @item.AdmissionNumber
                                                                                    <input type="hidden" name="sectionVal" value="@item.Section" />
                                                                                </td>
                                                                                <td>
                                                                                    @item.FirstName
                                                                                </td>
                                                                                <td>
                                                                                    @item.Gender
                                                                                </td>
                                                                                <td>
                                                                                    @item.DateOfBirth
                                                                                </td>
                                                                                <td>
                                                                                    @item.Category
                                                                                </td>
                                                                                <td>
                                                                                    @item.MobileNumber
                                                                                </td>
                                                                                <td>
                                                                                    @item.Class
                                                                                </td>
                                                                                <td>
                                                                                    @item.Section
                                                                                </td>
                                                                                <td>
                                                                                    @item.FatherName
                                                                                </td>
                                                                                <td>
                                                                                    @item.MotherName
                                                                                </td>
                                                                                <td>
                                                                                    @item.AadhaarNumber
                                                                                </td>
                                                                                <td>
                                                                                    @item.sts_number
                                                                                </td>
                                                                                <td>
                                                                                    @Html.ActionLink(" ", "Studentdashboard", new { id = item.AdmissionNumber }, new { @class = "fa fa-reorder font-22 txt-info mr-10", title = "View" })
                                                                                    @if (rol.can_edit == 1)
                                                                                    {

                                                                                        @Html.ActionLink(" ", "Editstudent", new { id = item.AdmissionNumber }, new { @class = "fa fa-edit font-22 txt-primary mr-10", title = "Edit" })
                                                                                    }


                                                                                    <a onclick="printslip(@item.id)" role="button"><i class="fa fa-print fa_custom" style="color:hotpink;font-size:25px"></i></a>

                                                                                </td>

                                                                            </tr>
                                                                        }

                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div id="data" style="display:none">

                <div id="Patient" class="modal fade in" tabindex="-1" role="dialog" data-toggle="modal" style="display:block" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="~/Content/Logo/PDFLogoBoys.jpg" style="padding-left:300px;text-align:center" />
                            </div>
                         
                            <div class="modal-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-body">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div style="align-content:center;padding-left:300px">


                                                <table class="table table-bordered table-condensed table-hover" border="1">
                                                    <tr>

                                                        <th class="text-left fontbold20" style="font-size:22px">Institution Name:</th>
                                                        <th><span id="CollegeID"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Branch Name:</th>
                                                        <th><span id="BranchID"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Admission Number :</th>
                                                        <th><span id="Admissionnumber"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Roll_Number :</th>
                                                        <th>  <span id="RollNumber"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Name :   </th>
                                                        <th><span id="NamePrint"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Mobile Number:</th>
                                                        <th><span id="Mobilenumber"></span></th>

                                                    </tr>

                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Date of Birth :   </th>
                                                        <th><span id="AgePrint"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Gender : </th>
                                                        <th><span id="GenderPrint"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Class Name :   </th>
                                                        <th><span id="Class"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Section Name :   </th>
                                                        <th><span id="Section"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Year :  </th>
                                                        <th><span id="Year"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">State :   </th>
                                                        <th><span id="State"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">City :  </th>
                                                        <th><span id="City"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Medium :   </th>
                                                        <th><span id="Medium"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Email :  </th>
                                                        <th><span id="Email"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">PinCode:   </th>
                                                        <th><span id="Pincode"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Religion :  </th>
                                                        <th><span id="Religion"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Caste   </th>
                                                        <th><span id="Caste"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Category  </th>
                                                        <th><span id="Category"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Blood Group   </th>
                                                        <th><span id="BloodGroup"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Adhar Number </th>
                                                        <th><span id="AadhaarNumber"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">STS_Number   </th>
                                                        <th><span id="Sts_number"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Bank Account Number  </th>
                                                        <th><span id="BankAccountNumber"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Bank Name   </th>
                                                        <th><span id="BankName"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">IFSC Code  </th>
                                                        <th><span id="IFSCCode"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-center fontbold20" style="font-size:22px">Father Name   </th>
                                                        <th><span id="FatherName"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Mother Name  </th>
                                                        <th><span id="MotherName"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Father Phone Number </th>
                                                        <th> <span id="FatherPhone"></span> </th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Mother Phone Number  </th>
                                                        <th><span id="MotherPhone"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Gurdian Name </th>
                                                        <th> <span id="GuardianName"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Guardian Relation </th>
                                                        <th><span id="GuardianRelation"></span> </th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Guardian Phone  </th>
                                                        <th> <span id="Guardian_phone"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Guardian Occupation </th>
                                                        <th><span id="GuardianOccupation"></span></th>

                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Guardian Address </th>
                                                        <th>  <span id="GuardianAddress"></span></th>


                                                    </tr>
                                                    <tr>
                                                        <th class="text-left fontbold20" style="font-size:22px">Guardian Email :</th>
                                                        <th> <span id="GuardianEmail"></span> </th>


                                                    </tr>

                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script>
    $('#class_id').on('change', function () {
        var ddlclass = $(this).val();
        $('#section_id').empty();
        $("#section_id").html("<option value=''>Select</option>");
        $.ajax({
            method: 'POST',
            url: '/Student/callgetsec',
            contentType: "application/json; charset=utf-8",
            datatype: "Json",
            data: JSON.stringify({ 'ddlclass': ddlclass }),
            success: function (data) {
                $.each(data, function (i) {
                    if (i == "Disabled") {
                        $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                    }
                    else {
                        $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                    }

                });
            }
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });

        });
    </script>

}
<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            if (document.getElementById("class_id").value == "0") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>

<script>
    function printslip(id) {
        $.ajax({
            url: '/Student/StudentReceipt',
            data: { id: id },
            type: 'POST',
            dataType: "json",
            success: function (result) {
               
                $('#CollegeID').html(result.collgename);
                $('#BranchID').html(result.branchname);
                $('#Admissionnumber').html(result.AdmissionNumber);
                $('#RollNumber').html(result.RollNumber);
               // $("#Admissiondate").html(result.admission_date);
                $('#NamePrint').html(result.FirstName);
               $('#Class').html(result.Class);
                $('#Section').html(result.Section);
                $('#Year').html(result.year);
                $('#Medium').html(result.Medium);
                $('#Mobilenumber').html(result.MobileNumber);
                $('#Email').html(result.Email);
                $('#State').html(result.State);
                $('#City').html(result.City);
                $('#Pincode').html(result.Pincode);
                $('#Religion').html(result.Religion);
                $('#Caste').html(result.Caste);
                $('#Category').html(result.catrgory);
                $('#BloodGroup').html(result.BloodGroup);
                $('#AadhaarNumber').html(result.AadhaarNumber);
                $('#Sts_number').html(result.sts_number);
                $('#BankAccountNumber').html(result.BankAccountNumber);
                $('#BankName').html(result.BankName);
                $('#IFSCCode').html(result.IFSCCode);
                $('#FatherName').html(result.FatherName);
                $('#MotherName').html(result.MotherName);
                $('#FatherPhone').html(result.FatherPhone);
                $('#MotherPhone').html(result.MotherPhone);
                $('#GuardianName').html(result.GuardianName);
                $('#GuardianRelation').html(result.GuardianRelation);
                $('#Guardian_phone').html(result.GuardianPhone);
                $('#GuardianOccupation').html(result.GuardianOccupation);
                $('#GuardianAddress').html(result.GuardianAddress);
                $('#GuardianEmail').html(result.GuardianEmail);
                $("#AgePrint").html(result.DateOfBirth);
                $('#GenderPrint').html(result.Gender);
                var data = $('#Patient').html();
                //var base_url = 'http://smarthealthcare.shlrtechnosoft.com/';
                var base_url = 'http://localhost:64634/';
                var frame1 = $('<iframe />');
                frame1[0].name = "frame1";
                frame1.css({ "position": "absolute", "top": "-1000000px" });
                $("body").append(frame1);
                var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                frameDoc.document.open();
                frameDoc.document.write('<html>');
                frameDoc.document.write('<head>');
                frameDoc.document.write('<title></title>');
                frameDoc.document.write('<link rel="stylesheet" href="' + base_url + 'dist/css/style.css">');
                frameDoc.document.write('</head>');
                frameDoc.document.write('<body>');
                frameDoc.document.write(data);
                frameDoc.document.write('</body>');
                frameDoc.document.write('</html>');
                frameDoc.document.close();
                setTimeout(function () {
                    window.frames["frame1"].focus();
                    window.frames["frame1"].print();
                    frame1.remove();
                }, 1500);
                return true;


            },

            error: function (errormessage) {
               
            }
        });
    }
</script>




