﻿@model SmartSchool.Models.school_houses

@{
    ViewBag.Title = "StudentHouse";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Student Information</h4>
                </div>
                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="Let's Go!" onclick="location.href='@Url.Action("Action", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 15, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font">@SmartSchool.Resources.Resource1.Add School House</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4"> @SmartSchool.Resources.Resource1.Name</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.house_name, new { htmlAttributes = new { @class = "form-control", id = "txthsename" } })

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <br />

                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"> @SmartSchool.Resources.Resource1.Description </label>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="form-group">
                                                <div class="pull-left">
                                                    <input type="submit" name="Submit" value="Add" class="btn btn-info" id="btnsave" />

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-9 col-xs-9">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Student House List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>

                                                                <table id="example" class="table table-hover display  pb-30">

                                                                    <thead>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Sl_No</th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.House Name
                                                                            </th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Description
                                                                            </th>

                                                                            <th>@SmartSchool.Resources.Resource1.Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @{
                                                                            int sno = 0;
                                                                        }
                                                                        @if (ViewBag.studentlist != null)
                                                                        {
                                                                            foreach (var item in ViewBag.studentlist)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        @{ sno++; }
                                                                                        @sno
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.house_name
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.description
                                                                                    </td>

                                                                                    <td>
                                                                                        <a href='#' onclick='GetDetails(@item.id)'><span class='fa fa-edit font-22 txt-primary mr-10'></span> </a>


                                                                                        <a href='#' onclick='Delete(@item.id)'><span class='fa fa-trash font-22 txt-danger'></span> </a>


                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit Student House</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm(new { action = "Edithouse", controller = "Student" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <div class="form-horizontal">

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.id, new { @id = "feeid" })*@

                                        <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.section_id, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Name</label>
                                                    <div class="col-md-10">

                                                        <input type="text" class="form-control" id="txtname" name="Name" placeholder="Name">
                                                        @Html.ValidationMessageFor(model => model.house_name, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Description</label>
                                                    <div class="col-md-10">


                                                        <input type="text" class="form-control" id="txtdesc" name="Description" placeholder="Description">

                                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })

                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" id="btnsave1" onclick="Update()">@SmartSchool.Resources.Resource1.Update</button>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">@SmartSchool.Resources.Resource1.Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>

            </div>
        }
    }
}


<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id) {
        var PID = id;
        $.ajax({
            type: "POST",
            url: "/Student/EditHousedisplay",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.house_name);
                $('#txtdesc').val(response.description);


                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }


    function Update() {

        var empObj = {

            id: $('#feeid').val(),
            Name: $('#txtname').val(),

        };
        var id = $('#feeid').val();
        var Name = $('#txtname').val();
        var desc = $('#txtdesc').val();

        $.ajax({
            url: "/Student/Edithouse",
            data: JSON.stringify({
                'id': id, 'CAT': Name, 'desc': desc
            }),
            type: "POST",

            contentType: "application/json;charset=utf-8",
            //  data: '{eid: ' + ppid + '}',
            dataType: "json",
            success: function (result) {
                swal("Records Updated")
                window.location.reload();
                $('#responsive-modal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Student/Deletehouse/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {

                    swal("Records Deleted")
                    window.location.reload();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


</script>

<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {



            if (document.getElementById("txthsename").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Name field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });


    $(document).ready(function () {

        $("#btnsave1").click(function () {



            if (document.getElementById("txtname").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Name field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }


        });
    });
</script>