﻿@model SmartSchool.Models.castemaster
@{
    ViewBag.Title = "Studentcaste";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; ">@SmartSchool.Resources.Resource1.Student Information</h4>
                </div>


                <div class="pull-right">
                    <input type="button" class="btn btn-info" value="HOME!" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 2, 14, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select Criteria</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4"> @SmartSchool.Resources.Resource1.Caste</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.castename, new { htmlAttributes = new { @class = "form-control", id = "txtcat" } })
                                                            @Html.ValidationMessageFor(model => model.castename, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-ml-4">@SmartSchool.Resources.Resource1.Status</label>
                                                        <small class="req" style="color:red">*</small>
                                                        <div class="col-10">
                                                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        @if (rol.can_add == 1)
                                        {
                                            <div class="form-group">
                                                <div class="pull-left">
                                                    <input type="submit" class="btn btn-info" value="Add Caste" id="btnsave" />
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-9">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search-in-file mr-10"></i>@SmartSchool.Resources.Resource1.Caste List</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="panel panel-default card-view mt-50">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">

                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                </div>
                                                                <table id="example" class="table table-hover display  pb-30">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>@SmartSchool.Resources.Resource1.Sl_No</th>
                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Caste
                                                                            </th>

                                                                            <th>
                                                                                @SmartSchool.Resources.Resource1.Caste Id
                                                                            </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            int sno = 0;
                                                                            int retval = 0;
                                                                        }
                                                                        @foreach (var item in ViewBag.catlist)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @{ sno++; }
                                                                                    @sno
                                                                                </td>


                                                                                <td>
                                                                                    @item.castename
                                                                                </td>
                                                                                <td>
                                                                                    @item.id
                                                                                </td>

                                                                                <td>
                                                                                    @if (@item.is_active == true)
                                                                                    {
                                                                                        retval = 1;
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        retval = 0;
                                                                                    }
                                                                                    <a href='#' onclick='GetDetails(@item.id, @retval)'><span class='fa fa-edit font-22 txt-primary mr-10'></span> </a>

                                                                                    <a href='#' onclick='Delete(@item.id)'><span class='fa fa-trash font-22 txt-danger'></span> </a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div id="responsive-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title">@SmartSchool.Resources.Resource1.Edit Caste</h5>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm(new { action = "EditCaste", controller = "Student" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="text" class="form-control" id="feeid" name="ID" placeholder="ID" hidden="hidden" style="visibility:hidden">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Name *</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="txtname" name="Name" placeholder="Name">
                                                        @Html.ValidationMessageFor(model => model.castename, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Status *</label>
                                                    <div class="col-md-10">

                                                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control", @id = "selectedStatus" } })
                                                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" onclick="Update()">@SmartSchool.Resources.Resource1.Update</button>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseWindow()">@SmartSchool.Resources.Resource1.Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <a class="img-responsive model_img" id="updatetoast"></a>
                <a class="img-responsive model_img" id="Deletetoast"></a>
            </div>
        }
    }
}



<script>

    $(document).ready(function () {
        $("#responsive-modal").css("display", "none");
    });

    function CloseWindow() {
        $("#responsive-modal").css("display", "none");
    }

</script>

<script type="text/javascript">
    function GetDetails(id, stats) {
        var PID = id;
        var status = stats;
        $.ajax({
            type: "POST",
            url: "/Student/Editcastedisplay",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'values': PID, 'status': status }), //passing the data to back end
            dataType: "json",
            success: function (response) {

                $('#feeid').val(PID);
                $('#txtname').val(response.castename);
                $('#responsive-modal').modal('show');
                //  window.location.href = '/Account/Register'
            },
            failure: function (response) {
                alert("Save Failed ");
            },
            error: function (response) {
                alert("Error occured");
            }
        });
    }

    function Update() {
        var id = $('#feeid').val();
        var Name = $('#txtname').val();

        var status = $('#selectedStatus').val();
        $.ajax({
            url: "/Student/Editcaste",
            data: JSON.stringify({ 'id': id, 'CAT': Name, 'status': status }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                swal("Records Updated");
                window.location.href = '/Student/Studentcaste';

                $('#responsive-modal').modal('hide');
            },
            error: function (errormessage) {
                swal("Something Wrong");
            }
        });
    }

    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Student/Deletecaste/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    swal("Record Deleted Successfully!");
                    window.location.href = '/Student/Studentcaste';
                },
                error: function (errormessage) {
                    swal("Something Wrong");
                }
            });
        }
    }
</script>


<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            if (document.getElementById("txtcat").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Caste Name field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });


    $(document).ready(function () {

        $("#btnsave1").click(function () {
            if (document.getElementById("txtname").value == "") {

                $.toast({
                    //heading: '2 new messages',
                    text: 'Name field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
        });
    });
</script>

