﻿@model SmartSchool.Models.student
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 style="color:#f742aa; "><i class="fa fa-user-plus"> </i>@SmartSchool.Resources.Resource1.Student Information</h4>
                </div>
                <div class="pull-right">

                    <input type="button" class="btn btn-info" value="HOME!" onclick="location.href='@Url.Action("Index", "Admin")'" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@using SmartSchool.Models;
@using SmartSchool.Interfaces;
@using SmartSchool.SchoolMasterClasses;
@{
    ISessionStore sessionStore = new SessionClass();
    get_session_data1 listData = sessionStore.Get<get_session_data1>("currentSession") as get_session_data1;
    ModulesAccess mm = new ModulesAccess();
    SmartSchoolHDEntities dbcontext = new SmartSchoolHDEntities();

    var getrolesacc = mm.RoleAccess(listData.roleid, 1, 1, listData.CollegeID, listData.BranchID);
    if (getrolesacc != null)
    {
        foreach (var rol in getrolesacc)
        {
            using (Html.BeginForm("Upload", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <div class="form-body">
                                            <div class="pull-right">
                                                <a href="~/Content/SmartSchool Import Excel.xlsx" type="button" class="btn btn-info" style="height:40px"><span class='fa fa-download'></span>@SmartSchool.Resources.Resource1.Download Sample Import File </a>
                                            </div><div class="pull-left">
                                                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-search mr-10"></i>@SmartSchool.Resources.Resource1.Select_Criteria</h6>
                                            </div>
                                            <br />
                                            <br />
                                            <hr class="light-grey-hr" />

                                            <div class="row">
                                                <div class="col-sm-1 col-xs-1">
                                                </div>
                                                <div class="col-sm-10 col-xs-10">
                                                    <Ol>
                                                        <li>
                                                            Your CSV data should be in the format below. The first line of your CSV file should be the column headers as in the table example. Also make sure that your file is UTF-8 to avoid unnecessary encoding problems.
                                                        </li>
                                                        <li>
                                                            If the column you are trying to import is date make sure that is formatted in format dd-mm-yyyy (14-04-2005)(Must be in Excel general format not in date format).
                                                        </li>
                                                        <li>
                                                            "Roll Number" (unique in class) rows will not be imported.
                                                        </li>
                                                        <li>
                                                            STS Number is mandatory.
                                                        </li>
                                                        <li>
                                                            Mobile Number and Gurdian mobile number
                                                        </li>
                                                        <li>
                                                            For student "Gender" use Male, Female value.
                                                        </li>
                                                        <li>
                                                            For student "Blood Group" use 1 For A+, 2 for O+, 3 for B+, 4 for AB+, 5 for A-, 6 for O-, 7 for B-, 8 for AB- and 9 for Others Numbers.
                                                        </li>
                                                        <li>
                                                            For "RTE" use Yes, No value.
                                                        </li>
                                                        <li>
                                                            For "If Guardian Is" user father,mother,other value.
                                                        </li>
                                                        <li>
                                                            Category, Religion, Caste, and Student House comes from other table so for  Category, Religion, Caste, and Student House enter Respective Id (Category Id can be found on category master, Religion ID can be found on Religion Master etc....).
                                                        </li>
                                                       
                                                    </Ol>
                                                </div>
                                            </div>
                                            <hr class="light-grey-hr" />
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="form-wrap">
                                                        <div class="form-body">
                                                            <div class="panel panel-default card-view mt-50">
                                                                <div class="panel-wrapper collapse in">
                                                                    <div class="panel-body">
                                                                        <div class="table-wrap">
                                                                            <div class="table-responsive">

                                                                                <div id="example_wrapper" class="dataTables_wrapper">
                                                                                </div>
                                                                                <table id="" class="table table-hover display  pb-30">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Admission Number
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.RollNumber
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.FirstName
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Last Name
                                                                                            </th>
                                                                                            <th>
                                                                                                *
                                                                                                @SmartSchool.Resources.Resource1.Gender
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Date Of Birth
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Category
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Religion
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Caste
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Mobile Number
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Email
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Admission Date
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.BloodGroup
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Student House
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Height
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Weight
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.AsonDate
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Father Name
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Father Phone
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Father Occupation
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Mother Name
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Mother Phone
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Mother Occupation
                                                                                            </th>
                                                                                            <th>
                                                                                                *
                                                                                                @SmartSchool.Resources.Resource1.If Guardian Is
                                                                                            </th>
                                                                                            <th>
                                                                                                *
                                                                                                @SmartSchool.Resources.Resource1.Guardian Name
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Guardian Relation
                                                                                            </th>
                                                                                            <th>
                                                                                                @SmartSchool.Resources.Resource1.Guardian Email
                                                                                            </th>
                                                                                            <th>
                                                                                                *
                                                                                                @SmartSchool.Resources.Resource1.Guardian Phone
                                                                                            </th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Guardian Occupation</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Guardian Address</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Current Address	</th>
                                                                                            <th>    @SmartSchool.Resources.Resource1.Permanent Address	</th>
                                                                                            <th>    @SmartSchool.Resources.Resource1.Bank Account Number</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Bank Name</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.IFSCCode</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.NationalIdentificationNumber</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.LocalIdentificationNumber</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.RTE</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Previous School Details</th>
                                                                                            <th>	@SmartSchool.Resources.Resource1.Note</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.Class", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.class_id, (IEnumerable<SelectListItem>)ViewBag.viewbagclasslist, new { @class = "form-control", id = "class_id1" })
                                                @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.Section", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.section_id, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "section_id" })
                                                @Html.ValidationMessageFor(model => model.section_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.Label("@SmartSchool.Resources.Resource1.Medium", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Medium, new List<SelectListItem> { new SelectListItem { Text = "Select", Value = "0" },
                                                                                                                                              new SelectListItem { Text = "Kannada", Value = "Kannada" },
                                                                                                                                              new SelectListItem { Text = "English", Value = "English" }},
                                                                                                                                           new { @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Medium, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label col-md-6">@SmartSchool.Resources.Resource1.Select Excel File *</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="file" name="uploadfile" class="form-control" id="uploadfile" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <input type="submit" name="Student Import" value="Student Import" id="btnsave" class="btn btn-info" />
                                    </div>
                                    <br />
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#class_id1').on('change', function () {

            var ddlclass = $(this).val();
            $('#section_id').empty();
            $("#section_id").html("<option value=''>Select</option>");

            $.ajax({
                method: 'POST',
                url: '/Student/callgetsec',
                contentType: "application/json; charset=utf-8",
                datatype: "Json",
                data: JSON.stringify({ 'ddlclass': ddlclass }),
                success: function (data) {
                    $.each(data, function (i) {
                        if (i == "Disabled") {
                            $("#section_id").append("<option value='" + data.Value + "'>" + data.Text + "</option > ");
                        }
                        else {
                            $("#section_id").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option > ");
                        }

                    });
                }
            });
        });
    });
</script>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["message"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 4500,
                stack: 6
            });
        });
    </script>
    TempData.Clear();
}

@if (TempData["success"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["success"]';

            $.toast({
                //heading: '2 new messages',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'success',
                hideAfter: 4500,
                stack: 6
            });
        });
    </script>
    TempData.Clear();
}

@if (TempData["emailexistaerror"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var tempdata = '@TempData["emailexistaerror"]';
            $.toast({
                heading: 'Warning',
                text: tempdata,
                position: 'top-right',
                loaderBg: '#fec107',
                icon: 'warning',
                hideAfter: 5000,
                stack: 6
            });
        });
    </script>
    TempData.Clear();
}

<script>
    $(document).ready(function () {
        $("#btnsave").click(function () {
            if (document.getElementById("class_id1").value == "0") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Class field is required',
                    position: 'top-left',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("section_id").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Section field is required',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }
            if (document.getElementById("uploadfile").value == "") {
                $.toast({
                    //heading: '2 new messages',
                    text: 'Please Select File',
                    position: 'top-right',
                    loaderBg: '#fec107',
                    icon: 'warning',
                    hideAfter: 3500,
                    stack: 6
                });
                return false;
            }

        });
    });
</script>
