﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Sign in to SmartSchool</title>
    <meta name="description" @*content="Grandin is a Dashboard & Admin Site Responsive Template by hencework."*@ />
    <meta name="keywords" @*content="admin, admin dashboard, admin template, cms, crm, Grandin Admin, Grandinadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application"*@ />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Images/logo1.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- vector map CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Toast CSS -->
    <link href="~/MasterTemplate/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/MasterTemplate/CustomCss/CustomCss.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/MasterTemplate/dist/css/style.css" rel="stylesheet" type="text/css">

</head>
<body background="~/Images/loginBackground.JPG" style="width:1400px;height:700px">
  
    <header class="sp-header">
        <div class="sp-logo-wrap pull-left">
            <a href="/Account/Login">
                <img class="brand-img mr-10" src="~/Images/logo1.png" alt="brand" />
                <span class="brand-text" style="color:#f742aa;background-color:rgba(255, 255, 255, 0.55)">SmartSchool</span>
            </a>
        </div>

        <div class="clearfix"></div>
    </header>
    <div class="wrapper pa-0">
        <div>

            @RenderBody()
        </div>
    </div>
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/MasterTemplate/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/MasterTemplate/dist/js/modal-data.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/MasterTemplate/dist/js/jquery.slimscroll.js"></script>

    <script src="~/MasterTemplate/dist/js/dropdown-bootstrap-extended.js"></script>
    <script src="~/MasterTemplate/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Toast JavaScript -->
    <script src="~/MasterTemplate/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <link href="~/MasterTemplate/vendors/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />


    @*<script src="~/MasterTemplate/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>*@



    <!-- Init JavaScript -->
    <script src="~/MasterTemplate/dist/js/init.js"></script>
</body>
</html>
